
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<!-- Mirrored from www.soaptheme.net/html/travelo/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jun 2019 09:14:00 GMT -->
<head>
    <!-- Page Title -->
    <title>Pims Tourism</title>

    <!-- Meta Tags -->
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="Most Popular Tour Packages">
    <meta name="description" content="PIMS - Travel, Tour Booking">
    <meta name="author" content="SoapTheme">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">



    <!-- Theme Styles -->

    <link href="~/assest/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assest/css/soap-icon.css">
    <link rel="stylesheet" href="~/assest/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/assest/css/animate.min.css">

    <!-- Current Page Styles -->
    <link rel="stylesheet" type="text/css" href="~/assest/components/revolution_slider/css/settings.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/assest/components/revolution_slider/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/assest/components/jquery.bxslider/jquery.bxslider.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/assest/components/flexslider/flexslider.css" media="screen">

    <!-- Main Style -->
    <!--<link id="main-style" rel="stylesheet" href="css/style.css">-->
    <script type="text/javascript">var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');</script>
    <style>

        .imagecss {
            position: absolute !important;
            bottom: 44px !important;
            left: -130px !important;
            animation-duration: 2s !important;
            visibility: visible !important;
            top: 9px;
        }
    </style>

    @*<link id="main-style" rel="stylesheet" href="http://www.soaptheme.net/html/travelo/css/style-light-blue.css">*@
    <link href="~/assest/css/style-light-blue.css" rel="stylesheet" />
    <!-- Updated Styles -->
    <link rel="stylesheet" href="~/assest/css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/assest/css/custom.css">

    <!-- Responsive Styles -->
    <link rel="stylesheet" href="~/assest/css/responsive.css">

    <!-- CSS for IE -->
    <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie.css" />
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <!-- Javascript Page Loader -->
    <!-- <script type="text/javascript" src="js/pace.min.js" data-pace-options="{ &quot;ajax&quot;: false }"></script>
    <script type="text/javascript" src="js/page-loading.js"></script> -->
</head>
<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs" style="padding-bottom: 70px; ">
                <div class="container" style="margin-left: 367px;">
                    @*<ul class="quick-menu pull-left" style="margin-top: 10px;">
                            <li><a href="#">My Account</a></li>
                            <li class="ribbon">
                                <a href="#">English</a>
                                <ul class="menu mini">
                                    <li><a href="#" title="Dansk">Dansk</a></li>
                                    <li><a href="#" title="Deutsch">Deutsch</a></li>
                                    <li class="active"><a href="#" title="English">English</a></li>
                                    <li><a href="#" title="Español">Español</a></li>
                                    <li><a href="#" title="Français">Français</a></li>
                                    <li><a href="#" title="Italiano">Italiano</a></li>
                                    <li><a href="#" title="Magyar">Magyar</a></li>
                                    <li><a href="#" title="Nederlands">Nederlands</a></li>
                                    <li><a href="#" title="Norsk">Norsk</a></li>
                                    <li><a href="#" title="Polski">Polski</a></li>
                                    <li><a href="#" title="Português">Português</a></li>
                                    <li><a href="#" title="Suomi">Suomi</a></li>
                                    <li><a href="#" title="Svenska">Svenska</a></li>
                                </ul>
                            </li>
                        </ul>*@
                    @*<ul class="quick-menu pull-right" style="margin-right: 50px;margin-top: 10px;">
                            <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                            <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>

                        </ul>*@
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="navbar-brand" style="margin-left: -179px;">
                        <a href="index-2.html" title="PIMS - home">
                            <img src="~/assest/images/pnglogo1.png" alt="Pims" style="margin-top: -160px; margin-left: 114px; height: 220px; " />
                        </a>
                    </h1>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu" style="margin-left: -135px; margin-right: -12px; margin-top: 3px; ">
                            <li class="menu-item-has-children">
                                <a href="http://pimstourism.com">Home</a>
                                <!-- <ul>
                                     <li><a href="index-2.html">Pakistan</a></li>
                                    <li><a href="homepage2.html">Pakistan1</a></li>
                                    <li><a href="homepage3.html">Pakistan2</a></li>
                                    <li><a href="homepage4.html">Home Layout 4</a></li>
                                    <li><a href="homepage5.html">Home Layout 5</a></li>
                                    <li><a href="homepage6.html">Home Layout 6</a></li>
                                    <li><a href="homepage7.html">Home Layout 7</a></li>
                                    <li><a href="homepage8.html">Home Layout 8</a></li>
                                    <li><a href="homepage9.html">Home Layout 9</a></li>
                                    <li><a href="homepage10.html">Home Layout 10</a></li>
                                    <li><a href="homepage11.html">Home Layout 11</a></li>
                                </ul> -->
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">About</a>
                                <ul>
                                    <li><a href="/home/visionandmission">Vision & Mission</a></li>
                                    <li><a href="/home/CoreValues">Our Core values </a></li>
                                    <li><a href="/home/Team">Meet the Team</a></li>
                                    <li><a href="/home/Messeges">Message</a></li>
                                </ul>
                            </li>

                            <li class="menu-item-has-children">
                                <a href="/home/PakistanTours"> TOURISM IN PAKISTAN</a>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="/home/Services">Services</a>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="/home/TourIndex">Inbound Tours</a>
                                @*<ul>
                                        <li><a href="/home/AdventureTourism">Adventure Tourism</a></li>
                                        <li><a href="#">Eco-Tourism</a></li>
                                        <li><a href="#">Religious/Pilgrimage </a></li>
                                        <li><a href="#">Tourism and Historical sites travel</a></li>

                                    </ul>*@
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/Home/OutBountedTours">Outbound Tours </a>
                                @*<ul>
                                        <li><a href="AdventureTourism">China</a></li>
                                        <li><a href="#">Azerbaijan</a></li>
                                        <li><a href="#">Thailand</a></li>
                                    </ul>*@
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/HtmlPage1.html">MEMBERSSHIP</a>

                            </li>

                            <li class="menu-item-has-children">
                                <a href="/Home/media">Media</a>
                                @*<ul>
                                        <li><a href="#">Kpk Events</a></li>
                                        <li><a href="#">Kpk News</a></li>

                                    </ul>*@
                            </li>

                            <li class="menu-item-has-children">
                                <a href="/Home/TraveltoPakistan">PAKISTAN TRAVEL INFORMATION</a>

                            </li>

                            <li class="menu-item-has-children">
                                <a href="/home/contactus">Contact us </a>

                            </li>
                        </ul>
                        </li>
                        </ul>
                    </nav>
                </div>
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="http://pimstourism.com">Home</a>
                            <!-- <ul>
                                 <li><a href="index-2.html">Pakistan</a></li>
                                <li><a href="homepage2.html">Pakistan1</a></li>
                                <li><a href="homepage3.html">Pakistan2</a></li>
                                <li><a href="homepage4.html">Home Layout 4</a></li>
                                <li><a href="homepage5.html">Home Layout 5</a></li>
                                <li><a href="homepage6.html">Home Layout 6</a></li>
                                <li><a href="homepage7.html">Home Layout 7</a></li>
                                <li><a href="homepage8.html">Home Layout 8</a></li>
                                <li><a href="homepage9.html">Home Layout 9</a></li>
                                <li><a href="homepage10.html">Home Layout 10</a></li>
                                <li><a href="homepage11.html">Home Layout 11</a></li>
                            </ul> -->
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">About</a>
                            <ul>
                                <li><a href="/home/visionandmission">Vision & Mission</a></li>
                                <li><a href="/home/CoreValues">Our Core values </a></li>
                                <li><a href="/home/Team">Meet the Team</a></li>
                                <li><a href="/home/Messeges">Message</a></li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="/home/PakistanTours"> TOURISM IN PAKISTAN</a>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="/home/Services">Services</a>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="/home/TourIndex">Inbound Tours</a>
                            @*<ul>
                                    <li><a href="/home/AdventureTourism">Adventure Tourism</a></li>
                                    <li><a href="#">Eco-Tourism</a></li>
                                    <li><a href="#">Religious/Pilgrimage </a></li>
                                    <li><a href="#">Tourism and Historical sites travel</a></li>

                                </ul>*@
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/HtmlPage1.html">Outbound Tours </a>
                            @*<ul>
                                    <li><a href="AdventureTourism">China</a></li>
                                    <li><a href="#">Azerbaijan</a></li>
                                    <li><a href="#">Thailand</a></li>
                                </ul>*@
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/HtmlPage1.html">MEMBERSSHIP</a>

                        </li>

                        <li class="menu-item-has-children">
                            <a href="/HtmlPage1.html">Media</a>
                            @*<ul>
                                    <li><a href="#">Kpk Events</a></li>
                                    <li><a href="#">Kpk News</a></li>

                                </ul>*@
                        </li>

                        <li class="menu-item-has-children">
                            <a href="/HtmlPage1.html">PAKISTAN TRAVEL INFORMATION</a>

                        </li>

                        <li class="menu-item-has-children">
                            <a href="/home/contactus">Contact us </a>

                        </li>
                    </ul>

                    <ul class="mobile-topnav container">
                        <li><a href="#">MY ACCOUNT</a></li>
                        <li class="ribbon language menu-color-skin">
                            <a href="#" data-toggle="collapse">ENGLISH</a>
                            <ul class="menu mini">
                                <li><a href="#" title="Dansk">Dansk</a></li>
                                <li><a href="#" title="Deutsch">Deutsch</a></li>
                                <li class="active"><a href="#" title="English">English</a></li>
                                <li><a href="#" title="Español">Español</a></li>
                                <li><a href="#" title="Français">Français</a></li>
                                <li><a href="#" title="Italiano">Italiano</a></li>
                                <li><a href="#" title="Magyar">Magyar</a></li>
                                <li><a href="#" title="Nederlands">Nederlands</a></li>
                                <li><a href="#" title="Norsk">Norsk</a></li>
                                <li><a href="#" title="Polski">Polski</a></li>
                                <li><a href="#" title="Português">Português</a></li>
                                <li><a href="#" title="Suomi">Suomi</a></li>
                                <li><a href="#" title="Svenska">Svenska</a></li>
                            </ul>
                        </li>
                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency menu-color-skin">
                            <a href="#">USD</a>
                            <ul class="menu mini">
                                <li><a href="#" title="AUD">AUD</a></li>
                                <li><a href="#" title="BRL">BRL</a></li>
                                <li class="active"><a href="#" title="USD">USD</a></li>
                                <li><a href="#" title="CAD">CAD</a></li>
                                <li><a href="#" title="CHF">CHF</a></li>
                                <li><a href="#" title="CNY">CNY</a></li>
                                <li><a href="#" title="CZK">CZK</a></li>
                                <li><a href="#" title="DKK">DKK</a></li>
                                <li><a href="#" title="EUR">EUR</a></li>
                                <li><a href="#" title="GBP">GBP</a></li>
                                <li><a href="#" title="HKD">HKD</a></li>
                                <li><a href="#" title="HUF">HUF</a></li>
                                <li><a href="#" title="IDR">IDR</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div id="travelo-signup" class="travelo-signup-box travelo-box">
                @*<div class="login-social">
                        <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                        <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                    </div>*@
                <div class="seperator"><label>OR</label></div>
                @*<div class="simple-signup">
                        <div class="text-center signup-email-section">
                            <a href="#" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                        </div>
                        <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund olicy, and Host Guarantee Terms.</p>
                    </div>*@
                <div class="email-signup">
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="confirm password">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Tell me about Travelo news
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                        </div>
                        <button type="submit" class="full-width btn-medium">SIGNUP</button>
                    </form>
                </div>
                <div class="seperator"></div>
                @*     <p>Already a Travelo member? <a href="#travelo-login" class="goto-login soap-popupbox">Login</a></p>*@
            </div>
            @*<div id="travelo-login" class="travelo-login-box travelo-box">
                    <div class="login-social">
                        <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                        <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                    </div>
                    <div class="seperator"><label>OR</label></div>
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <a href="#" class="forgot-password pull-right">Forgot password?</a>
                            <div class="checkbox checkbox-inline">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="seperator"></div>
                    <p>Don't have an account? <a href="#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
                </div>*@
        </header>
        <!-- Javascript -->
        <script type="text/javascript" src="~/assest/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="~/assest/js/jquery.noconflict.js"></script>
        <script type="text/javascript" src="~/assest/js/modernizr.2.7.1.min.js"></script>
        <script type="text/javascript" src="~/assest/js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="~/assest/js/jquery.placeholder.js"></script>
        <script type="text/javascript" src="~/assest/js/jquery-ui.1.10.4.min.js"></script>


        <!-- Twitter Bootstrap -->
        <script type="text/javascript" src="~/assest/js/bootstrap.js"></script>

        <!-- load revolution slider scripts -->
        <script type="text/javascript" src="~/assest/components/revolution_slider/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="~/assest/components/revolution_slider/js/jquery.themepunch.revolution.min.js"></script>

        <!-- load BXSlider scripts -->
        <script type="text/javascript" src="~/assest/components/jquery.bxslider/jquery.bxslider.min.js"></script>

        <!-- Flex Slider -->
        <script type="text/javascript" src="~/assest/components/flexslider/jquery.flexslider-min.js"></script>

        <!-- Google Map Api -->
        <script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
        <script type="text/javascript" src="~/assest/js/gmap3.min.js"></script>

        <!-- parallax -->
        <script type="text/javascript" src="~/assest/js/jquery.stellar.min.js"></script>

        <!-- waypoint -->
        <script type="text/javascript" src="~/assest/js/waypoints.min.js"></script>

        <!-- load page Javascript -->
        <script type="text/javascript" src="~/assest/js/theme-scripts.js"></script>
        <script type="text/javascript" src="~/assest/js/scripts.js"></script>
        <!-- Twitter Bootstrap -->


        @RenderBody();


        <footer id="footer">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <h2>Travel News</h2>
                            <ul class="travel-news">
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="~/assest/images/news01.png" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Amazing Places</a></h5>
                                        <p>PIMS Tourism Pakistan visionis to contribute in development of tourism .</p>
                                        <span class="date">01 Sep, 2019</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="~/assest/images/news02.png" alt="" width="63" height="63" />
                                        </a>
                                    </div>
                                    <div class="description">
                                        <h5 class="s-title"><a href="#">Travel Insurance</a></h5>
                                        <p>PIMS Tourism Pakistan visionis to contribute in development of tourism .</p>
                                        <span class="date">01 Sep, 2019</span>
                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div class="col-sm-6 col-md-5">
                            <h2>Mailing List</h2>
                            <p>Sign up for our mailing list to get latest updates and offers.</p>
                            <br />
                            <div class="icon-check">
                                <input type="text" class="input-text full-width" placeholder="your email" />
                            </div>
                            <br />
                            <span>We respect your privacy</span>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h2>About Travelo</h2>
                            <p>PIMS Tourism Pakistan visionis to contribute in development of tourism .</p>
                            <br />
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> +92301-8142726</span>
                                <br />
                                <a href="#" class="contact-email">info@pimstourism.com</a>
                            </address>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                <li class="facebook"><a title="facebook" href="https://www.facebook.com/PIMS.TOURISM.PAKISTAN/" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="linkedin" href="https://www.linkedin.com/feed/" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                <li class="dribble"><a title="dribble" href="#" data-toggle="tooltip"><i class="soap-icon-dribble"></i></a></li>
                                <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    <div class="pull-left">
                        <a href="index-2.html" title="Travelo - home">
                            @*<img src="~/assest/images/pnglogo1.png" alt="Pims Tourism" />*@

                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p><a href="http://fayazmuhammad.com/"> &copy; Developed by Fayaz Khan 2019</a></p>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="style-changer" class="style-changer dark">
        <div class="style-changer-header">
            <a href="#" class="style-toggle open">
                <i class="fa fa-gear"></i>
            </a>
            <h2 class="style-main-title">Customize Travelo</h2>
        </div>
        <div class="style-chagner-main">
            <label for="header-style">header style</label>
            <div class="selector">
                <select class="full-width" name="header-style" id="header-style">
                    <option value="">Default Style</option>
                    <option value="style1">Style1</option>
                    <option value="style2">Style2</option>
                    <option value="style3">Style3</option>
                    <option value="style4">Style4</option>
                    <option value="style5">Style5</option>
                    <option value="style6">Style6</option>
                    <option value="style7">Style7</option>
                </select>
            </div>
            <!--<label for="inner-start-style">inner start style</label>
            <div class="selector">
                <select class="full-width" name="inner-start-style" id="inner-start-style">
                    <option value="">Default Style</option>
                    <option value="style1">Style1</option>
                    <option value="style2">Style2</option>
                    <option value="style3">Style3</option>
                    <option value="style4">Style4</option>
                    <option value="style5">Style5</option>
                    <option value="style6">Style6</option>
                </select>
            </div>
            <label for="search-style">search style</label>
            <div class="selector">
                <select class="full-width" name="search-style" id="search-style">
                    <option value="">please select</option>
                </select>
            </div>-->
            <label for="footer-style">footer style</label>
            <div class="selector">
                <select class="full-width" name="footer-style" id="footer-style">
                    <option value="">Default Style</option>
                    <option value="style1">Style1</option>
                    <option value="style2">Style2</option>
                    <option value="style3">Style3</option>
                    <option value="style4">Style4</option>
                    <option value="style5">Style5</option>
                    <option value="style6">Style6</option>
                </select>
            </div>
            <label>design skins</label>
            <ul class="design-skins column-5 clearfix">
                <li class="active light-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="purple"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="light-orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="sea-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="sky-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="dark-orange"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="dark-blue"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="light-yellow"><a href="#"><i class="soap-icon-check-1"></i></a></li>
                <li class="red"><a href="#"><i class="soap-icon-check-1"></i></a></li>
            </ul>
            <a class="button full-width btn-medium green uppercase" href="#">apply settings</a>
        </div>
    </div>


    <script type="text/javascript" src="~/assest/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">tjq(document).ready(function () {
            tjq('.revolution-slider').revolution(
                {
                    sliderType: "standard",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    startwidth: 1200,
                    startheight: 646,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "default",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1170,
                    gridheight: 646,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner4",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
        });</script>
</body>
<!-- Mirrored from www.soaptheme.net/html/travelo/homepage2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jun 2019 09:21:31 GMT -->
</html>
