


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">About Us</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="large-block image-box style6">
                    <article class="box">
                        <figure class="col-md-5">
                            <a href="#" title="" class="middle-block"><img class="middle-item" src="~/assest/images/shortcodes/image-box/style06/1.png" alt="" width="476" height="318" /></a>
                        </figure>
                        <div class="details col-md-offset-5">
                            <h4 class="box-title">Who We Are?</h4>
                            <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                        </div>
                    </article>
                    <article class="box">
                        <figure class="col-md-5 pull-right middle-block">
                            <a href="#" title=""><img class="middle-item" src="~/assest/images/shortcodes/image-box/style06/2.png" alt="" width="476" height="318" /></a>
                        </figure>
                        <div class="details col-md-7">
                            <h4 class="box-title">What We Do?</h4>
                            <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                        </div>
                    </article>
                    <article class="box">
                        <figure class="col-md-5">
                            <a href="#" title="" class="middle-block"><img class="middle-item" src="~/assest/images/shortcodes/image-box/style06/3.png" alt="" width="476" height="318" /></a>
                        </figure>
                        <div class="details col-md-offset-5">
                            <h4 class="box-title">How Travelo Work?</h4>
                            <p>Vivamus a mauris vel nunc tristique volutpat. Aenean eu faucibus enim. Aenean blandit arcu lectus, in cursus elit porttitor non. Curabitur risus eros, mattis vitae nisl consequat, tincidunt commodo purus. Maecenas eu risus ac risus tempus iaculis. Duis cursus lectus sed dui imperdiet, id pharetra nunc ullamcorper. Donec luctus blandit metus, sed ultrices ipsum facilisis sit amet. Morbi congue ligula sit amet urna tincidunt.</p>
                        </div>
                    </article>
                </div>

                <div class="row large-block">
                    <div class="col-md-6">
                        <h2>Know More About Us</h2>
                        <div class="toggle-container box" id="accordion1">
                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a href="#acc1" data-toggle="collapse" data-parent="#accordion1">Travel Insurance Single Person</a>
                                </h4>
                                <div class="panel-collapse collapse in" id="acc1">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa idend porta nequetiam elerisque mi id habitant morbi isnot possible nowadays tristique senectus et netus et malesuada fames. </p>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a class="collapsed" href="#acc2" data-toggle="collapse" data-parent="#accordion1">Inflight Dinner/ Lunch Deal</a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc2">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1">
                                <h4 class="panel-title">
                                    <a class="collapsed" href="#acc3" data-toggle="collapse" data-parent="#accordion1">Luxury Appartment for Family</a>
                                </h4>
                                <div class="panel-collapse collapse" id="acc3">
                                    <div class="panel-content">
                                        <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa iden porta nequetiam elerisque mi id habitant morbi tristique senectus.</p>
                                    </div><!-- end content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Our Core Values</h2>
                        <div class="tab-container">
                            <ul class="tabs">
                                <li><a href="#satisfied-customers" data-toggle="tab">Satisfied customers</a></li>
                                <li class="active"><a href="#tours-suggestions" data-toggle="tab">tours suggestions</a></li>
                                <li><a href="#careers" data-toggle="tab">Careers</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="satisfied-customers">
                                    <img src="~/assest/images/shortcodes/tabs01.png" alt="" class="pull-left" />
                                    <h4>Ocean Park Tour</h4>
                                    <p>
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Vivamus elementum, ligula vehicula enenatis semper, magna lorem aliquet lacus, in euismod sem lectus. ligula vehicula enenatis semper, magna lorem aliquet lacus euismod sem velit ve.
                                        <br /><br />
                                        Ligula vehicula enenatis semper, magna lorem aliquet lacusin ante dapibus dictum. fugats vitaes nemo minima rerums unsers sadips amets.
                                    </p>
                                </div>
                                <div class="tab-pane fade in active" id="tours-suggestions">
                                    <img src="~/assest/images/shortcodes/tabs01.png" alt="" class="pull-left" />
                                    <h4>Ocean Park Tour</h4>
                                    <p>
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Vivamus elementum, ligula vehicula enenatis semper, magna lorem aliquet lacus, in euismod sem lectus. ligula vehicula enenatis semper, magna lorem aliquet lacus euismod sem velit ve.
                                        <br /><br />
                                        Ligula vehicula enenatis semper, magna lorem aliquet lacusin ante dapibus dictum. fugats vitaes nemo minima rerums unsers sadips amets.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="careers">
                                    <h4>Careers</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-block">
                    <h2>Travelo Dedicated Team</h2>
                    <div class="row image-box style1 team">
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="~/assest/images/shortcodes/team/jessica.png" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Jessica Brown<small>Chief Executive</small></a></h4>
                                    <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="~/assest/images/shortcodes/team/david.png" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">David Jackson<small>Director - Hotels</small></a></h4>
                                    <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="~/assest/images/shortcodes/team/kyle.png" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">Kyle Martin<small>Chief Operating Officer</small></a></h4>
                                    <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article class="box">
                                <figure>
                                    <a href="#"><img src="~/assest/images/shortcodes/team/robets.png" alt="" width="270" height="263" /></a>
                                </figure>
                                <div class="details">
                                    <h4 class="box-title"><a href="#">David Robets<small>Founder &amp; Director</small></a></h4>
                                    <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                    <ul class="social-icons clearfix">
                                        <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="googleplus"><a title="googleplus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                                        <li class="vimeo"><a title="vimeo" href="#" data-toggle="tooltip"><i class="soap-icon-vimeo"></i></a></li>
                                        <li class="flickr"><a title="flickr" href="#" data-toggle="tooltip"><i class="soap-icon-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="large-block text-center">
                    <h2>Check our Investors Relations</h2>
                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed pulvinar massa idend porta nequetiam</p>
                    <div class="investor-list row">
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="travelo-box">
                                <a href="#"><img src="~/assest/images/investor/1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="travelo-box">
                                <a href="#"><img src="~/assest/images/investor/2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="travelo-box">
                                <a href="#"><img src="~/assest/images/investor/3.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="travelo-box">
                                <a href="#"><img src="~/assest/images/investor/4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="travelo-box">
                                <a href="#"><img src="~/assest/images/investor/5.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-lg-2">
                            <div class="travelo-box">
                                <a href="#"><img src="~/assest/images/investor/6.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
