


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <section id="content" style="    padding-top: 0 !important;">


        <div class="global-map-area section parallax" data-stellar-background-ratio="0.5">


            <div class="container">
                <div class="table-wrapper full-width">
                    <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
                        <ul class="owl-carousel slides image-box style9" id="owl-carousel">
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/adv.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d1a.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d1b.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d3.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d4.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d5.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d6.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d7.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d8.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li>
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/tour/packages/raka/d9.png" alt="" width="170" height="161" style="height: 265px;" />
                                        </a>
                                    </figure>

                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white-bg">
            <div class="container">
                <div class="text-center description block">
                    <div class="text-center description block">
                        <a href="#"><img src="~/assest/images/line.png" alt=""></a>
                        <h1>ADVENTURE & SAFARI TOURS</h1>
                        @*<p> The Adventure Tour in India can also be immensely gratifying, giving diverse excitement and experience. Tours to various mountains and plateaus, forests, rivers, beaches, etc. in addition to participating in traveling on camel back amidst and along the Thar desert, camel races, and other sporting events of Rajasthan; participating in the boat races and dances of Kerala; and in the various events and sporting games of other States.</p>*@
                    </div>
                </div>
                <div class="tour-packages row add-clearfix image-box">
                    <div class="col-sm-6 col-md-4">
                        <article class="box animated" data-animation-type="fadeInLeft">
                            <figure>
                                <a href="/Home/TourAdventure"><img src="~/assest/images/tour/packages/raka/adv.png" alt="" style="    height: 262px;"></a>
                                <figcaption>
                                    <h2 class="caption-title">RAKAPOSHI AND HUNZA TOUR</h2>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <article class="box animated" data-animation-type="fadeInDown">
                            <figure>
                                <a href="/Home/FairyMeadowsHunza"><img src="~/assest/images/tour/packages/bud/far.png" alt="" style="    height: 264px;"></a>
                                <figcaption>
                                    <!-- <span class="price">$122</span> -->
                                    <h2 class="caption-title">Fairy Meadows And Hunza</h2>
                                </figcaption>
                            </figure>
                        </article>
                    </div>


                </div>
            </div>
        </div>
        <div class="section global-map-area">
            <div class="container">
                <div class="row add-clearfix">
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style6 animated small-box" data-animation-type="slideInUp">
                            <i class="soap-icon-friends"></i>
                            <div class="description">
                                <h4>Plan Your Tours</h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style6 animated small-box" data-animation-type="slideInUp" data-animation-delay="0.3">
                            <i class="soap-icon-insurance"></i>
                            <div class="description">
                                <h4>Low Rate Packages</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style6 animated small-box" data-animation-type="slideInUp" data-animation-delay="0.6">
                            <i class="soap-icon-insurance"></i>
                            <div class="description">
                                <h4>Travel Insurance</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="icon-box style6 animated small-box" data-animation-type="slideInUp" data-animation-delay="0.9">
                            <i class="soap-icon-guideline"></i>
                            <div class="description">
                                <h4>Travel Guidelines</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

