


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Travel Guide</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Travel Guide</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-12">
                    <div class="tab-container style1" id="travel-guide">
                        <ul class="tabs full-width" style="margin-left: -136px;">
                            <li class="active"><a href="#travel-guide-info" data-toggle="tab">Unique Mountains, Valleys and Glaciers</a></li>
                            <li class=""><a href="#travel-guide-sports" data-toggle="tab">The Silk Route</a></li>
                            <li><a href="#travel-guide-culture-history" data-toggle="tab">The Karakorams</a></li>
                            <li><a href="#travel-guide-nightlife" data-toggle="tab">Mountaineering in Pakistan</a></li>
                            <li><a href="#travel-guide-hotels" data-toggle="tab">Trekking</a></li>
                            <li><a href="#travel-guide-flights" data-toggle="tab">Helicopter Safari</a></li>
                            <li><a href="#travel-guide-flights1" data-toggle="tab">Air Safari</a></li>
                            <li><a href="#travel-guide-flights2" data-toggle="tab">Train Safaris</a></li>

                        </ul>
                    </div>
                </div>

                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="travel-guide">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="travel-guide-info">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan\DetailedPictures/Unique Mountains, Valleys And Glaciers.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <img src="~/assest/images/line.png" alt="" style="    margin-left: 281px;">
                                        <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;">Unique Mountains, Valleys And Glaciers</h2>
                                        <p style="font-size: 15px;
    text-align: justify;">
                                            Northern areas of Pakistan, spread over 72,496 sq.Km. are as fascinating as its southern region. Amidst towering snow-clad peaks with heights varying from 1000 m to over 8000 meter, the valleys of Gilgit, Hunza and Skardu recall Shangri-La. The cultural patterns in this region are as interesting as its topography.
                                        </p>
                                        <p style="font-size: 15px;
    text-align: justify;">
                                            The people with typical costumes, folk dances, music and sports like polo and buzkashi provide the traveler an unforgettable experience. Nowhere in the world there is such a great concentration of high mountains, peaks, glaciers and passes except Pakistan. Of the 14 over 8000 peaks on earth, 4 occupy an amphitheater at the head of Baltoro glacier in the Karakoram range. These are: K-2 (8611 m, world second highest), Broad Peak (8047m), Gasherbrum I (8068m) and Gasherbrum II (8035m). There is yet another which is equally great, that is, Nanga Parbat (8126m) at the western most end of the Himalayas.
                                        </p>
                                        <p style="font-size: 15px;
    text-align: justify;">
                                            In addition to that, there are 68 peaks over 7000 m and hundreds which are over 6000 m. The Northern Pakistan has some of the longest glaciers outside Polar region; Siachen (72 km), Hispar (61 km.), Biafo (60 km.), Baltoro (60 km.), Batura (64 km.), Yenguta (35 km.), Chiantar (34 km.), Trich (29 km.) and Atrak (28 km.). The lower Himalayan valleys of Swat, Kaghan and Chitral in the Hindukush range equally share the beauty and diverse culture of the Northern Pakistan.
                                        </p>

                                        <img src="~/assest/images/line1.png" alt="" style="    margin-left: 83px;">
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="travel-guide-sports">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/silk-road.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>The Silk Route</h2>

                                        <p style="font-size: 15px;text-align: justify;">Shahra e Reshum or the Silk Route is one of the most prominent places in Pakistan, which is now known as Karakorum Highway. The silk route contains a history from second century B.C. It was known as a great commerce route created from Chang’an (now Xian) in the east and completed at the Mediterranean in the west, connecting China with Roman Empire of that time. It was named Silk route because silk was the main business merchandise, which moved on this road, a well-known German Geographer Ferdinand Von Richthofen named it Silk road in1877. This earliest road not only circulated goods, but also exchanged the wonderful civilizations of China, India, Persia (now Iran), Arabia, Greek and Rome.</p>

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-culture-history">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Karakoram-Mountains-Range.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>The Karakorams</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The Karakoram is a large mountain range spanning the borders between Pakistan, India and China, located in the regions of Gilgit-Baltistan (Pakistan), Ladakh (India), and Xinjiang (China). It is actually the northwestern extension of the Himalaya.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Karakoram means black mountain in Turkish. This splendid magnificent collection of dark brown and black metamorphic rocks is the most unique mountain range. It has the largest concentration of lofty pinnacles and mountains in the world, stretching for 400 kms with 250 kms depth. It is bounded by Shhyok River in the east and Karamber, Ishkuman and Gilgit Rivers in the west in the north-east it is bounded by Shaksgam river and in the south-west by Shyok and the Indus rivers, Karakoram is specially characterized by its fissured rocks, gendarme like vertical features and steep slopes presenting great challenge to climbers and adventure seekers.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Four peaks above eight thousand meters i.e., K-2, Gasherbrum 1 & 2 and Broad Peak are situated in Karakoram in a radius of just twenty kms around a famous glacial junction called Concordia. The sub regions of the Karakoram are Baltoro, Soltoro, Hispar, Lupghar, Khunjerab, Panmah, Aghilm, Masherbrum, Saser, Siachen, Rimo, Batura, Rakaposhi/Bogrot and Haramosh. The snow line in this range varies between 4200 to 4500 meters during the summers. The temperatures in the area are extreme and there is large difference between lowest and highest temperatures during a day. Monsoons do not penetrate this area. Most suitable climbing season in Karakoram being from the month of May till end of September each year. Climbing during winters is, however, possible. Besides high mountains, Karakoram is inhabited by the largest glaciers outside the polar region.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            For centuries travelers have been lured by the grander and massiveness of the Karakoram and Hindukush. The Chinese were the earliest known travelers on the famous Silk Route which passed through these magnificent ranges and recorded their impressions of dark mountains, rope bridges and mighty glaciers
                                        </p>
                                        <div class="row">
                                            <div class="sub_ownership_details">
                                                <div class="row">
                                                    <table class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid black;">
                                                        <thead>
                                                            <tr style="background: #4bc622;color: black;">
                                                                <th>FACTS ABOUT CHOGORI (K-2)</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <th>Name(s)</th>
                                                        <th>	Chogori, K-2,  Mount Godwin-Austen</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Elevation (feet)</th>
                                                        <th>28,250</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Elevation (meters)s</th>
                                                        <th>8,611</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Location</th>
                                                        <th>Karakoram China-Pakistan</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Latitude</th>
                                                        <th>35°ree; 53' N</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Longitude</th>
                                                        <th>76°ree; 31' E</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Best Climbing Months</th>
                                                        <th>June, July, August</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Year First Climbed</th>
                                                        <th>1995</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>First Climber(s)</th>
                                                        <th>AchilleCompagnoniLinoLacedelli (Italian expedition)</th>

                                                        </tbody>




                                                        <tbody>
                                                        <th>Convenient Center(s)</th>
                                                        <th>Skardu, Pakistan</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Nearest Major Airport</th>
                                                        <th>
                                                            Islamabad, Pakistan
                                                        </th>

                                                        </tbody>
                                                    </table>

                                                </div>
                                                <p style="font-size: 15px;text-align: justify;">Pakistan have With five of the above 8000 meters peaks in the world, Pakistan has been the focus of some of the most outstanding achievements in the world of mountaineering. For many decades the dauntless icy and rocky mountains have posed as challenge to those who dare. There are more than 100 peaks in Pakistan open for mountaineering today.</p>
                                                <p style="font-size: 15px;text-align: justify;">Northern Pakistan has the greatest concentration of the highest peaks of the world. It has 05 peaks over 8,000 metres including the world’s second highest, K-2 (Chogori, 8611 m), 29 peaks of over 7,500 metres and 121 of over 7,000 metres. Hundreds of peaks are still lying un-climbed. This, is a great challenge for the mountaineers and mountain climbers the world over.</p>
                                                <p style="font-size: 15px;text-align: justify;">All peaks/routes for mountaineering have been designated as open zone or restricted zone. Permits for climbing peaks in open zone, are issued by the Ministry of Tourism, within 24 hours of the receipt of application. However, for peaks/routes in restricted zone, permit is issued within 14 days form the date of receipt of the application in Ministry of Tourism, Government of Pakistan (Operation Section), 1st Floor, Green Trust Towers, Blue Area, Jinnah Avenue, Islamabad. Tel:+92-51-9205768 Fax:+92-51-9201696 Email: deputychief@tourism.gov.pk ). Pakistani Liaison Officer would accompany all mountaineering expeditions. The Government of Pakistan has fixed following rate or royalty for climbing peaks in Pakistan.  </p>
                                                <div class="row">
                                                    <table class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid black;">
                                                        <thead>
                                                            <tr style="background: #4bc622;color: black;">
                                                                <th> Sr.No</th>
                                                                <th>Heights</th>
                                                                <th> Heights Royalty in US$ up to 05 Climbers</th>
                                                                <th>	Additional fee for each additional climber</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <th>1</th>
                                                        <th>	K-2 (8,611 m)</th>
                                                        <th>12,000</th>
                                                        <th>	3,000</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>2</th>
                                                        <th>8,001 - 8,500</th>
                                                        <th>m	9,500</th>
                                                        <th>3,000</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>3</th>
                                                        <th>7,501 - 8,000</th>
                                                        <th>m	4,000</th>
                                                        <th>1,000</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>4</th>
                                                        <th>7,001 - 7,500</th>
                                                        <th>2,500</th>
                                                        <th>500</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>5</th>
                                                        <th>6,000 - 7,000</th>
                                                        <th>1,500</th>
                                                        <th>300</th>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th>Note:</th>
                                                                <th colspan="4" style="text-align: right">
                                                                    There is a 50% special discount in Royalty Fee during the year 2007. Moreover, for climbing peaks in winter,the rate of Royalty will only be 5% of the above rates.
                                                                </th>

                                                            </tr>
                                                        </tfoot>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-nightlife">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Mountaineering In Pakistan.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Mountaineering In Pakistan</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            TPakistan have With five of the above 8000 meters peaks in the world, Pakistan has been the focus of some of the most outstanding achievements in the world of mountaineering. For many decades the dauntless icy and rocky mountains have posed as challenge to those who dare. There are more than 100 peaks in Pakistan open for mountaineering today.
                                        </p>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Northern Pakistan has the greatest concentration of the highest peaks of the world. It has 05 peaks over 8,000 metres including the world’s second highest, K-2 (Chogori, 8611 m), 29 peaks of over 7,500 metres and 121 of over 7,000 metres. Hundreds of peaks are still lying un-climbed. This, is a great challenge for the mountaineers and mountain climbers the world over.

                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            All peaks/routes for mountaineering have been designated as open zone or restricted zone. Permits for climbing peaks in open zone, are issued by the Ministry of Tourism, within 24 hours of the receipt of application. However, for peaks/routes in restricted zone, permit is issued within 14 days form the date of receipt of the application in Ministry of Tourism, Government of Pakistan (Operation Section), 1st Floor, Green Trust Towers, Blue Area, Jinnah Avenue, Islamabad. Tel:+92-51-9205768 Fax:+92-51-9201696 Email: deputychief@tourism.gov.pk ). Pakistani Liaison Officer would accompany all mountaineering expeditions. The Government of Pakistan has fixed following rate or royalty for climbing peaks in Pakistan.
                                        </p>
                                        <div class="row">
                                            <div class="sub_ownership_details">
                                                <div class="row">
                                                    <table class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid black;">
                                                        <thead>
                                                            <tr style="background: #4bc622;color: black;">
                                                                <th>FACTS ABOUT CHOGORI (K-2)</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <th>Name(s)</th>
                                                        <th>	Chogori, K-2,  Mount Godwin-Austen</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Elevation (feet)</th>
                                                        <th>28,250</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Elevation (meters)s</th>
                                                        <th>8,611</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Location</th>
                                                        <th>Karakoram China-Pakistan</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Latitude</th>
                                                        <th>35°ree; 53' N</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Longitude</th>
                                                        <th>76°ree; 31' E</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Best Climbing Months</th>
                                                        <th>June, July, August</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Year First Climbed</th>
                                                        <th>1995</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>First Climber(s)</th>
                                                        <th>AchilleCompagnoniLinoLacedelli (Italian expedition)</th>

                                                        </tbody>




                                                        <tbody>
                                                        <th>Convenient Center(s)</th>
                                                        <th>Skardu, Pakistan</th>

                                                        </tbody>
                                                        <tbody>
                                                        <th>Nearest Major Airport</th>
                                                        <th>
                                                            Islamabad, Pakistan
                                                        </th>

                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="travel-guide-hotels">
                                <div class="image-container">

                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Trekking Tours To Pakistan – Where Mountains Meet.jpg" alt="">

                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Trekking Tours To Pakistan – Where Mountains Meet</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Stretching north from the Arabian Sea, the plains of Pakistan culminate into the lush valleys of Dir, Swat and Kaghan. Beyond them, lie the great northern valleys of Chitral, Gilgit, Hunza and Baltistan. Separating the two river systems which drain from these valleys is the Hindu Raj range, a chain of mountains which forms one of the sharpest cultural boundaries in the world: the cultural line between Central and Northern Asia. Still further north, the Karakoram and Hindu Kush ranges shape the western extension of the Himalayas.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">Tough and sparsely populated, Pakistan’s northern valleys exhibit the diversity one would expect of a boundary area. In the east, Baltistan shows an affinity with Tibet; in fact, its language is a dialect of archaic Tibetan and many remnants of Tibetan culture can still be observed, In the Gilgit region, Shina is the dominant language. Gilgit’s most prominent contribution to the area seems to be the Gilgiti cap worn throughout most of northern Pakistan. To the north, legendary Hunza confirms its reputation as one of the world’s great mountain communities. Its Language – Burushaki – seems unrelated to any other and its origins remain a mystery. Like Chitral to the west, Hunza manifests its age-old-contact with Central Asia, the consequence of lying abreast of the Caravan routes that spread south from the all-important passes. Within the borders of Chitral are the Kafir valleys of Birir, Rambur and Bomburet. In a nation that is almost entirely Muslim, the Kafir are unique; they are Pagans (Kafir means infidel) with their own very original beliefs, customs and art forms.</p>
                                        <p style="font-size: 15px;text-align: justify;">The land of these northern valleys is best described as mountainous. During winter, heavy snow separate the valleys from the rest of the world for six months. In the summer, temperatures over 100 degrees are common. In Skardu, one is immediately struck by the juxtaposition of sand dunes and show-capped peak.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-flights">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Helicopter Safaris Highlights.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Helicopter Safaris Highlights</h2>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Heli Safaris to the roof of the World – A great opportunity for those who have limited time but still like to have a bird’s eye view of Pakistan’s Northern paradise. All these safaris begin from Islamabad. We use Mi-17 (24 passengers) and ALT-III (5 passengers) helicopters for these heli-safaris.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Fairy Meadows – The last mountain wilderness of the Himalayas, lying under the shadow of Nanga Parbat (8,126 m), waiting for you to explore by helicopter.
                                        </p>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Trango Towers – It is a freestanding shaft culminating in the Trango Group, located on the left of Baltoro Glacier. It is the highest granite tower and considered to be the finest rock pinnacle in the world.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Concordia –This chaotic jumble of ice and rocks looks like an amphitheater rimmed by ice streams descending from four highest mountains of the Karakorams (K-2, Gasherbrum-I, Gasherbrum-II and Gasherbrum-IV). The point rests on the junction of two great glaciers – Baltoro and Godwin Austin. Being at Concordia means to be face to face with K-2 (8,611 m), a real soul stirring experience.
                                        </p>

                                        <p style="font-size: 15px;text-align: justify;">
                                            K-2 – “It was one of those sights which impress a man for ever, and produce a permanent effect upon the mind” (Francis Youghusband (1896) – First view of K-2). “The sight was beyond my comprehension and I sat gazing at it with a kind of timid fascination” (Eric Shipton).
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Kalash Tribes &Chitral Valley – Chitral, an area which was focus of the “Great Games”, at the turn of the 19th Century, is a land of ancient forts, rivers, springs and unique culture. The valleys of Brir, Rambur and Bamburet are the home of the only pagan tribe – Kalash, ‘the wearers of black robes’.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Best time to visit: March to November
                                        </p>
                                        <div class="row">
                                            <table class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid black;">
                                                <thead>
                                                    <tr style="background: #4bc622;color: black;">
                                                        <th>Route -1</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <th>1	Islamabad - Babusar Pass - Fairy Meadows – Skardu</th>
                                                <th></th>
                                                </tbody>
                                                <tbody>
                                                <th>2	Skardu – Baltoro – Trango Towers – Concordia, K-2 – Skardu – Gilgit</th>
                                                </tbody>
                                                <tbody>
                                                <th>3	Gilgit – Karakoram Highway – Islamabad</th>
                                                </tbody>

                                            </table>

                                        </div>
                                        <div class="row">
                                            <table class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid black;">
                                                <thead>
                                                    <tr style="background: #4bc622;color: black;">
                                                        <th>Route -2</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <th> 1	Islamabad-Babusar Pass – Fairy Meadows - Skardu</th>
                                                <th></th>
                                                </tbody>
                                                <tbody>
                                                <th>2	Skardu – Baltoro – Trango Towers – Concordia, K-2 – Skardu – Gilgit</th>
                                                </tbody>
                                                <tbody>
                                                <th>3	Gilgit – Karakoram Highway – Islamabad</th>
                                                </tbody>
                                                <tbody>
                                                <th>4	Chitral – Kalash Valleys – Lowari Pass – Islamabad</th>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="row">
                                            <table class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid black;">
                                                <thead>
                                                    <tr style="background: #4bc622;color: black;">
                                                        <th>Route -3</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <th>1	Islamabad - Babusar Pass - Fairy Meadows – Skardu</th>
                                                <th></th>
                                                </tbody>
                                                <tbody>
                                                <th>2	Skardu – Baltoro – Trango Towers – Concordia, K-2 – Skardu – Gilgit</th>
                                                </tbody>
                                                <tbody>
                                                <th>Gilgit – Phandar Lake – Shandur Pass – Chitral – Kalash Valleys – Lowari Pass – Islamabad</th>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-flights1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/PIA AIR Safari Highlights.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>PIA AIR Safari Highlights</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The World’s highest mountain ranges – the mighty Himalayas, the rugged Karakorams, the magnificent Hindu Kush and the mysterious Pamirs congregate along the far Northern frontiers of Pakistan to form an awesome natural bastion along its borders with India, China, Afghanistan, the Central Asian Republics and Russia.

                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            In fact, Pakistan’s towering Northern frontiers bestow upon this country the most endowed mountain region on Earth, making it the only country to boast of literally ALL of the highest mountain ranges of the World.

                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            It is because of this, that Pakistan International Airlines offers, perhaps the most unique Air Safari on Earth: a grandiose flight into the ultimate realm of the mountains! It is a flight through a virtual forest of literally hundreds of over 7000 meter peaks, inclusive of five that fall into the 14 highest mountains of the world that are over 8,000 meters.
                                        </p>

                                        <p style="font-size: 15px;text-align: justify;">
                                            The second highest mountain, the majestic K-2, the ninth highest Nanga Parbat, universally dubbed “the killer mountain”, on account of its forbidding reputation in the mountaineering community, the 11th highest Hidden Peak, the 12th highest Broad Peak and the 13th highest Gasherbrum-II, are all part of this amazing region. Four of these awesome peaks come together in the most spectacular theatre on Earth – the Concordia, called the Darbar of the Emperor of the Jinns from the Arabian Nights! The locals believe that the “Badshah” of this land of Jinns chose this spot for his court as it was the loftiest and most remote on Earth. It offers all this and much more.

                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Come and witness all of it with us on board, the PIA Air Safari that can be chartered at just two weeks’ notice.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-flights2">

                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Khyber Steam Safari</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Richard Travithick produced the first locomotive by bringing the locomotive and railway invention together in 1804. Britishers brought this technology to the Subcontinent and in order to augment their defence to stop the Russian invasion on India, a 42 kms long Khyber Railway lines was built by them in 1920s from Peshawar to LandiKotal at an enormous cost of 6 million Rupees. This is one of the most historical and interesting train journeys in the world today.
                                        </p>
                                        The train coaches are pulled and pushed by two 1920s vintage oil fired steam engines to climb 1200 meters through 34 tunnels and 92 bridges and culverts. At one point the track climbs to 130 meters after a journey of 1.4 kilometers. A section of the track is shaped like a W and the train has to move in changing directions. The tribal people travelled free as part of the contract agreed upon when they allowed the British to build the railway through their territory.
                                        </p>
                                        <div class="row">
                                            <table class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid black;">
                                                <thead>
                                                    <tr style="background: #4bc622;color: black;">
                                                        <th>Programme</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <th>1	Departure from Peshawar Cantt. Railway Station	0730</th>
                                                <th></th>
                                                </tbody>
                                                <tbody>
                                                <th>2	Arrival at Jamrud Railway Station	0900</th>
                                                </tbody>
                                                <tbody>
                                                <th>3	Departure from Jamrud Railway Station	0915</th>
                                                </tbody>
                                                <tbody>
                                                <th>4	Arrival at Landikotal Railway Station	1145</th>
                                                </tbody>
                                                <tbody>
                                                <th>5	Surface Transport to Michni Post-Torkham View point and back to Landikotal for picnic lunch.</th>
                                                </tbody>
                                                <tbody>
                                                <th>7	Arrival at Jamrud Railway Station (Last Train Terminal)	1615</th>
                                                </tbody>
                                                <tbody>
                                                <th>8	Surface Transport to Peshawar (by bus/ coach).	1620</th>
                                                </tbody>
                                                <tbody>
                                                <th>9	Arrival at Peshawar Cantt., Railway Station	1700</th>
                                                </tbody>
                                            </table>

                                        </div>











                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-flights3">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Brown Bears of Deosai Plains.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Brown Bears of Deosai Plains</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The Deosai Plains are 32 km south of Skardu. This plateau is the habitat of the greatly threatened Himalayan Brown Bear and many other wild animals. At an average elevation of 4000 meters, Deosai is designated as a National Park and protected area for wildlife. The rolling grassland here supports no trees or shrubs and the area is snow covered for seven months of the year. Spring comes to Deosai in August when millions of wild flowers begin to bloom all over the lush green grassland. This is a time when Deosai looks like a paradise with a landscape full of wild flowers on green rolling hills and crystal clear water streams with snow covered peaks in the background.

                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The Adventure Jeep Safari will take you right across the beautiful mountain ranges of the Himalayas and Karakorams. Travelling on Karakoram Highway (KKH), you will enjoy the most spectacular scenery on earth. Before reaching Deosai, you will also witness the magical views of Nanga Parbat (8126 m), the ninth highest peak of the world, from different angles. At Deosai, our first stop will be at Sheosar Lake. This place offers beautiful views of south face of Nanga Parbat and a panoramic view of Deosai Plains. At Bara Pani, you can spend one day and visit the core zone of National Park for Bear Watching or you may enjoy fishing in the cold waters of Barwai Stream. From Deosai, we will drive back via Skardu and Gilgit and have a chance to enjoy the most thrilling drive along the River Indus.
                                            .
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-flights3">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Indus Blind Dolphin.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Indus Blind Dolphin</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Indus is one of the greatest rivers of the world. It originates high in the mountains of Tibet and flows through Ladakh and Pakistan before flowing into the Arabian Sea. On its 3200 kms journey it passes through the great Himalayan and Karakoram ranges, the fertile plains of the Punjab and the vast desert of Sindh. Near the great Nanga Parbat (8126 m), it forms the borderline between the Asian and Indian continental plates. The Indus is blessed with a rich variety of wildlife throughout its journey.




                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Among these are various resident and migratory birds, mammals, reptiles and fish. The Indus Blind Dolphin is one of its most famous inhabitants. Through this tour, we will take you to Taunsa Barrage, which is a two and a half hour drive from Multan. From Taunsa Barrage, you will travel down the river Indus on a traditional fishing boat where you will catch unforgettable glimpses of rural life in the Southern Punjab and the innumerable species of birds that stop by in these areas on their north-south migratory route. You will also have the opportunity to see the remarkable blind dolphin skirting to the surface near your boat.
                                            .
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The boat safari will end at Ghazi Ghat Bridge from where we will drive back to Multan..
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <div class="toggle-container filters-container">
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/PakistanTours">Welcome To Pakistan</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/ecotourism">Eco Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/adventuretourism">Adventure Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/spiritualtourism">Spiritual Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/heritagetourism">Heritage Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/sportstourism">Sports Tourism</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4>Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123</span>
                            <br>
                            <a class="contact-email" href="#">help@PIMSTourism.com</a>
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </section>

