


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Out Bound Tours</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">Out Bound Tours</a></li>
                   
                    <li class="active">Azerbaijan</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container tour-detail-page">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="featured-gallery image-box">
                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                            <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                                <ul class="slides">
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/A.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/B.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/C.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/D.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/E.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/F.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/G.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/H.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/I.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/J.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/a.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/b.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Azerbaijan/c.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="flexslider image-carousel style1" id="post-carousel1"  data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                                <ul class="slides">
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/A.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/B.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/C.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/D.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/E.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/F.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/G.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/H.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/I.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/J.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/a.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/b.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Azerbaijan/c.png" alt="" /></li>
                                </ul>
                            </div>
                        </div>

                        <div id="tour-details" class="travelo-box">
                            

                            <div class="featured-image">
                                <h1>Baku – Gabala  Tour  6days / 5nights</h1>
                                <p style="font-size: 14px;      text-align: justify;    color: black;">Travelling the most attractive city of the Caspian sea and get close acquainted with friendly indigenous people who live here.
</p>
                            <img src="~/assest/images/tour/packages/Azerbaijan/a.png" alt="">
                                
                                <br><br>
                        </div>
                            
                            <h2 style="font-weight: bold;">The price includes: </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Airport transfers.</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Hotel accommodation </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Professional tour guide service (for a group).</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Baku and Gabala city tours </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Comfortable transportation according to the program
</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Visa support</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <h2 style="font-weight: bold;">The price doesn’t include: </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Flight Tickets</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch and dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entrance  fees</p>
                             <img src="~/assest/images/tour/packages/Azerbaijan/b.png" alt=""><br><br>
                            
                            
                            
                                <h2 style="font-weight: bold;">DAY 1</i></h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Arrival to HaydarAliyev International Airport  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meeting in the airport and transfer </p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Check in at hotel</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	City tour according to arrival time </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch ( dinner )</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight at the hotel</p><br><br>
                            
                            
                                <h2 style="font-weight: bold;">DAY 2</i></h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast in the hotel </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	City tour in Baku</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Walking sightseeing tour of the “Inner City” </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Visiting souvenir, carpets, antique shops and workshops of local handicrafts </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Maiden Tower (XII century), </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Juma Mosque (XII century), </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Shirvanshah Palace (XV century).</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Dinner </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Walking through “Torgovaya”  (Nizami / Shopping street)</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight in the hotel</p>    
                        <br><br>
                            
                            <h2 style="font-weight: bold;">DAY 3</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast in the hotel</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Trip to Gabala</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Check in at  hotel in Gabala</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Nohur lake</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	YeddiGozel waterfall</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Gabaland entertainment center</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Dinner </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight in the hotel</p>    
                            
                            <br><br>
                            <h2 style="font-weight: bold;">DAY 4</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast in the hotel</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Excursion to Tufandagh</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Nic village </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Return to Baku</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Walking through Baku Boulevard </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Dinner </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Check in at hotel </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight in the hotel </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <br><br>
                            
                            
                            <h2 style="font-weight: bold;">DAY 5</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast in the hotel</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	VisitingHighlandPark, Marty’slane</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Venetian town </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Shopping  in  the  Park  Boulevard</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Shopping in the Xagani Center</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Dinner</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight in the hotel</p>
                            
                             <img src="~/assest/images/tour/packages/Azerbaijan/c.png" alt=""><br><br>
                            
                            
                            <h2 style="font-weight: bold;">DAY 6</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast in the hotel</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Check-out from the hotel in Baku</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Transfer to the GYD airport in Baku.</p><br><br>
                            
                             <img src="~/assest/images/tour/packages/Azerbaijan/d.png" alt="">
                            
                            
                            
                         <h2 style="font-weight: bold;">Main places to visit in Baku and Gabala :</h2>   
                            
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Petroglyphs Museum (under open sky in Gobustan)  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Highland Park </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	FlameTowers</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Museum of azerbajani carpets  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Small Venice  </p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Museum, historical center of HaydarAliyev</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Shirvanshakh’s Palace  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Maiden Tower  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	JumaMosque</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Yanardag(on the territory of this reservation park are located mud volcano Girmeki, oil wells in the valley, wolfish cave, megalith complex Gavaldashi and some very old, over thousand year graves). </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Ateshgah</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Archeological and ethnographical museum complex Gala  </p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Carpet weaving centerAzerIlme</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	National Museum of Arts named after RustamMustafayev</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Medieval Fortress in Ramani</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Fortified positions (defence construction) in Mardakan and old mosques, including tetragonal fortress (dtd. XII century), Tuba Shahi Mosque (ХV), Round Fortress (XIII)   </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Nohurgol Lake</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	YeddiGozel waterfall</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Tufandagh</p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Nic village </p>  <br><br><br><br>
                            
                            
                            <h1>Baku  Tour  5 days / 4 nights </h1>
                           
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Travelling the most attractive city of the Caspian sea and get close acquainted with friendly indigenous people who live here</p>
                            <img src="~/assest/images/tour/packages/Azerbaijan/e.png" alt=""><br><br>
                             <h2 style="font-weight: bold;">The price includes: </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Airport  transfers.</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Hotel  accommodation </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Professional  tour  guide  service  (for a group).</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Baku  City  tour  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Comfortable  transportation  according  to  the  program</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Visa  support</p>
                            
                            
                            <h2 style="font-weight: bold;">The price doesn’t include:  </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Flight  Tickets</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Travel  insurance </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Enterance fees </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch and  dinner</p><br><br>
                            
                            
                            
                                <h2 style="font-weight: bold;">DAY 1</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Arrival  to  Haydar  Aliyev  International  Airport  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meeting  in  the  airport  and  transfer</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Check  in  at  hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	City tour according to arrival time</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch ( dinner )</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight  at  hotel</p><br><br>
                            
                            
                            
                                 <h2 style="font-weight: bold;">DAY 2</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast  in  the  hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	City  tour </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Walking sightseeing tour of the “Inner City” </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Maiden Tower (XII century), </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Visiting Highland Park, Marty’s lane</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Shopping in Park  Boulevard </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight  in  the  hotel</p><br><br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            
                            
                             
                            
                            
                                 <h2 style="font-weight: bold;">DAY 3</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast  in  the  hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Excursion to Gobustan</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Excursion to Yanardag</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Excursion to Ateshgah</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Walking through to Baku Boulevard </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight  in  the  hotel</p><br><br>
                           
                            
                            
                                 <h2 style="font-weight: bold;">DAY 4</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Excursion to  Heydar Aliyev Center </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Visit Bibi – Heybat Mosque</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Lunch </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Venetian city</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Walking through “Torgovaya”  (Nizami / Shopping street)</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Overnight in the hotel</p><br><br>
                           
                            
                            
                                 <h2 style="font-weight: bold;">DAY 5</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Breakfast  in  the  hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Check  out  from  the  hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Transfer  to  the   GYD   airport</p><br><br>
                            
                            
                            <img src="~/assest/images/tour/packages/Azerbaijan/f.png" alt=""><br><br>
                            <h2 style="font-weight: bold;">Main places to visit in Baku, on Absheron peninsula: </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Square of State Flag  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	New Seacoast Park (Baku Boulevard) </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Petroglyphs Museum (under open sky in Gobustan)  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Highland Park </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Flame Towers</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Museum of azerbajani carpets  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Small Venice  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Museum, historical center of Haydar Aliyev  </p>
                            
                            <img src="~/assest/images/tour/packages/Azerbaijan/g.png" alt="">
                             <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Shirvanshakh’s Palace  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Maiden Tower  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Juma Mosque  </p>
                             <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Yanardag (on the territory of this reservation park are located mud volcano Girmeki, oil wells in the valley, wolfish cave, megalith complex Gavaldashi and some very old, over thousand year graves).  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Ateshgah </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Archeological and ethnographical museum complex Gala  
</p><br><br>
                            
                            
                            
                            
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Carpet weaving center Azer Ilme  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	National Museum of Arts named after Rustam Mustafayev  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Medieval Fortress in Ramani  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Fortified positions (defence construction) in Mardakan and old mosques, including tetragonal fortress (dtd. XII century), Tuba Shahi Mosque (ХV), Round Fortress (XIII)   </p><br><br>
                            
                            
                            
                            <h1>Baku-Ganja tour 7 days / 6 nights </h1>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Ganja is the second city of Azerbaijan by scale – memorial of the ancient culture, industrial center of the western Azerbaijan. The city is allocated at Ganja-Gazakh terrain, on both Ganjachay riverbanks. This city, having been plaid enormous part in the history of Azerbaijan, was allocated on crossing of caravan ways, where travelers stayed, and alien scientists enjoyed with their conversations.</p>
                             <img src="~/assest/images/tour/packages/Azerbaijan/h.png" alt=""><br><br>
                            
                            
                            <h2 style="font-weight: bold;">The price includes:</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Airport transfers.</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Hotel accommodation </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Breakfast</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Visa support</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Comfortable transportation according to the program</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Baku City , Gobustan  tours</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Guide</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                            <h2 style="font-weight: bold;">The price doesn’t include:</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Flight Tickets</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Lunch and dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Entrance fees ( Museums and other )</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                                <h2 style="font-weight: bold;">Day 1</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	 Arrival to Haydar Aliyev International Airport  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Check in at hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Walking sightseeing tour of the “Inner City” </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Maiden Tower (XII century), </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Walking through  Baku  Boulevard</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                                 <h2 style="font-weight: bold;">Day 2</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Gobustan tour</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Excursion to Yanardag</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Excursion to Ateshgah Temple </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Shopping</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                                 <h2 style="font-weight: bold;">Day 3</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Excursion to Heydar Aliyev Centre </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Excursion to Carpet Museum </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Visit Bibi-Heybat Mosque</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Visiting Highland park</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                                 <h2 style="font-weight: bold;">Day 4</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Trip to Ganja</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Visiting “Xan bağı”</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Ganja river park-boulevard </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                                 <h2 style="font-weight: bold;">Day 5</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	GÖY-GÖL recreation center</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Maralgol trip</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br><br><br>
                            
                            
                                 <h2 style="font-weight: bold;">Day 6</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.   Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Shah Abbas Mosque</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Mausoleum of Nizami</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	“Qala qapilatı” Double gates</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Imamzade Religious Architectural Monument Comple</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Back to Baku</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">9.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                                 <h2 style="font-weight: bold;">Day 7</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Check-out from the hotel (normally at 12:00) in Baku</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Transfer to the GYD airport in Baku.</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                            
                            
                            
                            <h1>Baku-Lankaran – Yardımlı-Masalli   Tour 5 Days</h1>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                             <img src="~/assest/images/tour/packages/Azerbaijan/i.png" alt=""><br><br>
                            
                            
                            <h2 style="font-weight: bold;">Included in prices:   </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Transfer </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Overnight at hotel with Breakfast</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Comfortable transportation all the way         </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Visa support </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Tour guide</p><br><br>
                           
                            
                            
                            <h2 style="font-weight: bold;">Excluded from prices:          </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Airtickets  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Lunches , dinners</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Entrance tickets</p>
                            <br><br>
                            
                            
                                <h2 style="font-weight: bold;">Day 1</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Meeting at the GYD airport in Baku  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Accommodation at hotel in Baku </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	City tour for basic time </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Overnight at the hotel in Baku </p><br><br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            
                            
                                 <h2 style="font-weight: bold;">Day 2</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Excursion to Heydar Aliyev Center</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Walking through Inner City ( Iceri Sheher )</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Lunch </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Maiden Tower  (XII century)  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Palace of Shirvanshaks   (XV century)               </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Overnight in the hotel in Baku</p><br><br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            
                            
                                 <h2 style="font-weight: bold;">Day 3</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Check out from the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Trip to  Lankaran</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Check in hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Lunch </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Visit Lankaran Fortress (18th century) </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Kichik-Bazar mosque (19th).</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	House of Mirakhmad khan</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">9.	Whitewashed Mayak</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">10.	History museum</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">11.	Dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">12.	Overnight in the hotel </p><br><br>
                            
                                 <h2 style="font-weight: bold;">Day 4</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Excursion to Hirkan National Park</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Tea plantation</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Yardimli Waterfall </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Trip to Masalli</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	İsti Su Sanatorium</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Talysh mountains</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">9.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">10.	Back to Baku</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">11.	Overnight  at the hotel.</p><br><br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            
                            
                                 <h2 style="font-weight: bold;">Day 5</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Check-out from the hotel  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Transfer to the airport</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            <h1>Naftalan Tour 8 days / 7 nights</h1>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">In Naftalan, a health resort, known as the healing center of Azerbaijan. Naftalan is the only place in the world of healing naphthalene. The healing properties of this oil have been used for many years. It is a 100-year-old resort and therapeutic city of Azerbaijan. Here is a treatment for every kind of human body and heart disease.
</p>
                             <img src="~/assest/images/tour/packages/Azerbaijan/j.png" alt=""><br><br>
                            
                            
                            <h2 style="font-weight: bold;">Includedinprices:  </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Transfer</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Overnight at hotel   (Gashalti health Hotel 5*)</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Breakfast, lunchan dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Treatment</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Visa support</p><br><br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            
                            
                            <h2 style="font-weight: bold;">Not included:</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Flight Tickets</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                                <h2 style="font-weight: bold;">7-day Naftalan package </i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5 full body naphthalene baths</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">All biochemical analyzes included in check-up:</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">ALT,</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">AST,</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">XOLESTEROL,</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">GLUCOZA,</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">CREATIVE,</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">CALSIUM</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Total blood analysis:</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Hemogrime (at least 21 parameters)</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Universal urine analysis</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Examination of all doctors</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">USM examination</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">ECG </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Check-in physiotherapy included:</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Amplipuls</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Darsanval</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Electrophoresis</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Briefly</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Infrared</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Laserotherapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Ultrasoundtherapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Soluxe</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Vacuum-Electrotherapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Magnitotherapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Yodbrominebath</p><br><br>
                            
                            
                            <h2 style="font-weight: bold;">It is free</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1. Check-up examination</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2. General blood test</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3. Biochemical blood test</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4. General urine test</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5. Naftalan bath</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6. Amplipulse</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7. Darsonvalization</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8. Vacuum electrotherapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">9. Electrophoresis</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">10. Shortwave therapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">11. Infrared irradiation</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">12. Laser therapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">13. Magnetotherapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">14. Microwave diathermy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">15.Ultrasound therapy</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">16.Solux</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">17. Sauna</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">18. Pool</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">19.Turkish bath</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">20. Gym</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p><br><br>
                            
                            
                            <h2 style="font-weight: bold;">It's not free</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1. Analysis of Hepatitis B, C -6$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2. Steam bath-6$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.Massage classic medical-8$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4. Paraffin application-4$ man </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5. Light bath-3$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.Ingulation-3$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.Internal injection- 1,5$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.Urological massage- 5$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">9.Rectal microclysters- 8$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">10. chamber bath-4$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">11.Buson (ENT)-3,5$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">12. Earwash- 2,5$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">13. Pneumopuncture (gas injections) -9$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">14.Pressotherapy (Lymphatic drainage)- 5$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">15. Shockwave therapy-12$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">16.Infusion therapy-3$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">17. Underwater massage-6$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">18. Circular shower-4$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">19. Charcot's douche- 3$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">20. Gynecological treatment-4$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">21. Gynecological massage-5$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">22. Urological vibrolaser-5$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">23. Urological vibrovacuum-3$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">24. Ozonotherapy-7$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">25. Underwater stretching-9$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">26. Uskopol ultraviolet-9$</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">27. Bromine bath-2,5$</p>
                            <br><br>
                            
                            
                            
                            
                            <h1>Baku  Tour  5 days / 4 nights </h1> <br><br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Travelling the most attractive city of the Caspian sea and get close acquainted with friendly indigenous people who live here.</p>
                             <img src="~/assest/images/tour/packages/Azerbaijan/g.png" alt=""> <br><br>
                            
                            
                            <h2 style="font-weight: bold;">The price includes: </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Airport transfer</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Hotel accommodation </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Professional tour guide service (for a group).</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Baku City , Gobustan  ,  Ateshgah  and  Yanardag  tours</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Comfortable transportation according to the program</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Breakfast</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Visa support</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Entrance  fees  ( Gobustan , Ateshgah and Yanardag )</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p> <br><br>
                            
                            
                            <h2 style="font-weight: bold;">The price doesn’t include: </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Flight Tickets</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Lunch and dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Entrance fees ( Museums and other )</p>
                            
                            <img src="~/assest/images/tour/packages/Azerbaijan/b.png" alt=""> <br><br>
                            
                            
                                 <h2 style="font-weight: bold;">DAY 1</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Arrival to Haydar Aliyev International Airport  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Meeting in the airport and transfer</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Check-in at the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	City walked based on available time</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Overnight at the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p> <br><br>
                            
                            
                                 <h2 style="font-weight: bold;">DAY 2</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	City tour in Baku</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Walking sightseeing tour of the “Inner City” </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Visiting souvenir, carpets, antique shops and workshops of local handicrafts</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Maiden Tower (XII century), </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Juma Mosque (XII century), </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Shirvanshah Palace (XV century).</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Walking through “Torgovaya”  (Nizami / Shopping street)</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p> <br><br>
                            
                            
                                 <h2 style="font-weight: bold;">DAY 3</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Excursion to Heydar Aliyev Center </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Excursion to Carpet Museum </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Visit Bibi-Heybat Mosque</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	City tour</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Dinner </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Walking  thorugh  Baku  Boulevard</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">9.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p> <br><br>
                            
                            
                            
                                <h2 style="font-weight: bold;">DAY 4</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Gobustan tour</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Excursion to Yanardag</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">4.	Lunch</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">5.	Excursion to Ateshgah Temple </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">6.	Dinner</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">7.	Walking through  Baku  Boulevard</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">8.	Overnight in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p> <br><br>
                            
                            <img src="~/assest/images/tour/packages/Azerbaijan/c.png" alt="">
                            
                                <h2 style="font-weight: bold;">DAY 5</i></h3>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">1.	Breakfast in the hotel </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">2.	Check-out from the hotel (normally at 12:00) in Baku</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">3.	Transfer to the GYD airport in Baku.</p> <br><br>
                            
                              <img src="~/assest/images/tour/packages/Azerbaijan/g.png" alt="">
                            
                            <h2 style="font-weight: bold;">Main places to visit in Baku,on Absheron peninsula :</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Square of State Flag  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	New Seacoast Park (Baku Boulevard) </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Petroglyphs Museum (under open sky in Gobustan)  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Highland Park </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Flame Towers</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Museum of azerbajani carpets  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Small Venice  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Museum, historical center of Haydar Aliyev  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Shirvanshakh’s Palace  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Maiden Tower  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Juma Mosque  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Yanardag (on the territory of this reservation park are located mud volcano Girmeki, oil wells in the valley, wolfish cave, megalith complex Gavaldashi and some very old, over thousand year graves).  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Ateshgah</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Archeological and ethnographical museum complex Gala  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Carpet weaving center Azer Ilme  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	National Museum of Arts named after Rustam Mustafayev  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Medieval Fortress in Ramani  </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">	Fortified positions (defence construction) in Mardakan and old mosques, including tetragonal fortress (dtd. XII century), Tuba Shahi Mosque (ХV), Round Fortress (XIII)   </p>
                            <br><br><br><br>
                            
                            
                            <h1>Falcon briefing</h1><br><br>
                            
                            
                            
                            <h2 style="font-weight: bold;">The services:</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Airport transfers</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Carrying through customs</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Accommodation in the hotel</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Way to place of falcons briefing</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Food along the road</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Accommodation on the base</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Overnight on the base</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Transport</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Guide </p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Translator</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <br><br>
                            
                            <h2 style="font-weight: bold;">Rules:</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Duration 10 days</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Guest can invite an assistant</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">High quality and comfort during briefing</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Extra payment for additional service </p><br><br><br><br>
                            
                            
                            <h1>Contact: info@capitaltravel.az<br>WhatsApp: (+994) 51 744-33-55</h1>
                         
                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                       <div class="travelo-box contact-box">
                            <h4 class="box-title">Need PIMS Help?</h4>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726</span>
                                <br />
                                <a href="#" class="contact-email">help@pims.com</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </section>
           