


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Car Detailed</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li class="active">Car Detailed</li>
            </ul>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container car-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-image box">
                        <img src="~/assest/images/cars/main1.png" alt="" />
                    </div>
                    <div class="tab-container">
                        <ul class="tabs">
                            <li class="active">
                                <a href="#car-details" data-toggle="tab">Car Details</a>
                            </li>
                            <li>
                                <a href="#car-upgrade" data-toggle="tab">Upgrade Your Car</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="car-details">
                                <div class="intro box table-wrapper full-width hidden-table-sms">
                                    <div class="col-sm-4 table-cell travelo-box">
                                        <dl class="term-description">
                                            <dt>Rental Company:</dt>
                                            <dd>Ez Rent a Car</dd>
                                            <dt>Car Type:</dt>
                                            <dd>Economy</dd>
                                            <dt>Car name:</dt>
                                            <dd>Toyota auris</dd>
                                            <dt>Passenger:</dt>
                                            <dd>4</dd>
                                            <dt>Baggage:</dt>
                                            <dd>2</dd>
                                            <dt>Car features:</dt>
                                            <dd>Available
                                            <dt>Taxes &amp; Fees:</dt>
                                            <dd>$155.61</dd>
                                            <dt>total price:</dt>
                                            <dd>$201</dd>
                                        </dl>
                                    </div>
                                    <div class="col-sm-8 table-cell">
                                        <div class="detailed-features clearfix">
                                            <div class="col-md-6">
                                                <h4 class="box-title">
                                                    Pick-up location details
                                                    <small>Phone: 1-0825889755</small>
                                                </h4>
                                                <div class="icon-box style11">
                                                    <div class="icon-wrapper">
                                                        <i class="soap-icon-clock"></i>
                                                    </div>
                                                    <dl class="details">
                                                        <dt class="skin-color">pickup time</dt>
                                                        <dd>Thu, Nov 14, 2013  |  11:00 AM</dd>
                                                    </dl>
                                                </div>
                                                <div class="icon-box style11">
                                                    <div class="icon-wrapper">
                                                        <i class="soap-icon-departure"></i>
                                                    </div>
                                                    <dl class="details">
                                                        <dt class="skin-color">Location</dt>
                                                        <dd>London city, airport</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="box-title">
                                                    Drop-off location details
                                                    <small>Phone: 1-0825889755</small>
                                                </h4>
                                                <div class="icon-box style11">
                                                    <div class="icon-wrapper">
                                                        <i class="soap-icon-clock"></i>
                                                    </div>
                                                    <dl class="details">
                                                        <dt class="skin-color">Drop off Time</dt>
                                                        <dd>Fri, Nov 15, 2013  |  11:00 AM </dd>
                                                    </dl>
                                                </div>
                                                <div class="icon-box style11">
                                                    <div class="icon-wrapper">
                                                        <i class="soap-icon-departure"></i>
                                                    </div>
                                                    <dl class="details">
                                                        <dt class="skin-color">Location</dt>
                                                        <dd>Paris Orly Airport (ORY)</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2>Car Rental Information</h2>
                                <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.</p>
                                <br />
                                <div class="car-features box">
                                    <div class="row add-clearfix">
                                        <div class="col-sms-6 col-sm-6 col-md-4">
                                            <span class="icon-box style2">
                                                <i class="soap-icon-user circle"></i>4 Passengers
                                            </span>
                                        </div>
                                        <div class="col-sms-6 col-sm-6 col-md-4">
                                            <span class="icon-box style2">
                                                <i class="soap-icon-suitcase circle"></i>2 Bags
                                            </span>
                                        </div>
                                        <div class="col-sms-6 col-sm-6 col-md-4">
                                            <span class="icon-box style2">
                                                <i class="soap-icon-aircon circle"></i>air conditioning
                                            </span>
                                        </div>
                                        <div class="col-sms-6 col-sm-6 col-md-4">
                                            <span class="icon-box style2">
                                                <i class="soap-icon-fmstereo circle"></i>Satellite Navigation
                                            </span>
                                        </div>
                                        <div class="col-sms-6 col-sm-6 col-md-4">
                                            <span class="icon-box style2">
                                                <i class="soap-icon-fueltank circle"></i>Disel Vehicle
                                            </span>
                                        </div>
                                        <div class="col-sms-6 col-sm-6 col-md-4">
                                            <span class="icon-box style2">
                                                <i class="soap-icon-automatic-transmission circle"></i>Automatic transmission
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <h2>Enhance your Rental</h2>
                                <div class="intro box table-wrapper full-width hidden-table-sms">
                                    <div class="col-md-4 table-cell travelo-box protect-passengers">
                                        <div class="icon-box style12">
                                            <div class="icon-wrapper">
                                                <i class="soap-icon-passenger circle"></i>
                                            </div>
                                            <h5 class="details title">Protect your smaller, lighter passengers</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Toddler Seat</label>
                                                <div class="selector full-width">
                                                    <select>
                                                        <option value="1">1</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Infant Seat</label>
                                                <div class="selector full-width">
                                                    <select>
                                                        <option value="0">0</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 table-cell">
                                        <div class="car-damage travelo-box">
                                            <div class="pull-right logo">
                                                <img src="~/assest/images/cars/logo/5.png" alt="" />
                                            </div>
                                            <div class="icon-box box style12">
                                                <div class="icon-wrapper">
                                                    <i class="soap-icon-car circle"></i>
                                                </div>
                                                <h5 class="details title">Add rental car damage protection</h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" name="damage-protection">Yes, add Rental Car Damage Protection for the rental period for $18.00 USD. <a href="#" class="skin-color">Learn More</a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label class="radio radio-inline">
                                                        <input type="radio" name="damage-protection">No Thanks
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="car-upgrade">
                                <h2>Upgrade Your Car Experience</h2>
                                <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. </p>
                                <div class="car-list listing-style3 car">
                                    <article class="box">
                                        <figure class="col-xs-3">
                                            <span><img width="189" height="120" alt="" src="~/assest/images/cars/7.png"></span>
                                        </figure>
                                        <div class="details col-xs-9 clearfix">
                                            <div class="col-sm-8">
                                                <div class="clearfix">
                                                    <h4 class="box-title">Economy Car<small>bmw mini</small></h4>
                                                    <div class="logo">
                                                        <img src="~/assest/images/cars/logo/1.png" alt="" />
                                                    </div>
                                                </div>
                                                <div class="amenities">
                                                    <ul>
                                                        <li><i class="soap-icon-user circle"></i>4</li>
                                                        <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                        <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                        <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                        <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-2 character">
                                                <dl class="">
                                                    <dt class="skin-color">mileage</dt>
                                                    <dd>3000 miles</dd>
                                                    <dt class="skin-color">Pickup Time</dt>
                                                    <dd>5:45 pm</dd>
                                                    <dt class="skin-color">Location</dt>
                                                    <dd>London city</dd>
                                                </dl>
                                            </div>
                                            <div class="action col-xs-6 col-sm-2">
                                                <span class="price"><small>per day</small>$45.39</span>
                                                <a href="car-booking.html" class="button btn-small full-width">select</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure class="col-xs-3">
                                            <span><img width="189" height="120" alt="" src="~/assest/images/cars/10.png"></span>
                                        </figure>
                                        <div class="details col-xs-9 clearfix">
                                            <div class="col-sm-8">
                                                <div class="clearfix">
                                                    <h4 class="box-title">Full Size<small>Holden sv6</small></h4>
                                                    <div class="logo">
                                                        <img src="~/assest/images/cars/logo/2.png" alt="" />
                                                    </div>
                                                </div>
                                                <div class="amenities">
                                                    <ul>
                                                        <li><i class="soap-icon-user circle"></i>4</li>
                                                        <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                        <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                        <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                        <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-2 character">
                                                <dl class="">
                                                    <dt class="skin-color">mileage</dt>
                                                    <dd>3000 miles</dd>
                                                    <dt class="skin-color">Pickup Time</dt>
                                                    <dd>5:45 pm</dd>
                                                    <dt class="skin-color">Location</dt>
                                                    <dd>London city</dd>
                                                </dl>
                                            </div>
                                            <div class="action col-xs-6 col-sm-2">
                                                <span class="price"><small>per day</small>$100</span>
                                                <a href="car-booking.html" class="button btn-small full-width">select</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure class="col-xs-3">
                                            <span><img width="189" height="120" alt="" src="~/assest/images/cars/9.png"></span>
                                        </figure>
                                        <div class="details col-xs-9 clearfix">
                                            <div class="col-sm-8">
                                                <div class="clearfix">
                                                    <h4 class="box-title">Luxury Elite<small>bmw 5 series</small></h4>
                                                    <div class="logo">
                                                        <img src="~/assest/images/cars/logo/3.png" alt="" />
                                                    </div>
                                                </div>
                                                <div class="amenities">
                                                    <ul>
                                                        <li><i class="soap-icon-user circle"></i>4</li>
                                                        <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                        <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                        <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                        <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-2 character">
                                                <dl>
                                                    <dt class="skin-color">mileage</dt>
                                                    <dd>3000 miles</dd>
                                                    <dt class="skin-color">Pickup Time</dt>
                                                    <dd>5:45 pm</dd>
                                                    <dt class="skin-color">Location</dt>
                                                    <dd>London city</dd>
                                                </dl>
                                            </div>
                                            <div class="action col-xs-6 col-sm-2">
                                                <span class="price"><small>per day</small>$79.39</span>
                                                <a href="car-booking.html" class="button btn-small full-width">select</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure class="col-xs-3">
                                            <span><img width="189" height="120" alt="" src="~/assest/images/cars/11.png"></span>
                                        </figure>
                                        <div class="details col-xs-9 clearfix">
                                            <div class="col-sm-8">
                                                <div class="clearfix">
                                                    <h4 class="box-title">Mini Car<small>Fiat 500</small></h4>
                                                    <div class="logo">
                                                        <img src="~/assest/images/cars/logo/4.png" alt="" />
                                                    </div>
                                                </div>
                                                <div class="amenities">
                                                    <ul>
                                                        <li><i class="soap-icon-user circle"></i>4</li>
                                                        <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                        <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                        <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                        <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-2 character">
                                                <dl>
                                                    <dt class="skin-color">mileage</dt>
                                                    <dd>Unlimited</dd>
                                                    <dt class="skin-color">Pickup Time</dt>
                                                    <dd>5:45 pm</dd>
                                                    <dt class="skin-color">Location</dt>
                                                    <dd>London city</dd>
                                                </dl>
                                            </div>
                                            <div class="action col-xs-6 col-sm-2">
                                                <span class="price"><small>per day</small>$15.39</span>
                                                <a href="car-booking.html" class="button btn-small full-width">select</a>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure class="col-xs-3">
                                            <span><img width="189" height="120" alt="" src="~/assest/images/cars/12.png"></span>
                                        </figure>
                                        <div class="details col-xs-9 clearfix">
                                            <div class="col-sm-8">
                                                <div class="clearfix">
                                                    <h4 class="box-title">Intermediate<small>Renault grand scenic</small></h4>
                                                    <div class="logo">
                                                        <img src="~/assest/images/cars/logo/1.png" alt="" />
                                                    </div>
                                                </div>
                                                <div class="amenities">
                                                    <ul>
                                                        <li><i class="soap-icon-user circle"></i>4</li>
                                                        <li><i class="soap-icon-suitcase circle"></i>3</li>
                                                        <li><i class="soap-icon-aircon circle"></i>AC</li>
                                                        <li><i class="soap-icon-fueltank circle"></i>12</li>
                                                        <li><i class="soap-icon-fmstereo circle"></i>YES</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-2 character">
                                                <dl>
                                                    <dt class="skin-color">mileage</dt>
                                                    <dd>Unlimited</dd>
                                                    <dt class="skin-color">Pickup Time</dt>
                                                    <dd>5:45 pm</dd>
                                                    <dt class="skin-color">Location</dt>
                                                    <dd>London city</dd>
                                                </dl>
                                            </div>
                                            <div class="action col-xs-6 col-sm-2">
                                                <span class="price"><small>per day</small>$30.21</span>
                                                <a href="car-booking.html" class="button btn-small full-width">select</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <a href="#" class="button btn-large full-width">LOAD MORE CARS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <article class="detailed-logo">
                        <figure>
                            <img width="114" height="85" src="~/assest/images/hotels/logo/1.png" alt="">
                        </figure>
                        <div class="details">
                            <h2 class="box-title">BMW Mini<small>economy car</small></h2>
                            <span class="price clearfix">
                                <small class="pull-left">per day</small>
                                <span class="pull-right">$45.39</span>
                            </span>
                            <div class="mile clearfix">
                                <span class="skin-color">Mileage:</span>
                                <span class="mileage pull-right">3000 Miles</span>
                            </div>
                            <p class="description">Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                            <a class="button yellow full-width uppercase btn-small" href="#">add to wishlist</a>
                        </div>
                    </article>
                    <div class="travelo-box contact-box">
                        <h4>Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br>
                            <a class="contact-email" href="#">help@pims.com</a>
                        </address>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
