


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Contact Us</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="travelo-google-map block">
                    <div class="banner imagebg-container" style="height: 350px; background-image: url(/assest/images/pages/extra/holiday-banner1.jpg);">

                        <div class="container" style="margin-left: 75px;
margin-top: 50px;">
                            <i class="soap-icon-passenger circle white-color skin-bg no-border pull-left" style="font-size: 54px; margin-right: 15px;"></i>
                            <div class="table-wrapper hidden-table-sm">

                                <h1 class="med-caption yellow-color" style="margin-top: 28px;
font-size: 40px;">
                                    Welcome to PIMS Tourism!
                                </h1>
                                <p></p>

                                <!-- <h1 class="big-caption">MESSAGE FROM THE <em></em></h1>
            <h2 class="med-caption yellow-color"></strong>  CHIEF EXECITIVE <br> & <br>MANAGING DIRECTOR OFFICER <strong></h2> -->
                            </div>
                        </div>
                    </div>

                <div class="contact-address row block">
                    <div class="col-md-4">
                        <div class="icon-box style5">
                            <i class="soap-icon-phone"></i>
                            <div class="description">
                                <small>We are on 24/7</small>
                                <h5>Local:+92301-8142726</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box style5">
                            <i class="soap-icon-message"></i>
                            <div class="description">
                                <small>Send us email on</small>
                                <h5>info@pimstourism.com</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box style5">
                            <i class="soap-icon-address"></i>
                            <div class="description">
                                <small>meet us at</small>
                                <h5>Pakistan,Peshawar Town </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="travelo-box box-full">
                    <div class="contact-form">
                        <h2>Send us a Message</h2>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Your Name</label>
                                        <input type="text" name="name" class="input-text full-width">
                                    </div>
                                    <div class="form-group">
                                        <label>Your Email</label>
                                        <input type="text" name="email" class="input-text full-width">
                                    </div>
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" name="subject" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label>Your Message</label>
                                        <textarea name="message" rows="8" class="input-text full-width" placeholder="write message here"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sms-offset-6 col-sm-offset-6 col-md-offset-8 col-lg-offset-9">
                                <button class="btn-medium full-width">SEND MESSAGE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
