


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .imagecss1 {
            left: 0px !important;
            position: absolute !important;
            margin-top: -163px !important;
            margin-left: -244px !important;
        }
    </style>
</head>

<body>

    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Travel Guide</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Travel Guide</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-12">
                    <div class="tab-container style1" id="travel-guide">

                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="travel-guide-info">

                                <div class="image-container">
                                    <img src="~/assest/images/pages/extra/travel-guide/culture-history1.jpg" alt="" style="width: 100%;">
                                </div>
                                <div class="main-content">

                                    <div class="box row">
                                        <div class="col-md-4">
                                            <a href="#" title="" class="middle-block cssimage cssimage"><img class="middle-item" src="~/assest/images/pages/extra/travel-guide/culture1.jpg" alt="" /></a>
                                        </div>
                                        <div class="details col-md-offset-4">
                                            <h4 class="skin-color">Environmental Conservation</h4>
                                            <p>Pakistan’s natural environment is our greatest asset, upon which our businesses and jobs ultimately depend. It is therefore vital that we take active measures to protect our natural resources in order to guard against over-exploitation, which would undermine the ability of both current and future generations of Pakistan to benefit from them.</p>
                                        </div>
                                    </div>
                                    <div class="box row">
                                        <div class="details col-md-8">
                                            <h4 class="skin-color">Social Responsibility</h4>
                                            <p>Every individual and organization working in the tourism industry must be committed to the betterment of Pakistani society and in particular to host communities in the areas in which they work. As representatives of Pakistan we must set a strong positive example by giving back a fair share of what we take.</p>
                                        </div>
                                        <div class="col-md-offset-8">
                                            <a href="#" title="" class="middle-block cssimage"><img class="middle-item" src="~/assest/images/pages/extra/travel-guide/history1.jpg" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="box row">
                                        <div class="col-md-4">
                                            <a href="#" title="" class="middle-block cssimage"><img class="middle-item" src="~/assest/images/pages/extra/travel-guide/landscape1.jpg" alt="" /></a>
                                        </div>
                                        <div class="details col-md-offset-4">
                                            <h4 class="skin-color">Cultural Protection</h4>
                                            <p>The tourism industry plays an important role by promoting inter-cultural contacts. Furthermore, Pakistan's rich cultural heritage is a valuable resource in itself. Tourism activities must therefore be developed and managed in close consultation with host communities to guard against exploitation and to ensure that they are protected from unwanted cultural change.</p>
                                        </div>
                                    </div>
                                    <div class="box row">
                                        <div class="details col-md-8">
                                            <h4 class="skin-color">Cooperation</h4>
                                            <p>Development of sustainable tourism cannot be achieved by individuals and organizations working in isolation. To be successful, close co-operation among all the stakeholders is required.</p>
                                        </div>
                                        <div class="col-md-offset-8">
                                            <a href="#" title="" class="middle-block cssimage"><img class="middle-item" src="~/assest/images/hotels/3.png" alt="" /></a>
                                        </div>
                                    </div>
                                    <div class="box row">
                                        <div class="col-md-4">
                                            <a href="#" title="" class="middle-block cssimage"><img class="middle-item" src="~/assest/images/hotels/4.png" alt="" /></a>
                                        </div>
                                        <div class="details col-md-offset-4">
                                            <h4 class="skin-color">Development</h4>
                                            <p>PIMS aim is develop different tourist site it’s include Religious, Historical and Eco Touristsites with the support of Govt. and different business partners.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
