


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Travel Guide</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Travel Guide</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-12">
                    <div class="tab-container style1" id="travel-guide">
                        <ul class="tabs full-width" style="margin-left: -136px;">
                            <li class="active"><a href="#travel-guide-info" data-toggle="tab">Ayubia National Park</a></li>
                            <li class=""><a href="#travel-guide-sports" data-toggle="tab">White Water Sports</a></li>
                            <li><a href="#travel-guide-culture-history" data-toggle="tab">Wetlands & Historical</a></li>
                            <li><a href="#travel-guide-nightlife" data-toggle="tab">Marine Turtles & Mangrove</a></li>
                            <li><a href="#travel-guide-hotels" data-toggle="tab">Bird Watching</a></li>
                            <li><a href="#travel-guide-flights" data-toggle="tab">Bird Watching Along The Karakoram Highway</a></li>
                            <li><a href="#travel-guide-flights2" data-toggle="tab">Brown Bears Of Deosai Plains</a></li>
                            <li><a href="#travel-guide-flights3" data-toggle="tab">Indus Blind Dolphin</a></li>

                        </ul>
                    </div>
                </div>

                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="travel-guide">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="travel-guide-info">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan\DetailedPictures/AyubiaNationalPark.jpg" alt="">
                                   </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <img src="~/assest/images/line.png" alt="" style="    margin-left: 281px;">
                                        <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;">Ayubia National Park</h2>
                                        <p style="font-size: 15px;
    text-align: justify;">In the northern area of Pakistan’s District Abbotabad, Province Khyber Pakhtoonkhwa, Ayubia National Park is located and is one of the Pakistan’s biggest national parks. This park covers the area of 8,184 acres and seven major villages and four small towns Thandiani, Ayubia, Nathiagali and Khanspur surround this park. Name of this park is after the name of second president of Pakistan late Muhammad Ayub Khan. In 1984, this was declared as national park. From the behind of Ayubia Chair lift, Ayubia national park starts. There is a walk track from Ayubia chair lifts to DongiGali. There are so many beautiful and peaceful places in this national park of Pakistan and is a worth visiting place..</p>


                                        <img src="~/assest/images/line1.png" alt="" style="    margin-left: 83px;">
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="travel-guide-sports">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/White water rafting.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>White Water Sports</h2>

                                        <p style="font-size: 15px;text-align: justify;">These rivers in the north of Pakistan offer wonderful opportunity for white water sports. Some of the rivers that make great white water sports spots in Pakistan are the Chitral, Indus, Gilgit, Swat, Hunza, Kunar and the Neelam river. You can enjoy river rafting, canoeing and kayaking in these rivers.    </p>
                                        <p style="font-size: 15px;text-align: justify;">The rivers of Pakistan, spread like a net through its length and breadth. Right from the heights of the Karakorams, the Himalayas and the Hindukush, Pakistan’s rivers change its courses and flows until they all meet the mighty Indus, at different points, which ultimately falls into the Arabian Sea. These rivers are ideal for all types of water sports like, rafting, canoeing, boating and sailing. Following rivers in the .    </p>
                                        <p style="font-size: 15px;text-align: justify;">Northern Pakistan, are open for water sports, besides the Indus, the Ravi and the Chenab in KP, Punjab and Sindh provinces.  </p>
                                        <ul style="font-size: 16px;font-family: -webkit-body;">
                                            <li>• Indus (from Jaglot to Thakot)</li>
                                            <li>•	Kunhar (from Naran to Kaghan)</li>
                                            <li>•	Swat (from Bahrain to Saidu Sharif)</li>
                                            <li>•	Pankora (from Dir to Batkhela)</li>
                                            <li>•	Hunza (from Aliabad to Gilgit)</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-culture-history">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Wetlands & Historical Sites Of Salt Range.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Wetlands & Historical Sites Of Salt Range</h2>


                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane fade" id="travel-guide-nightlife">
                                <div class="image-container">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Best time to visit:November to March</h2>
                                        <p style="font-size: 15px;text-align: justify;">The Salt Range comprises two rows of low lying rugged hills that run east to west between the Soan and Jhelum rivers from the Grand Trunk Road, near Jhelum city to the River Indus, near Kalabagh. This area is said to record 600 million years of Earth’s history. Its name comes from the vast deposits of rock salt exposed and mined at Khewra. The salt was left behind when the sea, which extended over the Indus plains and the Potowar plateau, evaporated 600 million years ago. The rocks and fossils found around the salt range provide a complete record of the history of Earth. Layers of rock in the range have been tipped vertically or in some places are inverted, so that the older fossil-strewn layers now lie on the surface.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-hotels">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Marine Turtles and Mangro.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Marine Turtles & Mangrove Forests</h2>
                                        <p style="font-size: 15px;text-align: justify;">A drive to the beaches of Hawks Bay and Sandspit (near Karachi) is one of the greatest sources of pleasure to a nature lover. This unique tour will take you to the shores of the Karachi coast where the Green Turtle and Olive Ridley are found during the nesting seasons on the beaches of Hawks Bay and Sandspit. During autumn, after the monsoons when the sea is calmer the visitors sit quietly on the beach on a moonlit night and watch to see the turtles come up and repeat what they have been doing for generations. That is, laying their eggs and leaving them in the enclosing warmth of the soft sand for the heat of the sun to incubate till young hatchlings, perfect miniatures of the adult, emerge and scramble to the sea. The tour will also take you to Somiani Bay Mangrove Forest that is the breeding ground for fish and shrimps and home to many resident and migratory birds.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-flights">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Major Lakes.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Bird Watching, Keenjhar&Haleji Lakes</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            In the northeast of Karachi, forming the end of the chain of the great lakes, lies the beautiful fresh water lakes of Haleji and Keenjhar in the district of Thatta. Some forty thousand birds including over 70 species of waterfowl find refuge over here during the winter months. These lakes can be regarded as one of the most important wintering areas for waterfowls in Eurasia. Flamingos, Pelicans, Purple Gallinules, Ducks, Coots, Herons, Pheasants, Tailed Jacanas, to name but a few can be observed undisturbed in their natural habitat.
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Besides providing you with an excellent opportunity for bird-watching, our tour will also allow you to explore the historical monuments of Thatta and Chaukandi. Thatta has the largest necropolis in the world with beautifully engraved sandstone on the graves. The Shah Jehan Mosque of Thatta, built in the mid 17th century A.D., has 99 domes and is considered a masterpiece of Mughal architecture.
                                            .
                                        </p>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-flights1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Major Lakes.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Bird-Watching along The Karakoram Highway</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The length of the Karakoram highway is 800 km from Havelian (100 km north of Islamabad) and winds through Abbottabad-Mansehra-Thakot-Besham-Pattan-Chilas-Gilgit-Hunza to Khunjerab Pass beyond which Chinese territory begins. Abbottabad is 1255 meters high open valley with green surrounding mountains, cultivated fields, orchards and streams. The fauna in this area is oriental and the bird species are replaced by palae-arctic species as we proceed further along the KKH beyond Thakot..
                                        </p>
                                        <h3>Birds likely to be seen</h3>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Buzzard, Golden Eagle, Steppe Eagle, Lammergeier, Kestrol, Snow Partridge, Seesee Partridge, Himalayan Snow-cock, Chukor Partridge, Monal Pheasant, Snow Pigeon, Hill Pigeon, Rufous Turtle Dove, the Cuckoo, Great Horned Owl, the Swift, European Bee-eater, European Roller, Scalybeltied Green, Woodpecker, short-toed Lark, Horned Lark, Grey Martin, Swallow, Golden Oriole, Brahminy Myna, Magpie, Nutcracker, Alpine chough, Redbilled chough, Rook, Rufous tailed Flycatcher, Booted Warbler, Orphan Warbler, Chiffchaff and other Phylloscopus species, several other warblers, Blue throat and Ruby-throat, Chats, Thrushes, Wren, Dipper, Accentors, Tits, Tree creeper, wall creeper, pipits, Redpols, Wagtails, Finches and Buntings..
                                        </p>
                                        <h3>Mammals likely to be seen</h3>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Markhor, Shapu, Ibex, Marcopolo sheep, Marmot, Pikas, Brown Bear.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-flights2">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Brown Bears of Deosai Plains.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Brown Bears of Deosai Plains</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The Deosai Plains are 32 km south of Skardu. This plateau is the habitat of the greatly threatened Himalayan Brown Bear and many other wild animals. At an average elevation of 4000 meters, Deosai is designated as a National Park and protected area for wildlife. The rolling grassland here supports no trees or shrubs and the area is snow covered for seven months of the year. Spring comes to Deosai in August when millions of wild flowers begin to bloom all over the lush green grassland. This is a time when Deosai looks like a paradise with a landscape full of wild flowers on green rolling hills and crystal clear water streams with snow covered peaks in the background.

                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The Adventure Jeep Safari will take you right across the beautiful mountain ranges of the Himalayas and Karakorams. Travelling on Karakoram Highway (KKH), you will enjoy the most spectacular scenery on earth. Before reaching Deosai, you will also witness the magical views of Nanga Parbat (8126 m), the ninth highest peak of the world, from different angles. At Deosai, our first stop will be at Sheosar Lake. This place offers beautiful views of south face of Nanga Parbat and a panoramic view of Deosai Plains. At Bara Pani, you can spend one day and visit the core zone of National Park for Bear Watching or you may enjoy fishing in the cold waters of Barwai Stream. From Deosai, we will drive back via Skardu and Gilgit and have a chance to enjoy the most thrilling drive along the River Indus.
                                            .
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-flights3">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Indus Blind Dolphin.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Indus Blind Dolphin</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Indus is one of the greatest rivers of the world. It originates high in the mountains of Tibet and flows through Ladakh and Pakistan before flowing into the Arabian Sea. On its 3200 kms journey it passes through the great Himalayan and Karakoram ranges, the fertile plains of the Punjab and the vast desert of Sindh. Near the great Nanga Parbat (8126 m), it forms the borderline between the Asian and Indian continental plates. The Indus is blessed with a rich variety of wildlife throughout its journey.




                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Among these are various resident and migratory birds, mammals, reptiles and fish. The Indus Blind Dolphin is one of its most famous inhabitants. Through this tour, we will take you to Taunsa Barrage, which is a two and a half hour drive from Multan. From Taunsa Barrage, you will travel down the river Indus on a traditional fishing boat where you will catch unforgettable glimpses of rural life in the Southern Punjab and the innumerable species of birds that stop by in these areas on their north-south migratory route. You will also have the opportunity to see the remarkable blind dolphin skirting to the surface near your boat.
                                            .
                                        </p>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The boat safari will end at Ghazi Ghat Bridge from where we will drive back to Multan..
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <div class="toggle-container filters-container">
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/PakistanTours">Welcome To Pakistan</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/ecotourism">Eco Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/adventuretourism">Adventure Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/spiritualtourism">Spiritual Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/heritagetourism">Heritage Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/sportstourism">Sports Tourism</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </section>

