


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

            <div class="page-title-container">
           <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Out Bound Tours</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">Out Bound Tours</a></li>
                   
                    <li class="active">Egypt</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container tour-detail-page">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="featured-gallery image-box">
                            <span class="discount"><span class="discount-text">10% Discount</span></span>
                            <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                                <ul class="slides">
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/A.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/B.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/C.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/D.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/E.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/F.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/G.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/H.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/I.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/J.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/K.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/L.png" alt=""></a></li>
                                    <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/Egypt/M.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="flexslider image-carousel style1" id="post-carousel1"  data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                                <ul class="slides">
                                    <li><img src="~/assest/images/tour/packages/Egypt/A.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/B.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/C.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/D.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/E.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/F.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/G.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/H.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/I.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/J.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/K.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/L.png" alt="" /></li>
                                    <li><img src="~/assest/images/tour/packages/Egypt/M.png" alt="" /></li>
                                </ul>
                            </div>
                        </div>

                        <div id="tour-details" class="travelo-box">
                            

                            <div class="featured-image">
                                <h1>Travel More Egypt:</h1>
                            <img src="~/assest/images/tour/packages/adventue-cht.png" alt="">
                        </div>
                            
                            <h2 style="font-weight: bold;">License No. 1451
17 extended fof Ramsis st, Cairo.
 </h2>
                            <h2 style="font-weight: bold;">Program 2 Nts. 3 days </h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"> <h2 style="font-weight: bold;">Day 1: Arrival Cairo</h2>
<p style="font-size: 14px;      text-align: justify;    color: black;">meet and assist you at Cairo International Airport and then our representative will escort you to the hotel by exclusive air-conditioned deluxe vehicle. Welcome Drink Overnight in Cairo.</p>
                        <br> <br>
<h2 style="font-weight: bold;">Day 2: Giza / Cairo Tour</h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">
Breakfast and then met by your tour guide who will accompany you to the Great Pyramids of Cheops, Chefren and Mykerinus, famous Sphinx and Valley  temple facing the great statue. Lunch at good quality local restaurant. Then transfer to enjoy the Egyptian Museum, Continue to Coptic Cairo to visit the Hanging Churchand Ben Ezra Synagogue. Continue to Islamic Cairo, where you will be able to explore Khan El Khalili, Cairo’s old bazaar. Overnight in Cairo.
 </p>
                            <img src="~/assest/images/tour/packages/Egypt/a.png" alt="">
                            <br>
                            <br>
                            <img src="~/assest/images/tour/packages/Egypt/b.png" alt="">
                            <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"><i>Meals: Breakfast, Lunch</i></p><br> <br>

                            <h2 style="font-weight: bold;">Day 3: Final Departure</h2>
                            <h2 style="font-weight: bold;"></h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">After breakfast, transfer to Cairo International Airport for departure.
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Meals: Breakfast</p>
                        <h2 style="font-weight: bold;">Program Included:</h2>
                            
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meet and assist by our representatives at airports </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All transfers by a private air-conditioned vehicle</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Hotel in Cairo for 2 nights including bed and breakfast</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All sightseeing tours are private tours</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Egyptology English speaking tour guide</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entrance fees </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All transfers by a modern air-conditioned vehicle</p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meals as indicated in the above itinerary</p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All service charges and taxes</p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                            
                        
                            <p style="font-size: 14px;      text-align: justify;    color: black;"><i></i></p>
                        
                        <h2 style="font-weight: bold;"></h2>
                        <br><br>
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                            <h2 style="font-weight: bold;"></h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entry visa to Egypt</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Personal spending</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Optional activities</p><br> <br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"><i></i></p>
                        
                        
                        <h2 style="font-weight: bold;">Program 4 Nts. 5 Days</h2>
                            <h2 style="font-weight: bold;">• Itinerary</h2>
                            <h2 style="font-weight: bold;"></h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Spend 5 days with the Nile river in a private guided tour of Egypt throughout the ages. Visit Pyramids and the Sphinx, the Egyptian Museum, Coptic Cairo, and Islamic Cairo. After your adventures in Egypt’s capital, you’ll head south to Luxor, where you’ll see Hatshepsut Temple, the Valley of the Kings, Karnak Temples and Luxor Temple.
</p><br> <br>
                        <h2 style="font-weight: bold;">• Itinerary</h2>
                            
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1: Arrival in Cairo - Welcome to Egypt
meet and assist you at Cairo International Airport and will then escort you to your hotel Welcome Drink Overnight in Cairo.
</p><br> <br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2: Pyramids and Cairo Sightseeing
After breakfast meet your guide to visit one of the seven wonders of the ancient world: the Great Pyramids of Cheops, Chefren, and Mykerinus, along with the famous Sphinx and Valley Temple. Then, head out to the Egyptian Museum, where the treasures of the boy king Tutankhamen. Continue to Coptic Cairo to visit the Hanging Church and Ben Ezra Synagogue followed by a short drive to Islamic Cairo, where you will be able to Khan El Khalili, Cairo’s oldest and most alluring bazaar. Back to hotel and overnight in Cairo. Meals: Breakfast, Lunch.</p>
                         <img src="~/assest/images/tour/packages/Egypt/c.png" alt=""><br> <br>
                                                    <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3: Fly from Cairo to Luxor - Valley of the Kings Tour
breakfast, check out from the hotel and then transfer to Cairo Airport for flight to Luxor, taken to your hotel to check in. You’ll proceed to visit the Valley of the Kings, then to mortuary Temple of Queen Hatshepsut, which was built by the architects of the New Kingdom during the 15th century BC. Travel on to the Colossi of Memnon.Then transfer to your hotel in Luxor, where you’ll stay overnight. Optional trip to a sound & light show at Karnak Temples
Meals: Breakfast, Lunch 

</p>
                         <img src="~/assest/images/tour/packages/Egypt/d.png" alt=""><br> <br>
  <p style="font-size: 14px;      text-align: justify;    color: black;">
Day 4: Luxor Sightseeing and Flight to Cairo
breakfast, explore the towering Karnak Temples and the famed Luxor then you will be driven to the Luxor airport for your flight to Cairo, meet and assisted at the airport and taken to your hotel. Meals: Breakfast, Lunch

</p>
                        <img src="~/assest/images/tour/packages/Egypt/e.png" alt=""><br> <br>
                        
                        
                        
                                                    <p style="font-size: 14px;      text-align: justify;    color: black;">Day 5: Cairo - Fly Back Home
Enjoy breakfast at your hotel in Cairo, after which you will be transferred to Cairo International Airport for departure.
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"><i>Meals: Breakfast.</i></p>
                        
                         <h2 style="font-weight: bold;">Program Included:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meet and greet service by our representatives upon your arrival.</p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All transfers in a private air-conditioned vehicle.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Domestic flights (Cairo / Luxor / Cairo).</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Hotel in Cairo for 3 nights, including daily breakfast.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Hotel in Luxor for 1 night, including daily breakfast.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All sightseeing tours.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Egyptology English speaking tour guide.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entrance fees to all sites mentioned on the itinerary.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All meals mentioned on the itinerary.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All service charges and taxes.</p>
                            
                        
                            
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	International airfare.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entry visa to Egypt.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Any optional tours.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Personal spending.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Tipping.</p>
                           <br> <br>
                        
                        <h2 style="font-weight: bold;">Program 7 Nts. 8 days</h2>
                                                   <p style="font-size: 14px;      text-align: justify;    color: black;">the Nile in an unforgettable 8-day cruise package. You’ll visit the most ancient attractions in Cairo, Luxor, and Aswan.</p>
                                                    <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1: Arrival in Cairo - Welcome Cairo, Egypt .
Our representative will meet and assist you at Cairo International Airport and will pick up you to the hotel. Overnight in Cairo at your hotel. Welcome drink.
</p><br> <br>
                                                   <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2: Pyramids and Cairo Sightseeing
breakfast start the tour to visit the Great Pyramids of Cheops, Chefren, and the famous Sphinx and Valley Temple. A visit to the Solar Boat Museum in the pyramid area is included. Lunch will be served at a quality local restaurant. Then you’ll head out to the Egyptian Museum, where treasures of the boy king Tutankhamen await you. short drive to Islamic Cairo, where to explore Khan El Khalili, Cairo’s oldest and alluring bazaar. back to the hotel and overnight in Cairo. Meals: Breakfast, Lunch.
</p>
                        <img src="~/assest/images/tour/packages/Egypt/f.png" alt=""><br> <br>
     <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3: Fly from Cairo to Luxor – Cruise breakfast, check out from the hotel in the morning and then transfer to Cairo Airport for your flight to Luxor, and then transferred to the cruise ship for check-in. lunch aboard the cruise ship, followed by a visit to Karnak temple and Luxor temple.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">
Dinner will be served back on the ship, where you’ll stay overnight.
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Meals: Breakfast, Lunch, Dinner.</p>
                          <img src="~/assest/images/tour/packages/Egypt/g.png" alt=""><br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 4: Luxor Nile Cruise 
breakfast onboard, then head out to visit the West Bank of ancient Thebes followed by a trip to the Valley of the Kings, with its royal tombs, including those of King Tut and Ramses the 6th. Afterward, you’ll see the temple of Medinet Habu
 Dier El Madina, and the Colossi of Memnon. You’ll have lunch back onboard the cruise ship as you sail to Esna and pass through the Esna
 ock. There will be a cocktail reception on board, followed by dinner and overnight in Esna. Meals: Breakfast, Lunch, Dinner.</p>
                        <img src="~/assest/images/tour/packages/Egypt/h.png" alt="">
                        <br> <br>
                            <h2 style="font-weight: bold;"></h2>
                            <h2 style="font-weight: bold;"></h2>

                         

                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 5: Edfu and Kom Ombo Temples
In the early morning, the ship will sail on to Edfu. You’ll have breakfast on board, followed by a visit to the Temple of Edfu, the best-preserved temple of the ancient world. The structure is dedicated to Horus, the falcon god. You’ll then sail to Kom Ombo and have lunch. After your meal, you’ll head out to the twin temple of Kom Ombo, where you’ll learn about the crocodile god Sobek and the falcon god Horus, whose monuments decorate each half of the temple. You’ll have dinner and stay overnight in Kom Ombo.
</p>
                        <img src="~/assest/images/tour/packages/Egypt/i.png" alt="">
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Meals: Breakfast, Lunch, Dinner.</p>
                        
                        <br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 6: Aswan Nile Cruise Tours
You’ll have breakfast Visits to the High Dam and Philae temple are followed by lunch back onboard the ship. A short motorboat trip will take you to the Nubian Museum, after which you’ll have dinner on the ship and stay overnight in Aswan. Meals: Breakfast, Lunch, Dinner.
</p><br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 7: Nile Cruise - Disembarkation
After enjoying a last breakfast on the ship, you’ll disembark and be transferred to Aswan airport for a flight to Cairo. Upon your arrival, you’ll be taken to your hotel in Cairo and stay overnight. Meals: Breakfast</p><br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 8: Cairo - Flight Back Home
Breakfast transferred to Cairo International Airport for departure. Meals: Breakfast.
</p>
                        <h2 style="font-weight: bold;">Program Included:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meet and assist by our representatives upon your airport arrival.</p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All airport transfers in a private air-conditioned deluxe vehicle </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 3 nights in Cairo, breakfast included</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 4 nights onboard </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Domestic flight tickets Cairo/ Luxor .Aswan/Cairo </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All sightseeing tours in Cairo privately guided</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All sightseeing tours </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entrance fees to all sites listed on the itinerary</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	English-speaking guide for all tours</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meals at the hotel, Nile cruise and during your tours as listed on the itinerary </p>
                      
                            
                        
                            
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	International airfare  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Any optional tours  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Personal spending</p>
                        
                       <br> <br>
                        
                        
                        <h2 style="font-weight: bold;">Program 7 Nts. 8 Days</h2>
                            <h2 style="font-weight: bold;">Pyramids & The Nile by Train</h2>
                            <h2 style="font-weight: bold;">•	Itinerary</h2>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">you’ll do some traveling via sleeper train instead of taking domestic flights. You’ll visit the Great Pyramids and witness the astounding beauty of the last remaining of the original seven wonders of the ancient world. After exploring the majesty of Cairo’s past and present, you’ll board a sleeper train headed southward to Aswan. cruise ship awaits you, will spend days sailing and sightseeing between Aswan and Luxor before heading back to Cairo via train.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1: Arrival in Cairo - Welcome to Egypt
Our representative will assist you at Cairo International Airport and will then escort you to your hotel in an air-conditioned deluxe vehicle. Overnight in Cairo. Welcome drink included
</p><br> <br>
                                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2: Pyramids and Cairo Sightseeing - Train to Aswan
breakfast in Cairo before checking out, you will visit one of the seven wonders of the ancient world: the Great Pyramids of Cheops, Chefren, and Mykerinus, along with the famous Sphinx and Valley Temple. Then, head out to the Egyptian Museum where the treasures of the boy king Tutankhamen await you. Continue to Coptic Cairo to visit the Hanging Church and Ben Ezra Synagogue followed by a short drive to Islamic Cairo where you will be able to explore Khan El Khalili, Cairo’s oldest and most alluring bazaar. then you will be transferred to the Giza train station to catch the sleeper train from Cairo to Aswan. Dinner and breakfast will be served on board. Overnight accommodations inside your compartment. Meals: Breakfast, Lunch, Dinner.
</p>
                            <img src="~/assest/images/tour/packages/Egypt/j.png" alt=""><br> <br>
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3: Aswan Nile Cruise Tours</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Upon arrival at the Aswan train station, you will be met and assisted by our  representative, who will then transfer you to your Nile River cruise ship. lunch on board, after which you will be guided to visit the famous High Dam, majestic Philae temple of devotion to the two goddesses Isis and Hathor, and the massive Unfinished Obelisk, still resting on its side in the stone quarries of ancient Egypt. Then, back to the cruise ship with dinner on board and overnight in Aswan.</p>
                        <img src="~/assest/images/tour/packages/Egypt/k.png" alt="">
                        
                        
 
                            <p style="font-size: 14px;      text-align: justify;    color: black;"><i>Meals: Breakfast, Lunch, Dinner.</i></p><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 4: Kom Ombo and Edfu Temple After breakfast on board, you’ll sail to Kom Ombo,  where you’ll encounter the twin temple of Kom Ombo, where you’ll learn about the crocodile god Sobek and the falcon god Horus, whose monuments decorate each half of the temple. You’ll have your lunch back on board the ship and sail on to Edfu, where you’ll stop to visit the Temple of Edfu, the best-preserved temple of the ancient world. The structure is dedicated to Horus, the falcon god. Reboard the ship for afternoon tea and a leisurely ride to Esna.</p>
                        <img src="~/assest/images/tour/packages/Egypt/l.png" alt="">
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Dinner and overnight on board , Meals: Breakfast, Lunch, Dinner
</p><br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 5: Luxor Nile Cruise Tours</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">early morning, enjoy breakfast on board as you sail to Luxor. You’ll then set out to visit the West Bank of Luxor, take an excursion to the Royal Cemetery for 62 Pharaohs, the Valley of the Kings, then to mortuary Temple of Queen Hatshepsut, which was built by the architects of the New Kingdom during the 15th century BCE at Deir El-Bahari.
 You’ll proceed to the towering Colossi of Memnon, and then back to the Nile cruise ship and have lunch aboard. As the ship makes its way up the Nile, you’ll enjoy afternoon tea. Dinner on board and overnight in Luxor.
</p>
                        <img src="~/assest/images/tour/packages/Egypt/m.png" alt="">
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Meals: Breakfast, Lunch, Dinner.
</p><br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 6: Luxor Nile Cruise - Train to Cairo</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Breakfast aboard the cruise before disembarkation, and then you will be accompanied by your tour guide to the ancient Karnak and Luxor temples along the east bank of Luxor. Later, you’ll head to the Luxor train station to catch the sleeper train back to Cairo. Dinner will be served aboard the train. Overnight .
</p>
                        <img src="~/assest/images/tour/packages/Egypt/n.png" alt="">
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Meals: Breakfast, Dinner.</p><br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 7: Cairo Optional Excursions</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Breakfast aboard the sleeper train before arriving at the Giza train station, where you will be met and assisted Tours representative who will transfer you to your hotel for some leisure time . There are some optional excursions available in Cairo: you may wish to visit the Step Pyramid of King Zoser in Sakkara and Memphis. Overnight stay at your hotel in Cairo. Meals: Breakfast.</p>
                        <img src="~/assest/images/tour/packages/Egypt/o.png" alt=""><br> <br>
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 8: Cairo - Fly Back Home
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">breakfast at your hotel in Cairo, with some free time before your flight. After check out, you’ll be escorted to Cairo International Airport for final departure.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Meals: Breakfast</p>
                        
                         <h2 style="font-weight: bold;">Program Included:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meet and greet service by our representatives </p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All transfers in a private air-conditioned vehicle</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 2 nights in Cairo including bed and breakfast</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 3 nights on Nile cruise ship, full board</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 2 nights on sleeper train, half board</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Private sightseeing tours in Cairo </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Sightseeing tours on the cruise </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entrance fees to all sites mentioned on the itinerary</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All meals mentioned on the itinerary</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Portage as needed</p>
                      
                            
                        
                            
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"><i>International airfare</i></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entry visa to Egypt</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Any optional tours</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Personal spending</p>
                        
                        <br> <br>
                        
                        
                        <h2 style="font-weight: bold;">Program 09 Nts. 10 Days Cairo – Dahab - Alexandria</h2>
                            <h2 style="font-weight: bold;"></h2>
                            <h2 style="font-weight: bold;"></h2>
                               <p style="font-size: 14px;      text-align: justify;    color: black;">Day 01 arrival Welcome to Egypt
meet and assist you at Cairo International Airport and will then escort you to your hotel Welcome drink Overnight in Cairo.
visit imam Syafie – Shikh Zakaria Al Ansari – citadel Salahuddin
</p>
                        <img src="~/assest/images/tour/packages/Egypt/p.png" alt="">
    
                        <p style="font-size: 14px;      text-align: justify;    color: black;">– Ali Pasha mosque – Amru- AlAsr (B/L.D).</p><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 02 transfer to Dahab by Ahmed Hamdi tunnel get of at Israel defense force and now museum – visit uyun Musa stay in Dahab and visit Bazar there (B/L.D).</p>
                        <img src="~/assest/images/tour/packages/Egypt/q.png" alt=""><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 03 Dahab St, Cathrine
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Transfer from Dahab to st, Petersburg Cathrine see the history of Samir Cattle the story mentioned in Quran – visit the tomb of Harun and Salah back to the hotel. Optional the night will climb mount Tursina at the top of the hill where the profit Moses mustered for 40 days. (B/L.D).</p>
                        <img src="~/assest/images/tour/packages/Egypt/r.png" alt=""><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 04 SINA – CAIRO
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Down from the mount of tursina after seeing the seat of the prophet Moses, visiting St, Cathrine return to the hotel and get ready to return to Cairo. (B/L.D).</p>
                        
                        <br> <br>
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 05 CAIRO - GIZA
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Visit pyramids, sphinx , Al Azhar Mosque visit the tomb and Saidina mosque Hussain –visit Khan El khaliki back to hotel (B/L.D).</p>
                                
                            <img src="~/assest/images/tour/packages/Egypt/s.png" alt=""><br> <br>
                        
                        
                        
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 06 CAIRO – ALEXANDRIA
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Visit citadel of Qaitbay</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">El Muci Abu El Abbas mosque and the tomb of prophet Daniel – went of the tomb of Luqman Al Hakim back to Cairo. (B/L.D).</p>
                          <img src="~/assest/images/tour/packages/Egypt/t.png" alt=""><br> <br>
                        
                        
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 07 GIZA FAYYOUM
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Visit Qarun castle and desert lakes this area was opened by prophet Yousef 
Back to the hotel. (B/L.D).
</p>
                        <img src="~/assest/images/tour/packages/Egypt/u.png" alt=""><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 08 GIZA – CAIRO
Visit the tomb o the Ulama and visit the major mosque in Egypt Sultan Hassan , Amru Alasr – masjed Sayeda Nafesa back to the hotel. (B/L.D).
</p>
                        <br> <br>
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 09 CAIRO – AIRPORT (B/L).
Breakfast free time till lunch then transfer to the airport for final departure.
</p><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 10 ARRIVE TO MALAYSIA
</p>
                        
                        
                         <h2 style="font-weight: bold;">Program Included:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meet and assist by our representatives upon your airport arrival
</p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All airport transfers in a private air-conditioned deluxe vehicle </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation in Cairo, breakfast included</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation Dahab</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Egyptology English specking guided</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All sightseeing tours </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entrance fees to all sites listed on the itinerary</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meals as mentioned per itinerary </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                      
                            
                        
                            
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	International airfare  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Any optional tours  </p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Personal spending</p>
                        <br> <br>
                        
                        
                        <h2 style="font-weight: bold;">Program 09 Nts. 10 Days</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Pyramids & The Nile by Train</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Itinerary</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">you’ll do some traveling via sleeper train instead of taking domestic flights. You’ll visit the Great Pyramids and witness the astounding beauty of the last remaining of the original seven wonders of the ancient world. After exploring the majesty of Cairo’s past and present, you’ll board a sleeper train headed southward to Aswan. cruise ship awaits you, will spend days sailing and sightseeing between Aswan.</p><br> <br>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1: Arrival in Cairo - Welcome to Egypt</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Our representative will assist you at Cairo International Airport and will then escort you to your hotel in an air-conditioned deluxe vehicle. Overnight in Cairo. Welcome drink included</p><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2: Pyramids and Cairo Sightseeing - Train to Aswan</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">breakfast in Cairo before checking out, you will visit one of the seven wonders of the ancient world: the Great Pyramids of Cheops, Chefren, and Mykerinus, along with the famous Sphinx and Valley Temple. Then, head out to the Egyptian Museum where the treasures of the boy king Tutankhamen await you. Continue to Coptic Cairo to visit the Hanging Church and Ben Ezra Synagogue followed by a short drive to Islamic Cairo where you will be able to explore Khan El Khalili, Cairo’s oldest and most alluring bazaar. then you will be transferred to the Giza train station to catch the sleeper train from Cairo to Aswan. Dinner and breakfast will be served on board. Overnight accommodations inside your compartment. Meals: Breakfast, Lunch, Dinner.</p>
                        <img src="~/assest/images/tour/packages/Egypt/v.png" alt=""><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3: Aswan Nile Cruise Tours</p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">Upon arrival at the Aswan train station, you will be met and assisted by our  representative, who will then transfer you to your Nile River cruise ship. lunch on board, after which you will be guided to visit the famous High Dam, majestic Philae temple of devotion to the two goddesses Isis and Hathor, and the massive Unfinished Obelisk, still resting on its side in the stone quarries of ancient Egypt. Then, back to the cruise ship with dinner on board and overnight in Aswan. Meals: Breakfast, Lunch, Dinner.
</p>
                        <img src="~/assest/images/tour/packages/Egypt/w.png" alt=""><br> <br>
                        
                        
                        
                         <p style="font-size: 14px;      text-align: justify;    color: black;">Day 4: Kom Ombo and Edfu Temple</p>
                         <p style="font-size: 14px;      text-align: justify;    color: black;">After breakfast on board, you’ll sail to Kom Ombo,  where you’ll encounter the twin temple of Kom Ombo, where you’ll learn about the crocodile god Sobek and the falcon god Horus, whose monuments decorate each half of the temple. You’ll have your lunch back on board the ship and sail on to Edfu, where you’ll stop to visit the Temple of Edfu, the best-preserved temple of the ancient world. The structure is dedicated to Horus, the falcon god. Reboard the ship for afternoon tea and a leisurely ride to Esna.</p>
                         <img src="~/assest/images/tour/packages/Egypt/x.png" alt="">
                         <p style="font-size: 14px;      text-align: justify;    color: black;">Dinner and overnight on board , Meals: Breakfast, Lunch, Dinner</p><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 5: Luxor Nile Cruise Tours</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">early morning, enjoy breakfast on board as you sail to Luxor. You’ll then set out to visit the West Bank of Luxor, take an excursion to the Royal Cemetery for 62 Pharaohs, the Valley of the Kings, then to mortuary Temple of Queen Hatshepsut, which was built by the architects of the New Kingdom during the 15th century BCE at Deir El-Bahari. You’ll proceed to the towering Colossi of Memnon,
 and then back to the Nile cruise ship and have lunch aboard. As the ship makes its way up the Nile, you’ll enjoy afternoon tea. Dinner on board and overnight in Luxor.
Meals: Breakfast, Lunch, Dinner.
</p>
                        <img src="~/assest/images/tour/packages/Egypt/y.png" alt=""><br> <br>
                        
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 6: Luxor Nile Cruise - Hurghada</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Breakfast aboard the cruise before disembarkation, and then you will be accompanied by your tour guide to the ancient Karnak and Luxor temples along the east bank of Luxor. Later, you’ll head to the hurghada lunch and dinner over night.</p>
                        <img src="~/assest/images/tour/packages/Egypt/z.png" alt=""><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 7: breakfast, transfer to Hurghada , lunch and dinner over night.
</p><br> <br>
                        
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 8: Hurghada , free on the beach or optional (diving or safari) Meals:  soft all inclusive. Over night.</p>
                        <img src="~/assest/images/tour/packages/Egypt/za.png" alt=""><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 09  breakfast ,  transfer back to Cairo, 5 hours , arrival,  over night in the hotel.</p><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 10: Cairo - Fly Back Home</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">breakfast at your hotel in Cairo, with some free time before your flight. After check out, you’ll be escorted to Cairo International Airport for final departure.
Meals: Breakfast
</p>
                        <h2 style="font-weight: bold;">Program Included:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Meet and greet service by our representatives </p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All transfers in a private air-conditioned vehicle</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 2 nights in Cairo at Movenpick sphinx based on BB basis .
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 3 nights on Nile cruise ship, full board
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Accommodation for 1 nights on sleeper train, half board
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Private sightseeing tours in Cairo 
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	2accommodation 3 nights in Hurghada at Hilton hotel or similar.
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Sightseeing tours on the cruise 
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entrance fees to all sites mentioned on the itinerary
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	All meals mentioned on the itinerary
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Portage as needed
</p>
                      
                            
                        
                            
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;"><i>International airfare</i></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Entry visa to Egypt
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Any optional tours
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">⦁	Personal spending
</p><br> <br>

                        
                            <h2 style="font-weight: bold;">EGYPT DESERT SAFARI TOURS</h2>
                            <h2 style="font-weight: bold;">3-day Tour to White Desert & Bahariya</h2>
                       <br> <br>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Enjoy 3-day tour to the amazing Bahariya Oases With camping in the White Desert, exploring the beauty of this unique area in the Western Desert and touring its landmarks like the Alexander Temple, Crystal Mountain and many more.</p><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1: Cairo - Bahariya Oasis</p>
                        <img src="~/assest/images/tour/packages/Egypt/zb.png" alt="">
                        <p style="font-size: 14px;      text-align: justify;    color: black;">07:00 your tour guide and driver will pick you up from your hotel in Cairo and transfer you to Bahariya Oasis, about 350 km east Cairo, this journey takes about 4 hours, lunch will be served at local restaurant in Bahariya oasis. Then visit the Mummies Museum, that is a huge burial site at Bahariya Oasis in the Western Desert of Egypt and the Tomb of Bannantiu in the Bahariya Oasis. Then you will enjoy climbing the English House, the sand dunes and the Salt Lake. Overnight in Bahariya oasis.
Meals: Lunch, Dinner
</p>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2: White Desert - Black Desert – Camping
</p><br> <br>
                        <img src="~/assest/images/tour/packages/Egypt/zc.png" alt="">
                        <p style="font-size: 14px;      text-align: justify;    color: black;">After breakfast, continue driving to visit the Black Desert and the natural hot spring of Valley of El Haize, then drive to see the quartz crystal at Crystal Mountain, and the rocky formations in the Valley of Agabat. Continue driving to the White Desert National Park the most well-known desert destination in Egypt - and for a good reason. The quantity of unearthly and beautiful wind-carved rock formations shaped in the form of giant mushrooms or pebbles is unequalled in any desert in the world. Then transfer back to the campsite at Al Haiz for overnight stay.</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Meals: Breakfast, Lunch, Dinner</p><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3: White Desert - Back to Cairo</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Enjoy breakfast at the campsite with amazing sunrise views. Later you will be driven back to Cairo. Meals: Breakfast</p><br>
                        <h2 style="font-weight: bold;">Program Included:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Pick up from your hotel in Cairo and back

</p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Accommodation in White Desert camping for 1 night on full board basis
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Accommodation in Bahariya for 1 night at (International Hot Spring), Oasis Style Hut 
 
 on half board</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Camping equipment like sleeping bags, camel blankets, tents
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All sightseeing tours as mentioned in the itinerary
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">All transfers from Cairo to Bahariya by an air-conditioned vehicle</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All transfers inside Bahariya Oasis and White Desert by 4x4 car
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Entrance fees to the mentioned sightseeing
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All meals as mentioned in the itinerary
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	English Speaking tour guide during your trip
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Bottled water during the trips
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All taxes & service charge
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                      
                            
                        
                            
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Any optional tours
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Personal Spendings
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Tipping
</p><br> <br>

                            <p style="font-size: 14px;      text-align: justify;    color: black;"><i></i></p>
                        
                        <h2 style="font-weight: bold;">Program Cairo - Siwa - Bahaeiya 4Days / 3Nights</h2>
                            <h2 style="font-weight: bold;"></h2>
                            <h2 style="font-weight: bold;"></h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1:
Meet in Cairo start the tour from Cairo lunch in Mersa Matruh after we arrived after moon from Cairo to Siwa Oasis so we can make small tour to (shaly) means in Siwa language old oasis or old siwa . After shaly we go to the hotel
</p>
                        <img src="~/assest/images/tour/packages/Egypt/zd.png" alt=""><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2: 
we start  with 
1– gabel Eldakroor ( there is some  houses like museum to show you how) they build  the houses in the Oasis
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">2-Cleopatra bath - Aghormy – this is another part from the city like shaly big build on the mountain with one enters and every family have one 
or two room deepens how big the family  and they close the entrains every day after sensed for the safety inside this build the spring  to get the water and the mosque to pray     
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">3- Gabel Elmawta (Mountain of the death) this is the cemetery in the top of the mountain</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">4- Fatnas bath & salt lake. It is very nice view to make picture so from there we make sun said overnight hotel.</p>
                         <img src="~/assest/images/tour/packages/Egypt/a.png" alt=""><br> <br>
                        
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3: 
blad  Elroom ( roman city ) there is still some building from the roman time 
shyatah . This is lake in the middle of the greet sand sea it is so nice to see from the top of the dunes ber wahed . this is spring in the middle of the greet sand see it is so  beautiful to see in the middle sand dunes green trees and water .after diner / hotel.</p><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 4:
After the breakfast we drive back to Cairo
</p>
                        <h2 style="font-weight: bold;">Program Included:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Pick up from your hotel in Cairo and back
</p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All sightseeing tours as mentioned in the itinerary
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	 All transfers from Cairo by an air-conditioned vehicle
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All transfers inside Oasis and White Desert by 4x4 car
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Entrance fees to the mentioned sightseeing
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All meals
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	English Speaking tour guide during your trip
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Bottled water during the trips
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	All taxes & service charge
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                      
                            
                        
                            
                            <h2 style="font-weight: bold;">Program Excluded:</h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Any optional tours
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Personal Spending
</p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;">•	Tipping
</p>
<br> <br>
                        
                        
                        
                            
                        
                        <h2 style="font-weight: bold;">Program Cairo - Riyan Valley- Bahariya Oasis 6Days / 5 Nights</h2>
                            <h2 style="font-weight: bold;">The start point from Cairo To 
Al - Fayum - Wadi Al-Rayan  -Wadi El-Hitan –Bawiti - White desert 
Crystal Mountain- Black desert - Bawiti -Cairo</h2><br> <br>
                        
                        
                        
                            <h2 style="font-weight: bold;">Program Dakhla Off Rode 4Days / 3 Nights </h2><br> 
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1 :
Moving after breakfast to the black desert –Bedouin village [El Haez ]-Doctor mountain – crystal mountain –El Agabat area –overnight in a camp there
</p>
                            <img src="~/assest/images/tour/packages/Egypt/b.png" alt=""><br> <br>
                        
                        
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2 : 
Moving from El Agabat to –sand dunes –magic spring –white desert overnight in a camp there . 
</p><br> <br>
                        
                        
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3 : 
Moving from the white desert to Farafra oasis
 –then by the desert way towards El Dakar –Remish El Ain –Khrafish –overnight in a camp there . </p>
                        <img src="~/assest/images/tour/packages/Egypt/c.png" alt=""><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 4 :
Moving From Farafra to El Qasr –Beer El Gable then entering the Dakhla.
</p><br> <br>
                        
                        
                        
                        <h2 style="font-weight: bold;">Cairo - Alexandria- Siwa - Bahariya-Luxor 8Days/ 7 Nights</h2>
                            <h2 style="font-weight: bold;"></h2>
                            <h2 style="font-weight: bold;"></h2>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 1: 
In the morning meeting in Cairo and transfer to Alexandria 
After lunch we continue to Al Alamein and Mersa Matruh </p>
                        <img src="~/assest/images/tour/packages/Egypt/d.png" alt=""><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 2:
One rest day in Mersa Matruh
Overnight in the same hotel
</p>
                        <br> <br>
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 3: 
Continue the tour to Siwa oasis, Local tour with 4x4 cars  Overnight in Siwa 
</p>
                         <img src="~/assest/images/tour/packages/Egypt/e.png" alt=""><br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 4:
Continuing tour to Bahariya oasis Local tour with 4x4 cars Overnight in a hotel.
</p>
                        <img src="~/assest/images/tour/packages/Egypt/za.png" alt=""><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 5:
Safari tour to the White Desert
 Overnight under the starry sky.</p>
                        <img src="~/assest/images/tour/packages/Egypt/zb.png" alt="">
                        <br> <br>
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 6:
After breakfast we leave the White Desert to continue the trip to Farafra oasis
Local tour with 4x4 cars
After lunch we continue the tour to Dakhla oasis 
</p>
                        <img src="~/assest/images/tour/packages/Egypt/zc.png" alt=""><br> <br>
                        
                        
                        
                        <p style="font-size: 14px;      text-align: justify;    color: black;">Day 7:
Local tour in Dakhla oasis with 4x4 cars Continue the tour to Kharga oasis
Overnight in Kharga oasis
</p>
                            <img src="~/assest/images/tour/packages/Egypt/zd.png" alt=""><br> <br>
                        
                        
                        
                        
                            <p style="font-size: 14px;      text-align: justify;    color: black;">Day 8:
Local tour in Kharga oasis with 4x4 cars
above program will cost 650 USD per person 
Best regards 
</p>
                            <p style="font-size: 14px;      text-align: justify;    color: black;"><i></i></p>
                        
                        
                        
                        
                         <h2 style="font-weight: bold;"></h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p> 
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                      
                            
                        
                            
                            <h2 style="font-weight: bold;"></h2>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>
                        <p style="font-size: 14px;      text-align: justify;    color: black;"></p>

                           
                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                        <div class="travelo-box contact-box">
                            <h4 class="box-title">Need PIMS Help?</h4>
                            <p style="font-size: 14px;      text-align: justify;    color: black;">We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726</span>
                                <br />
                                <a href="#" class="contact-email">help@pims.com</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        