


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Rome City Tour</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Rome City Tour</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container tour-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-gallery image-box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                            <ul class="slides">
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/far.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d1.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d2.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d3.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d4.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d5.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d6.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d6a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d7.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d7a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bud/d7b.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="flexslider image-carousel style1" id="post-carousel1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                            <ul class="slides">
                                <li><img src="~/assest/images/tour/packages/bud/far.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d1.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d2.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d3.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d4.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d5.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d6.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d6a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d7.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d7a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bud/d7b.png" alt="" /></li>
                            </ul>
                        </div>
                    </div>

                    <div id="tour-details" class="travelo-box">
                        <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
                            <div class="col-sm-8 table-cell">
                                <div class="detailed-features">

                                    <div class="flights table-wrapper">
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-01:<small>Arrival to Islamabad Pakistan International airport.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Visit Islamabad Monument</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Lok Virsa Museum </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right landing"></i>
                                                <dl><dt>Visit</dt><dd>Shopping Mall.</dd></dl>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-02:<small>Travel from Islamabad to Naran (8-9h)/ Chilas (13h).</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Naran/Chilas</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-03:<small>Travel to Fairy Meadows from Chilas (6h-30 min)/Naran (9 Hours) .</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Chilas to Raikot bridge (56.5km, 90 minute)</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Raikot to Tatu, Jeep track (16km-2 hours)
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Trekking from Tattu to Fairy Meadows (3 Hours) </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Fairy Meadows</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-04:<small>Tracking from Fairy Meadows (9 Hours).</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Trekking from Fairy Meadows to Beyal Camp (2 Hours)
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Tacking from Beyal Camp to Fairy Meadows (3 Hours)
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Lunch at Fairy Meadows</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Trekking back to Fairy Meadows (4 Hours)
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night at Fairy Meadows</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">
                                                    Day-05:<small>
                                                        Travel to Hunza (7-8 Hours)
                                                        .
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Tracking/Jeep back from Fairy Meadows to Raikot Bridge (4 Hours)
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Travel to Hunza (3 Hours)
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Lunch in Gilgit</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Hunza </dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-06:<small>Today we will visit.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>700 year old Baltit Fort</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Hoper Valley and Glacier</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Duikar valley for sunset view on mighty Rakaposhi</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Shopping at the local marker </dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">
                                                    Day-07:<small>
                                                        Travel to Khunjarab Pass, Total Travel-354 km (4 Hour one side)
                                                        .
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Attabad Lake </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Passu Cone</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Khunjarab National Park</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Khunjarab Pass</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-08:<small>Driver back to Naran 319km 7 hours or Besham 420km-12 hours.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Naran/Besham</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">
                                                    Day-09:<small>
                                                        Drive to Islamabad (Tour Ends), 330 km 7-8 hours
                                                        .
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Islamabad </dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">
                                                    Day-10:<small>
                                                        Departure to your country
                                                        .
                                                    </small>
                                                </h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd> </dd></dl>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="featured-image">
                            <h2>Highlights of Tour Package:</h2>
                            <img src="~/assest/images/tour/packages/adventue-chart.png" alt="">
                        </div>

                        <h2>Detail Itinerary </h2>

                        <h2>Day 01</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bud/d1.png" alt="">
                        <p>Arrival to Islamabad airport and transfer to hotel, in the rest time of sightseeing in Islamabad and Rawalpini, visit of largest mosque in Asia and old local Bazaar. Short briefing on </p>
                        <p><i></i></p>

                        <h2>Day 02</h2>
                        <h2>Travel from Islamabad to Naran (8-9h) / Chilas (13h).</h2>
                        <img src="~/assest/images/tour/packages/bud/d2.png" alt="">
                        <p>
                            Early at 3:00 am we will start travel and leave for Chilas, its 12-14hrs on the Karakuram Highway, The passage will pass through Haripur, Abbotabad, Batagram on the way will take lunch and one hour rest in Bisham PTDC hotel. Overnight at hotel in Chilas if the road to Naran/Babusar Pass closed, view of Nanga Parbat 8125 m.
                        </p>

                        <p></p>
                        <p><i></i></p>

                        <h2>Day 03</h2>
                        <h2>Chilas/Naran to Fairy Meadows</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bud/d3.png" alt="">
                        <p>
                            Today we will start travel early at the morning from Naran/Chilas to Raikot, Raikot bridge on silk route is 57km from Chilas. From Raikot we will take jeep its take 2 hour to cover 16km to reach Tattu village at an altitude of about 3,300 meters above the sea level. The roads zigzag its way up the rocky mountain, It is the extremely narrow and built on a cliff 1,000 meters high, which also makes it one of the most dangerous roads. Form Tattu where the trekking begins. The best time to hike Fairy Meadows is either April - May or September – October.

                            From the Tattu village, its rake 3 hours to reach Fairy Meadows. The trail gradually climbs for about 2: hour, and then it goes up steep for about 30 minutes until you arrive in Fairy Meadows.

                            Overnight stay: Fairy Meadows
                        </p>
                        <p><i></i></p>

                        <h2>Day 04</h2>
                        <h2>Tracking to Naga Parbat Base Camp (5 Hour one Side) </h2>
                        <p>The 2nd day we will start trekking early at the morning. Our first trail from Fairy Meadow to Beyal take 2 hours at elevation of 3,500m,  begins with a well-leveled path through a thick forest out of Fairy Meadows and along the ridge with the view of Nanga Parbat and Raikot glacier on your left. The trail continues on a flat landscape for about an hour through the forest, passing several streams, until you reach an opening where you will see a village being overshadowed by Nanga Parbat from a distance</p>
                        <img src="~/assest/images/tour/packages/bud/d4.png" alt="">
                        <p>
                            After Beyal, the trail gets tougher, although more rewarding. Its take 3 hour to reach Nanga Parbat Base Camp in the alpine forest trek, the way becomes an arid but impressive landscape, surrounded by snow and ice blocks. You will no longer feel like walking through a fairy-tale forest, you will be surrounded by ice blocks and rocks instead. Nanga Parbat Base Camp is at the evaluation of 3,967m. When you are at the Nanga Parbat Base Camp, where the silence is only interrupted by the sound of the occasional avalanches, which can be heard from very far away. We will take lunch at Nanga Parbat Base Camp. And after lunch we will trek back to Fairy Meadow.
                            Nanga Parbat, also called the Killer Mountain, is an 8,125-meter high mountain that figures as the second highest peak in Pakistan (after K2) and the eighth in the world.

                            Overnight stay: Fairy Meadows
                        </p>
                        <p><i></i></p>

                        <h2>Day 05</h2>
                        <h2></h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bud/d5.png" alt="">
                        <p>
                            After early morning breakfast we checkout from Fairy meadow its take 2 hour to reach to Tattu village where our jeeps await to take us to Raikot Bridge. Upon reaching the bridge, we transfer to our vans and travel to our next destination Hunza along the KKH. Its 161km and take 3hour to reach Karimabad, Hunza.  From Raikot bridge.

                            Overnight stay: Hunza
                        </p>
                        <p><i></i></p>

                        <h2>Day 06</h2>
                        <h2>Hunza Valley Travel Guide</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bud/d6.png" alt="">
                        <p>This day the participants will have a lot of interactions with historians, musicians and story tellers as they will be visiting the historic Baltit Fort (700 years old).Our local guides have always very interesting stories to tell our guests. </p>
                        <img src="~/assest/images/tour/packages/bud/d6a.png" alt="">
                        <p>
                            After visiting the fort we will start travel to Hoper valley. Hoper Nagar is a beautiful attraction in Hunza. Its located about 50 minutes drive from Karimabad approachable by any fit vehicle. The hike till hopper takes another 15-20 minutes. The black glacier looks beautiful and the mountains around the valley are majestic. At the end of Hoper Village, there are few view points from where one gets a dominating view of Bualtar and Barpu Glaciers. From various view points in Hoper Village, both these glaciers are clearly visible.
                            In the evening we will visit to local market for shopping. Participants can also grab a cup of coffee and enjoy the shopping. Participants will also visit Diakin valley before the sunset where the participants will experience the sun set on the mighty Karakoram Mountains.
                            Overnight stay: Hunza
                        </p>
                        <p><i></i></p>

                        <h2>Day 07</h2>
                        <h2>
                            Hunza Valley Tour – Kunjarab National Park and Khunjerab Pass (Pak-China Border)
                        </h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bud/d7.png" alt="">
                        <p>This day participants will depart for Pak-China Border (Khunjerab Pass – highest road border in the world) which is one the best road trips of Hunza valley tour. Participants will pass through the 1,000 years old civilization of Ganish. They will see the ancient rock carvings and sacred rocks. The participants will travel along Attabad lake after a half hour time from Ganish bridge. The Karakoram Highway in the Upper Hunza has a lot to offer.  </p>
                        <img src="~/assest/images/tour/packages/bud/d7a.png" alt="">
                        <img src="~/assest/images/tour/packages/bud/d7b.png" alt="">
                        <p>
                            The participants will pass through Hussaini Glacier and Passu Village. On the way they will see Shispar Peak (7,611 m), Passu Peak (7,284 m) and the infamous Passu Cones/Catherdral (above 6,000 m). The participants will cross through Wildlife Conservation Area in Khyber and enter Khunjerab National Park in Deh. Khunjarab National Park Kunjarab National Park is famous several large mammals such as Markho/Marco Polo sheep, Blue sheep, Himalayan Ibex, Tibetan wild ass, Brown bear, Snow leopard, Indian wolf.  Upon arrival on the world’s highest border Khunjerab Pass (4,733 m), guest gets the opportunity to meet Chinese tourists coming from the other side of the border.
                            Guests can take pictures of the mesmerizing landscape and also witness snowfall in summers on a lucky day. On return the participants will get shopping time on return to Sost for Chinese goods (watches, electronics etc). This day the participants will have time to visit Karimabad Market. Visitors can shop herbs, caps, dry fruit and much more. Free time to roam in Karimabad, participants will have good amount of shopping time for handicrafts, gemstones and cloth.

                            Overnight stay: Hunza.
                        </p>
                        <p><i></i></p>

                        <h2>Day 08</h2>
                        <h2>Return to Naran Kaghan Valley </h2>
                        <p>
                            This day the participants will be travel back to Naran Kaghan Valley. The participants will be taking the same route to reach Naran (Kaghan Valley). Participants will take quick stops on the way. Participants will reach Naran in the afternoon. Upon arrival to Naran, Participants can visit Naran Bazaar.

                            Overnight stay: Naran/ Besham
                        </p>

                        <p></p>
                        <p><i></i></p>

                        <h2>Day 09</h2>
                        <h2>Islamabad City</h2>
                        <p>
                            The participants will continue their journey towards Islamabad. Travelers will take quick stops on the way. It will take approximately 7-8 hours to reach Islamabad from Naran/Besham. Upon arrival in Islamabad, Hunza Valley Tour will come to an end. Dinner at Monal restaurant

                            Overnight stay: Islamabad.
                        </p>

                        <p></p>
                        <p><i></i></p>
                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <h4 class="box-title">Last Minute Deals</h4>
                        <div class="image-box style14">
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking1.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Plaza Tour Eiffel</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$170</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking2.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$620</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking3.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$322</span>avg/night</label>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

