


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Flight Search Results</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li class="active">Flight Search Results</li>
            </ul>
        </div>
    </div>
    <div class="global-map-area section parallax" data-stellar-background-ratio="0.5" style="background-position: 50% -24.2px;">


        <div class="container">
            <div class="table-wrapper full-width">
                <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">

                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="owl-carousel slides image-box style9" id="owl-carousel" style="width: 2000%; transition-duration: 0.6s; transform: translate3d(-800px, 0px, 0px);">
                            <li style="width: 170px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/img/AirTicketing/01.png" alt="" width="170" height="161" style="height: 265px;" draggable="false">
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li style="width: 170px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/img/AirTicketing/02.png" alt="" width="170" height="161" style="height: 265px;" draggable="false">
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li style="width: 170px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/img/AirTicketing/03.png" alt="" width="170" height="161" style="height: 265px;" draggable="false">
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li style="width: 170px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/img/AirTicketing/04.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false">
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li style="width: 170px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/img/AirTicketing/05.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false">
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li style="width: 170px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/img/AirTicketing/06.png" alt="" width="170" height="161" style="height: 265px;" draggable="false">
                                        </a>
                                    </figure>

                                </article>
                            </li>
                            <li style="width: 170px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                            <img src="~/assest/images/img/AirTicketing/07.png" alt="" width="170" height="161" style="height: 265px;" draggable="false">
                                        </a>
                                    </figure>

                                </article>
                            </li>

                        </ul>
                    </div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                </div>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="container">
            <div id="main">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <h4 class="search-results-title"><i class="soap-icon-search"></i><b>1,984</b> results found.</h4>
                        <div class="toggle-container filters-container">
                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                                </h4>
                                <div id="price-filter" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <div id="price-range"></div>
                                        <br />
                                        <span class="min-price-label pull-left"></span>
                                        <span class="max-price-label pull-right"></span>
                                        <div class="clearer"></div>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#flight-times-filter" class="collapsed">Flight Times</a>
                                </h4>
                                <div id="flight-times-filter" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <div id="flight-times" class="slider-color-yellow"></div>
                                        <br />
                                        <span class="start-time-label pull-left"></span>
                                        <span class="end-time-label pull-right"></span>
                                        <div class="clearer"></div>
                                    </div><!-- end content -->
                                </div>
                            </div>

                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#flight-stops-filter" class="collapsed">Flight Stops</a>
                                </h4>
                                <div id="flight-stops-filter" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <ul class="check-square filters-option">
                                            <li><a href="#">1 Stop</a></li>
                                            <li><a href="#">2 Stops</a></li>
                                            <li class="active"><a href="#">3 Stops</a></li>
                                            <li><a href="#">MultiStops</a></li>
                                        </ul>
                                        <a class="button btn-mini">MORE</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#airlines-filter" class="collapsed">Airlines</a>
                                </h4>
                                <div id="airlines-filter" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <ul class="check-square filters-option">
                                            <li><a href="#">Major Airline<small>($620)</small></a></li>
                                            <li><a href="#">United Airlines<small>($982)</small></a></li>
                                            <li class="active"><a href="#">delta airlines<small>($1,127)</small></a></li>
                                            <li><a href="#">Alitalia<small>($2,322)</small></a></li>
                                            <li><a href="#">US airways<small>($3,158)</small></a></li>
                                            <li><a href="#">Air France<small>($4,239)</small></a></li>
                                            <li><a href="#">Air tahiti nui<small>($5,872)</small></a></li>
                                        </ul>
                                        <a class="button btn-mini">MORE</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#flight-type-filter" class="collapsed">Flight Type</a>
                                </h4>
                                <div id="flight-type-filter" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <ul class="check-square filters-option">
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">First class</a></li>
                                            <li class="active"><a href="#">Economy</a></li>
                                            <li><a href="#">Premium Economy</a></li>
                                        </ul>
                                        <a class="button btn-mini">MORE</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#inflight-experience-filter" class="collapsed">Inflight Experience</a>
                                </h4>
                                <div id="inflight-experience-filter" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <ul class="check-square filters-option">
                                            <li><a href="#">Inflight Dining</a></li>
                                            <li><a href="#">Music</a></li>
                                            <li class="active"><a href="#">Sky Shopping</a></li>
                                            <li><a href="#">Wi-fi</a></li>
                                            <li><a href="#">Seats &amp; Cabin</a></li>
                                        </ul>
                                        <a class="button btn-mini">MORE</a>
                                    </div>
                                </div>
                            </div>

                            <div class="panel style1 arrow-right">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#modify-search-panel" class="collapsed">Modify Search</a>
                                </h4>
                                <div id="modify-search-panel" class="panel-collapse collapse">
                                    <div class="panel-content">
                                        <form method="post">
                                            <div class="form-group">
                                                <label>Leaving from</label>
                                                <input type="text" class="input-text full-width" placeholder="" value="city, district, or specific airpot" />
                                            </div>
                                            <div class="form-group">
                                                <label>Departure on</label>
                                                <div class="datepicker-wrap">
                                                    <input type="text" name="date_from" class="input-text full-width" placeholder="mm/dd/yy" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Arriving On</label>
                                                <div class="datepicker-wrap">
                                                    <input type="text" name="date_to" class="input-text full-width" placeholder="mm/dd/yy" />
                                                </div>
                                            </div>
                                            <br />
                                            <button class="btn-medium icon-check uppercase full-width">search again</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <div class="sort-by-section clearfix box">
                            <h4 class="sort-by-title block-sm">Sort results by:</h4>
                            <ul class="sort-bar clearfix block-sm">
                                <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
                                <li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
                                <li class="sort-by-rating active"><a class="sort-by-container" href="#"><span>duration</span></a></li>
                            </ul>

                            <ul class="swap-tiles clearfix block-sm">
                                <li class="swap-list active">
                                    <a href="flight-list-view.html"><i class="soap-icon-list"></i></a>
                                </li>
                                <li class="swap-grid">
                                    <a href="flight-grid-view.html"><i class="soap-icon-grid"></i></a>
                                </li>
                                <li class="swap-block">
                                    <a href="flight-block-view.html"><i class="soap-icon-block"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="flight-list listing-style3 flight">
                            <article class="box">
                                <figure class="col-xs-3 col-sm-2">
                                    <span><img width="94" height="90" alt="" src="~/assest/images/shortcodes/listings/style02/flight/2.png"></span>
                                </figure>
                                <div class="details col-xs-9 col-sm-10">
                                    <div class="details-wrapper">
                                        <div class="first-row">
                                            <div>
                                                <h4 class="box-title">Pakistan Internatinal Airline (PIA)<small>Oneway flight</small></h4>
                                                <a class="button btn-mini stop">1 STOP</a>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-entertainment circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-suitcase circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="price"><small>AVG/PERSON</small>$620</span>
                                            </div>
                                        </div>
                                        <div class="second-row">
                                            <div class="time">
                                                <div class="take-off col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">Take off</span><br />Wed Nov 13, 2013 7:50 Am
                                                    </div>
                                                </div>
                                                <div class="landing col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">landing</span><br />Wed Nov 13, 2013 9:20 am
                                                    </div>
                                                </div>
                                                <div class="total-time col-sm-4">
                                                    <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">total time</span><br />13 Hour, 40 minutes
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <a href="/home/FlightDetails" class="button btn-small full-width">SELECT NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="box">
                                <figure class="col-xs-3 col-sm-2">
                                    <span><img width="94" height="90" alt="" src="~/assest/images/shortcodes/listings/style02/flight/3.png"></span>
                                </figure>
                                <div class="details col-xs-9 col-sm-10">
                                    <div class="details-wrapper">
                                        <div class="first-row">
                                            <div>

                                                <h4 class="box-title">Shaheen Air International<small>Oneway flight</small></h4>
                                                <a class="button btn-mini stop">1 STOP</a>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-entertainment circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-suitcase circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="price"><small>AVG/PERSON</small>$170</span>
                                            </div>
                                        </div>
                                        <div class="second-row">
                                            <div class="time">
                                                <div class="take-off col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">Take off</span><br />Wed Nov 13, 2013 7:50 Am
                                                    </div>
                                                </div>
                                                <div class="landing col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">landing</span><br />Wed Nov 13, 2013 9:20 am
                                                    </div>
                                                </div>
                                                <div class="total-time col-sm-4">
                                                    <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">total time</span><br />13 Hour, 40 minutes
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <a href="/home/FlightDetails" class="button btn-small full-width">SELECT NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="box">
                                <figure class="col-xs-3 col-sm-2">
                                    <span><img width="94" height="90" alt="" src="~/assest/images/shortcodes/listings/style02/flight/4.png"></span>
                                </figure>
                                <div class="details col-xs-9 col-sm-10">
                                    <div class="details-wrapper">
                                        <div class="first-row">
                                            <div>
                                                <h4 class="box-title">Air China<small>Oneway flight</small></h4>
                                                <a class="button btn-mini stop">1 STOP</a>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-entertainment circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-suitcase circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="price"><small>AVG/PERSON</small>$320</span>
                                            </div>
                                        </div>
                                        <div class="second-row">
                                            <div class="time">
                                                <div class="take-off col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">Take off</span><br />Wed Nov 13, 2013 7:50 Am
                                                    </div>
                                                </div>
                                                <div class="landing col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">landing</span><br />Wed Nov 13, 2013 9:20 am
                                                    </div>
                                                </div>
                                                <div class="total-time col-sm-4">
                                                    <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">total time</span><br />13 Hour, 40 minutes
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <a href="/home/FlightDetails" class="button btn-small full-width">SELECT NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="box">
                                <figure class="col-xs-3 col-sm-2">
                                    <span><img width="94" height="90" alt="" src="~/assest/images/shortcodes/listings/style02/flight/2.png"></span>
                                </figure>
                                <div class="details col-xs-9 col-sm-10">
                                    <div class="details-wrapper">
                                        <div class="first-row">
                                            <div>
                                                <h4 class="box-title"> China Southern<small>Oneway flight</small></h4>
                                                <a class="button btn-mini stop">1 STOP</a>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-entertainment circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-suitcase circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="price"><small>AVG/PERSON</small>$620</span>
                                            </div>
                                        </div>
                                        <div class="second-row">
                                            <div class="time">
                                                <div class="take-off col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">Take off</span><br />Wed Nov 13, 2013 7:50 Am
                                                    </div>
                                                </div>

                                                <div class="landing col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">landing</span><br />Wed Nov 13, 2013 9:20 am
                                                    </div>
                                                </div>
                                                <div class="total-time col-sm-4">
                                                    <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">total time</span><br />13 Hour, 40 minutes
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <a href="/home/FlightDetails" class="button btn-small full-width">SELECT NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="box">
                                <figure class="col-xs-3 col-sm-2">
                                    <span><img width="94" height="90" alt="" src="~/assest/images/shortcodes/listings/style02/flight/3.png"></span>
                                </figure>
                                <div class="details col-xs-9 col-sm-10">
                                    <div class="details-wrapper">
                                        <div class="first-row">
                                            <div>
                                                <h4 class="box-title">Etihad Airways<small>Oneway flight</small></h4>
                                                <a class="button btn-mini stop">1 STOP</a>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-entertainment circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-suitcase circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="price"><small>AVG/PERSON</small>$170</span>
                                            </div>
                                        </div>
                                        <div class="second-row">
                                            <div class="time">
                                                <div class="take-off col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">Take off</span><br />Wed Nov 13, 2013 7:50 Am
                                                    </div>
                                                </div>
                                                <div class="landing col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">landing</span><br />Wed Nov 13, 2013 9:20 am
                                                    </div>
                                                </div>
                                                <div class="total-time col-sm-4">
                                                    <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">total time</span><br />13 Hour, 40 minutes
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="action">
                                                <a href="/home/FlightDetails" class="button btn-small full-width">SELECT NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="box">
                                <figure class="col-xs-3 col-sm-2">
                                    <span><img width="94" height="90" alt="" src="~/assest/images/shortcodes/listings/style02/flight/4.png"></span>
                                </figure>
                                <div class="details col-xs-9 col-sm-10">
                                    <div class="details-wrapper">
                                        <div class="first-row">
                                            <div>
                                                <h4 class="box-title">Serene Air<small>Oneway flight</small></h4>
                                                <a class="button btn-mini stop">1 STOP</a>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-entertainment circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-suitcase circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <span class="price"><small>AVG/PERSON</small>$320</span>
                                            </div>
                                        </div>
                                        <div class="second-row">
                                            <div class="time">
                                                <div class="take-off col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">Take off</span><br />Wed Nov 13, 2013 7:50 Am
                                                    </div>
                                                </div>
                                                <div class="landing col-sm-4">
                                                    <div class="icon"><i class="soap-icon-plane-right yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">landing</span><br />Wed Nov 13, 2013 9:20 am
                                                    </div>
                                                </div>
                                                <div class="total-time col-sm-4">
                                                    <div class="icon"><i class="soap-icon-clock yellow-color"></i></div>
                                                    <div>
                                                        <span class="skin-color">total time</span><br />13 Hour, 40 minutes
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="action">
                                                <a href="/home/FlightDetails" class="button btn-small full-width">SELECT NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <a class="button uppercase full-width btn-large">load more listings</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
