


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        <li><a href="#">MY ACCOUNT</a></li>
                        <li class="ribbon">
                            <a href="#">English</a>
                            <ul class="menu mini">
                                <li><a href="#" title="Dansk">Dansk</a></li>
                                <li><a href="#" title="Deutsch">Deutsch</a></li>
                                <li class="active"><a href="#" title="English">English</a></li>
                                <li><a href="#" title="Español">Español</a></li>
                                <li><a href="#" title="Français">Français</a></li>
                                <li><a href="#" title="Italiano">Italiano</a></li>
                                <li><a href="#" title="Magyar">Magyar</a></li>
                                <li><a href="#" title="Nederlands">Nederlands</a></li>
                                <li><a href="#" title="Norsk">Norsk</a></li>
                                <li><a href="#" title="Polski">Polski</a></li>
                                <li><a href="#" title="Português">Português</a></li>
                                <li><a href="#" title="Suomi">Suomi</a></li>
                                <li><a href="#" title="Svenska">Svenska</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="http://themeforest.net/item/travelo-responsive-travel-booking-site-template/8346649?ref=SoapTheme" class="button yellow btn-small" style="height: 30px; font-size: 1em;"><i class="soap-icon-shopping"></i> PURCHASE</a></li>
                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency">
                            <a href="#" title="">USD</a>
                            <ul class="menu mini">
                                <li><a href="#" title="AUD">AUD</a></li>
                                <li><a href="#" title="BRL">BRL</a></li>
                                <li class="active"><a href="#" title="USD">USD</a></li>
                                <li><a href="#" title="CAD">CAD</a></li>
                                <li><a href="#" title="CHF">CHF</a></li>
                                <li><a href="#" title="CNY">CNY</a></li>
                                <li><a href="#" title="CZK">CZK</a></li>
                                <li><a href="#" title="DKK">DKK</a></li>
                                <li><a href="#" title="EUR">EUR</a></li>
                                <li><a href="#" title="GBP">GBP</a></li>
                                <li><a href="#" title="HKD">HKD</a></li>
                                <li><a href="#" title="HUF">HUF</a></li>
                                <li><a href="#" title="IDR">IDR</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-header">

                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="index-2.html" title="Travelo - home">
                            <img src="~/assest/images/logo.png" alt="Travelo HTML5 Template" />
                        </a>
                    </h1>

                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="index-2.html">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Home Layout 1</a></li>
                                    <li><a href="homepage2.html">Home Layout 2</a></li>
                                    <li><a href="homepage3.html">Home Layout 3</a></li>
                                    <li><a href="homepage4.html">Home Layout 4</a></li>
                                    <li><a href="homepage5.html">Home Layout 5</a></li>
                                    <li><a href="homepage6.html">Home Layout 6</a></li>
                                    <li><a href="homepage7.html">Home Layout 7</a></li>
                                    <li><a href="homepage8.html">Home Layout 8</a></li>
                                    <li><a href="homepage9.html">Home Layout 9</a></li>
                                    <li><a href="homepage10.html">Home Layout 10</a></li>
                                    <li><a href="homepage11.html">Home Layout 11</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="hotel-index.html">Hotels</a>
                                <ul>
                                    <li><a href="hotel-index.html">Home Hotels</a></li>
                                    <li><a href="hotel-list-view.html">List View</a></li>
                                    <li><a href="hotel-grid-view.html">Grid View</a></li>
                                    <li><a href="hotel-block-view.html">Block View</a></li>
                                    <li><a href="hotel-detailed.html">Detailed</a></li>
                                    <li><a href="hotel-booking.html">Booking</a></li>
                                    <li><a href="hotel-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="flight-index.html">Flights</a>
                                <ul>
                                    <li><a href="flight-index.html">Home Flights</a></li>
                                    <li><a href="flight-list-view.html">List View</a></li>
                                    <li><a href="flight-grid-view.html">Grid View</a></li>
                                    <li><a href="flight-block-view.html">Block View</a></li>
                                    <li><a href="flight-detailed.html">Detailed</a></li>
                                    <li><a href="flight-booking.html">Booking</a></li>
                                    <li><a href="flight-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="car-index.html">Cars</a>
                                <ul>
                                    <li><a href="car-index.html">Home Cars</a></li>
                                    <li><a href="car-list-view.html">List View</a></li>
                                    <li><a href="car-grid-view.html">Grid View</a></li>
                                    <li><a href="car-block-view.html">Block View</a></li>
                                    <li><a href="car-detailed.html">Detailed</a></li>
                                    <li><a href="car-booking.html">Booking</a></li>
                                    <li><a href="car-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="cruise-index.html">Cruises</a>
                                <ul>
                                    <li><a href="cruise-index.html">Home Cruises</a></li>
                                    <li><a href="cruise-list-view.html">List View</a></li>
                                    <li><a href="cruise-grid-view.html">Grid View</a></li>
                                    <li><a href="cruise-block-view.html">Block View</a></li>
                                    <li><a href="cruise-detailed.html">Detailed</a></li>
                                    <li><a href="cruise-booking.html">Booking</a></li>
                                    <li><a href="cruise-thankyou.html">Thank You</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="tour-index.html">Tour</a>
                                <ul>
                                    <li><a href="tour-index.html">Home Tour</a></li>
                                    <li><a href="tour-fancy-package-2column.html">Fancy Packages 2 Column</a></li>
                                    <li><a href="tour-fancy-package-3column.html">Fancy Packages 3 Column</a></li>
                                    <li><a href="tour-fancy-package-4column.html">Fancy Packages 4 Column</a></li>
                                    <li><a href="tour-simple-package-2column.html">Simple Packages 2 Column</a></li>
                                    <li><a href="tour-simple-package-3column.html">Simple Packages 3 Column</a></li>
                                    <li><a href="tour-simple-package-4column.html">Simple Packages 4 Column</a></li>
                                    <li><a href="tour-simple-package-3column.html">Location - Eruope</a></li>
                                    <li><a href="tour-simple-package-4column.html">Location - North America</a></li>
                                    <li><a href="tour-detailed1.html">Detailed 1</a></li>
                                    <li><a href="tour-detailed2.html">Detailed 2</a></li>
                                    <li><a href="tour-booking.html">Booking</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children megamenu-menu">
                                <a href="#">Pages</a>
                                <div class="megamenu-wrapper container" data-items-per-column="8">
                                    <div class="megamenu-holder">
                                        <ul class="megamenu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Standard Pages</a>
                                                <ul class="clearfix">
                                                    <li><a href="pages-aboutus1.html">About Us 1</a></li>
                                                    <li><a href="pages-aboutus2.html">About Us 2</a></li>
                                                    <li><a href="pages-services1.html">Services 1</a></li>
                                                    <li><a href="pages-services2.html">Services 2</a></li>
                                                    <li><a href="pages-photogallery-4column.html">Gallery 4 Column</a></li>
                                                    <li><a href="pages-photogallery-3column.html">Gallery 3 Column</a></li>
                                                    <li><a href="pages-photogallery-2column.html">Gallery 2 Column</a></li>
                                                    <li><a href="pages-photogallery-fullview.html">Gallery Read</a></li>
                                                    <li><a href="pages-blog-rightsidebar.html">Blog Right Sidebar</a></li>
                                                    <li><a href="pages-blog-leftsidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="pages-blog-fullwidth.html">Blog Full Width</a></li>
                                                    <li><a href="pages-blog-read.html">Blog Read</a></li>
                                                    <li><a href="pages-faq1.html">Faq 1</a></li>
                                                    <li><a href="pages-faq2.html">Faq 2</a></li>
                                                    <li><a href="pages-layouts-leftsidebar.html">Layouts Left Sidebar</a></li>
                                                    <li><a href="pages-layouts-rightsidebar.html">Layouts Right Sidebar</a></li>
                                                    <li><a href="pages-layouts-twosidebar.html">Layouts Two Sidebar</a></li>
                                                    <li><a href="pages-layouts-fullwidth.html">Layouts Full Width</a></li>
                                                    <li><a href="pages-contactus1.html">Contact Us 1</a></li>
                                                    <li><a href="pages-contactus2.html">Contact Us 2</a></li>
                                                    <li><a href="pages-contactus3.html">Contact Us 3</a></li>
                                                    <li><a href="pages-travelo-policies.html">Travelo Policies</a></li>
                                                    <li><a href="pages-sitemap.html">Site Map</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Extra Pages</a>
                                                <ul class="clearfix">
                                                    <li><a href="extra-pages-holidays.html">Holidays</a></li>
                                                    <li><a href="extra-pages-hotdeals.html">Hot Deals</a></li>
                                                    <li><a href="extra-pages-before-you-fly.html">Before You Fly</a></li>
                                                    <li><a href="extra-pages-inflight-experience.html">Inflight Experience</a></li>
                                                    <li><a href="extra-pages-things-todo1.html">Things To Do 1</a></li>
                                                    <li><a href="extra-pages-things-todo2.html">Things To Do 2</a></li>
                                                    <li><a href="extra-pages-travel-essentials.html">Travel Essentials</a></li>
                                                    <li><a href="extra-pages-travel-stories.html">Travel Stories</a></li>
                                                    <li><a href="extra-pages-travel-guide.html">Travel Guide</a></li>
                                                    <li><a href="extra-pages-travel-ideas.html">Travel Ideas</a></li>
                                                    <li><a href="extra-pages-travel-insurance.html">Travel Insurance</a></li>
                                                    <li><a href="extra-pages-group-booking.html">Group Bookings</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Special Pages</a>
                                                <ul class="clearfix">
                                                    <li><a href="pages-404-1.html">404 Page 1</a></li>
                                                    <li><a href="pages-404-2.html">404 Page 2</a></li>
                                                    <li><a href="pages-404-3.html">404 Page 3</a></li>
                                                    <li><a href="pages-coming-soon1.html">Coming Soon 1</a></li>
                                                    <li><a href="pages-coming-soon2.html">Coming Soon 2</a></li>
                                                    <li><a href="pages-coming-soon3.html">Coming Soon 3</a></li>
                                                    <li><a href="pages-loading1.html">Loading Page 1</a></li>
                                                    <li><a href="pages-loading2.html">Loading Page 2</a></li>
                                                    <li><a href="pages-loading3.html">Loading Page 3</a></li>
                                                    <li><a href="pages-login1.html">Login Page 1</a></li>
                                                    <li><a href="pages-login2.html">Login Page 2</a></li>
                                                    <li><a href="pages-login3.html">Login Page 3</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shortcodes</a>
                                <ul>
                                    <li><a href="shortcode-accordions-toggles.html">Accordions &amp; Toggles</a></li>
                                    <li><a href="shortcode-tabs.html">Tabs</a></li>
                                    <li><a href="shortcode-buttons.html">Buttons</a></li>
                                    <li><a href="shortcode-icon-boxes.html">Icon Boxes</a></li>
                                    <li><a href="shortcode-gallery-styles.html">Image &amp; Gallery Styles</a></li>
                                    <li><a href="shortcode-image-box-styles.html">Image Box Styles</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Listing Styles</a>
                                        <ul>
                                            <li><a href="shortcode-listing-style1.html">Listing Style 01</a></li>
                                            <li><a href="shortcode-listing-style2.html">Listing Style 02</a></li>
                                            <li><a href="shortcode-listing-style3.html">Listing Style 03</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shortcode-dropdowns.html">Dropdowns</a></li>
                                    <li><a href="shortcode-pricing-tables.html">Pricing Tables</a></li>
                                    <li><a href="shortcode-testimonials.html">Testimonials</a></li>
                                    <li><a href="shortcode-our-team.html">Our Team</a></li>
                                    <li><a href="shortcode-gallery-popup.html">Gallery Popup</a></li>
                                    <li><a href="shortcode-map-popup.html">Map Popup</a></li>
                                    <li><a href="shortcode-style-changer.html">Style Changer</a></li>
                                    <li><a href="shortcode-typography.html">Typography</a></li>
                                    <li><a href="shortcode-animations.html">Animations</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Bonus</a>
                                <ul>
                                    <li><a href="dashboard1.html">Dashboard 1</a></li>
                                    <li><a href="dashboard2.html">Dashboard 2</a></li>
                                    <li><a href="dashboard3.html">Dashboard 3</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Sliders</a>
                                        <ul>
                                            <li><a href="slider1.html">Slider - Travelo</a></li>
                                            <li><a href="slider2.html">Slider - Concept</a></li>
                                            <li><a href="slider3.html">Slider - Promotion</a></li>
                                            <li><a href="slider4.html">Slider - Snapshots</a></li>
                                            <li><a href="slider5.html">Slider - Holidays</a></li>
                                            <li><a href="slider6.html">Slider - Couples</a></li>
                                            <li><a href="slider7.html">Slider - Family</a></li>

                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">7 Footer Styles</a>
                                        <ul>
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="footer-style1.html">Footer Style 1</a></li>
                                            <li><a href="footer-style2.html">Footer Style 2</a></li>
                                            <li><a href="footer-style3.html">Footer Style 3</a></li>
                                            <li><a href="footer-style4.html">Footer Style 4</a></li>
                                            <li><a href="footer-style5.html">Footer Style 5</a></li>
                                            <li><a href="footer-style6.html">Footer Style 6</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">8 Header Styles</a>
                                        <ul>
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="header-style1.html">Header Style 1</a></li>
                                            <li><a href="header-style2.html">Header Style 2</a></li>
                                            <li><a href="header-style3.html">Header Style 3</a></li>
                                            <li><a href="header-style4.html">Header Style 4</a></li>
                                            <li><a href="header-style5.html">Header Style 5</a></li>
                                            <li><a href="header-style6.html">Header Style 6</a></li>
                                            <li><a href="header-style7.html">Header Style 7</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">7 Inner Start Styles</a>
                                        <ul>
                                            <li><a href="#">Default Style</a></li>
                                            <li><a href="inner-starts-style1.html">Inner Start Style 1</a></li>
                                            <li><a href="inner-starts-style2.html">Inner Start Style 2</a></li>
                                            <li><a href="inner-starts-style3.html">Inner Start Style 3</a></li>
                                            <li><a href="inner-starts-style4.html">Inner Start Style 4</a></li>
                                            <li><a href="inner-starts-style5.html">Inner Start Style 5</a></li>
                                            <li><a href="inner-starts-style6.html">Inner Start Style 6</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">3 Search Styles</a>
                                        <ul>
                                            <li><a href="search-style1.html">Search Style 1</a></li>
                                            <li><a href="search-style2.html">Search Style 2</a></li>
                                            <li><a href="search-style3.html">Search Style 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="index-2.html">Home</a>
                            <ul>
                                <li><a href="index-2.html">Home Layout 1</a></li>
                                <li><a href="homepage2.html">Home Layout 2</a></li>
                                <li><a href="homepage3.html">Home Layout 3</a></li>
                                <li><a href="homepage4.html">Home Layout 4</a></li>
                                <li><a href="homepage5.html">Home Layout 5</a></li>
                                <li><a href="homepage6.html">Home Layout 6</a></li>
                                <li><a href="homepage7.html">Home Layout 7</a></li>
                                <li><a href="homepage8.html">Home Layout 8</a></li>
                                <li><a href="homepage9.html">Home Layout 9</a></li>
                                <li><a href="homepage10.html">Home Layout 10</a></li>
                                <li><a href="homepage11.html">Home Layout 11</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="hotel-index.html">Hotels</a>
                            <ul>
                                <li><a href="hotel-index.html">Home Hotels</a></li>
                                <li><a href="hotel-list-view.html">List View</a></li>
                                <li><a href="hotel-grid-view.html">Grid View</a></li>
                                <li><a href="hotel-block-view.html">Block View</a></li>
                                <li><a href="hotel-detailed.html">Detailed</a></li>
                                <li><a href="hotel-booking.html">Booking</a></li>
                                <li><a href="hotel-thankyou.html">Thank You</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="flight-index.html">Flights</a>
                            <ul>
                                <li><a href="flight-index.html">Home Flights</a></li>
                                <li><a href="flight-list-view.html">List View</a></li>
                                <li><a href="flight-grid-view.html">Grid View</a></li>
                                <li><a href="flight-block-view.html">Block View</a></li>
                                <li><a href="flight-detailed.html">Detailed</a></li>
                                <li><a href="flight-booking.html">Booking</a></li>
                                <li><a href="flight-thankyou.html">Thank You</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="car-index.html">Cars</a>
                            <ul>
                                <li><a href="car-index.html">Home Cars</a></li>
                                <li><a href="car-list-view.html">List View</a></li>
                                <li><a href="car-grid-view.html">Grid View</a></li>
                                <li><a href="car-block-view.html">Block View</a></li>
                                <li><a href="car-detailed.html">Detailed</a></li>
                                <li><a href="car-booking.html">Booking</a></li>
                                <li><a href="car-thankyou.html">Thank You</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="cruise-index.html">Cruises</a>
                            <ul>
                                <li><a href="cruise-index.html">Home Cruises</a></li>
                                <li><a href="cruise-list-view.html">List View</a></li>
                                <li><a href="cruise-grid-view.html">Grid View</a></li>
                                <li><a href="cruise-block-view.html">Block View</a></li>
                                <li><a href="cruise-detailed.html">Detailed</a></li>
                                <li><a href="cruise-booking.html">Booking</a></li>
                                <li><a href="cruise-thankyou.html">Thank You</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="tour-index.html">Tour</a>
                            <ul>
                                <li><a href="tour-index.html">Home Tour</a></li>
                                <li><a href="tour-fancy-package-2column.html">Fancy Packages 2 Column</a></li>
                                <li><a href="tour-fancy-package-3column.html">Fancy Packages 3 Column</a></li>
                                <li><a href="tour-fancy-package-4column.html">Fancy Packages 4 Column</a></li>
                                <li><a href="tour-simple-package-2column.html">Simple Packages 2 Column</a></li>
                                <li><a href="tour-simple-package-3column.html">Simple Packages 3 Column</a></li>
                                <li><a href="tour-simple-package-4column.html">Simple Packages 4 Column</a></li>
                                <li><a href="tour-simple-package-3column.html">Location - Eruope</a></li>
                                <li><a href="tour-simple-package-4column.html">Location - North America</a></li>
                                <li><a href="tour-detailed1.html">Detailed 1</a></li>
                                <li><a href="tour-detailed2.html">Detailed 2</a></li>
                                <li><a href="tour-booking.html">Booking</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Pages</a>
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="#">Standard Pages</a>
                                    <ul>
                                        <li><a href="pages-aboutus1.html">About Us 1</a></li>
                                        <li><a href="pages-aboutus2.html">About Us 2</a></li>
                                        <li><a href="pages-services1.html">Services 1</a></li>
                                        <li><a href="pages-services2.html">Services 2</a></li>
                                        <li><a href="pages-photogallery-4column.html">Gallery 4 Column</a></li>
                                        <li><a href="pages-photogallery-3column.html">Gallery 3 Column</a></li>
                                        <li><a href="pages-photogallery-2column.html">Gallery 2 Column</a></li>
                                        <li><a href="pages-photogallery-fullview.html">Gallery Read</a></li>
                                        <li><a href="pages-blog-rightsidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="pages-blog-leftsidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="pages-blog-fullwidth.html">Blog Full Width</a></li>
                                        <li><a href="pages-blog-read.html">Blog Read</a></li>
                                        <li><a href="pages-faq1.html">Faq 1</a></li>
                                        <li><a href="pages-faq2.html">Faq 2</a></li>
                                        <li><a href="pages-layouts-leftsidebar.html">Layouts Left Sidebar</a></li>
                                        <li><a href="pages-layouts-rightsidebar.html">Layouts Right Sidebar</a></li>
                                        <li><a href="pages-layouts-twosidebar.html">Layouts Two Sidebar</a></li>
                                        <li><a href="pages-layouts-fullwidth.html">Layouts Full Width</a></li>
                                        <li><a href="pages-contactus1.html">Contact Us 1</a></li>
                                        <li><a href="pages-contactus2.html">Contact Us 2</a></li>
                                        <li><a href="pages-contactus3.html">Contact Us 3</a></li>
                                        <li><a href="pages-travelo-policies.html">Travelo Policies</a></li>
                                        <li><a href="pages-sitemap.html">Site Map</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Extra Pages</a>
                                    <ul>
                                        <li><a href="extra-pages-holidays.html">Holidays</a></li>
                                        <li><a href="extra-pages-hotdeals.html">Hot Deals</a></li>
                                        <li><a href="extra-pages-before-you-fly.html">Before You Fly</a></li>
                                        <li><a href="extra-pages-inflight-experience.html">Inflight Experience</a></li>
                                        <li><a href="extra-pages-things-todo1.html">Things To Do 1</a></li>
                                        <li><a href="extra-pages-things-todo2.html">Things To Do 2</a></li>
                                        <li><a href="extra-pages-travel-essentials.html">Travel Essentials</a></li>
                                        <li><a href="extra-pages-travel-stories.html">Travel Stories</a></li>
                                        <li><a href="extra-pages-travel-guide.html">Travel Guide</a></li>
                                        <li><a href="extra-pages-travel-ideas.html">Travel Ideas</a></li>
                                        <li><a href="extra-pages-travel-insurance.html">Travel Insurance</a></li>
                                        <li><a href="extra-pages-group-booking.html">Group Bookings</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Special Pages</a>
                                    <ul>
                                        <li><a href="pages-404-1.html">404 Page 1</a></li>
                                        <li><a href="pages-404-2.html">404 Page 2</a></li>
                                        <li><a href="pages-404-3.html">404 Page 3</a></li>
                                        <li><a href="pages-coming-soon1.html">Coming Soon 1</a></li>
                                        <li><a href="pages-coming-soon2.html">Coming Soon 2</a></li>
                                        <li><a href="pages-coming-soon3.html">Coming Soon 3</a></li>
                                        <li><a href="pages-loading1.html">Loading Page 1</a></li>
                                        <li><a href="pages-loading2.html">Loading Page 2</a></li>
                                        <li><a href="pages-loading3.html">Loading Page 3</a></li>
                                        <li><a href="pages-login1.html">Login Page 1</a></li>
                                        <li><a href="pages-login2.html">Login Page 2</a></li>
                                        <li><a href="pages-login3.html">Login Page 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Shortcodes</a>
                            <ul>
                                <li><a href="shortcode-accordions-toggles.html">Accordions &amp; Toggles</a></li>
                                <li><a href="shortcode-tabs.html">Tabs</a></li>
                                <li><a href="shortcode-buttons.html">Buttons</a></li>
                                <li><a href="shortcode-icon-boxes.html">Icon Boxes</a></li>
                                <li><a href="shortcode-gallery-styles.html">Image &amp; Gallery Styles</a></li>
                                <li><a href="shortcode-image-box-styles.html">Image Box Styles</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Listing Styles</a>
                                    <ul>
                                        <li><a href="shortcode-listing-style1.html">Listing Style 01</a></li>
                                        <li><a href="shortcode-listing-style2.html">Listing Style 02</a></li>
                                        <li><a href="shortcode-listing-style3.html">Listing Style 03</a></li>
                                    </ul>
                                </li>
                                <li><a href="shortcode-dropdowns.html">Dropdowns</a></li>
                                <li><a href="shortcode-pricing-tables.html">Pricing Tables</a></li>
                                <li><a href="shortcode-testimonials.html">Testimonials</a></li>
                                <li><a href="shortcode-our-team.html">Our Team</a></li>
                                <li><a href="shortcode-gallery-popup.html">Gallery Popup</a></li>
                                <li><a href="shortcode-map-popup.html">Map Popup</a></li>
                                <li><a href="shortcode-style-changer.html">Style Changer</a></li>
                                <li><a href="shortcode-typography.html">Typography</a></li>
                                <li><a href="shortcode-animations.html">Animations</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Bonus</a>
                            <ul>
                                <li><a href="dashboard1.html">Dashboard 1</a></li>
                                <li><a href="dashboard2.html">Dashboard 2</a></li>
                                <li><a href="dashboard3.html">Dashboard 3</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Sliders</a>
                                    <ul>
                                        <li><a href="slider1.html">Slider - Travelo</a></li>
                                        <li><a href="slider2.html">Slider - Concept</a></li>
                                        <li><a href="slider3.html">Slider - Promotion</a></li>
                                        <li><a href="slider4.html">Slider - Snapshots</a></li>
                                        <li><a href="slider5.html">Slider - Holidays</a></li>
                                        <li><a href="slider6.html">Slider - Couples</a></li>
                                        <li><a href="slider7.html">Slider - Family</a></li>

                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">7 Footer Styles</a>
                                    <ul>
                                        <li><a href="#">Default Style</a></li>
                                        <li><a href="footer-style1.html">Footer Style 1</a></li>
                                        <li><a href="footer-style2.html">Footer Style 2</a></li>
                                        <li><a href="footer-style3.html">Footer Style 3</a></li>
                                        <li><a href="footer-style4.html">Footer Style 4</a></li>
                                        <li><a href="footer-style5.html">Footer Style 5</a></li>
                                        <li><a href="footer-style6.html">Footer Style 6</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">8 Header Styles</a>
                                    <ul>
                                        <li><a href="#">Default Style</a></li>
                                        <li><a href="header-style1.html">Header Style 1</a></li>
                                        <li><a href="header-style2.html">Header Style 2</a></li>
                                        <li><a href="header-style3.html">Header Style 3</a></li>
                                        <li><a href="header-style4.html">Header Style 4</a></li>
                                        <li><a href="header-style5.html">Header Style 5</a></li>
                                        <li><a href="header-style6.html">Header Style 6</a></li>
                                        <li><a href="header-style7.html">Header Style 7</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">7 Inner Start Styles</a>
                                    <ul>
                                        <li><a href="#">Default Style</a></li>
                                        <li><a href="inner-starts-style1.html">Inner Start Style 1</a></li>
                                        <li><a href="inner-starts-style2.html">Inner Start Style 2</a></li>
                                        <li><a href="inner-starts-style3.html">Inner Start Style 3</a></li>
                                        <li><a href="inner-starts-style4.html">Inner Start Style 4</a></li>
                                        <li><a href="inner-starts-style5.html">Inner Start Style 5</a></li>
                                        <li><a href="inner-starts-style6.html">Inner Start Style 6</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">3 Search Styles</a>
                                    <ul>
                                        <li><a href="search-style1.html">Search Style 1</a></li>
                                        <li><a href="search-style2.html">Search Style 2</a></li>
                                        <li><a href="search-style3.html">Search Style 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="http://themeforest.net/item/travelo-responsive-travel-booking-site-template/8346649?ref=SoapTheme"><i class="soap-icon-shopping"></i> PURCHASE</a>
                        </li>
                    </ul>

                    <ul class="mobile-topnav container">
                        <li><a href="#">MY ACCOUNT</a></li>
                        <li class="ribbon language menu-color-skin">
                            <a href="#" data-toggle="collapse">ENGLISH</a>
                            <ul class="menu mini">
                                <li><a href="#" title="Dansk">Dansk</a></li>
                                <li><a href="#" title="Deutsch">Deutsch</a></li>
                                <li class="active"><a href="#" title="English">English</a></li>
                                <li><a href="#" title="Español">Español</a></li>
                                <li><a href="#" title="Français">Français</a></li>
                                <li><a href="#" title="Italiano">Italiano</a></li>
                                <li><a href="#" title="Magyar">Magyar</a></li>
                                <li><a href="#" title="Nederlands">Nederlands</a></li>
                                <li><a href="#" title="Norsk">Norsk</a></li>
                                <li><a href="#" title="Polski">Polski</a></li>
                                <li><a href="#" title="Português">Português</a></li>
                                <li><a href="#" title="Suomi">Suomi</a></li>
                                <li><a href="#" title="Svenska">Svenska</a></li>
                            </ul>
                        </li>
                        <li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency menu-color-skin">
                            <a href="#">USD</a>
                            <ul class="menu mini">
                                <li><a href="#" title="AUD">AUD</a></li>
                                <li><a href="#" title="BRL">BRL</a></li>
                                <li class="active"><a href="#" title="USD">USD</a></li>
                                <li><a href="#" title="CAD">CAD</a></li>
                                <li><a href="#" title="CHF">CHF</a></li>
                                <li><a href="#" title="CNY">CNY</a></li>
                                <li><a href="#" title="CZK">CZK</a></li>
                                <li><a href="#" title="DKK">DKK</a></li>
                                <li><a href="#" title="EUR">EUR</a></li>
                                <li><a href="#" title="GBP">GBP</a></li>
                                <li><a href="#" title="HKD">HKD</a></li>
                                <li><a href="#" title="HUF">HUF</a></li>
                                <li><a href="#" title="IDR">IDR</a></li>
                            </ul>
                        </li>
                    </ul>

                </nav>
            </div>
            <div id="travelo-signup" class="travelo-signup-box travelo-box">
                <div class="login-social">
                    <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <div class="simple-signup">
                    <div class="text-center signup-email-section">
                        <a href="#" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                    </div>
                    <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund olicy, and Host Guarantee Terms.</p>
                </div>
                <div class="email-signup">
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="confirm password">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Tell me about Travelo news
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                        </div>
                        <button type="submit" class="full-width btn-medium">SIGNUP</button>
                    </form>
                </div>
                <div class="seperator"></div>
                <p>Already a Travelo member? <a href="#travelo-login" class="goto-login soap-popupbox">Login</a></p>
            </div>
            <div id="travelo-login" class="travelo-login-box travelo-box">
                <div class="login-social">
                    <a href="#" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="#" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <form>
                    <div class="form-group">
                        <input type="text" class="input-text full-width" placeholder="email address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-text full-width" placeholder="password">
                    </div>
                    <div class="form-group">
                        <a href="#" class="forgot-password pull-right">Forgot password?</a>
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </form>
                <div class="seperator"></div>
                <p>Don't have an account? <a href="#travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
            </div>
        </header>
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Detailed</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Hotel Detailed</li>
                </ul>
            </div>
        </div>
        <section id="content">
            <div class="container flight-detail-page">
                <div class="row">
                    <div id="main" class="col-md-9">
                        <div class="tab-container style1 box" id="flight-main-content">
                            <ul class="tabs">
                                <li class="active"><a data-toggle="tab" href="#photo-tab">photo</a></li>
                                <li><a data-toggle="tab" href="#calendar-tab">calendar</a></li>
                                <li class="pull-right"><a class="button btn-small yellow-bg white-color" href="#">BEFORE YOU FLY</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="photo-tab" class="tab-pane fade in active">
                                    <div class="featured-image image-container">
                                        <img src="~/assest/images/flight/main1.png" alt="">
                                    </div>
                                </div>
                                <div id="calendar-tab" class="tab-pane fade">
                                    <label>SELECT MONTH</label>
                                    <div class="col-sm-6 col-md-4 no-float no-padding">
                                        <div class="selector">
                                            <select class="full-width" id="select-month">
                                                <option value="2014-6">June 2014</option>
                                                <option value="2014-7">July 2014</option>
                                                <option value="2014-8">August 2014</option>
                                                <option value="2014-9">September 2014</option>
                                                <option value="2014-10">October 2014</option>
                                                <option value="2014-11">November 2014</option>
                                                <option value="2014-12">December 2014</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="calendar"></div>
                                            <div class="calendar-legend">
                                                <label class="available">available</label>
                                                <label class="unavailable">unavailable</label>
                                                <label class="past">past</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="description">
                                                The calendar is updated every five minutes and is only an approximation of availability.
                                                <br /><br />
                                                Some hosts set custom pricing for certain days on their calendar, like weekends or holidays. The rates listed are per day and do not include any cleaning fee or rates for extra people the host may have for this listing. Please refer to the listing's Description tab for more details.
                                                <br /><br />
                                                We suggest that you contact the host to confirm availability and rates before submitting a reservation request.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="flight-features" class="tab-container">
                            <ul class="tabs">
                                <li class="active"><a href="#flight-details" data-toggle="tab">Flight Details</a></li>
                                <li><a href="#inflight-features" data-toggle="tab">Inflight Features</a></li>
                                <li><a href="#flgiht-seat-selection" data-toggle="tab">Seat Selection</a></li>
                                <li><a href="#flight-baggage" data-toggle="tab">Baggage</a></li>
                                <li><a href="#flight-fare-rules" data-toggle="tab">Fare Rules</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="flight-details">
                                    <div class="intro table-wrapper full-width hidden-table-sm box">
                                        <div class="col-md-4 table-cell travelo-box">
                                            <dl class="term-description">
                                                <dt>Airline:</dt>
                                                <dd>delta</dd>
                                                <dt>Flight Type:</dt>
                                                <dd>Economy</dd>
                                                <dt>Fare type:</dt>
                                                <dd>Refundable</dd>
                                                <dt>Cancellation:</dt>
                                                <dd>$78 / person</dd>
                                                <dt>Flight CHange:</dt>
                                                <dd>$53 / person</dd>
                                                <dt>Seats &amp; Baggage:</dt>
                                                <dd>Extra Charge</dd>
                                                <dt>Inflight Features:</dt>
                                                <dd>Available</dd>
                                                <dt>Base fare:</dt>
                                                <dd>$320.00</dd>
                                                <dt>Taxes &amp; Fees:</dt>
                                                <dd>$300.00</dd>
                                                <dt>total price:</dt>
                                                <dd>$620.00</dd>
                                            </dl>
                                        </div>
                                        <div class="col-md-8 table-cell">
                                            <div class="detailed-features booking-details">
                                                <div class="travelo-box">
                                                    <a href="#" class="button btn-mini yellow pull-right">1 STOP</a>
                                                    <h4 class="box-title">Indianapolis to Paris<small>Oneway flight</small></h4>
                                                </div>
                                                <div class="table-wrapper flights">
                                                    <div class="table-row first-flight">
                                                        <div class="table-cell logo">
                                                            <img src="~/assest/images/flight/logo/4.png" alt="">
                                                            <label>AI-635 Economy</label>
                                                        </div>
                                                        <div class="table-cell timing-detail">
                                                            <div class="timing">
                                                                <div class="check-in">
                                                                    <label>Take off</label>
                                                                    <span>13 Nov 2013, 7:50 am</span>
                                                                </div>
                                                                <div class="duration text-center">
                                                                    <i class="soap-icon-clock"></i>
                                                                    <span>1h 30m</span>
                                                                </div>
                                                                <div class="check-out">
                                                                    <label>landing</label>
                                                                    <span>13 Nov 2013, 9:20 Am</span>
                                                                </div>
                                                            </div>
                                                            <label class="layover">Layover : 3h 50m</label>
                                                        </div>
                                                    </div>
                                                    <div class="table-row second-flight">
                                                        <div class="table-cell logo">
                                                            <img src="~/assest/images/flight/logo/4.png" alt="">
                                                            <label>AI-635 Economy</label>
                                                        </div>
                                                        <div class="table-cell timing-detail">
                                                            <div class="timing">
                                                                <div class="check-in">
                                                                    <label>Take off</label>
                                                                    <span>13 Nov 2013, 7:50 am</span>
                                                                </div>
                                                                <div class="duration text-center">
                                                                    <i class="soap-icon-clock"></i>
                                                                    <span>8h 20m</span>
                                                                </div>
                                                                <div class="check-out">
                                                                    <label>landing</label>
                                                                    <span>13 Nov 2013, 9:20 Am</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="long-description">
                                        <h2>About Delta Airlines</h2>
                                        <p>
                                            Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.
                                            <br /><br />
                                            Praesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet eu quam id ornare. Morbi ac quam enim. Cras vitae nulla condimentum, semper dolor non, faucibus dolor. Vivamus adipiscing eros quis orci fringilla, sed pretium lectus viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec nec velit non odio aliquam suscipit. Sed non neque faucibus, condimentum lectus at, accumsan enim. Fusce pretium egestas cursus. Etiam consectetur, orci vel rutrum volutpat, odio odio pretium nisiodo tellus libero et urna. Sed commodo ipsum ligula, id volutpat risus vehicula in. Pellentesque non massa eu nibh posuere bibendum non sed enim. Maecenas lobortis nulla sem, vel egestas dui ullamcorper ac.
                                            <br /><br />
                                            Sed scelerisque lectus sit amet faucibus sodales. Proin ut risus tortor. Etiam fermentum tellus auctor, fringilla sapien et, congue quam. In a luctus tortor. Suspendisse eget tempor libero, ut sollicitudin ligula. Nulla vulputate tincidunt est non congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus at est imperdiet, dapibus ipsum vel, lacinia nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus id interdum lectus, ut elementum elit. Nullam a molestie magna. Praesent eros turpis, commodo vel justo at, pulvinar mollis eros. Mauris aliquet eu quam id ornare. Morbi ac quam enim. Cras vitae nulla condimentum, semper dolor non, faucibus dolor. Vivamus adipiscing eros quis orci fringilla, sed pretium lectus viverra.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="inflight-features">
                                    <h2>Features Style 01</h2>
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <ul class="amenities clearfix style1 box">
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-wifi"></i>WI_FI</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-entertainment"></i>entertainment</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-television"></i>television</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-aircon"></i>air conditioning</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-juice"></i>drink</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-joystick"></i>games</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-coffee"></i>coffee</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-winebar"></i>wines</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-shopping"></i>shopping</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-food"></i>food</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-comfort"></i>comfort</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style1"><i class="soap-icon-magazine"></i>magazines</div>
                                        </li>
                                    </ul>
                                    <h2>Features Style 02</h2>
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <ul class="amenities clearfix style2">
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-wifi circle"></i>WI_FI</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-entertainment circle"></i>entertainment</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-television circle"></i>television</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-aircon circle"></i>air conditioning</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-juice circle"></i>drink</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-joystick circle"></i>games</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-coffee circle"></i>coffee</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-winebar circle"></i>wines</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-shopping circle"></i>shopping</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-food circle"></i>food</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-comfort circle"></i>comfort</div>
                                        </li>
                                        <li class="col-md-4 col-sm-6">
                                            <div class="icon-box style2"><i class="soap-icon-magazine circle"></i>magazines</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="flgiht-seat-selection">
                                    <h2>Select your Seats</h2>
                                    <p>Would you like a window seat or treat yourself to more comfort? Select your seats online in advance with our easy-to-use seat map.  You can choose and change your seat until 48 hours before departure, when booking on Travelo.com. Also you can choose and change your seats at a self-service machine at the airport.</p>
                                    <hr>
                                    <div class="image-box style12">
                                        <article class="box">
                                            <figure>
                                                <img src="~/assest/images/flight/seat/1.png" alt="" class="middle-item" width="121" height="101" />
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title">Standard advance seat selection</h4>
                                                <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                            </div>
                                            <div class="action">
                                                <span class="price"><small>starting at</small>$18</span>
                                                <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                            </div>
                                        </article>
                                        <hr>
                                        <article class="box">
                                            <figure>
                                                <img src="~/assest/images/flight/seat/2.png" alt="" class="middle-item" width="121" height="101" />
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title">Standard advance seat selection</h4>
                                                <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                            </div>
                                            <div class="action">
                                                <span class="price"><small>starting at</small>$18</span>
                                                <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                            </div>
                                        </article>
                                        <hr>
                                        <article class="box">
                                            <figure>
                                                <img src="~/assest/images/flight/seat/3.png" alt="" class="middle-item" width="121" height="101" />
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title">Standard advance seat selection</h4>
                                                <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                            </div>
                                            <div class="action">
                                                <span class="price"><small>starting at</small>$18</span>
                                                <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                            </div>
                                        </article>
                                        <hr>
                                        <article class="box">
                                            <figure>
                                                <img src="~/assest/images/flight/seat/4.png" alt="" class="middle-item" width="121" height="101" />
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title">Standard advance seat selection</h4>
                                                <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcor  vulputate nisi, et fringilla ante convallis quis. </p>
                                            </div>
                                            <div class="action">
                                                <span class="price"><small>starting at</small>$18</span>
                                                <a href="flight-booking.html" class="button btn-small">SELECT NOW</a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="flight-baggage">
                                    <div class="travelo-box border-box box clearfix">
                                        <form>
                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">
                                                    <h5 class="title">From</h5>
                                                    <input type="text" class="input-text full-width" placeholder="city, airport or country name">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">
                                                    <h5 class="title">To</h5>
                                                    <input type="text" class="input-text full-width" placeholder="city, airport or country name">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">
                                                    <h5 class="title">Top Tier Status</h5>
                                                    <div class="selector full-width">
                                                        <select>
                                                            <option value="">super elite 100K</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">
                                                    <h5 class="title">Bag weight</h5>
                                                    <div class="selector full-width">
                                                        <select>
                                                            <option value="">20kgs (44lbs)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">
                                                    <h5 class="title">Class of service</h5>
                                                    <input type="text" class="input-text full-width" placeholder="economy class">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">
                                                    <h5 class="title">&nbsp;</h5>
                                                    <button class="full-width icon-check uppercase">View baggage allowance</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox">Infant/child (0 to 11 years) occupying a seat (with own ticket)
                                                    </label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <h2>Baggage</h2>
                                    <p>In this section you'll find information on baggage allowances, special equipment and sports items as well as restricted items. We've also included some tips to make your trip more enjoyable.</p>
                                    <div class="baggage column-5">
                                        <div class="icon-box style9">
                                            <i class="soap-icon-carryon"></i>
                                            <h5 class="box-title">Carry-on<br>Allowance</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-baggage"></i>
                                            <h5 class="box-title">Baggage<br>Allowance</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-delayed-baggage"></i>
                                            <h5 class="box-title">Delayed<br>Baggage</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-damaged-baggage"></i>
                                            <h5 class="box-title">Damaged<br>Baggage</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-baggage-status"></i>
                                            <h5 class="box-title">Baggage<br>Status</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-phone"></i>
                                            <h5 class="box-title">Baggage<br>Services</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-status"></i>
                                            <h5 class="box-title">Baggage<br>Tips</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-restricted"></i>
                                            <h5 class="box-title">Restricted<br>Items</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-liability"></i>
                                            <h5 class="box-title">Liability<br>Limitations</h5>
                                        </div>
                                        <div class="icon-box style9">
                                            <i class="soap-icon-lost-found"></i>
                                            <h5 class="box-title">Lost and<br>Found</h5>
                                        </div>
                                    </div>

                                    <hr>
                                    <h2>Basic Information</h2>
                                    <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.</p>
                                </div>
                                <div class="tab-pane fade" id="flight-fare-rules">
                                    <h2>Fare Rules for your Flight</h2>
                                    <div class="topics">
                                        <ul class="check-square clearfix">
                                            <li class="col-sm-6 col-md-4"><a href="#">Rules and Policies</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">Flight Changes</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">refunds</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">Airline Penalties</a></li>
                                            <li class="col-sm-6 col-md-4 active"><a href="#">Flight Cancellation</a></li>
                                            <li class="col-sm-6 col-md-4"><a href="#">Airline terms of use</a></li>
                                        </ul>
                                    </div>
                                    <p>Maecenas vitae turpis condimentum metus tincidunt semper bibendum ut orci. Donec eget accumsan est. Duis laoreet sagittis elit et vehicula. Cras viverra posuere condimentum. Donec urna arcu, venenatis quis augue sit amet, mattis gravida nunc. Integer faucibus, tortor a tristique adipiscing, arcu metus luctus libero, nec vulputate risus elit id nibh.</p>
                                    <div class="toggle-container">
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question1" data-toggle="collapse">Flight cancellation charges</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question1">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question2" data-toggle="collapse">WAmendment in higher class charges</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question2">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="" href="#question3" data-toggle="collapse">Amendment in same class charges</a>
                                            </h4>
                                            <div class="panel-collapse collapse in" id="question3">
                                                <div class="panel-content">
                                                    <p>Sed a justo enim. Vivamus volutpat ipsum ultrices augue porta lacinia. Proin in elementum enim. <span class="skin-color">Duis suscipit justo</span> non purus consequat molestie. Etiam pharetra ipsum sagittis sollicitudin ultricies. Praesent luctus, diam ut tempus aliquam, diam ante euismod risus, euismod viverra quam quam eget turpis. Nam <span class="skin-color">tristique congue</span> arcu, id bibendum diam. Ut hendrerit, leo a pellentesque porttitor, purus arcu tristique erat, in faucibus elit leo in turpis vitae luctus enim, a mollis nulla.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question4" data-toggle="collapse">Rebooking/cancellation charges</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question4">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question5" data-toggle="collapse">Canellation through the customer support</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question5">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question6" data-toggle="collapse">Do we accept cancellations through email?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question6">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a class="collapsed" href="#question7" data-toggle="collapse">What is the minimum day limit of cancellation?</a>
                                            </h4>
                                            <div class="panel-collapse collapse" id="question7">
                                                <div class="panel-content">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-md-3">
                        <article class="detailed-logo">
                            <figure>
                                <img width="87" height="57" src="~/assest/images/shortcodes/listings/style02/flight/2.png" alt="">
                            </figure>
                            <div class="details">
                                <h2 class="box-title">Indianapolis to Paris<small>Oneway flight</small></h2>
                                <span class="price clearfix">
                                    <small class="pull-left">avg/person</small>
                                    <span class="pull-right">$620</span>
                                </span>

                                <div class="duration">
                                    <i class="soap-icon-clock"></i>
                                    <dl>
                                        <dt class="skin-color">Total Time:</dt>
                                        <dd>13 Hour, 40 minutes</dd>
                                    </dl>
                                </div>

                                <p class="description">Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                <a href="flight-booking.html" class="button green full-width uppercase btn-medium">book flight now</a>
                            </div>
                        </article>
                        <div class="travelo-box contact-box">
                            <h4>Need Travelo Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                <br>
                                <a class="contact-email" href="#">help@pims.com</a>
                            </address>
                        </div>
                        <div class="travelo-box book-with-us-box">
                            <h4>Why Book with us?</h4>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="#">Excellent Support</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
