


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Travel Guide</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Travel Guide</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">

                <div id="main" class="col-md-12">
                    <div class="tab-container style1" id="travel-guide">
                        <ul class="tabs full-width">
                            <li class="active"><a href="#travel-guide-info" data-toggle="tab">Chukundi Tombs</a></li>
                            <li class=""><a href="#travel-guide-sports" data-toggle="tab">Makli (Thatta)</a></li>
                            <li><a href="#travel-guide-culture-history" data-toggle="tab">Shah Jehan’s Mosque</a></li>
                            <li><a href="#travel-guide-nightlife" data-toggle="tab">Rawat Fort</a></li>
                            <li><a href="#travel-guide-hotels" data-toggle="tab">Rohtas Fort</a></li>
                            <li><a href="#travel-guide-info1" data-toggle="tab">Indus Valley Civilization</a></li>
                            <li><a href="#travel-guide-sports1" data-toggle="tab">Mehrgarh</a></li>
                            <li><a href="#travel-guide-culture-history1" data-toggle="tab">Gandhara Civilization</a></li>
                            <li><a href="#travel-guide-hotels1" data-toggle="tab">Uch Sharif</a></li>
                        </ul>

                    </div>
                </div>
                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="travel-guide">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="travel-guide-info">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan\DetailedPictures/Chukundi Tombs.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <img src="~/assest/images/line.png" alt="" style="    margin-left: 281px;">
                                        <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;">Chukundi Tombs</h2>
                                        <p style="font-size: 15px;
    text-align: justify;">
                                            The Chaukhandi Sindhi: tombs form an early Islamic cemetery situated 29 km (18 mi) east of Karachi, in the Sindh province of Pakistan. The tombs are notable for their elaborate sandstone carvings. The tombs are similar in style to the elaborate tombs at the Makli Necropolis near Thatta, and are built in the funerary architectural style typical of lower Sindh.
                                            Generally, the tombs are attributed to the Jokhio (also spelt Jokhiya) and known as the family graveyard of the Jokhio tribe, although other, mainly Baloch, tribes have also been buried here. They were mainly built during Mughal rule sometime in the 15th and 18th centuries when Islam became dominant.
                                            ...
                                        </p>


                                        <img src="~/assest/images/line1.png" alt="" style="    margin-left: 83px;">
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-sports">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Makli (Thatta).jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Makli (Thatta)</h2>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Makli Necropolis is one of the largest funerary sites in the world, spread over an area of 10 square kilometres near the city of Thatta, in the Pakistani province of Sindh. The site houses approximately 500,000 to 1 million tombs built over the course of a 400 year period.

                                        </p>

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-culture-history">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Shah Jehan’s Mosque.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Shah Jehan’s Mosque</h2>

                                        <p style="font-size: 15px;text-align: justify;">
                                            The Shah Jahan Mosque, also known as the Jamia Masjid of Thatta, situated on Thatta’s outskirts, is representative of Muslim architecture. It was built in 17th-century 1647 A.D. by the Moghal Emperor Shah Jehan, and is said to have the most elaborate display of blue-and-white tile work in the sub-continent. 

                                        </p>

                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane fade" id="travel-guide-nightlife">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Rawat Fort.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Rawat Fort</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Rawat Fort is an early 16th century fort in the Pothohar plateau of Pakistan,The fort was built to defend the Pothohar plateau from the forces of the Pashtun king Sher Shah Suri.

                                            Rawat Fort is located 17 km east of Rawalpindi, on the Grand Trunk (G.T) Road leading to Lahore. The fort was built by Gakkhars, a fiercely independent tribe of the Potohar Plateau, in early 16th century. The grave of a Gakkhar Chief, Sultan Sarang Khan is located inside the fort. He died in 1546 AD fighting against the forces of Sher Shah Suri. Rawat is a corruption of the Arabic word “Rabat” meaning Serai. The Fort is oblong in plan, measuring 306 feet 9 inches east-west and 348 feet 9 inches north-south with semi circular bastions on the four corners and also on either side of the two gates located on east and north. On the western side of the fort, is located a mosque. The main gate is on the east. Flanking the gates and the mosque along the fortification are small cells each measuring 6 feet 9 inches. Originally, there were as many as 76 cells. In the northwest corner is located a massive tomb. The enclosure wall is crowned with merlons created it the form of pointed arch. The entire construction is in course rubble of sandstones with a sprinkling of brunt bricks. The surface of the mosque, tomb and the gateways was originally treated with lime-surkhi plaster in glaze, only traces of which exist now. The bricks have been used in arches, domes and stringcourses, which also serve as ornamental element.

                                            .
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-hotels">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Rohtas Fort.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Rohtas Fort</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Rohtas Fort, built in the 16th century at a strategic site in the north of Pakistan, Province of Punjab, is an exceptional example of early Muslim military architecture in central and south Asia. The main fortifications of this 70-hectare garrison consist of massive masonry walls more than four kilometres in circumference, lined with 68 bastions and pierced at strategic points by 12 monumental gateways. A blend of architectural and artistic traditions from elsewhere in the Islamic world, the fort had a profound influence on the development of architectural style in the Mughal Empire.

                                            Sher Sha Suri, founder of the Suri dynasty, commenced construction of Rohtas Fort (also called Qila Rohtas) in 1541. Irregular in plan, this early example of Muslim military architecture follows the contours of its hilltop site. An interior wall partitions the inner citadel from the remainder of the fort, and an internal water supply in the form of baolis(stepped wells) gave the fort’s garrison self-sufficiency in water. A beautiful mosque known as Shahi Masjid is situated near the Kabuli Gate, and the Haveli (Palatial House) Man Singh was constructed later in the Mughal period. Rohtas Fort represented a new form of fortification, based essentially on Turkish military architecture developed in reaction to the introduction of gunpowder and cannon, but transformed into a distinct style of its own.

                                            Rohtas Fort blended architectural and artistic traditions from Turkey and the Indian subcontinent, thereby creating the model for Mughal architecture and its subsequent refinements and adaptations (including the European colonial architecture that made abundant use of that tradition). Most noteworthy are the sophistication and high artistic value of its decorative elements, notably its high- and low-relief carvings, its calligraphic inscriptions in marble and sandstone, its plaster decoration, and its glazed tiles.

                                            The garrison complex was in continuous use until 1707, and then reoccupied under the Durrani and Sikh rulers of the 18th and 19th centuries respectively. A village grew within the walls, and exists day. Rohtas Fort is unique: there are no surviving examples on the subcontinent of military architecture of this period on the same scale and with the same degree of completeness and preservation. Within the fort a small town has developed and several thousand people live here.
                                            ..
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-info1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Indus Valley Civilization .jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Indus Valley Civilization </h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            The Indus Valley Civilization was a Bronze Age civilization in the northwestern regions of South Asia in what is Pakistan and northwest India today, lasting from 3300 BCE to 1300 BCE, and in its mature form from 2600 BCE to 1900 BCE. 
                                            The Indus Valley was home to the largest of the four ancient urban civilizations of Egypt, Mesopotamia, South Asia and China. Most of its ruins, even its major cities, remain to be excavated. The ancient Indus script has not been deciphered. Many questions about the Indus people who created this highly complex culture remain unanswered, but other aspects of their society can be answered through various types of archaeological studies.
                                            The Indus Valley Civilization was at its peak from the 3rd till the middle of the 2nd millennium BC. Discovered in 1922, Moenjodaro (in Sindh province) was once a metropolis of great importance, forming part of the Indus Valley Civilization with Harappa (discovered in 1923 in the southern Punjab), Kot Diji (Sindh) and recently discovered Mehrgarh (Balochistan). Moenjodaro is considered as one of the most spectacular ancient cities of the World. It had mud and baked bricks’ buildings, an elaborate covered drainage system, a large state granary, a spacious pillared hall, a College of Priests, a palace and a citadel. Harappa, another major city of the Indus Valley Civilization, was surrounded by a massive brick wall fortification. Other features and plan of the city were similar to that of Moenjodaro. The Kot Diji culture is marked by well-made pottery and houses built of mud-bricks and stone foundations. Mehrgarh, the oldest Civilization (7,000 B.C), remains of which were found in the district Kachhi of Balochistan recently, was the pioneer of the Indus Valley Civilization. The evidence of crop cultivation, animal husbandry and human settlement have been found here. The inhabitants of Mehrgarh were living in mud-brick houses and learned to make pottery around 6,000 B.C.
                                            ..
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-sports1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Mehrgarh.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Mehrgarh</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Mehrgarh is a 9,000 years old site of settlement of Kachi Neolithic site which lies on the Kacchi Plain of Balochistan, Pakistan. Mehrgarh is located near the Bolan Pass, to the west of the Indus River valley and between the present-day Pakistani cities of Quetta, Kalat and Sibi.

                                            It isone of the earliest sites with evidence of farming (wheat and barley) and herding (cattle, sheep and goats) in south Asia. The site is located on the principal route between Afghanistan and the Indus Valley.

                                            Supported by Pakistan's Department of Archaeology, Mehrgarh was discovered and excavations begun by a French team led by Jean-François Jarrige; the site was excavated continuously between 1974 and 1986. The earliest settled portion of Mehrgarh was in an area called MR.3, in the northeast corner of the 495-acre occupation. It is a small farming and pastoral village dated between 7000-5500 BC, with mud brick houses and granaries. The early Mehrgarh residents used local copper ore, basket containers lined with bitumen, and an array of bone tools. They grew six-row barley, einkorn and emmer wheat, jujubes and dates. Sheep, goats and cattle were herded at Mehrgarh beginning during this early period.

                                            Mehrgarh people lived in houses and were involved in hunting, domestication of animals and farming cereals like barley and wheat and later cotton too. This hunting-farming society developed gradually and their pursuits were creative. During the early period these people used stone and bone tools i.e. polished stone-axes, flint blades and bone-pointers. By the 6,000 B.C. the hand-made pottery appeared and in 5th millennium B.C. Metallurgy and potter-wheel were introduced and they produced some fine terra-cotta figurine and pottery with geometric designs. Subsequently they produced and wore ornaments of beads, seashells and semi-precious stones like Lapis Lazuli. A museum has been set up at Sibi where a wide range of rare finds from the site of Mehrgarh is on display.

                                            Later periods included craft activities such as flint knapping, tanning, and bead production; also, a significant level of metal working. The site was occupied continuously until about 2600 BC, when it was abandoned. The excavations, studied and research have led to pushing back the chronology of civilizations in Pakistan established through the study of Meonjodaro and Harappa by over 4,000 years.
                                            ..
                                        </p>


                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-culture-history1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Gandhara Civilization.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Gandhara Civilization</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Pakistan is the land which attracted Alexander the great from Macedonia in 326 B.C., with whom the influence of Greek culture came to this part of the world. During the 2nd century B.C., it was here that Buddhism was adopted as the state religion which flourished and prevailed here for over 1000 years, starting from 2nd century B.C., until 10th century A.D. During this time Taxila, Swat and Charsaddah (old Pushkalavati) became three important centres for culture, trade and learning. Hundreds of monasteries and stupas were built together with Greek and Kushan towns such as Sirkap and Sirsukh both in Taxila. It was from these centres that a unique art of sculpture originated which is known as Gandhara Art all over the world. Today the Gandhara Sculptures occupy a prominent place in the museums of England, France, Germany, USA, Japan, Korea, China, India and Afghanistan together with many private collections world over, as well as in the museums of Pakistan. Nevertheless, the zenith of this Gandhara Art is one and only "Fasting Buddha" now on display in Lahore Museum, Lahore.

                                            The intriguing record of Gandhara civilization, discovered in the 20th century, are found in the archeological sites spread over Taxila, Swat and other parts of NWFP. The rock carving and the petroglyphs along the ancient Silk Road (Karakoram Highway) also provide fascinating record of the history of Gandhara.

                                            Taxila is the abode of many splendid Buddhist establishments. Taxila, the main centre of Gandhara, is over 3,000 years old. Taxila had attracted Alexander the great from Macedonia in 326 BC, with whom the influence of Greek culture came to this part of the world. Taxila later came under the Mauryan dynasty and reached a remarkable matured level of development under the great Ashoka. During the year 2 BC, Buddhism was adopted as the state religion, which flourished and prevailed for over 1,000 years, until the year 10 AD. During this time Taxila, Swat and Charsadda (old Pushkalavati) became three important centers for culture, trade and learning. Hundreds of monasteries and stupas were built together with Greek and Kushan towns such as Sirkap and Sirsukh, both in The Gandhara civilization was not only the centre of spiritual influence but also the cradle of the world famous Gandhara culture, art and learning. It was from these centers that a unique art of sculpture originated which is known as Gandhara Art all over the world. Today the Gandhara sculptures occupy a prominent place in the museums of England, France, Germany, USA, Japan, Korea, China, India and Afghanistan, together with many private collections world over, as well as a vast collection in the museums of Pakistan. Buddhism left a monumental and rich legacy of art and architecture in Pakistan. Despite the vagaries of centuries, the Gandhara region preserved a lot of the heritage in craft and art. Much of this legacy is visible even today in Pakistan.

                                            The very earliest examples of Buddhist Art are not iconic but aniconic images and were popular in the Sub-continent even after the death of the Buddha. This is because the Buddha himself did not sanction personal worship or the making of images. As Siddhatha Guatama was a Buddha, a self-perfected, self-enlightened human being, he was a human role model to be followed but not idolized. Of himself he said, 'Buddha's only point the way'. This is why the earliest artistic tributes to the Buddha were abstract symbols indicative of major events and achievements in his last life, and in some cases his previous lives. Some of these early representations of the Buddha include the footprints of the Buddha, which were often created at a place where he was known to have walked. Among the aniconic images, the footprints of the Buddha were found in the Swat valley and, now can be seen in the Swat Museum.

                                            When Buddha passed away, His relics (or ashes) were distributed to seven kings who built stupas over them for veneration. The emperor Ashoka was later said to have dug them out, and distributed the ashes over a wider area, and built 84,000 stupas. With the stupas in place, to dedicate veneration, disciples then initiated 'stupa pujas'. With the proliferation of Buddhist stupas, stupa pujas evolved into a ritual act. Harmarajika stupa (Taxila) and Butkarha (Swat) stupa at Jamal Garha were among the earliest stupas of Gandhara. These had been erected on the orders of king Ashoka and contained the real relics of the Buddha.
                                            At first, the object of veneration was the stupa itself. In time, this symbol was replaced by a more sensitive human image. The Gandhara schools is probably credited with the first representation of the Buddha in human form, the portrayal of Buddha in his human shape, rather than shown as a symbol.
                                            As Buddhist Art developed and spread outside India, the styles developed here were imitated. For example, in China the Gandhara style was imitated in images made of bronze, with a gradual change in the features of these images.

                                            Julian, Haripur Taxila (votive stupas and Buddha figures)
                                            Julian is one of the important sites of the region. It is located on a low hill top can be accessed through steps. This site is consisting of a stupa and a monastery. The main stupa here is surrounded by votive stupas. Here seated Buddha figures have produced all around the main stupa in stucco mortar. The main stupa is surrounded by votive stupas. All these votive stupas have adorned with stucco figures of Buddha in a large number. The whole stupa court is surmounted by a wooden flat roof which is now in a poor condition. To the east is monastery court. Here all the rooms are facing to the central part. In the monastery court here are rooms of different sizes. All these structures have built in diaper masonry style.

                                            Dharamarajika Stupa
                                            Dhararaja, a title of the Mauryan emperor Ashoka, in the middle of the 3rd century, erected the Dharamarajika Stupa, the oldest Buddhist monument in Taxila. The Dharamarajika Stupa contained the sacred relics of the Buddha and the silver scroll commemorating the relics. A wealth of gold and silver coins, gems, jewellery and other antiques were discovered here and are housed in the Taxila museum.  

                                            Swat, the land of romance and beauty, is celebrated throughout the world as the holy land of Buddhist learning and piety. Swat acquired fame as a place of Buddhist pilgrimage. Buddhist tradition holds that the Buddha himself came to Swat during his last reincarnation as the Guatama Buddha and preached to the people here. It is said that the Swat was filled with fourteen hundred imposing and beautiful stupas and monasteries, which housed as many as 6,000 gold images of the Buddhist pantheon for worship and education. There are now more than 400 Buddhist sites covering and area of 160 Km in Swat valley only. Among the important Buddhist excavation in swat an important one is Butkarha-I, containing the original relics of the Buddha.

                                            Among the numerous Buddhist monuments present in Pakistan a few important ones, from historical and religious point of view, are:

                                            Takht-i-Bhai:
                                            Takht-i-Bhai is another well-known and preserved monument, a Buddhist monastery located on a rocky ridge about 10 miles northeast of Mardan. This structure dates back to two to five century AD and stands 600 feet above the plane. The feature, which distinguishes this site from others, is its architectural diversity and its romantic mountain setting. The uphill approach has helped in the preservation of the monument.
                                            The exposed buildings here include the main stupa and two courtyards in different terraces surrounded by votive stupa and shrines, the monastic quadrangles surrounded by cells for the monks, and a large hall of assembly. In one of the stupa courtyard is a line of colossal Buddhas, which were originally 16 to 20 feet high.

                                            The site's fragmentary sculptures in stone and stucco are a considerable wealth but its most remarkable feature is the peculiar design and arrangement of the small shrines, which surround the main stupa. These shrines stood upon a continuous sculptured podium and were crowned alternately with stupa-like finials forming an ensemble. The beauty and grandeur provided by the entire composition is unparallel in the Buddhist world.

                                            Takht-i-Bhai had a wealth of ancient Buddhist remains. A long range of different sized Buddha and Buddhistavvas from Takht-i-Bhai fill many museums. Some of the best pieces of Gandhara sculpture, now to be found in the museums of Europe, were originally recovered from Takht-i-Bhai. 
                                            Mughal Heritage
                                            After the conquest of Sindh by Arab General Muhammad Bin Qasim in 711 AD, Islam gained firm hold in the area. From the 10th century A.D. onwards, Ghaznavis, Ghoris, Khiljis and Tughlaks ruled over the subcontinent until the invasion of Timour, who paved the way for the great Mughal Empire. This empire lasted until the War of Independence of 1857. The early Muslim rulers of the subcontinent kept the border open for Muslims, which resulted in the spread of Islam and the establishment of Muslim settlements throughout the region. This era has left Pakistan rich in ethnic and cultural Mughal heritage.
                                            Pakistan is a treasure house of Muslim architecture. Lahore, the cultural hub of Pakistan, is situated along the bank of Ravi River. The city has witnessed the rise and fall of many dynasties like Ghaznavis (1021-1186 AD), Ghoris (1186-1202 AD) and Slaves (1206-1524 AD) before the arrival of the Mughals. The city was conquered by Babur of Ferghana (situated in Uzbekistan), the founder of the Mughal dynasty (1524-1764 AD).

                                            All the important monuments like the Royal Fort and the Mosque, Wazir Khan’s Mosque, Tombs of Jehangir, Asif Jah, Noor Jehan and the Shalimar Gardens, Hiran Minar etc., were constructed during this period. On the other hand, the shrines, mosques and forts located in and around Multan and Bahawalpur are masterpieces of the early Muslim architecture. Some important buildings are; Forts at Multan and Derawar (Bahawalpur), shrines of Shaikh Bahauddin Zakaria, Shah Rukan-e-Alam, Hazrat Shams Tabrez at Multan and Tomb of Bibi Jiwandi at Uch Sharif near Bahawalpur. The tombs at Chaukundi, 27 km out of Karachi, the remains at Banbhore (64 km from Karachi) and the necropolis of a million graves scattered over an area of 10 sq.km at Makli Hills, near Thatta, together with the Shahjehan Mosque of Thatta, are exquisite specimens of Muslim architecture, stone carving and glazed tile decorations..
                                        </p>

                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="travel-guide-hotels1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Uch Sharif.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Uch Sharif</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Uch, frequently referred to as Uuch Sharīf, is an historic city in the southern part of Pakistan's Punjab province. Uch may have been founded as Alexandria on the Indus, a town founded by Alexander the Great during his invasion of the Indus Valley.

                                            Uch, 75 km from Bahawalpur, is a very old town. It is believed that it existed even in 500 B.C. Some historians believe that Uch was there even before the advent of Bikramajit when Jains and Buddhists ruled over the sub-continent. At the time of the invasion by Alexander the Great, Uch was under Hindu rule. Some historians say that Alexander came to Uch after conquering northern parts of India and spent over a fortnight in the city and renamed it Alexandria. Some have mentioned Uch by the name of Sikandara or Iskalanda. They have described it as the most flourishing and beautiful town perched upon the plateau near the confluence of the Chenab and Ravi rivers. Famous shrines existing at Uch include those of Hazrat Bahawal Haleem, Hazrat Jalaluddin Surkh Bukhari, Makhdoom Jahanian Jehangasht, Bibi Jawandi and Shaikh Saifuddin Ghazrooni etc.

                                            Uch is small town today and divided into three different quarters known as (i) Uch Bukhari, after Hazrat Syed Jalaluddin Bukhari Surkhposh, (ii) Uch Jilani, after the name of Hazrat Shaikh Mohammed Ghaus Qadri Jilani (Bandagi), who came from Halab in 887 A.H., and (iii) Uch Mughlan after the Mughal rulers.
                                            Makhdoom Sahib of Uch Bukhari has some rare Islamic relics in his possession e.g., (i) turban of the Holy Prophet (p.b.u.h.), (ii) a mantle of Prophet (p.b.u.h.), (iii) 'Samsan' (Sword) of Hazrat Imam Hasan, (iv) a cap and turban of Hazrat Shaikh Abdul Qadir Jilani of Baghdad and (v) mantle of Hazrat Salman Farsi.

                                            Makhdoom Sahib Uch Jilani is the custodian of (i)  Holy Prophet's footprints (ii) a few chapters of the Holy Quran written by Hazrat Imam Hussain and (iii) a tooth of Hazrat Awais Qarni.
                                            ..
                                        </p>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <div class="toggle-container filters-container">
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/PakistanTours">Welcome To Pakistan</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/ecotourism">Eco Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/adventuretourism">Adventure Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/spiritualtourism">Spiritual Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/heritagetourism">Heritage Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/sportstourism">Sports Tourism</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </section>

