


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
       <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Search Results</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Hotel Search Results</li>
                </ul>
            </div>
        </div>
        <div class="global-map-area section parallax" data-stellar-background-ratio="0.5" style="background-position: 50% -24.2px;">

          
<div class="container">
    <div class="table-wrapper full-width">
            <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
                    
                <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="owl-carousel slides image-box style9" id="owl-carousel" style="width: 2000%; transition-duration: 0.6s; transform: translate3d(-800px, 0px, 0px);">
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/01.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                               
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/02.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/03.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/04.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                      
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/06.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                               
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/07.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/08.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/09.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/10.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/11.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/12.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/13.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/img/Hotels/14.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>

                      
                    </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
    </div>
</div>
</div>
        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <h4 class="search-results-title"><i class="soap-icon-search"></i><b>1,984</b> results found.</h4>
                            <div class="toggle-container filters-container">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                                    </h4>
                                    <div id="price-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <div id="price-range"></div>
                                            <br />
                                            <span class="min-price-label pull-left"></span>
                                            <span class="max-price-label pull-right"></span>
                                            <div class="clearer"></div>
                                        </div><!-- end content -->
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#rating-filter" class="collapsed">User Rating</a>
                                    </h4>
                                    <div id="rating-filter" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">

                                            <ul class="panel-title">
                                                <li class="panel-title"> <a href="/Home/HotelFivestart">Five Star</a></li>
                                                <li class="panel-title"> <a href="/Home/HotelFourStart">Four Star</a></li>
                                                <li class="panel-title"> <a href="/Home/HotelThreeStart">Three Star</a></li>
                                                <li class="panel-title">  <a href="/Home/HotelTwoStart">Two Star</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter" class="collapsed">Location</a>
                                    </h4>
                                    <div id="accomodation-type-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="panel-title">
                                                <li class="panel-title"><a href="/Home/HotelAbatabad">Abbottabad</a></li>
                                                <li class="panel-title"><a href="/Home/HotelBesham">Besham and Chilas</a></li>
                                                <li class="panel-title"><a href="/Home/HotelChitral">Chitral</a></li>
                                                <li class="panel-title"><a href="/Home/HotelGilgit">Gilgit Baltistan</a></li>
                                                <li class="panel-title"><a href="/Home/HotelHunza">Hunza</a></li>
                                                <li class="panel-title"><a href="/Home/HotelIslamabadRawalpindi">Islamabad and Rawalpindi</a></li>
                                                <li class="panel-title"><a href="/Home/HotelPeshawar">Peshawar</a></li>
                                                <li class="panel-title"><a href="/Home/HotelKarachi">Karachi</a></li>
                                                <li class="panel-title"><a href="/Home/HotelLahore">Lahore</a></li>
                                                <li class="panel-title"><a href="/Home/HotelMuree">Muree</a></li>
                                                <li class="panel-title"><a href="/Home/HotelNaranShogranBalakot">Naran,Shogran and Balakot</a></li>
                                                <li class="panel-title"><a href="/Home/HotelSkirdo">Skardu</a></li>
                                                <li class="panel-title"><a href="/Home/HotelSwat">Swat</a></li>
                                                <li class="panel-title"><a href="/Home/HotelTaxila">Taxila and Khanpur Dam</a></li>
    </ul>

                                        </div>
                                    </div>
                                </div>
                                
                                 <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#amenities-filter" class="collapsed">BEST HOTEL CHAINS</a>
                                    </h4>
                                    <div id="amenities-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="panel-title">
                                                <li class="panel-title"><a href="Hotel%20One.php">Hotel One</a></li>
                                                <li class="panel-title"><a href="pearl.php">Pearl Continental</a></li>
                                                <li class="panel-title"><a href="ptdcmotels.php">PTDC Motels</a></li>
                                                <li class="panel-title"><a href="sarena.php">Serena Hotels</a></li>
                                                <li class="panel-title"><a href="tm.php">TM Hotels (Shelton)</a></li>
                                            </ul>
                                          
                                        </div>
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="sort-by-section clearfix">
                                <h4 class="sort-by-title block-sm">Sort results by:</h4>
                                <ul class="sort-bar clearfix block-sm">
                                    <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
                                    <li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
                                    <li class="clearer visible-sms"></li>
                                    <li class="sort-by-rating active"><a class="sort-by-container" href="#"><span>rating</span></a></li>
                                    <li class="sort-by-popularity"><a class="sort-by-container" href="#"><span>Location</span></a></li>
                                </ul>
                                
                                <ul class="swap-tiles clearfix block-sm">
                                    <li class="swap-list active">
                                        <a href="hotel-list-view.html"><i class="soap-icon-list"></i></a>
                                    </li>
                                    <li class="swap-grid">
                                        <a href="hotel-grid-view.html"><i class="soap-icon-grid"></i></a>
                                    </li>
                                    <li class="swap-block">
                                        <a href="hotel-block-view.html"><i class="soap-icon-block"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="hotel-list listing-style3 hotel">
                                  <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/zd.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">Avari Lahore :<small><i class="soap-icon-departure yellow-color"></i> Lahore</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" tyle="width: 80%;margin-right: 18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Founded by Dinshaw Avari in 1944, it is one of the oldest and most famous hotel chain in Pakistan. Its first hotel was the famous Beach Luxury Hotel .The hotel chain also owns the famous Avari Towers.It also owns Avari Lahore and two properties in Dubai (Avari Barsha and Avari Dubai) and one in Toronto.
.</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/ze.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Pearl Continental Hotels<small><i class="soap-icon-departure yellow-color"></i> Karachi, Lahore, Rawalpindi, Peshawar, Bhurban, Muzaffarabad and Gwadar </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right: 18px;"></span>
                                                </div>
                                            </div>



                                              
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Pearl Continental Hotels are a chain of luxurious 5 Star hotels that operate as a subsidiary of famous Hashoo Group that also operate the 2 Marriott Hotels in Pakistan through a franchise system.Pearl Continental hotels is one of the biggest and oldest hotel chain serving the hospitality industry of Pakistan for decades. It has expanded to remote areas in recent years and now span over 7 hotels across Pakistan. Hashoo Hotels are located in Karachi, Lahore, Rawalpindi, Peshawar, Bhurban, Muzaffarabad and Gwadar.

</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/zf.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Serena Hotels Islambad:<small><i class="soap-icon-departure yellow-color"></i> Islambad  </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right: 18px;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Serena Hotels is one of the leading hotel chains in Pakistan. Serena Hotels has an intricate network of luxurious hotels in Pakistan spanning across 8 distinct locations including Islamabad, Hunza, Faislabad, Gilgit, Quetta, Swat, Serena Shigar Fort and Serena Khaplu palace. The chain is famous amongst business travelers and foreigners because of its security and prime locations. Serena Hotels provide Spa, fitness facilities and well equipped facilities for corporate events. It is most popular for fine dining restaurants and well trained staff.
</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                   <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/za.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">Margala Hotel Islamabd:<small><i class="soap-icon-departure yellow-color"></i> Islamabd</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Landscape, outlook, and ambiance; Hotel Margala is the glare known for its superior hospitality and kind gesture for over a decade. With every particular arriving guest, we deem to construct a relationship of delivering quality and bestowing value to their needs away from home.
.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/zb.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Nishat Hotel Lahore<small><i class="soap-icon-departure yellow-color"></i> Lahore </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Nishat Banquets strive to strike the fine balance between excellence, perfection, grandeur and beauty. Our team here is dedicated to making your events our top priority, providing our guests with a truly unforgettable experience. In that, we hope, we exceed your expectations. It is our utmost pleasure to have you here and we hope to keep you coming back again.

</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/zc.jpeg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Ramada Hotel Islambad:<small><i class="soap-icon-departure yellow-color"></i> Islambad  </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Welcome to Ramada Islamabad, the best choice for business travels and leisure in Islamabad, located on Murree Road, in the heart of Pakistan’s capital city. </p>
                                           
                                        </div>
                                    </div>
                                </article>
                                 <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/zd.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">Avari Lahore :<small><i class="soap-icon-departure yellow-color"></i> Lahore</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" tyle="width: 80%;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Founded by Dinshaw Avari in 1944, it is one of the oldest and most famous hotel chain in Pakistan. Its first hotel was the famous Beach Luxury Hotel .The hotel chain also owns the famous Avari Towers.It also owns Avari Lahore and two properties in Dubai (Avari Barsha and Avari Dubai) and one in Toronto.
.</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/ze.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Pearl Continental Hotels<small><i class="soap-icon-departure yellow-color"></i> Karachi, Lahore, Rawalpindi, Peshawar, Bhurban, Muzaffarabad and Gwadar </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                            </div>
                                         
                                              
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Pearl Continental Hotels are a chain of luxurious 5 Star hotels that operate as a subsidiary of famous Hashoo Group that also operate the 2 Marriott Hotels in Pakistan through a franchise system.Pearl Continental hotels is one of the biggest and oldest hotel chain serving the hospitality industry of Pakistan for decades. It has expanded to remote areas in recent years and now span over 7 hotels across Pakistan. Hashoo Hotels are located in Karachi, Lahore, Rawalpindi, Peshawar, Bhurban, Muzaffarabad and Gwadar.

</p>
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/zf.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Serena Hotels Islambad:<small><i class="soap-icon-departure yellow-color"></i> Islambad  </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Serena Hotels is one of the leading hotel chains in Pakistan. Serena Hotels has an intricate network of luxurious hotels in Pakistan spanning across 8 distinct locations including Islamabad, Hunza, Faislabad, Gilgit, Quetta, Swat, Serena Shigar Fort and Serena Khaplu palace. The chain is famous amongst business travelers and foreigners because of its security and prime locations. Serena Hotels provide Spa, fitness facilities and well equipped facilities for corporate events. It is most popular for fine dining restaurants and well trained staff.
</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                
                                 <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/d.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">Hotel One Chain:<small><i class="soap-icon-departure yellow-color"></i> Pakistan</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                               
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Backed by the same group that runs Marriott and PC chains in Pakistan, Hotel One express chain of hotels which was first opened in 2008 has quickly risen among the ranks and secured a solid customer base. Hotel One operates in Karachi, Skardu, Murree, Multan, Lahore, Rahim Yar Khan, Abbottabad and Faisalabad. The hotel chain offers a relaxing experience to the travellers at budget prices. Customers offer glowing reviews for experiencing five-star services at the price of a 3-star hotels. The rapid expansion of its branches confirms this fact. All the hotels have excellent housekeeping services
.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/e.png" style="    width: 186%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">PTDC AYUBIA Motel<small><i class="soap-icon-departure yellow-color"></i> AYUBIA </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                               
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">At a height of 8500 ft is only two hour drive from Islamabad. The Motel consists of 25 rooms offering facilities for conferences, excellent walk, chairlift and ride. The PTDC Motel is located near the famous Ayubia Chairlift.  Surrounded by magnificent green hills, meadows and forests of Pine, the Motel overlooks the picturesque Khanspur Valley. Its comfortable rooms and fine restaurant make it an ideal resting place. Satellite TV, Telephone, Rent-A-Car and Laundry facilities are also available here.  A variety of excursions are available for tourists in and around Ayubia.
</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/f.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">PTDC BALAKOT Motel:<small><i class="soap-icon-departure yellow-color"></i> BALAKOT  </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                               
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">At a distance of 220 km from Islamabad and 4 hours journey, lies Balakot, the ‘Gateway’ to the Kaghan Valley.  The town lies on the bank of the River Kunhar and serves as a market for the surrounding villages.  With its moderate climate, Balakot is famous for the shrines of the renowned Martyrs, Syed Ahmad Shaheed and Shah Ismail Shaheed Brailvi. The PTDC Motel and restaurant facilities are ideally located.  The Motel offers Telephone, Rent-A-Jeep and Tourist Information facilities.

</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/g.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC BAMBURET Motel Chitral:<small><i class="soap-icon-departure yellow-color"></i> Chitral</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                                
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">At a distance of 2 hours’ drive from Chitral Motel. PTDC has constructed a motel facility at Bamburet to facilitate the increasing number of visitors who come from across the world to meet and study the social and ethnic life style of the Kafir-Kalash. The motel has a beautiful reception lounge and a restaurant offering continental and Pakistani dishes.  Creation of motel facility at Bamburet is a major initiative taken by PTDC as part of its programme to promote tourism in remote areas regarded as attractive tourist destinations.Foreign tourists require permits for visiting the Kalash valley, which are issued at check post outside Kalash valley.

.</p>
                                          
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/h.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC BESHAM Motel:<small><i class="soap-icon-departure yellow-color"></i> BESHAM </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                               
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Besham is about 6 hours’ drive from Islamabad at a distance of 272 Kilo meter. The PTDC Motel consist of 47 rooms, presents an ideal place to break the journey for an overnight stay enroute to Gilgit, or beyond. Overlooking the mighty Indus River, the Motel is located at a strategic junction on the road linking the Swat Valley over the Shangla Pass with the main KKH. 
The Motel is very popular with tourists, who find great serenity along the sandy embankments of the Indus. Here, too, an excellent Restaurant, serving both western and local cuisine, is ideally placed overlooking the river.  Besides its comfortable, well furnished rooms, the Motel is equipped with Telephone, Curio Shop, Satellite TV and Laundry facilities.

.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/i.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC Booni (Chitral):<small><i class="soap-icon-departure yellow-color"></i> Chitral</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                              
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">At a distance of 75 Kilo meter from Chitral. This four rooms Motel is ideally situated with magnificent view of the surrounding mountain. It is enroot to Shandour.

.</p>
                                           </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/j.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC CHITRAL Motel:<small><i class="soap-icon-departure yellow-color"></i> CHITRAL </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Accessible by air from Peshawar 13 hours from Islamabad by road via Lowari Pass (in summer). The PTDC Motel at Chitral is located in the center of the city with well-furnished, comfortable rooms and a restaurant offering Pakistani and western cuisine. The Motel also offers Rent-a-Jeep, Telephone, Fax, Satellite TV and Laundry facilities.
Once in PTDC Motel, you will love to come again. Visit to Kalash Valley, Garam Chashma, Birmoglasht and Mastuj valleys is an experience to be remembered for long.

.</p>
                                            <div>
                                                  </div>
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/k.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC FLASHMAN'S HOTEL:<small><i class="soap-icon-departure yellow-color"></i> Rawalpindi</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">PTDC Flashman’s Hotel is located in the heart of Rawalpindi cantt. The Flashman’s Hotel consists of 60 rooms offering facilities for Conferences, Wedding ceremonies and other functions. Its comfortable rooms and fine restaurant. It make it an ideal resting place.

.</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/l.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC GILGIT :<small><i class="soap-icon-departure yellow-color"></i> GILGIT </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">It’s about 12 hours drive from Islamabad at a distance of 600 Kilo meter and by a thrilling 45 minutes flight. Along with its comfortable and well-furnished rooms overlooking the green lawns and its popular restaurant which is also the best in Town, the PTDC Motel offers Rent-a-Jeep, Curio Shop, Satellite Television, Telephone, Fax and Laundry facilities.

.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/m.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC GUPIS Motel Ghizar Gilgit :<small><i class="soap-icon-departure yellow-color"></i> Ghizar Gilgit </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Newly commissioned 12 rooms Motel is 3 hours drive from Gilgit. A Scenic Place, offering good fishing and trekking.

.</p>
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/n.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC HUNZA :<small><i class="soap-icon-departure yellow-color"></i> HUNZA </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Hunza is 2 hours drive from Gilgit at a distance of 100 Kilo meters and at a distance from 700 Kilo meters from Islamabad. The panoramic view of the KKH and the valley of Nagar across the river, PTDC Motel situated in its very center, is absolutely stunning. From the PTDC Motel one can take a day’s trip to Nagar valley overlooking the magnificent Hoper Glacier. 
The village of Passu adjacent to the Passu Glacier can also be visited in a day’s trip. The PTDC Motel offers comfortable rooms with its excellent restaurant (serving both local and western cuisine) and the fairy tale view of Rakaposhi Peak on a moonlit night. The Motel also offers Rent-a-Jeep, Telephone, Dish Antenna and Laundry facilities.


.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/o.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC KALAM :<small><i class="soap-icon-departure yellow-color"></i> KALAM </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">At a 3 hours drive from Saidu Sharif and 8 hours form Islamabad. Fifty kilometers from Miandam lies Kalam, the heart of the Swat valley. Located along the Swat River, Kalam is by far the most popular destination in these parts. The PTDC Motel overlooks the entire Kalam Township. The panoramic view is simply breath taking and the ideal place to see it is from the Motel restaurant, famous for its traditional food. 
A days’ excursion to the charming Ushu and Gabral valleys can be conveniently arranged. Visit to Mohodand Lake is a lifetime experience.

.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                               
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/p.jpeg" style="   width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC KHAPLU Motel Baltistan:<small><i class="soap-icon-departure yellow-color"></i> Baltistan</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                           
                                        </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">PTDC’s Motel at Khaplu is situated at a distance of 103 Kilometers from Skardu involving about 4 hours traveling time. It lies in the beautiful valley of the Shyok river. Many famous mountains such as Masher brum, Saltoro, Sia Gangri, K-6 and K-7 are located here. 

PIA operates a daily flight from Islamabad to Skardu (all flights are subject to weather). From Skardu jeeps are conveniently available on hire. The motel has 16 rooms, restaurant offering local and continental food, Satellite TV and Resnt-a-Jeep facilities. 

The whole of Northern Pakistan has come to be known as a paradise for mountaineers, climbers, trekkers and hikers. While visiting Baltistan, you cannot afford to miss Khaplu and the grandeur of lofty mountains surrounding this splendid tourist destination, otherwise you might have missed much in life!

.</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/q.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC MASTUJ Motel Chitral:<small><i class="soap-icon-departure yellow-color"></i> Chitral</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">At a distance of 4 hours drive from Chital Mastuj is situated on Chitral – Gilgit road about 107 Kilometers from Chitral enroute famous Shandur pass. This particular spot is surrounded by a cluster of beautiful hills and the terrain has its own beauty and grandeur, a plateau situated at just over 7500 feet above sea level. The area is surrounded by lofty mountains and is ideal for breaking journey on Chitral – Gilgit route.

The motel is fully equipped with all modern comforts. It has 12 elegantly furnished rooms, with a Restaurant offering continental and Pakistani cuisine. Besides, other facilities like laundry, Rent-a-Jeep, and satellite TV, are available. Stay at Mastuj Motel amidst natural surroundings which by itself is a wonderful experience of a lifetime.


.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/r.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC MIANDAM Motel:<small><i class="soap-icon-departure yellow-color"></i> Swat</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Miandam is located at a distance of 40 km and one & half hour drive from Saidu Sharif, the main city of Swat. Here PTDC Motel remains open throughout the year and is ideally located in the bosom of the valley astride lush green lawns overshadowed by majestic Chinar trees. The rooms, spread in four different blocks over the premises, are well-furnished and well-equipped. The restaurant (serving a variety of western and local cuisine) overlooks the valley affording spectacular view of the surrounding hills. The treks along the mountains are ideal for daily excursions. 
Apart from these splendid prospects, the Motel offers Rent-a-Car, Telephone, Satellite TV and Laundry facilities. The Motel is heated via traditional stoves during winters.

.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/s.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC NARAN Motel:<small><i class="soap-icon-departure yellow-color"></i> NARAN</small></h4>
                                              
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">The PTDC Motel, Naran is located on the banks of the Kunhar River, known for its Trout fishing. The Motel is spread over a 20 acre compound having standard rooms, huts and economy rooms. There are also 3 VIP cottages overlooking the Motel on the adjacent mountain top. The restaurant with its choice of western and Pakistani cuisine is always willing to oblige anglers with excellently prepared trout. A TV lounge near the restaurant overlooks the lush green lawns. The Motel offers Telephone, Satellite TV, Indoor Games, Children park, Rent-a-Jeep and Laundry facilities. Visiting Saif-ul-Muluk, lalazar, Batkundi or simply relaxing in this gentle valley, the experience at the PTDC Motel is guaranteed to be a memorable one.


.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/t.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC RAMA LAKE Motel Astore, Dist. Gilgit:<small><i class="soap-icon-departure yellow-color"></i> Gilgit</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">PTDC’s newly constructed Motel at Rama Lake is a welcome addition as an important tourist resort. By virtue of its peculiar location it can conveniently serve as a base camp for trekkers and mountaineers intending to scale the mighty heights of Nanga Parbat. 
The motel is an elegant tourist complex having 12 well-furnished, comfortable rooms, lounge and a Restaurant serving oriental and continental dishes. Besides, facilities like Camping, Rent-a-Jeep, telephone, Satellite TV and laundry are available. Rama Lake Motel lies at a distance of 120 kilometers from Gilgit, where regular transport service is available on hire.



.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/u.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC SAIDU SHARIF Motel:<small><i class="soap-icon-departure yellow-color"></i> SAIDU SHARIF</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">PTDC’s newly constructed motel is a grand air conditioned tourist complex of 22 rooms, they are well furnished. It has a spacious restaurant with sitting capacity of 100 guests, reception lobby, conference rooms and a craft shop offering traditional craft items and embroidery for sale. The motel is equipped with all the modern facilities such as in room satellite TV and telephone, heating, laundry and rent-a-car. The motel remains open all the year round and is terminal to regular coaster service for tourists during peak season which operates between Rawalpindi and Swat under management of PTDC. 



.</p>
                                            
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/v.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">SATPARA Motel:<small><i class="soap-icon-departure yellow-color"></i> Satpara</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">PTDC’s newly built Motel and furnished is ideally located overlooking Satpara Lake, one of the largest fresh water lakes of the country. Big and large, the lake offers ample opportunity for trout fishing, boating and rowing. 
The Motel is 9 kilometers from Skardu, capital city of Baltistan and takes about 20 minutes by Jeep. Another one hour drive by jeep will take you upto an altitude of 16000 feet on to the second largest plateau of the world popularly known as Deosai Plain
.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/w.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">SKARDU Motel:<small><i class="soap-icon-departure yellow-color"></i> SKARDU</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">

The largest district of the Northern Areas, Baltistan is home to some of the highest peaks in the world, the Karakoram Range, and is very popular with Mountaineering Expeditions. It is equally popular with high altitude trekkers, with treks to Baltoro Glacier, K-2 Base Camp and Concordia being especially renowned. The major city in Baltistan is Skardu which by road, lies approximately 5 hours away from Gilgit. A daily flight to and from Islamabad is also in operation.


.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/x.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC SUST Motel:<small><i class="soap-icon-departure yellow-color"></i> Hunza </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Sost is 2 hours driving time from Hunza and 5 hours from Gilgit. This is also the right place from where to visit the Khunjrab Pass. The Motel here is ideally located adjacent to the Immigration Post. Its comfortable, well-furnished rooms provide a welcome relief from the rugged, mountainous surrounding. The restaurant with its choice of Pakistani and western cuisine is a haven of delight. The Motel also offers Satellite TV, Laundry and Rent-a-Jeep/Transport facilities. Arrangements for traveling into China are available.

.</p>
                                        </div>
                                    </div>
                                </article>
                                
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/y.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">PTDC TAXILA Motel:<small><i class="soap-icon-departure yellow-color"></i> TAXILA</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">

The center of Gandhara Civilization and known for historical sites. PTDC has a full-fledged information center and a six-room Motel at Taxila with a well-furnished restaurant serving a variety of delicious food. The motel situation just close to the Archeological museum is an ideal place for a night’s stay in perfectly peaceful surroundings. 
Situated only 31 km from Islamabad, Taxila is easily accessible by road and train from all entry points.

.</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/z.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">Shelton's Rezidor Peshawar:<small><i class="soap-icon-departure yellow-color"></i> Peshawar</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right:-18px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Shelton's Rezidor in Peshawar has a bar and a terrace. Among the facilities of this property are a restaurant, a 24-hour front desk and room service, along with free WiFi.

.</p>
                                            
                                        </div>
                                    </div>
                                </article>
                               


                               <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery">
                                        <img width="600" height="160" alt="" src="~/assest/images/tour/packages/hotel/a.jpg" style="    width: 165%;"></a>
                                    </figure>
                                   
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">Royal Emirates Residence<small><i class="soap-icon-departure yellow-color"></i> Abbottābād</small></h4>
                                               
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right: -34px;"></span>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Royal Emirates Residence in Abbottābād features a garden and a terrace. Among the facilities of this property are a restaurant, a 24-hour front desk and room service, along with free WiFi.
.</p>
                                            <div>
                                           
                                                      </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/b.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Exclusive Guest House<small><i class="soap-icon-departure yellow-color"></i> Abbottābād</small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%; margin-right: -34px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                               
                                               
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Featuring a garden and free WiFi, Exclusive Guest House is set in Abbottābād.
The units in the guest house are equipped with a flat-screen TV. At Exclusive Guest House all rooms are equipped with air conditioning and a private bathroom.
Guests at the accommodation can enjoy a continental breakfast.
</p>
                                           
                                        </div>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="#" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/c.jpg" style="    width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                <h4 class="box-title">Hotel DeManchi Abottabad:<small><i class="soap-icon-departure yellow-color"></i> Abottabad </small></h4>
                                                <div class="five-stars-container"style="    margin-left: 440px;">
                                                    <span class="five-stars" style="width: 80%;margin-right: -34px;"></span>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                        <div>
                                           <p style="text-align: justify;">Set in Abbottābād, Hotel DeManchi Abottabad offers a garden. Among the facilities of this property are a restaurant, a 24-hour front desk and room service, along with free WiFi.
</p>
                                        </div>
                                    </div>
                                </article>
                               

                             
                            </div>
                            <a href="#" class="uppercase full-width button btn-large">load more listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
