


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
       <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">Hotel Search Results</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="#">HOME</a></li>
                    <li class="active">Hotel Search Results</li>
                </ul>
            </div>
        </div>
        <div class="global-map-area section parallax" data-stellar-background-ratio="0.5" style="background-position: 50% -24.2px;">

          
<div class="container">
    <div class="table-wrapper full-width">
            <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
                    
                <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="owl-carousel slides image-box style9" id="owl-carousel" style="width: 2000%; transition-duration: 0.6s; transform: translate3d(-800px, 0px, 0px);">
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/a.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                               
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/b.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/c.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/d.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                      
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/e.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                               
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/f.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/g.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        <li style="width: 170px; float: left; display: block;">
                            <article class="box">
                                <figure>
                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                        <img src="~/assest/images/tour/packages/2star/h.jpg" alt="" width="170" height="161" style="height: 265px;" draggable="false"></a>
                                </figure>
                                
                            </article>
                        </li>
                        
                       
                    </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
    </div>
</div>
</div>
        <section id="content">
            <div class="container">
                <div id="main">
                    <div class="row">
                        <div class="col-sm-4 col-md-3">
                            <h4 class="search-results-title"><i class="soap-icon-search"></i><b>1,984</b> results found.</h4>
                            <div class="toggle-container filters-container">
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                                    </h4>
                                    <div id="price-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <div id="price-range"></div>
                                            <br />
                                            <span class="min-price-label pull-left"></span>
                                            <span class="max-price-label pull-right"></span>
                                            <div class="clearer"></div>
                                        </div><!-- end content -->
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#rating-filter" class="collapsed">User Rating</a>
                                    </h4>
                                    <div id="rating-filter" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">

                                            <ul class="panel-title">
                                                <li class="panel-title"> <a href="/Home/HotelFivestart">Five Star</a></li>
                                                <li class="panel-title"> <a href="/Home/HotelFourStart">Four Star</a></li>
                                                <li class="panel-title"> <a href="/Home/HotelThreeStart">Three Star</a></li>
                                                <li class="panel-title">  <a href="/Home/HotelTwoStart">Two Star</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#accomodation-type-filter" class="collapsed">Location</a>
                                    </h4>
                                    <div id="accomodation-type-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                            <ul class="panel-title">
                                                <li class="panel-title"><a href="/Home/HotelAbatabad">Abbottabad</a></li>
                                                <li class="panel-title"><a href="/Home/HotelBesham">Besham and Chilas</a></li>
                                                <li class="panel-title"><a href="/Home/HotelChitral">Chitral</a></li>
                                                <li class="panel-title"><a href="/Home/HotelGilgit">Gilgit Baltistan</a></li>
                                                <li class="panel-title"><a href="/Home/HotelHunza">Hunza</a></li>
                                                <li class="panel-title"><a href="/Home/HotelIslamabadRawalpindi">Islamabad and Rawalpindi</a></li>
                                                <li class="panel-title"><a href="/Home/HotelPeshawar">Peshawar</a></li>
                                                <li class="panel-title"><a href="/Home/HotelKarachi">Karachi</a></li>
                                                <li class="panel-title"><a href="/Home/HotelLahore">Lahore</a></li>
                                                <li class="panel-title"><a href="/Home/HotelMuree">Muree</a></li>
                                                <li class="panel-title"><a href="/Home/HotelNaranShogranBalakot">Naran,Shogran and Balakot</a></li>
                                                <li class="panel-title"><a href="/Home/HotelSkirdo">Skardu</a></li>
                                                <li class="panel-title"><a href="/Home/HotelSwat">Swat</a></li>
                                                <li class="panel-title"><a href="/Home/HotelTaxila">Taxila and Khanpur Dam</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#amenities-filter" class="collapsed">BEST HOTEL CHAINS</a>
                                    </h4>
                                    <div id="amenities-filter" class="panel-collapse collapse">
                                        <div class="panel-content">
                                             <ul>
                                                <li><a href="Hotel%20One.php">Hotel One</a></li>
                                                <li><a href="pearl.php">Pearl Continental</a></li>
                                                <li><a href="ptdcmotels.php">PTDC Motels</a></li>
                                                <li><a href="sarena.php">Serena Hotels</a></li>
                                                <li><a href="tm.php">TM Hotels (Shelton)</a></li>
                                            </ul>
                                          
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">
                            <div class="sort-by-section clearfix">
                                <h4 class="sort-by-title block-sm">Sort results by:</h4>
                                <ul class="sort-bar clearfix block-sm">
                                    <li class="sort-by-name"><a class="sort-by-container" href="#"><span>name</span></a></li>
                                    <li class="sort-by-price"><a class="sort-by-container" href="#"><span>price</span></a></li>
                                    <li class="clearer visible-sms"></li>
                                    <li class="sort-by-rating active"><a class="sort-by-container" href="#"><span>rating</span></a></li>
                                    <li class="sort-by-popularity"><a class="sort-by-container" href="#"><span>popularity</span></a></li>
                                </ul>
                                
                                <ul class="swap-tiles clearfix block-sm">
                                    <li class="swap-list active">
                                        <a href="hotel-list-view.html"><i class="soap-icon-list"></i></a>
                                    </li>
                                    <li class="swap-grid">
                                        <a href="hotel-grid-view.html"><i class="soap-icon-grid"></i></a>
                                    </li>
                                    <li class="swap-block">
                                        <a href="hotel-block-view.html"><i class="soap-icon-block"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="hotel-list listing-style3 hotel">
                               <article class="box">
                                    <figure class="col-sm-5 col-md-4">
                                        <a title="" href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="~/assest/images/tour/packages/hotel/z.jpg"  style="width: 165%;"></a>
                                    </figure>
                                    <div class="details col-sm-7 col-md-8">
                                        <div>
                                            <div>
                                                
                                                <h4 class="box-title">Shelton's Rezidor Peshawar:<small><i class="soap-icon-departure yellow-color"></i> Peshawar</small></h4>
                                                <div class="amenities">
                                                    <i class="soap-icon-wifi circle"></i>
                                                    <i class="soap-icon-fitnessfacility circle"></i>
                                                    <i class="soap-icon-fork circle"></i>
                                                    <i class="soap-icon-television circle"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="five-stars-container">
                                                    <span class="five-stars" style="width: 80%;"></span>
                                                </div>
                                                <span class="review">270 reviews</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p>Shelton's Rezidor in Peshawar has a bar and a terrace. Among the facilities of this property are a restaurant, a 24-hour front desk and room service, along with free WiFi.

.</p>
                                            <div>
                                                <span class="price"><small>AVG/NIGHT</small>$620</span>
                                                <a class="button btn-small full-width text-center" title="" href="hotel-detailed.html">SELECT</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
