


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Rome City Tour</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Rome City Tour</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container tour-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-gallery image-box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                            <ul class="slides">

                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d1.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d2.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d3.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d4.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d5.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d5a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d6.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d8.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/hunz/d9.png" alt=""></a></li>

                            </ul>
                        </div>
                        <div class="flexslider image-carousel style1" id="post-carousel1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                            <ul class="slides">

                                <li><img src="~/assest/images/tour/packages/hunz/d1.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d2.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d3.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d4.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d5.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d5a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d6.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d8.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/hunz/d9.png" alt="" /></li>


                            </ul>
                        </div>
                    </div>

                    <div id="tour-details" class="travelo-box">
                        <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
                            <div class="col-sm-8 table-cell">
                                <div class="detailed-features">

                                    <div class="flights table-wrapper">
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-01:<small>Arrival to Islamabad Pakistan International airport</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Visit Islamabad Monument, </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Lok Virsa Museum </dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-02:<small>DTravel from Islamabad to Shogran 232km-6hour </small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Siri Paye-Jeep Trek-7.4km-35min</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Shogran</dd></dl>
                                            </div>

                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-03:<small>Travel to Naran 66km-2h : 45min</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Safe-ul-Maluk Lake-Jeep Trek 9.1km-45min</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Naran</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-04:<small>Naran to Naltar Valley then Hunza (??? Hours).</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Lolosar Lake</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Babusar Pass-Gilgit-Nomal</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Naltar Valeey Jeep Trek 25km-2hours</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Rakaposhi View Point</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Hunza</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-05:<small>Today we will visit Hunza and surrounding</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>700 year old Baltit Fort</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Hoper Valley and Glacier</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Duikar valley for sunset view on mighty Rakaposhi</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Shopping at the local marker </dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-06:<small>Travel to Khunjarab Pass, Total Travel-354 km</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Attabad Lake </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Passu Cone</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Kunjarab National Park</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Kunjarab Pass..</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-07:<small>Driver back to Naran 319km 7 hours or Besham 420km-12 hours.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Naran/Besham</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-08:<small>Naran/Besham to Natia Ghali</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Nathia Ghali</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-09:<small>Drive to Islamabad (Tour Ends), 330 km 7-8 hours</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Islamabad</dd></dl>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="featured-image">
                            <h3>Highlights of Tour Package:</h3>

                        </div>

                        <h2><i>Detail Itinerary </i></h2>

                        <h2>Day 01 Destination: </h2>
                        <h2>Arrival at Islamabad Destination: Islamabad Faisal Masque, Museum, Pakistan Monument, Shopping Centers</h2>
                        <img src="~/assest/images/tour/packages/hunz/d1.png" alt="">
                        <p>Arrival to Islamabad airport and transfer to hotel, in the rest time of sightseeing in Islamabad and Rawalpindi, visit of largest mosque in Asia and old local Market. Short briefing on tour.</p>

                        <p><i>Lunch: Islamabad</i></p>
                        <p><i>Overnight stay: Islamabad</i></p>


                        <h2>Day 02 Destination: </h2>
                        <h2>Travel from Islamabad to Shogran, Sri Paya (232km-6hour)</h2>
                        <img src="~/assest/images/tour/packages/hunz/d2.png" alt="">
                        <p>We will start travel early at the morning; we will cross Abbottabad, Haripur, Manshera and Balakot.  Shogran is a hill station situated on a green plateau in the Kaghan Valley, northern Pakistan at a height of 2,362 metres (7,749 ft) above sea level. Shogran is located at a distance of 34 km away from Balakot. The road from Islamabad to Kiwai is metalled and measures 212 km. The local people are friendly and peaceful. It is accessible in the summer. It attracts families and explorers alike. You should not miss a trip to Forest Rest House. Most of the people sit and relax in its huge lush green lawns. Entry might be restricted when senior officials visit or stay at rest houses. Views of Sri Paye and 'Musa ka Musala Peak' are really nice from the lawns of the rest house. </p>

                        <p><i>Dinner: Shogran </i></p>
                        <p><i>What we do: Enjoy jeep track to Sri Paya </i></p>
                        <p><i>Overnight stay: Shogran</i></p>

                        <h2>Day 03 Destination: </h2>
                        <h2>Travel to Naran- Saif-ul-Maluk Lake</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/hunz/d3.png" alt="">
                        <p>
                            Naran is a medium-sized town in upper Kaghan Valley in Mansehra District of Khyber Pakhtunkhwa province of Pakistan at the altitude of 2,409 meters (7,904 ft). It take 2 hour and 30 min to reach Naran valley and addition 30 min to reach Jhalkhad where we are staying.  There is significant rainfall in summers and heavy snowfall in winters. Naran is a famous summer destination as people enjoy low temperatures however it is rising each year. Even the driest month still has a lot of rainfall. The average annual temperature in Naran is 10.1 °C.
                            In Naran all the group members will we will travel to Saiful Muluk is a mountainous lake located at the northern end of the Kaghan Valley, near the town of Naran in the Saif ul Muluk National Park. At an elevation of 3,224 m (10,578 feet) above sea level, the lake is located above the tree line, and is one of the highest lakes in Pakistan. Saiful Muluk is located in the Mansehra district of Khyber Pakhtunkhwa. Malika Parbat, the highest peak in the valley is near the lake. The lake is accessible by Jeep from the nearby town of Naran about 9 km north of Naran, during the summer season but access during winter is limited. Saiful Muluk was formed by glacial moraines that blocked the water of the stream passing through the valley.
                        </p>


                        <p><i>Dinner: Naran </i></p>
                        <p><i>What we do: Enjoy jeep track to Saif-ul-Maluk Lake</i></p>
                        <p><i>Overnight stay: Naran</i></p>


                        <h2>Day 04 Destination:</h2>
                        <h2>Chilas/Naran to Naltar Valley and then Hunza</h2>
                        <img src="~/assest/images/tour/packages/hunz/d4.png" alt="">
                        <p>This day the participants will begin their journey early morning. The participants will travel on Karakoram Highway which is considered the 8th wonder of the world by many of our guests. We will take a 30min rest at Nanga Parbat view point. Nanga Parbat is 8,126 m from see level. After that we will start travel to Naltar valley. Naltar Valley has incredible raw beauty with picturesque mountains, flowing rivers and unpaved roads. Reaching Naltar is a bit of an adventure, but that just adds to its charm. The last stretch is a 45-minute drive in a jeep or four-wheel drive on the steep unpaved rocky Naltar Valley Road with a river running below it. Once you reach Naltar Valley, you are filled with a sense of accomplishment and awed by the gorgeous scenery around you. From there we will visit the Satrangi Lake. It is wonderful Lake, 17 KM from beautiful Naltar Valley. We will also see White Leopard in WWF reserved century. We will take rest and local lunch here. And the start travel to today last destination Hunza. On the way to Hunza we can view the Rakaposhi Peak.</p>

                        <p><i>Dinner: Hunza </i></p>
                        <p><i>Overnight stay: Hunza</i></p>

                        <h2>Day 05</h2>
                        <h2>Hunza Valley Travel Guide </h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/hunz/d5.png" alt="">
                        <p>This day the participants will have a lot of interactions with historians, musicians and story tellers as they will be visiting the historic Baltit Fort (700 years old).Our local guides have always very interesting stories to tell our guests.</p>
                        <img src="~/assest/images/tour/packages/hunz/d5a.png" alt="">
                        <p>
                            After visiting the fort we will start travel to Hoper valley. Hoper Nagar is a beautiful attraction in Hunza. It’s located about 50 minutes’ drive from Karimabad approachable by any fit vehicle. The hike till hopper takes another 15-20 minutes. The black glacier looks beautiful and the mountains around the valley are majestic. It is really beautiful in the cherry blossom season. Located at 9,000 ft above sea level, Hoper village has a lush green landscape surrounded by brown barren mountains that reach up to 18,000 ft. At the end of Hoper Village, there are few view points from where one gets a dominating view of Bualtar and Barpu Glaciers. From various viewpoints in Hoper Village, both these glaciers are clearly visible.
                            In the evening we will visit to local market for shopping. Participants can also grab a cup of coffee and enjoy the shopping. Participants will also visit Diakin valley before the sunset where the participants will experience the sun set on the mighty Karakoram Mountains.
                        </p>
                        <p><i>Dinner: Hunza</i></p>
                        <p><i>Overnight stay: Hunza</i></p>

                        <h2>Day 06 </h2>
                        <h2>Hunza Valley Tour – Kunjarab National Park and Khunjerab Pass (Pak-China Border)</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/hunz/d6.png" alt="">
                        <p>
                            This day participants will depart for Pak-China Border (Khunjerab Pass – highest road border in the world) which is one the best road trips of Hunza valley tour. Participants will pass through the 1,000 years old civilization of Ganish. They will see the ancient rock carvings and sacred rocks. The participants will travel along Attabad lake after a half hour time from Ganish bridge. The Karakoram Highway in the Upper Hunza has a lot to offer.
                            The participants will pass through Hussaini Glacier and Passu Village. On the way they will see Shispar Peak (7,611 m), Passu Peak (7,284 m) and the infamous Passu Cones/Catherdral (above 6,000 m). The participants will cross through Wildlife Conservation Area in Khyber and enter Khunjerab National Park in Deh . Khunjarab National Park Kunjarab National Park is famous several large mammals such as Markho/Marco Polo sheep, Blue sheep, Himalayan Ibex, Tibetan wild ass, Brown bear, Snow leopard, Indian wolf.  Upon arrival on the world’s highest border Khunjerab Pass (4,733 m), guest gets the opportunity to meet Chinese tourists coming from the other side of the border.
                            Guests can take pictures of the mesmerizing landscape and also witness snowfall in summers on a lucky day. On return the participants will get shopping time on return to Sost for Chinese goods (watches, electronics etc). This day the participants will have time to visit Karimabad Market. Visitors can shop herbs, caps, dry fruit and much more. Free time to roam in Karimabad, participants will have good amount of shopping time for handicrafts, gemstones and cloth.
                            Night Stay in Hunza.
                        </p>


                        <h2>Day 07 </h2>
                        <h2>Return to Naran Kaghan Valley (If the road at Babusar Pass Open)</h2>

                        <p>This day the participants will be travel back to Naran Kaghan Valley and will take the same route to reach Naran (Kaghan Valley). Guests will take quick stops on the way and then reach to Naran in afternoon. Upon arrival to Naran, Participants can visit Naran Market.</p>

                        <p><i>Dinner: Naran/Besham</i></p>
                        <p><i>Overnight stay: Naran/Besham</i></p>



                        <h2>Day 08</h2>
                        <h2>Naran to Abbottabad and then Nathia Ghali </h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/hunz/d8.png" alt="">
                        <p>On 8th day we will start travel back to Abbottabad from Naran and then to Nathia Ghali. Nathia Ghali  is a mountain resort town or hill station in Abbottabad. The natural scenery is highly attractive. Nathia Ghali is famous for its lush green meadows, deep forests of oak, cedar and pine, where fog in July/August present a glory. In winter snowfall adds to the scene. Nathia Gali boasts a nice church. Nathia Gali has a mini bazar.  Mukshpuri and Miranjani are two nearby high.</p>

                        <p><i>Dinner: Nathia Ghali</i></p>
                        <p><i>Night Stay: Nathia Ghali</i></p>

                        <h2>Day 09</h2>
                        <h2>Islamabad City</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/hunz/d9.png" alt="">
                        <p>The participants will continue their journey towards Islamabad. Travelers will take quick stops on the way. It will take approximately 7-8 hours to reach Islamabad from Naran/Besham. Upon arrival in Islamabad, Hunza Valley Tour will come to an end. Dinner at Monal restaurant.</p>

                        <p><i>Night Stay: Islamabad</i></p>

                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <h4 class="box-title">Last Minute Deals</h4>
                        <div class="image-box style14">
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking1.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Plaza Tour Eiffel</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$170</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking2.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$620</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking3.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$322</span>avg/night</label>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

