


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div id="slideshow">
        <div class="fullwidthbanner-container">
            <div class="revolution-slider rev_slider" style="height: 0; overflow: hidden;">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-13" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="assest/images/uploads/revslider1/homepage/bg.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->

                        <img src="~/assest/images/uploads/revslider1/homepage/bg.jpg" alt="" title="Slider1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-1"
                             data-x="center" data-hoffset=""
                             data-y="bottom" data-voffset=""
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:bottom;s:300;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:300;s:300;"
                             data-start="400"
                             data-responsive_offset="on"
                             style="z-index: 5;"><img src="~/assest/images/uploads/revslider1/homepage/stage.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 2 -->

                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="bottom" data-voffset=""
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:300;s:300;"
                             data-start="800"
                             data-responsive_offset="on"
                             style="z-index: 6;"><img src="~/assest/images/uploads/revslider1/homepage/tree.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-3"
                             data-x="756"
                             data-y="500"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:left;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:50px;opacity:0;s:1500;s:1500;"
                             data-start="1100"
                             data-responsive_offset="on"
                             style="z-index: 7;"><img src="~/assest/images/uploads/revslider1/homepage/shadow.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-4"
                             data-x="801"
                             data-y="319"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1500;s:1500;"
                             data-sxtart="1400"
                             data-responsive_offset="on"
                             style="z-index: 8;"><img src="~/assest/images/uploads/revslider1/homepage/brifcase.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-5"
                             data-x="718"
                             data-y="357"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:50px;opacity:0;s:1700;e:Power3.easeInOut;"
                             data-transform_out="x:-200px;skX:85px;opacity:0;s:1500;s:1500;"
                             data-start="2000"
                             data-responsive_offset="on"
                             style="z-index: 9;"><img src="~/assest/images/uploads/revslider1/homepage/plate.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-6"
                             data-x="798"
                             data-y="450"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:1500;s:1500;"
                             data-start="2000"
                             data-responsive_offset="on"
                             style="z-index: 10;"><img src="~/assest/images/uploads/revslider1/homepage/watch.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-7"
                             data-x="773"
                             data-y="315"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1200;s:1200;"
                             data-start="2300"
                             data-responsive_offset="on"
                             style="z-index: 11;"><img src="~/assest/images/uploads/revslider1/homepage/cap.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-8"
                             data-x="center" data-hoffset="320"
                             data-y="160"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:800;y:450;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1000;e:easeOutQuad;"
                             data-transform_out="opacity:0;s:600;s:600;"
                             data-start="3000"
                             data-responsive_offset="on"
                             style="z-index: 12;"><img src="~/assest/images/uploads/revslider1/homepage/plane.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-13-layer-9"
                             data-x="250"
                             data-y="center" data-voffset="40"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:-50px;opacity:0;s:600;e:easeOutQuad;"
                             data-transform_out="y:-50px;opacity:0;s:600;s:600;"
                             data-start="3600"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 13; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                            <p class="caption-small-title">Welcome to World’s No. 1</p><p class="caption-medium-title">Travel Based Theme Ever Created!</p>
                        </div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption largewhitebg_button1   tp-resizeme"
                             id="slide-13-layer-10"
                             data-x="310"
                             data-y="395"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:left;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1000;s:1000;"
                             data-start="3200"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 14; white-space: nowrap;font-family:Arial;border-color:rgba(255, 255, 255, 1.00);"><a href="#">BUY NOW</a></div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption largewhitebg_button1   tp-resizeme"
                             id="slide-13-layer-11"
                             data-x="444"
                             data-y="395"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:right;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:50px;opacity:0;s:1000;s:1000;"
                             data-start="3500"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 15; white-space: nowrap;font-family:Arial;border-color:rgba(255, 255, 255, 1.00);"><a href="#">MORE INFO</a></div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-14" data-transition="zoomout" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="http://static.soaptheme.net/uploads/revslider1/homepage/bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/assest/images/uploads/revslider1/homepage/bg1.jpg" alt="" title="Slider1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-1"
                             data-x="576"
                             data-y="16"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:left;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:50px;opacity:0;s:1500;s:1500;"
                             data-start="500"
                             data-responsive_offset="on"
                             style="z-index: 5;"><img src="~/assest/images/uploads/revslider1/homepage/girl.png" alt="" data-ww="650px" data-hh="637px" data-no-retina></div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-2"
                             data-x="27"
                             data-y="359"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:right;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1500;s:1500;"
                             data-start="800"
                             data-responsive_offset="on"
                             style="z-index: 6;"><img src="~/assest/images/uploads/revslider1/homepage/island.png" alt="" data-ww="267px" data-hh="187px" data-no-retina></div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-3"
                             data-x="266"
                             data-y="479"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:bottom;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:300;s:300;"
                             data-start="1100"
                             data-responsive_offset="on"
                             style="z-index: 7;"><img src="~/assest/images/uploads/revslider1/homepage/ballon.png" alt="" data-ww="25px" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-4"
                             data-x="384"
                             data-y="441"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:left;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:300;s:300;"
                             data-start="1400"
                             data-responsive_offset="on"
                             style="z-index: 8;"><img src="~/assest/images/uploads/revslider1/homepage/plane1.png" alt="" data-ww="262px" data-hh="100px" data-no-retina></div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption large_bold_white_med_2   tp-resizeme"
                             id="slide-14-layer-5"
                             data-x="25"
                             data-y="181"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:bottom;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:50px;opacity:0;s:300;s:300;"
                             data-start="1700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 9; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><p class="caption-big-title">Let's <strong><i>Discover</i></strong> the world together!</p></div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-6"
                             data-x="22"
                             data-y="230"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1500;s:1500;"
                             data-start="2000"
                             data-responsive_offset="on"
                             style="z-index: 10;"><img src="~/assest/images/uploads/revslider1/homepage/pleane.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-7"
                             data-x="23"
                             data-y="273"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1300;s:1300;"
                             data-start="2300"
                             data-responsive_offset="on"
                             style="z-index: 11;"><img src="~/assest/images/uploads/revslider1/homepage/buil.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-8"
                             data-x="18"
                             data-y="317"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:-50px;opacity:0;s:1300;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1100;s:1100;"
                             data-start="2600"
                             data-responsive_offset="on"
                             style="z-index: 12;"><img src="~/assest/images/uploads/revslider1/homepage/watch1.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-9"
                             data-x="18"
                             data-y="354"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:900;s:900;"
                             data-start="2900"
                             data-responsive_offset="on"
                             style="z-index: 13;"><img src="~/assest/images/uploads/revslider1/homepage/man.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-14-layer-10"
                             data-x="72"
                             data-y="230"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:300;s:300;"
                             data-start="3200"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 14; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">Over<strong> 500 </strong>Airlines</span></div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-14-layer-11"
                             data-x="73"
                             data-y="274"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                             data-start="3500"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 15; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">More than <strong>13,000</strong> Places</span></div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-14-layer-12"
                             data-x="73"
                             data-y="318"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                             data-start="3800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 16; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">Best Price Guarantee</span></div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-14-layer-13"
                             data-x="75"
                             data-y="357"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:300;s:300;"
                             data-start="4100"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 17; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">Customer Care</span></div>

                        <!-- LAYER NR. 14 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-14-layer-14"
                             data-x="29"
                             data-y="410"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:1300;s:1300;"
                             data-start="4400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 18; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);"><a class="link link-home-slider-blue" href="#">FIND OUT MORE</a></div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-15" data-transition="slidedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="http://static.soaptheme.net/uploads/revslider1/homepage/bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/assest/images/uploads/revslider1/homepage/bg2.jpg" alt="" title="Slider1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-1"
                             data-x="right" data-hoffset="-10"
                             data-y="center" data-voffset=""
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:right;s:400;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:300;s:300;"
                             data-start="1000"
                             data-responsive_offset="on"
                             style="z-index: 5;"><img src="~/assest/images/uploads/revslider1/homepage/cloud.png" alt="" data-no-retina></div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-2"
                             data-x="right" data-hoffset="307"
                             data-y="134"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:400;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:300;s:300;"
                             data-start="1700"
                             data-responsive_offset="on"
                             style="z-index: 6;"><img src="~/assest/images/uploads/revslider1/homepage/balloon.png" alt="" data-no-retina></div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-3"
                             data-x="center" data-hoffset="24"
                             data-y="139"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:800;y:450;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:600;s:600;"
                             data-start="2100"
                             data-responsive_offset="on"
                             style="z-index: 7;"><img src="~/assest/images/uploads/revslider1/homepage/plane2.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-4"
                             data-x="right" data-hoffset="486"
                             data-y="116"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="3900"
                             data-responsive_offset="on"
                             style="z-index: 8;"><img src="~/assest/images/uploads/revslider1/homepage/italy.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-5"
                             data-x="right" data-hoffset="437"
                             data-y="117"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="3700"
                             data-responsive_offset="on"
                             style="z-index: 9;"><img src="~/assest/images/uploads/revslider1/homepage/building5.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-6"
                             data-x="right" data-hoffset="498"
                             data-y="201"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="3500"
                             data-responsive_offset="on"
                             style="z-index: 10;"><img src="~/assest/images/uploads/revslider1/homepage/building4.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-7"
                             data-x="right" data-hoffset="381"
                             data-y="134"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="3300"
                             data-responsive_offset="on"
                             style="z-index: 11;"><img src="~/assest/images/uploads/revslider1/homepage/building3.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-8"
                             data-x="right" data-hoffset="367"
                             data-y="152"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="3100"
                             data-responsive_offset="on"
                             style="z-index: 12;"><img src="~/assest/images/uploads/revslider1/homepage/building2.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-9"
                             data-x="right" data-hoffset="365"
                             data-y="98"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="2900"
                             data-responsive_offset="on"
                             style="z-index: 13;"><img src="~/assest/images/uploads/revslider1/homepage/paris.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-10"
                             data-x="right" data-hoffset="342"
                             data-y="183"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="2700"
                             data-responsive_offset="on"
                             style="z-index: 14;"><img src="~/assest/images/uploads/revslider1/homepage/sydney.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-11"
                             data-x="right" data-hoffset="481"
                             data-y="178"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="2500"
                             data-responsive_offset="on"
                             style="z-index: 15;"><img src="~/assest/images/uploads/revslider1/homepage/building.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-12"
                             data-x="right" data-hoffset="413"
                             data-y="30"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="2300"
                             data-responsive_offset="on"
                             style="z-index: 16;"><img src="~/assest/images/uploads/revslider1/homepage/london.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-13"
                             data-x="right" data-hoffset="440"
                             data-y="72"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
                             data-transform_out="y:50px;opacity:0;s:300;s:300;"
                             data-start="2100"
                             data-responsive_offset="on"
                             style="z-index: 17;"><img src="~/assest/images/uploads/revslider1/homepage/newyork.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 14 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-14"
                             data-x="right" data-hoffset="-60"
                             data-y="bottom" data-voffset=""
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:800;y:450;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:600;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:300;s:300;"
                             data-start="1600"
                             data-responsive_offset="on"
                             style="z-index: 18;"><img src="~/assest/images/uploads/revslider1/homepage/hand.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 15 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-15-layer-15"
                             data-x="25"
                             data-y="181"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:right;s:1500;e:Power3.easeInOut;"
                             data-transform_out="x:-50px;opacity:0;s:1000;s:1000;"
                             data-start="4000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 19; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><p class="caption-big-title">Let's <strong><i>Discover</i></strong> the world together!</p></div>

                        <!-- LAYER NR. 16 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-16"
                             data-x="22"
                             data-y="230"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="4200"
                             data-responsive_offset="on"
                             style="z-index: 20;"><img src="~/assest/images/uploads/revslider1/homepage/pleane.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 17 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-15-layer-17"
                             data-x="72"
                             data-y="230"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="4400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 21; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">Over<strong> 500 </strong>Airlines</span></div>

                        <!-- LAYER NR. 18 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-18"
                             data-x="23"
                             data-y="273"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="4600"
                             data-responsive_offset="on"
                             style="z-index: 22;"><img src="~/assest/images/uploads/revslider1/homepage/buil.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 19 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-15-layer-19"
                             data-x="73"
                             data-y="274"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="4700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 23; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">More than <strong>13,000</strong> Places</span></div>

                        <!-- LAYER NR. 20 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-20"
                             data-x="18"
                             data-y="317"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="4900"
                             data-responsive_offset="on"
                             style="z-index: 24;"><img src="~/assest/images/uploads/revslider1/homepage/watch1.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 21 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-15-layer-21"
                             data-x="73"
                             data-y="318"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="5100"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 25; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">Best Price Guarantee</span></div>

                        <!-- LAYER NR. 22 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-22"
                             data-x="18"
                             data-y="354"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-transform_idle="o:1;"
                             data-transform_in="x:-50px;opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="5300"
                             data-responsive_offset="on"
                             style="z-index: 26;"><img src="~/assest/images/uploads/revslider1/homepage/man.png" alt="" data-ww="auto" data-hh="auto" data-no-retina></div>

                        <!-- LAYER NR. 23 -->
                        <div class="tp-caption large_bold_white_med   tp-resizeme"
                             id="slide-15-layer-23"
                             data-x="75"
                             data-y="357"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="y:top;s:1500;e:Power3.easeInOut;"
                             data-transform_out="y:-50px;opacity:0;s:1000;s:1000;"
                             data-start="5500"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 27; white-space: nowrap; color: rgba(255, 255, 255, 1.00);font-family:Arial;border-color:rgba(255, 214, 88, 1.00);"><span class="caption-medium-title">Customer Care</span></div>

                        <!-- LAYER NR. 24 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-15-layer-24"
                             data-x="29"
                             data-y="410"
                             data-width="['auto']"
                             data-height="['auto']"
                             data-transform_idle="o:1;"
                             data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                             data-transform_out="opacity:0;s:1300;s:1300;"
                             data-start="5700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 28; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);"><a class="link link-home-slider-blue" href="#">FIND OUT MORE</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="text-center description block">
                <h1>Most Popular Tour Packages</h1>

            </div>
            <div class="tour-packages row add-clearfix image-box">
                <div class="col-sm-6 col-md-4">
                    <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" style="animation-duration: 1s; visibility: visible;">
                        <figure>
                            <a href="/Home/AdventureTours"><img src="/assest/images/tour/packages/raka/adv.png" alt="" style="    height: 262px;"></a>
                            <figcaption>
                                <!-- <span class="price">$257</span> -->
                                <h2 class="caption-title">Adventure Tours</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4">
                    <article class="box animated fadeInDown" data-animation-type="fadeInDown" style="animation-duration: 1s; visibility: visible;">
                        <figure>
                            <a href="/Home/BuddhistPilgrimageTours"><img src="/assest/images/tour/packages/bud/bud.png" alt="" style="    height: 264px;"></a>
                            <figcaption>
                                <!-- <span class="price">$122</span> -->
                                <h2 class="caption-title">Buddhist Pilgrimage Tours</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-sm-6 col-md-4">
                    <article class="box animated fadeInRight" data-animation-type="fadeInRight" style="animation-duration: 1s; visibility: visible;">
                        <figure>
                            <a href="/Home/EcoAndFamilyTours"><img src="/assest/images/tour/packages/eco.png" alt=""></a>
                            <figcaption>
                                <h2 class="caption-title">Eco and Family Tours</h2>
                            </figcaption>
                        </figure>
                    </article>
                </div>

            </div>
        </div>


        <div class="global-map-area section parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 172.3px; height: 612px; background: #fff; ">
            <div class="container">
                <div class="col-sm-6 content-section description pull-right" style="height: 476px;">
                    <img src="/assest/images/line.png" alt="" class="animated imagecss" data-animation-type="fadeInUp" data-animation-duration="2" style="position: absolute; bottom: 0px; left: 0px; margin-left: 242px; margin-top: -95px; width: 357px; ">

                    <h1 class="title" style="color: black; margin-top: 37px; text-align: center; ">Prime Minister of Pakistan Imran Khan urge the "Domestic and International tourists" to visit the beautiful destinations of Pakistan</h1>

                    <p style="font-size: 16px; text-align: justify;">
                        Pakistan has virgin coastal belt in Balochistan, Allah almighty has bestowed us with diverse kind of mountain scenery from Suleman, Karakoram and Himalaya heights,these mountain ranges have their own diverse features abundant with great vegetation, wildlife and bird life, which have no match in any part of the world.

                        Religious tourism, especially for the adherents of Sikhism, Buddhism, and Hinduism will increase the number of tourism in the country. "No other sector in Pakistan offers returns on investment as much as tourism," I urge the
                        elite" class of Pakistan to visit the domestic tourist attractions instead of spending their summer vacations in other countries.

                        The mindset regarding allowing foreigners into the country needs to be changed in order to portray a positive image of Pakistan to the world. Pakistan is a peaceful and stable country and open to the world for business and tourism.

                        "Pakistan is known for its hospitality globally because the people here are welcoming to tourists,"

                    </p>

                </div>
                <div class="col-sm-6 image-container no-margin" style="height: 476px; margin-left: -5%; position: relative;">
                    <img src="/assest/images/D82OaBrWwAArt_7.jpg" alt="" class="animated imagecss" data-animation-type="fadeInUp" data-animation-duration="2" style="position: absolute; bottom: 0px; left: 0px;">
                    <h1 style=" margin-top: 364px; text-align: center; margin-left: -311px; color: black;">
                        IMRAN KHAN <br />
                        PRIME MINISTOR<br />
                        ISLAMIC REBULIC OF PAKISTAN
                    </h1>
                    <img src="/assest/images/line1.png" alt="" class="animated imagecss" data-animation-type="fadeInUp" data-animation-duration="2" style="position: absolute; bottom: 0px; left: 0px; margin-left: 713px; margin-top: 472px;">

                </div>
            </div>

        </div>
        <div class="section container">
            <div class="text-center description block">

                <h1>Most Popular Hotels</h1>
                </div>
                <div class="row image-box hotel listing-style1">
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <article class="box">
                            <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
                                <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title="">
                                    <img width="500" height="161" src="~/assest/images/img/hotels/PC Lahore.jpg" alt="" style="width: 321px;">
                                </a>
                            </figure>
                            <div class="details">
                                <h4 class="box-title">Pearl continental <small>Lohore</small></h4>
                                <div class="feedback">
                                    <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;margin-right: 500px;"></span></div>
                                </div>

                            </div>
                        </article>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <article class="box">
                            <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                                <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title=""><img width="270" height="161" src="~/assest/images/img/hotels/85157009.jpg" alt="" /></a>
                            </figure>

                            <div class="details">

                                <h4 class="box-title">Margala Hotel<small>Islamabd</small></h4>
                                <div class="feedback">
                                    <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>

                                </div>

                            </div>
                        </article>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <article class="box">
                            <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.6">
                                <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title=""><img width="270" height="161" src="~/assest/images/img/hotels/banquets1.jpg" alt=""></a>
                            </figure>
                            <div class="details">

                                <h4 class="box-title">Nishat Hotel<small>Lahore</small></h4>
                                <div class="feedback">
                                    <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>

                                </div>

                            </div>
                        </article>
                    </div>
                    <div class="col-sms-6 col-sm-6 col-md-3">
                        <article class="box">
                            <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.9">
                                <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title=""><img width="270" height="161" src="~/assest/images/img/hotels/The-best-Business-Hotel-in-Islamabad-Ramada-Islamabad.jpg" alt="" style="width: 354px;"></a>
                            </figure>
                            <div class="details">

                                <h4 class="box-title">Ramada Hotel <small>Islambad</small></h4>
                                <div class="feedback">
                                    <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                                </div>

                            </div>
                        </article>
                    </div>

                </div>
            </div>
            <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="col-sm-6 content-section description pull-right">

                        <h1 class="title">Welcome to Pakistan</h1>
                        <p style="font-size: 15px;
    text-align: justify;">Welcome to the fabulous Pakistan. PakistanLocated in the heart of the South Asian sub-continent, it is a country with its own history and cultural heritage, fascinating in its own right.Which has a 1,046 km (650 mi) coastline along the Arabian Sea and the Gulf of Oman in the south. It is bordered by India (east), Afghanistan (west), Iran (southwest) and China (northeast). It is separated from Tajikistan by Afghanistan's narrow Wakhan Corridor in the north, and also shares a marine border with Oman. With a population exceeding 197 million people, it is the sixth most populous country.</p>
                        <p style="font-size: 15px;
    text-align: justify;">
                            Pakistan was previously home to several ancient cultures, including Mehrgarh and the Indus Valley Civilisation. The area has been ruled by numerous empires and dynasties, including the Indian Mauryan Empire, the Persian Achaemenid Empire, Alexander of Macedonia, the Arab Umayyad Caliphate, the Mongol Empire, the Mughal Empire, the Durrani Empire, the Sikh Empire and the British Empire. As a result of the Pakistan Movement led by Muhammad Ali Jinnah and the subcontinent's struggle for independence, Pakistan was created in 1947.
                        </p>
                        <p style="font-size: 15px;text-align: justify;">
                            Pakistan is a federal parliamentary republic consisting of four provinces (Sindh, Punjab, Balochistan, Khyber-Pakhtunkhwa) and three federal territories (Islamabad, Gilgit-Baltistan and Azad Kashmir).
                        </p>

                    </div>
                    <div class="col-sm-6 image-container no-margin">
                        <img src="~/assest/images/tourisminpakistan/Tourism%20Map%20of%20Pakistan.jpg" alt="" class="animated imagecss" data-animation-type="fadeInUp" data-animation-duration="2">
                    </div>
                </div>

            </div>
            <div class="section container">
                <div class="text-center description block">

                    <h1>Most Popular Cars</h1>
                    </div>
                    <div class="row image-box style3">
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <article class="box">
                                <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                                    <a href="~/assest/ajax/cruise-slideshow-popup.aspx" class="hover-effect popup-gallery"><img width="270" height="161" alt="" src="~/assest/images/img/Transport/tourism.jpeg" style="width: 278px;"></a>
                                </figure>
                                <div class="details text-center">
                                    <h4 class="box-title">Coaster Saloon</h4>
                                    <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
                                        <span style="width: 80%;" class="five-stars"></span>
                                    </div>

                                </div>
                            </article>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <article class="box">
                                <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.4">
                                    <a href="~/assest/ajax/cruise-slideshow-popup.aspx" class="hover-effect popup-gallery"><img width="270" height="161" alt="" src="~/assest/images/img/Transport/Honda-civci-2016-01-1.jpg"></a>
                                </figure>
                                <div class="details text-center">
                                    <h4 class="box-title">Car</h4>
                                    <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
                                        <span style="width: 80%;" class="five-stars"></span>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <article class="box">
                                <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.8">
                                    <a href="~/assest/ajax/cruise-slideshow-popup.aspx" class="hover-effect popup-gallery">
                                        <img width="270" height="161" alt="" src="~/assest/images/img/Transport/jeep.jpeg" style="width: 355px;" />
                                        <div class="details text-center">
                                            <h4 class="box-title">Jeep Safari</h4>
                                            <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
                                                <span style="width: 80%;" class="five-stars"></span>
                                            </div>
                                        </div>
                            </article>
                        </div>
                        <div class="col-sms-6 col-sm-6 col-md-3">
                            <article class="box">
                                <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
                                    <a href="~/assest/ajax/cruise-slideshow-popup.aspx" class="hover-effect popup-gallery"><img width="270" height="161" alt="" src="~/assest/images/img/Transport/hyroof.jpg" style="width: 355px;"></a>
                                </figure>
                                <div class="details text-center">
                                    <h4 class="box-title">HI-roof Toyota</h4>
                                    <div data-placement="bottom" data-toggle="tooltip" title="4 stars" class="five-stars-container">
                                        <span style="width: 80%;" class="five-stars"></span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                @*<div class="section container">
            <h2>Popular Restaurants</h2>
            <div class="row image-box hotel listing-style1">
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0">
                            <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title=""><img width="270" height="161" src="~/assest/images/tour/packages/rest/a.jpg" alt="" style="width: 301px;"></a>
                        </figure>

                        <div class="details">

                            <h4 class="box-title">Haleem and Hareesa.<small></small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>

                            </div>

                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.6">
                            <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title=""><img width="270" height="161" src="~/assest/images/tour/packages/rest/e.jpg" alt="" style="width: 385px;"></a>
                        </figure>
                        <div class="details">

                            <h4 class="box-title">eekh Kabab, Shami Kababs<small>Karachi</small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>

                            </div>

                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="0.9">
                            <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title=""><img width="270" height="161" src="~/assest/images/tour/packages/rest/c.jpg" alt="" style="width: 356px;"></a>
                        </figure>
                        <div class="details">

                            <h4 class="box-title">Halwa Puri<small></small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                            </div>

                        </div>
                    </article>
                </div>
                <div class="col-sms-6 col-sm-6 col-md-3">
                    <article class="box">
                        <figure class="animated" data-animation-type="fadeInDown" data-animation-delay="1.2">
                            <a class="hover-effect popup-gallery" href="~/assest/ajax/slideshow-popup.aspx" title="">
                                <img width="500" height="161" src="~/assest/images/tour/packages/rest/e.jpg" alt="" style="width: 407px;">
                            </a>
                        </figure>
                        <div class="details">
                            <h4 class="box-title">Biryani and Pulao.<small></small></h4>
                            <div class="feedback">
                                <div title="4 stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: 80%;"></span></div>
                            </div>

                        </div>
                    </article>
                </div>
            </div>
        </div>*@
</section>
