


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    
<div class="global-map-area section parallax" data-stellar-background-ratio="0.5">

          
                <div class="container">
                    <div class="table-wrapper full-width">
                            <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
                                    <ul class="owl-carousel slides image-box style9" id="owl-carousel">
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/a.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                               
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/b.png" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/c.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/d.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/e.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                               
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/f.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                               
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/g.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                                <article class="box">
                                                    <figure>
                                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                            <img src="~/assest/images/tour/packages/services/h.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                    </figure>
                                                   
                                                </article>
                                            </li>
                                            <li>
                                                    <article class="box">
                                                        <figure>
                                                            <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                                <img src="~/assest/images/tour/packages/services/i.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                        </figure>
                                                       
                                                    </article>
                                                </li>
                                                <li>
                                                        <article class="box">
                                                            <figure>
                                                                <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                                    <img src="~/assest/images/tour/packages/services/j.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                            </figure>
                                                           
                                                        </article>
                                                    </li>
                                    </ul>
                                </div>
                    </div>
                </div>
            </div>




<section id="content" class="gray-area">
<div class="container">
    <div id="main" >
        <div class="row">
            <div class="col-sm-4 col-md-3" style="margin-left: -8px;">
                <h4 class="search-results-title"><i class="soap-icon-search"></i><b>Categries</b> </h4>
                <div class="toggle-container filters-container">
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="#">Gallary</a>
                        </h4>

                    </div>

                </div>
                <div class="toggle-container filters-container">
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="#">News</a>

                        </h4>

                    </div>

                </div>
                <div class="toggle-container filters-container">
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="/home/Downloads">Downloads</a>

                        </h4>

                    </div>

                </div>
            </div>
            <div class="col-sm-8 col-md-9">
            <div class="tab-wrapper">
                <div class="tab-container container trans-style">
                   
                    <div class="tab-content" style="margin-right: 52px;">
                       
                        <div id="fly-in-comfort" class="tab-pane fade active in">
                            <div class="sm-section clearfix">
                                  <div class="table-wrapper hidden-table-sm">
                                    <div class="table-cell" style="padding: 0 15px;padding-left: 61px;">
                                    <img src="~/assest/images/line.png" alt="" style="    margin-left: 270px;">
                                    <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;margin-right:-14px;">Media</h2>
                                    <div id="main">

                                        <div class="items-container isotope image-box style9 row active" style="position: relative; height:209px;">
                                            <div class="iso-item col-xs-12 col-sms-6 col-sm-6 col-md-3 filter-all filter-island filter-beach" style="position: absolute; left: 0px; top: 0px;">
                                                <article class="box">
                                                    <figure>
                                                        <a class="hover-effect" title="" href="~/assest/images/media/Dowanload/55764208_2388184337860403_8780442784151633920_n.jpg"><img width="270" height="161" alt="" src="~/assest/images/picture.png"></a>
                                                    </figure>
                                                </article>
                                            </div>
                                     
                                            <div class="iso-item col-xs-12 col-sms-6 col-sm-6 col-md-3 filter-all filter-countries" style="position: absolute; left: 600px; top: 0px;">
                                                <article class="box">
                                                    <figure>
                                                        <a class="hover-effect" title="" href="~/assest/images/media/Dowanload/59129493_876711932660163_7830747827637583872_n.jpg"><img width="270" height="161" alt="" src="~/assest/images/picture.png"></a>

                                                    </figure>
                                                    <div class="details">
                                                        <h4 class="box-title">Press Release</h4>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="iso-item col-xs-12 col-sms-6 col-sm-6 col-md-3 filter-all filter-island filter-beach" style="position: absolute; left: 300px; top: 0px;">
                                                <article class="box">
                                                    <figure>
                                                        <a class="hover-effect" title="" href="~/assest/images/media/Dowanload/NOC For Foreiners.jpg"><img width="270" height="161" alt="" src="~/assest/images/picture.png"></a>
                                                    </figure>
                                                    <div class="details">
                                                        <h4 class="box-title">NOC For Foreiners</h4>
                                                    </div>
                                                </article>
                                            </div>

                                        </div>
                                        <div class="text-center description block" style="    margin-top: 59px;">


                                            <h1 style="font-weight: bold;
                                        color: #2597ce;    font-family: 'Helvetica';
                                        font-style: normal;">
                                                Pakistan Online Visa
                                            </h1>

                                        </div>
                                        <div class="items-container isotope image-box style9 row active" style="position: relative; height:209px;">
                                            <div class="iso-item col-xs-12 col-sms-6 col-sm-6 col-md-3 filter-all filter-island filter-beach" style="position: absolute; left: 0px; top: 0px;">
                                                <article class="box">
                                                    <figure>
                                                        <a class="hover-effect" title="" href="~/assest/images/media/Dowanload/pakistan_online_visa/application_guide.pdf"><img width="270" height="161" alt="" src="~/assest/images/pdf.jpeg"></a>
                                                    </figure>
                                                    <div class="details">
                                                        <h4 class="box-title">Application Guide</h4>
                                                    </div>
                                                    
                                                </article>
                                            </div>
                                            <div class="iso-item col-xs-12 col-sms-6 col-sm-6 col-md-3 filter-all filter-countries" style="position: absolute; left: 600px; top: 0px;">
                                                <article class="box">
                                                    <figure>
                                                        <a class="hover-effect" title="" href="~/assest/images/media/Dowanload/PRE-TRAVEL-TIPS/PRE-TRAVEL-TIPS.pdf"><img width="270" height="161" alt="" src="~/assest/images/pdf.jpeg"></a>

                                                    </figure>
                                                    <div class="details">
                                                        <h4 class="box-title">Pre Travel Tips</h4>
                                                    </div>
                                                </article>
                                            </div>
                                           

                                        </div>

                                    </div>
<img src="~/assest/images/line1.png" alt="" style="    margin-left: 141px;">
       </div>
                                   
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>