


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Masseges</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Masseges</li>
            </ul>
        </div>
    </div>
    <section id="content" class="no-padding">
        <div class="banner imagebg-container" style="height: 350px; background-image: url(/assest/images/pages/extra/holiday-banner1.jpg);">
            <div class="container" style="margin-left: 75px;
margin-top: 50px;">
                <i class="soap-icon-passenger circle white-color skin-bg no-border pull-left" style="font-size: 54px; margin-right: 15px;"></i>
                <div class="table-wrapper hidden-table-sm">

                    <h1 class="med-caption yellow-color" style="margin-top: 28px;
font-size: 40px;">
                        Welcome to PIMS Tourism!
                    </h1>
                    <p></p>

                    <!-- <h1 class="big-caption">MESSAGE FROM THE <em></em></h1>
                    <h2 class="med-caption yellow-color"></strong>  CHIEF EXECITIVE <br> & <br>MANAGING DIRECTOR OFFICER <strong></h2> -->
                </div>
            </div>
    </section>
    <div class="tab-wrapper">
        <div class="tab-container container trans-style">
            <div class="tab-content">
                <div id="fly-in-comfort" class="tab-pane fade in active">
                    <div class="sm-section clearfix">
                        <!-- <i class="soap-icon-passenger circle white-color skin-bg no-border pull-left" style="font-size: 54px; margin-right: 15px;"></i>
                                                        <div class="table-wrapper hidden-table-sm">
                                                             <div class="table-cell" style="padding: 0 15px; ">
                                                                <h1 style="margin-top: 28px;
                        font-size: 40px;">Welcome to PIMS Tourism!</h1>
                                                                <p></p>
                                                            </div>

                                                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="content">

        <div class="container block">
            <div class="row">

                <div id="main" class="col-md-9">
                    <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/director.png" style="width: 179px;
height: 177px;" alt="">
                                <h5><a href="#">Jalal Afsar Babar</a></h5>
                                <h5>Managing Director(MD)</h5>
                                <h5>PIMS Tourism Pakistan.</h5>
                            </div>
                            <div class="description">
                                <h4 class="skin-color">MESSAGE FROM THE MANAGING DIRECTOR (MD)</h4>
                                <p>Our goal and objectives were to bring life back and promote a soft image of Pakistan. Optimism and trust were the key elements to provide safe, reliable and economical mode of transportation for our clients. </p>
                                <p>
                                    Pakistan has immense cultural diversity and richness having sites representing archeological, cultural, historic and religious significance and attractive natural and scenic beauty. It having 1000KM of coastline with Arabian Sea with deserts beaches, high mountains, lakes, glaciers and valleys that are unique in its own way. In Pakistan you find friendly locals, stunning landscapes, incredible treks, untapped white water rafting, undiscovered expeditions, colorful festivals, tasty food, and just enough thrills to keep you on your toes.

                                    .
                                </p>
                                <p>We have an excellent team of travel professionals who can handle even the minute details of the trip carefully and efficiently. Our modern technology coupled with excellent customer service makes us the leader in the tourism industry. Reservations can be made online 24 hours a day and confirmation will be emailed to you the same day. PIMS Travel offers Sedans, vans, mini buses, Luxury coaster, and motors equipped with emergency equipment. We pride in our ability to manage all types of events such as airport Travel, Corporate Travel, Religious/spiritual, Eco and Historical tourism at the best rate possible. Our top priorities are customer service in providing high quality hotel service and well-maintained vehicles, which are customized to our clients’ needs. and request. If you’re considering a vacation, PIMS tourism can also help plan your luxury travel. Vacations of a lifetime are standard practice here at PIMS tourism.<p>
                                <p>We are committed to providing high quality, cost-effective travel management solutions to clients throughout Pakistan, Thailand, China and Azerbaijan. We will continue to be the best solution provider for international exchange in all areas including individual/group travel.</p>
                                <p>We seek to deliver a better tomorrow as a trusted partner to our clients..</p>

                            </div>
                        </div>
                        <div class="travel-story-meta clearfix">
                            <div class="story-meta">
                                <span class="date"><i class="soap-icon-clock"></i>11 NOV 2013</span>
                            </div>
                            <span class="travel-miles"><i class="soap-icon-locations"></i><span>Post Date</span></span>
                        </div>
                    </div>

                    <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/ceo.png" style="width: 179px;
height: 177px;" alt="">
                                <h5><a href="#">Gul Muhammad</a></h5>
                                <h5>  Chief Executive Officer (CEO)</h5>
                                <h5>  PIMS Tourism Pakistan</h5>
                            </div>
                            <div class="description">
                                <h4 class="skin-color">MESSAGE FROM THE CHIEF EXECITIVE OFFICER (CEO)</h4>
                                <p>As you navigate our website, I hope you learn more about the qualities that make our company an outstanding provider of essential travel and tourism services and a wonderful place to build a trust.</p>
                                <p>PIMS’s Tourism aims to position Pakistan as a visible global brand in tourism sector for domestic and international tourists.</p>
                                <p>Pakistan is endowed with a rich and varied flora and fauna. High Himalayas, Karakoram and the Hindukush ranges with their alpine meadows and permanent snow line, coniferous forests down the sub-mountain scrub, the vast Indus plain merging into the great desert, the coast line and wetlands, all offer a remarkably rich variety of vegetation and associated wildlife./<p>
                                <p>We have only one objective to ensure our clients mission objectives are achieved with the highest level of capability and assurance, and at the lowest possible cost. Our methodology ensures that vital tourism services are stood up on time and on schedule. PIMS‘s clients come to us with confidence that we have the expertise to take service delivery to the next level of performance.</p>
                                <p>PIMS Tourism, proudly present a team of highly professional, enthusiastic and experienced travel experts. We work in an experience-plan office where we share our knowledge with each other for the benefit of all our valued customers.</p>
                                <p>Our corporate culture is defined by a simple set of corporate values that define how we operate every single day – Trust, Care, Innovation, and Pride. They reflect how we interact with our clients, our team, and partners.</p>
                                <p>We hold each other accountable for creating a company we can all be proud to work at.</p>
                                <p>PIMS Tourism earned the trust and respect of our clients and business partners this is the one simple reason, we have partnership with world top tourism companies in China, Azerbaijan, France and Thailand.</p>
                                <p>I hope this provides you with a few reasons to get to know PIMS Tourism better. Whether you are a potential and interested to joint venture with us as a business partner for Inbound (With in Pakistan) or outbound (International), we look forward to finding out how we can work together to bring service to life.</p>
                                <p>
                                    All the best!
                                    .
                                </p>
                            </div>
                        </div>
                        <div class="travel-story-meta clearfix">
                            <div class="story-meta">
                                <span class="date"><i class="soap-icon-clock"></i>26 Jun 2019</span>
                            </div>
                            <span class="travel-miles"><i class="soap-icon-locations"></i><span><b></b> Post Date</span></span>
                        </div>
                    </div>
                   
                </div>
                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <h5 class="box-title">Search Stories</h5>
                        <div class="with-icon full-width">
                            <input type="text" class="input-text full-width" placeholder="story name or category">
                            <button class="icon green-bg white-color"><i class="soap-icon-search"></i></button>
                        </div>
                    </div>

                    <div class="tab-container box post-list">
                        <ul class="tabs full-width">
                            <li><a data-toggle="tab" href="#recent-posts">Recent</a></li>
                            <li class="active"><a data-toggle="tab" href="#popular-posts">Popular</a></li>
                            <li><a data-toggle="tab" href="#new-posts">New</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="recent-posts" class="tab-pane fade">
                                <div class="image-box style14">
                                    <article class="box">
                                        <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="~/assest/images/ceo.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">CHIEF EXECITIVE </a></h5>
                                            <p>As you navigate our website,.</p>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="~/assest/images/director.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">MANAGING DIRECTOR</a></h5>
                                            <p>As you navigate our website,.</p>
                                        </div>
                                    </article>

                                </div>
                            </div>
                            <div id="popular-posts" class="tab-pane fade in active">
                                <div class="image-box style14">
                                    <article class="box">
                                        <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="~/assest/images/ceo.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">CHIEF EXECITIVE </a></h5>
                                            <p>As you navigate our website,.</p>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="~/assest/images/director.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">MANAGING DIRECTOR</a></h5>
                                            <p>As you navigate our website,.</p>
                                        </div>
                                    </article>

                                </div>
                            </div>
                            <div id="new-posts" class="tab-pane fade">
                                <div class="image-box style14">
                                    <article class="box">
                                        <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="~/assest/images/ceo.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">CHIEF EXECITIVE </a></h5>
                                            <p>As you navigate our website,.</p>
                                        </div>
                                    </article>
                                    <article class="box">
                                        <figure><a href="#" title="" class="avatar"><img width="64" height="64" src="~/assest/images/director.png" alt=""></a></figure>
                                        <div class="details">
                                            <h5 class="box-title"><a href="#">MANAGING DIRECTOR</a></h5>
                                            <p>As you navigate our website,.</p>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="travelo-box twitter-box">
                        <h4 class="box-title">Twitter Feeds</h4>
                        <div class="twitter-holder">
                            <ul>
                                <li class="tweet">
                                    <p class="tweet-text">
                                        <a href="#"></a>, Proin feugiat mattis a sed adipiscing velit sodales.
                                    </p>
                                    <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                                </li>
                                <li class="tweet">
                                    <p class="tweet-text">
                                        Proin feugiat mattis antesmoke sed adipiscing velit sodales.
                                        <a href="#">http://travelo.com</a>
                                    </p>
                                    <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                                </li>
                                <li class="tweet">
                                    <p class="tweet-text">
                                        <a href="#"></a>, Proin feugiat mattis a sed adipiscing velit sodales.
                                    </p>
                                    <a class="tweet-date" href="http://twitter.com/">25 Minutes ago</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="content-section description pull-right col-sm-9">
                    <div class="table-wrapper hidden-table-sm">
                        <div class="table-cell">
                            <h2 class="m-title">
                                Have any great travel experience?<br /><em>Tell Us Your Amazing Travel Story!</em>
                            </h2>
                        </div>
                        <!-- <div class="action-section table-cell">
                            <button class="btn-large">Write your story</button>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="image-container col-sm-4">
                    <img src="~/assest/images/ceo.png" alt="" width="376" height="255" />
                </div> -->
            </div>
        </div>
    </section>
