


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Rome City Tour</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Rome City Tour</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container tour-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-gallery image-box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                            <ul class="slides">
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/f1.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d1.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d1a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d2.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d2a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d2b.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d3.png.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d3a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d4.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d4a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d4b.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d5.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d5a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/rits/d6.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="flexslider image-carousel style1" id="post-carousel1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                            <ul class="slides">
                                <li><img src="~/assest/images/tour/packages/rits/f1.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d1.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d1a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d2.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d2a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d2b.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d3.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d3a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d4.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d4a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d4b.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d5.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d5a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/rits/d6.png" alt="" /></li>
                            </ul>
                        </div>
                    </div>

                    <div id="tour-details" class="travelo-box">

                        <div class="featured-image">

                            <img src="~/assest/images/tour/packages/rits/f2.png" alt="">
                            <br><br><br>
                            <h3>(Islamabad, Taxila, Jaulia, Khanpur Dam, Peshawar, Mardan Takhtbai, Swat) </h3>
                            <br><br>
                            <h3>Historical Background of Buddhist Religion in Pakistan.</h3>
                            <p>
                                Buddhism being the 6th largest religion hold a central place in the world religions with more than 400 million devout followers, spread across the globe. At the moment, their population is concentrated in China, Japan, Thailand, Vietnam, Myanamr, Srilanks, Taiwan, Combodia and Korea. Under the patronage of the Mauryan emperor Ashoka, third century B.C, Buddhism spread throughout Asia. Monasteries as well as temples, dedicated to Buddha were established.
                                Toward the end of 3rd century B.C. When KING ASHOKA converted to Buddhism, he played a vital role for preaching Buddhism to this part of the world. Pakistan and especially Khyber Pakhtonklhwa has about 78 sites of Buddism importance, hold the oldest Buddhist Site and I’s also stipulated that the Buddhism Art originally generated at GANDDHARA. The monk who spread Buddhism in Korea, China and Japan was born in Chota Lahore, Khyber Pakhtunkhwa Pakistan.
                                The Khyber Pakhtunkhwa Province (KPK) has been lavishly bestowed with various precious resources. It has plenty of water, snow covered mountains, thick forests, vast gemstones deposits and other minerals. The presence of Buddhist Archaeological sites in Jaulia Haripur, Mardan, Swat (KP) and Taxila (Punjab) areas, add further charm to the pristine beauty.
                            </p>

                            <img src="~/assest/images/tour/packages/rits/f3.png" alt="">
                        </div>
                        <br>
                        <br>

                        <h3>Itinerary for Religious Tour to Pakistan:</h3>

                        <h2>Day-1(Arrival day): Arrival at Islamabad International Airport </h2>
                        <img src="~/assest/images/tour/packages/rits/d1.png" alt="">
                        <p>Arrive in Islamabad. Our staff will pick you at Islamabad airport and transferred to hotel. Free at leisure for the rest of the day. The hotels in our package are Located at a very prime location in Islamabad. After the Lunch we will explore the beautiful capital of Pakistan, a city filled with a travelers’ joy. One simply cannot forget the memories once you will visit the city. </p>
                        <img src="~/assest/images/tour/packages/rits/d1a.png" alt="">
                        <p>Islamabad is known for its high standards of living, safety, abundant greenery and its natural beauty. Islamabad has a variety of places that are indeed a must visit for any visitor. The mesmeric views and the ever pleasant weather of the city are what make this tour even better. Islamabad won’t disappoint you, Islamabad would exceed expectations! We will visit to Faisal Masque, Museum, Lake view Park and Loke Wirsa at this point we will visit different stalls to see Pakistan Culture, There will be also an opportunity of shopping in Islamabad. It would be very convenient to walk around, go for shopping and have refreshment</p>
                        <p><i>Dinner: Islamabad</i></p>
                        <p><i>Night Stay: Islamabad</i></p>
                        <p><i></i></p>

                        <h2>Day 02</h2>
                        <h2>Destinations ( Taxila Museum, Dharmarajika stupa, Mohra Muradu, Votive Stupa at Mohra Muradu site, Sirsukh, A view of Sirkap city ruins, Bhir Mound, Jaulia)</h2>

                        <p>
                            Taxila is one of the most important archeological sites in the world. It is a city that is very well known for having strong ties and being the centre of Buddhism in the country. Many statues of Buddha depicting the various stages of his life have been excavated and are currently present both at the Taxila museum as well as various stupas in the city however the best of these statues have been taken abroad and are displayed in museums there.

                            Buddhist monuments erected throughout the Taxila valley transformed it into a religious heartland and a destination for pilgrims from as far afield as Central Asia and China.
                        </p>
                        <img src="~/assest/images/tour/packages/rits/d2.png" alt="">
                        <img src="~/assest/images/tour/packages/rits/d2a.png" alt="">
                        <img src="~/assest/images/tour/packages/rits/d2b.png" alt="">

                        <p>We will also visit the archaeological sites of Bihr mound, Saraikala, Bhir, Sirkap, and Sirsukh are collectively of unique importance. The Bhir mound is the earliest historic city of Taxila, and was probably founded in the 6th century BC by the AchaemeniansThere are 5 small stupas in the city. The first one being the Dharmarajika stupa, which is locate two miles from Taxila museum. Then is the  Glen of Giri, which is about three-and-half miles from Dharmarajika stupa, this is atop the highest peak of the range of hills are two stupas and a fortress built in a cleft near a spring of pure, sweet water. Jaulian is another marvelous complex of chapels, stupas and a monastery with assembly hall, store rooms, refectory, kitchen and bathrooms still very well preserved. Two miles west of Jaulian is another well-preserved monastery at Mohra Moradu. In one of the monk’s cells here there was found a stupa with almost all the details intact. At Jandial, a mile-and-a-half from Sirsukh, is an image-less temple in the classic Greek style, with sandstone columns and cornices. </p>
                        <p><i>Lunch: Khanpur </i></p>
                        <p><i>What to do (Water Rides, Boating etc) </i></p>
                        <p><i>Dinner: Islamabad</i></p>
                        <p><i>Night Stay: Islamabad</i></p>

                        <img src="~/assest/images/tour/packages/rits/d3.png" alt="">

                        <h2>Day 03</h2>
                        <h2>Day-3: Destination: Peshawar Museum, China study center at Peshawar University and visit to old Peshawar City</h2>
                        <p><i>Chinese Delegation visited Peshawar Museum</i></p>
                        <p>In the morning we will start traveling to Peshawar. First we will visit the Peshawar Museum which is notable for its collection of Buddhist artwork dating from the ancient Gandhara Empire. It has one of the largest and most extensive collections of Gandhara art of the Buddhist period and is considered to be one of the biggest collections of Buddhist objects in the world. The museum also contains the largest collection on Gautama Buddha. Buddhiststone sculptures, terracotta figurines figurines, and other Buddhist objects.</p>
                        <img src="~/assest/images/tour/packages/rits/d3a.png" alt="">
                        <p>The display of Gandhara art in the main hall includes Buddha's life stories, miracles, worship of symbols, relic caskets, and individual standing Buddha sculptures. The ethnological objects of that period are also exhibited in the museum.</p>
                        <p><i>Inside Peshawar Museum</i></p>
                        <p>
                            After the lunch we will visit the Peshawar University. University of Peshawar is a public research university and one of the oldest universities in Pakistan. The university is called the “mother” university of Khyber-Pakhtunkhwa, founded in Oct. 1950. Here we will also visit China study center.
                            In the evening we will travel to explore the old city of Peshawar. Peshawar. Peshawar's recorded history dates back to at least 539 BCE, making it the oldest city in Pakistan and one of the oldest cities in the world. Peshawar was the capital of the ancient Kushan Empire, and was home to what may have been the tallest building in the ancient world, the Kanishka stupa.  Peshawar was then sacked by the White Huns, before the arrival of Muslim empires. The city of Peshawar has a population of 1,970,042, making it the largest city in Khyber Pakhtunkhwa and the sixth-largest in Pakistan.
                        </p>
                        <p><i>Lunch/Dinner/Night: Peshawar </i></p>

                        <h2>Day 04</h2>
                        <h2>Takht-i-Bhai, Mardan and Swat</h2>
                        <img src="~/assest/images/tour/packages/rits/d4.png" alt="">
                        <img src="~/assest/images/tour/packages/rits/d4a.png" alt="">
                        <p>
                            Today we will visit travel early to the world historical archaeological site Takht-i-Bhai we will learn the history of Buddhist monastery and there you have a opportunity of meditation, especially in the Tantric monastic complex, which consists of small, dark cells with low openings, which may have been used for certain forms of Tantric meditation.
                            This complex stands some 120 to 500ft above the surrounding ground and is built on various hilltops, as was common with most Buddhist Sites and Complexes. The main monastic complex lies approximately 200 ft above the surrounding ground.
                            These remains are one of the most astounding, exciting and imposing relics of Buddhist culture dating from 1st Century B.C. to 7th Century A.D. the main remains comprise of four main areas of the complex
                        </p>
                        <img src="~/assest/images/tour/packages/rits/d4b.png" alt="">
                        <p>
                            ⦁	The “Stupa Court’” a cluster of stupas located around a central courtyard.
                            ⦁	The Monastic Chembers, consisting of individual cells arranged around a courtyard, assembly/conference hall and a dining area.
                            ⦁	A Temple Complex consisting of stupas (similar to the stupa court) but presumable constructed later.
                            ⦁	The Tantric Monastic Complex, consisting of remains of hundreds of small, dark cells with low opening which may have been used for certain form Tantric Meditation.
                            The Buddhist monastery was founded in the 1st century CE, and was in use until the 7th century. The complex is regarded by archaeologists as being particularly representative of the architecture of Buddhist monastic centers from its era Takht-i-Bahi was listed as a UNESCO World Heritage Site in 1980.
                            After the lunch in Mardan we will travel to Swat. Swat is renowned for its outstanding natural beauty.  The magnificent Swat Valley popularly known as the Switzerland of Pakistan. Its old name was Udyana (Land of Gardens).
                            Swat was a major centre of early Buddhist thought as part of the Gandhara kingdom, and today is littered with ruins from that era. Swat was home to the last isolated pockets of Gandharan Buddhism, which lasted until the 11th century, well after most of the area had converted to Islam.
                            As mentioned earlier the name of swat was Udayana and it stands for the ancient epics. It was also mentioned in the history that Alexender of Macedonia had fought many major battles in this land before he was crossed the delta of Indus River. Swat valley has also been named as the “valley of hanging chairs.”  The history also states that Swat was once the cradle of Buddhism where 1400 monasteries had survived and flourished and they also made a Gandhara School of Sculpture.
                        </p>
                        <p><i>Lunch: Mardan</i></p>
                        <p><i>Dinner/Night Stay: Swat</i></p>

                        <h2>Day 05</h2>
                        <h2>Destination (Swat Museum, Shankardar Stupa, Butkara Stupa and White Palace </h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/rits/d5.png" alt="">
                        <p>Swat valley is also famous in the world as the “holy land of Buddhist learning and piety.” It was one of the major hubs of Buddhist pilgrimage. It was said in the early times that Buddha himself came to Swat in the process of his last reincarnations and he spread the learning of peace and harmony. It was also given the name of “cradle of Buddhism”.</p>
                        <img src="~/assest/images/tour/packages/rits/d5a.png" alt="">
                        <p>
                            In the morning we will visit Swat museum. It is famous for the old heritage of the Gandhara civilization. The museum showcases the main antiques and Buddhist artifacts which are the proof of the glorious civilization. The ancients jewelry, wooden articles are preserved with care for preserving the old culture findings.
                            Butkara Stupa. This was one of the Chinese Buddhist pilgrims centre and is situated in the ancient capital of Mingawara. It is mentioned in the history that the stupa “under event five reconstruction.”
                            Thai Delegation visited Swat Museum
                            The Shankardar Stupa is situated at distance of 3 km from Barikot towards Saidu Sharif. History says it was built between the 3rd and 4rth century and it is the only stupa that is left with the original dome still intact.
                            In the evening we will visit to white palace in Marghazar, Swat. It is 13 KM from the main city Saidu Sharif. Marghazar is famous for its White Palace (presently a hotel).
                            The White Palace of Marghazar was built in 1940 by the first king of Swat, Miangul Abdul.
                        </p>
                        <p><i>Lunch/Dinner/Night Stay: Swat</i></p>

                        <h2>Day 06</h2>
                        <h2>Destination (Travel back to Islamabad and Departure day)</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/rits/d6.png" alt="">
                        <p>The last but unforgettable day today we will travel back to Islamabad from Swat. The beautiful capital of Pakistan is a city filled with a travelers’ joy. One simply cannot forget the memories once you visit the city. Islamabad is known for its high standards of living, safety, abundant greenery and its natural beauty. Islamabad has a variety of places that are indeed a must visit for any visitor. We will last dinner at Monal restaurant Islamabad which is a great Place to enjoy the awesome weather, beautiful scene at a high peak of Hill Mountains of Islamabad, It is famous for romantic environment and place of monal margalla hills is very awesome and also their food is very delicious.</p>

                        <p><i>Lunch/Dinner: Islamabad See off at the airport and departure!</i></p>

                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <h4 class="box-title">Last Minute Deals</h4>
                        <div class="image-box style14">
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking1.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Plaza Tour Eiffel</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$170</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking2.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$620</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking3.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$322</span>avg/night</label>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

