


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Rome City Tour</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Rome City Tour</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container tour-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-gallery image-box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                            <ul class="slides">
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d1.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d2.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d2a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d3.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d3a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d3b.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d4.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d4a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d5.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/bpt/d6.png" alt=""></a></li>

                            </ul>
                        </div>
                        <div class="flexslider image-carousel style1" id="post-carousel1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                            <ul class="slides">
                                <li><img src="~/assest/images/tour/packages/bpt/a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d1.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d2.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d2a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d3.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d3a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d3b.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d4.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d4a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bpt/d5.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/bptd6.png" alt="" /></li>

                            </ul>
                        </div>
                    </div>

                    <div id="tour-details" class="travelo-box">
                        <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
                            <div class="col-sm-8 table-cell">
                                <div class="detailed-features">

                                    <div class="flights table-wrapper">
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-01:<small>Destinations:</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Visit to Islamabad Faisal Masque</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Museum</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right landing"></i>
                                                <dl><dt>Visit</dt><dd>Pakistan Monument</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right landing"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Shopping Centers
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-02:<small>Destinations</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Taxila Museum</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Dharmarajika stupa</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Mohra Muradu</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Votive Stupa at Mohra Muradu site</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Sirsukh</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>A view of Sirkap city ruins</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Bhir Mound</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-03:<small>Destinations</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>⦁	Takht-i-Bhai</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-04:<small>Destinations</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Peshawar Museum</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>China study center at Peshawar University</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Old Peshawar City</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-05:<small>Destinations</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Abbottabad City</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Ghalyat</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Ayubia</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Murree</dd></dl>
                                            </div>
                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-06:<small>Destinations</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>⦁	Islamabad and departure to your country</dd></dl>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="featured-image">
                            <h2>Highlights of Tour Package:</h2>
                            <img src="~/assest/images/tour/packages/adventue-chart.png" alt="">
                        </div>

                        <h2>Detail Itinerary </h2>

                        <h2>Day 01 Destination: </h2>
                        <h2>Arrival at Islamabad Destination: Islamabad Faisal Masque, Museum, Pakistan Monument, Shopping Centers</h2>
                        <p>Our staff will pick you at Islamabad airport and transferred to hotel. Free at leisure for the rest of the day. The hotels in our package are Located at a very prime location in Islamabad</p>
                        <img src="~/assest/images/tour/packages/bpt/d1.png" alt="">
                        <p>
                            On the 1st day all the gust will take rest after the hectic air travel to Pakistan. In the 2nd half we will explore the beautiful capital of Pakistan, a city filled with a travelers’ joy. One simply cannot forget the memories once you will visit the city. Islamabad is known for its high standards of living, safety, abundant greenery and its natural beauty. Islamabad has a variety of places that are indeed a must visit for any visitor. The mesmeric views and the ever pleasant weather of the city are what make this tour even better. Islamabad won’t disappoint you, Islamabad would exceed expectations! We will visit in Islamabad to Faisal Masque, Museum, Loke Wirsa to visit different stalls to see Pakistan Culture Pakistan, There will be also an opportunity of shopping in Islamabad.
                        </p>
                        <p><i>Lunch: Islamabad</i></p>
                        <p><i>Dinner: Islamabad</i></p>
                        <p><i>Stay: Islamabad </i></p>

                        <h2>Day 02 Destination: </h2>
                        <h2>Destination (Taxila Museum, Dharmarajika stupa, Mohra Muradu, Votive Stupa at Mohra Muradu site, Sirsukh, A view of Sirkap city ruins, Bhir Mound)</h2>
                        <img src="~/assest/images/tour/packages/bpt/d2.png" alt="">
                        <img src="~/assest/images/tour/packages/bpt/d2a.png" alt="">
                        <p>
                            Pick up from Islamabad in the morning. First we visit Taxila. There are 5 small stupas in the city. The first one being the Dharmarajika stupa, which is locate two miles from Taxila museum. Then is the  Glen of Giri, which is about three-and-half miles from Dharmarajika stupa, this is atop the highest peak of the range of hills are two stupas and a fortress built in a cleft near a spring of pure, sweet water. Jaulian is another marvelous complex of chapels, stupas and a monastery with assembly hall, store rooms, refectory, kitchen and bathrooms still very well preserved. Two miles west of Jaulian is another well-preserved monastery at Mohra Moradu. In one of the monk’s cells here there was found a stupa with almost all the details intact. At Jandial, a mile-and-a-half from Sirsukh, is an image-less temple in the classic Greek style, with sandstone columns and cornices.
                            We will take lunch in the one of the beautiful restaurant near the Khanpure Lake where you will enjoy water rides.
                        </p>

                        <p></p>
                        <p><i>Lunch: Khanpur </i></p>
                        <p><i>Dinner: Islamabad</i></p>
                        <p><i>Night Stay: Islamabad</i></p>

                        <h2>Day 03 Destination: </h2>
                        <h2>Takht-i-Bhai, Mardan and then Peshawar</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bpt/d3.png" alt="">
                        <p>Today we will visit the world historical archaeological site Takht-i-Bhai we will learn the history of Buddhist monastery and there will be special opportunity of meditation."Throne of the water spring"), commonly mispronounced as Takht-i-Bhai, "Brother's throne"), is an Indo-Parthian archaeological site of an ancient  Buddhist monastery in Mardan, Khyber Pakhtunkhwa, Pakistan. The site is considered among the most imposing relics of Buddhism in all of Gandhara,and has been "exceptionally well-preserved. </p>

                        <img src="~/assest/images/tour/packages/bpt/d3a.png" alt="">
                        <p>
                            The Buddhist monastery was founded in the 1st century CE, and was in use until the 7th century. The complex is regarded by archaeologists as being particularly representative of the architecture of Buddhist monastic centers from its era Takht-i-Bahi was listed as a UNESCO World Heritage Site in 1980.
                        </p>
                        <img src="~/assest/images/tour/packages/bpt/d3b.png" alt="">
                        <p>
                            After the lunch we will travel to capital city of Khyber Pakhtunkhwa Peshawar. Peshawar is the capital of the Pakistani province of Khyber Pakhtunkhwa. Situated in the broad Valley of Peshawar near the eastern end of the historic Khyber Pass, close to the border with Afghanistan,
                            Peshawar's recorded history dates back to at least 539 BCE, making it the oldest city in Pakistan and one of the oldest cities in the world. Peshawar was the capital of the ancient Kushan Empire, and was home to what may have been the tallest building in the ancient world, the Kanishka stupa. Peshawar was then sacked by the White Huns, before the arrival of Muslim empires.
                        </p>
                        <p><i>Lunch: Mardan </i></p>
                        <p><i>Dinner: Peshawar</i></p>
                        <p><i>Night Stay: Peshawar</i></p>

                        <h2>Day 04 Destination:</h2>
                        <h2>Peshawar Museum, China study center at Peshawar University, visit to old Peshawar City and Abbottabad</h2>
                        <img src="~/assest/images/tour/packages/bpt/d4.png" alt="">
                        <p>In the morning we will visit the Peshawar Museum which is notable for its collection of Buddhist artwork dating from the ancient Gandhara Empire. It has one of the largest and most extensive collections of Gandhara art of the Buddhist period and is considered to be one of the biggest collections of Buddhist objects in the world. The museum also contains the largest collection on Gautama Buddha. Buddhiststone sculptures, terracotta figurines figurines, and other Buddhist objects. The display of Gandhara art in the main hall includes Buddha's life stories, miracles, and worship of symbols, relic caskets, and individual standing Buddha sculptures. The ethnological objects of that period are also exhibited in the museum.</p>
                        <img src="~/assest/images/tour/packages/bpt/d4a.png" alt="">
                        <p>
                            After we will visit to The University of Peshawar is a public research university and one of the oldest universities in Pakistan. The university is called the “mother” university of Khyber-Pakhtunkhwa, founded in Oct. 1950. 
                            After visiting Peshawar University in the 2nd half of a day we will drive to Abbottabad its 150 km east of Peshawar, at an altitude of 1,260m. Kashmir lies to the east. The city is well known throughout Pakistan for its pleasant weather, high-standard educational institutions. On the way to Abbottabad we will see the CEPC project.
                        </p>
                        <p><i>Lunch: Peshawar </i></p>
                        <p><i>Dinner: Abbottabad</i></p>
                        <p><i>Night Stay: Abbottabad</i></p>

                        <h2>Day 05 Destination:</h2>
                        <h2>Abbottabad City, Ghalyat, Ayubia and Murree </h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bpt/d5.png" alt="">
                        <p>
                            In the morning we will visit the CEPC project site in Abbottabad and after that will move to Nathia Ghali. Nathia Ghali is a hill station in Abbottbad of Khyber Pakhtunkhwa, Pakistan. The natural scenery is highly attractive. Nathia Ghali is famous for its lush green meadows, deep forests of oak, cedar and pine, where fog in July/August present a glory. In winter snowfall adds to the scene. Nathia Gali boasts a nice church. Nathia Gali has a mini bazar.  Mukshpuri and Miranjani are two nearby high peaks.
                            After Galyat we will visit to Murree. Murree is a mountain resort town, located in the Galyat region of the Pir Panjal Range, within the Rawalpindi District of Punjab, Pakistan. It forms the outskirts of the Islamabad-Rawalpindi metropolitan area, and is about 30 km northeast of Islamabad.
                        </p>
                        <p><i>Night Stay: Murree</i></p>

                        <h2>Day 06 Destination:</h2>
                        <h2>Islamabad and departure to your country</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/bpt/d6.png" alt="">
                        <p>The last but unforgettable day we will start journey back to Islamabad. In Islamabad we will visit Pak China friendship center, Monument. In the 2nd half of the day we will go to the local shopping mall to buy handicraft, handmade traditional cloths. After that we will visit the view top at Monal restaurant and also have dinner. From here we can see beautiful city of Islamabad and will also enjoy Dinner.</p>

                        <p><i>Lunch: Islamabad</i></p>
                        <p><i>Dinner: Islamabad</i></p>
                        <p><i>Drop in to Islamabad International airport for departure</i></p>
                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <h4 class="box-title">Last Minute Deals</h4>
                        <div class="image-box style14">
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking1.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Plaza Tour Eiffel</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$170</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking2.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$620</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking3.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$322</span>avg/night</label>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

