


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    
<div class="global-map-area section parallax" data-stellar-background-ratio="0.5">

          
                <div class="container">
                    <div class="table-wrapper full-width">
                            <div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
                                    <ul class="owl-carousel slides image-box style9" id="owl-carousel">
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/a.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                               
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/b.png" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/c.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/d.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/e.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                               
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/f.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                               
                                            </article>
                                        </li>
                                        <li>
                                            <article class="box">
                                                <figure>
                                                    <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                        <img src="~/assest/images/tour/packages/services/g.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                </figure>
                                                
                                            </article>
                                        </li>
                                        <li>
                                                <article class="box">
                                                    <figure>
                                                        <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                            <img src="~/assest/images/tour/packages/services/h.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                    </figure>
                                                   
                                                </article>
                                            </li>
                                            <li>
                                                    <article class="box">
                                                        <figure>
                                                            <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                                <img src="~/assest/images/tour/packages/services/i.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                        </figure>
                                                       
                                                    </article>
                                                </li>
                                                <li>
                                                        <article class="box">
                                                            <figure>
                                                                <a href="hotel-list-view.html" title="" class="hover-effect yellow">
                                                                    <img src="~/assest/images/tour/packages/services/j.jpg" alt="" width="170" height="161" style="height: 265px;"/></a>
                                                            </figure>
                                                           
                                                        </article>
                                                    </li>
                                    </ul>
                                </div>
                    </div>
                </div>
            </div>




<section id="content" class="gray-area">
<div class="container">
    <div id="main" >
        <div class="row">
            <div class="col-sm-4 col-md-3" style="margin-left: -86px;">
                <h4 class="search-results-title"><i class="soap-icon-search"></i><b>Categries</b> </h4>
                <div class="toggle-container filters-container">
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="/home/HotelListView">Hotels in Pakistan</a>
                        </h4>

                    </div>

                </div>
                <div class="toggle-container filters-container">
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="index.php">Camping Pods</a>
                        </h4>

                    </div>

                </div>
                <div class="toggle-container filters-container">
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="/home/CarListView">
                                TransportationFacility

                            </a>
                        </h4>

                    </div>

                </div>
                <div class="toggle-container filters-container">
                    <div class="panel style1">
                        <h4 class="panel-title">
                            <a href="/home/RestaurantListView">Restaurants</a>
                        </h4>

                    </div>

                </div>
                <div class="toggle-container filters-container">
                    <div class="panel style1">
                        <h4 class="panel-title">
                            <a href="/home/FlightListView">Airline Ticketing</a>
                        </h4>

                    </div>

                </div>
            </div>
            <div class="col-sm-8 col-md-9">
            <div class="tab-wrapper">
                <div class="tab-container container trans-style">
                   
                    <div class="tab-content" style="margin-right: 52px;">
                       
                        <div id="fly-in-comfort" class="tab-pane fade active in">
                            <div class="sm-section clearfix">
                                  <div class="table-wrapper hidden-table-sm">
                                    <div class="table-cell" style="padding: 0 15px;padding-left: 61px;">
                                    <img src="~/assest/images/line.png" alt="" style="    margin-left: 401px;">
                                    <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;">Welcome to Pakistan</h2>
                                        <p style="    font-size: 15px;
    text-align: justify;">You’ll benefit from our extensive travel and tour experience when you let us take care of all the details involved with arranging your tour.  Our goal is to make the experience exhilarating and energizing for everyone involved.  That means great communication, prompt follow-ups and the very best customer service.
                                        </p>
                                        <p style="    font-size: 15px;
    text-align: justify;">We can provide all these services, so you can concentrate on the music and the joy of travel:. 
                                        </p>
                                        <ul>
  <li style="    font-size: 15px;
    text-align: justify;">• All land arrangements and logistics (hotels, transportation)</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Group meals to enjoy the local cuisine</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Airline Ticketing</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Professional, local bilingual tour manager</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Leisure Travel & Vacation Tour Packages</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Sightseeing and guided tours with professional guides</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Services of Religious and historical places tours with professional guides and translators </li>
  <li style="    font-size: 15px;
    text-align: justify;">• Group Travel: M.I.C.E –Meeting, Incentive, Conference and Events</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Religious Travel (Umrah)</li>
  <li style="    font-size: 15px;
    text-align: justify;">• Entrances to cultural attractions</li>
  <li style="    font-size: 15px;
    text-align: justify;">• And much more…</li>
  <li style="    font-size: 15px;
    text-align: justify;">• You’ll receive the very best value for your tour investment.</li>

</ul>
<img src="~/assest/images/line1.png" alt="" style="    margin-left: 141px;">
       </div>
                                   
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <section id="content">
            <div class="container">
                <div id="main" style="margin-right: 50px;">
                
                <div class="section service-list "style="    background: #fff;
    padding: 6px;">
   
                        <div class="row">
                            <div class="box col-sm-6 col-md-3">
                            <article class="icon-box style9">
                                        <i class="soap-icon-slider"></i>
                                        <h5 class="box-title">Powerful Sliders</h5>

                                    </article>
                                    </div>
                                    <div class="box col-sm-6 col-md-3">
                                    <article class="icon-box style9">
                                        <i class="soap-icon-search"></i>
                                        <h5 class="box-title">Unique Search Layouts</h5>

                                    </article>
                                    </div>
                                    <div class="box col-sm-6 col-md-3">
                                    <article class="icon-box style9">
                                        <i class="soap-icon-stories"></i>
                                        <h5 class="box-title">Tons of Shortcodes</h5>

                                    </article>
                                    </div>
                                    <div class="box col-sm-6 col-md-3">
                                    <article class="icon-box style9">
                                        <i class="soap-icon-flexible"></i>
                                        <h5 class="box-title">Flexible Layouts</h5>

                                    </article>
                                    </div>
                                    <div class="box col-sm-6 col-md-3">
                                    <article class="icon-box style9">
                                        <i class="soap-icon-passenger"></i>
                                        <h5 class="box-title">Inflight Comfort</h5>

                                    </article>
                                    </div>
                                    <div class="box col-sm-6 col-md-3">
                                    <article class="icon-box style9">
                                        <i class="soap-icon-adventure"></i>
                                        <h5 class="box-title">Travel Guide Page</h5>

</div>
<div class="box col-sm-6 col-md-3">
<article class="icon-box style9">
                                        <i class="soap-icon-check"></i>
                                        <h5 class="box-title">Travel Ideas</h5>

                                    </article>
                                    </div>
                                    <div class="box col-sm-6 col-md-3">
                                    <article class="icon-box style9">
                                        <i class="soap-icon-baggage-status"></i>
                                        <h5 class="box-title">Complete Package</h5>

                                    </div>
                        </div>
                    </div>
                    <div class="large-block">
                        <div class="row image-box style4">
                            <div class="col-sm-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" href="#" title=""><img src="~/assest/images/shortcodes/image-box/style04/1.png" alt="" width="370" height="172" /></a>
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title">Get Attractions</h4>
                                        <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" href="#" title=""><img src="~/assest/images/shortcodes/image-box/style04/2.png" alt="" width="370" height="172" /></a>
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title">Travel Hot Deals</h4>
                                        <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-sm-4">
                                <article class="box">
                                    <figure>
                                        <a class="hover-effect" href="#" title=""><img src="~/assest/images/shortcodes/image-box/style04/3.png" alt="" width="370" height="172" /></a>
                                    </figure>
                                    <div class="details">
                                        <h4 class="box-title">Travelers Stories</h4>
                                        <a href="#" class="goto-detail"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                   
                 
                </div>
            </div>
           
        </section>
            </div>
        </div>
    </div>
</div>
</section>
<div class="section global-map-area parallax" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon-box style10">
                                <i class="soap-icon-recommend"></i>
                                <small>travel is</small>
                                <h4 class="box-title">100% Original Theme</h4>
                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon-box style10">
                                <i class="soap-icon-insurance"></i>
                                <small>We are providing you</small>
                                <h4 class="box-title">Custom Travel Icons Pack</h4>
                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon-box style10">
                                <i class="soap-icon-anchor"></i>
                                <small>Fully customizeable</small>
                                <h4 class="box-title">Dashboard Included</h4>
                                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>