


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Travel Guide</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Travel Guide</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">

                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="travel-guide">
                        <ul class="tabs full-width">
                            <li class="active"><a href="#travel-guide-info" data-toggle="tab">Religious</a></li>
                            <li class=""><a href="#travel-guide-sports" data-toggle="tab">Islam</a></li>
                            <li><a href="#travel-guide-culture-history" data-toggle="tab">Sikhism</a></li>
                            <li><a href="#travel-guide-nightlife" data-toggle="tab">Buddhism</a></li>
                            <li><a href="#travel-guide-hotels" data-toggle="tab">Hinduism</a></li>

                        </ul>
                    </div>
                </div>

                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="travel-guide">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="travel-guide-info">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan\DetailedPictures/Religouse.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <img src="~/assest/images/line.png" alt="" style="    margin-left: 281px;">
                                        <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;">Religouse</h2>
                                        <p style="font-size: 15px;
    text-align: justify;">
                                            Pakistan is important for many religions of the world. The Indus Valley gave rise to one of the first great civilizations. Mahayana Buddhism also developed here as did the Sikh religion under Guru Nanak. Pakistan was created in the Indus Valley specifically to provide the Muslims of South Asia with a state of their own, and there are very few countries where religion plays such an important role in the lives of people.

                                            Muslims make up over 98% of the population of Pakistan, of which roughly 80% are Sunni and 20 % are Sh'iah. About 1 % of the population is Christian with slightly more protestants than Catholics. The Hindus, mostly nomads living in the South account for less than 1%. In Karachi, Lahore, Rawalpindi and Quetta there are small communities of Buddhists and there are a tiny group of animist Kalash living in Chitral on the Afghan border...
                                        </p>


                                        <img src="~/assest/images/line1.png" alt="" style="    margin-left: 83px;">
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="travel-guide-sports">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Islam.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Islam</h2>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Islam is an Abrahamic, monotheistic, universal religion teaching that there is only one God, and that Muhammad is the messenger of God. It is the world's second-largest religion with over 1.8 billion followers or 24% of the world's population, most commonly known as Muslims.
                                            Islam ('submission to God') plays a very important role in the lives of Pakistani people, in fact, it prevails in every aspect of society. The muezzin's call to worship from the minarets of the mosques; men bowed in prayer in the fields, shops and airports; qibla (Urdu for 'the direction of Makkah') is marked in every hotel bedroom; the veiled women in the streets - all constantly remind you of the devotion and passion of the Pakistanis for their religion.
                                            The message of Islam was brought by the Prophet Muhammad in the Arabian city of Makkah. He saw himself as God's messenger and taught that all human beings are equal in the sight of God. It is also believed by all Muslims that he was the one who God sent the Qu'ran so that its word may be spread among the masses. The Qu'ran is believed to be infallible and the words of God.
                                        </p>

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-culture-history">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Sikhism.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Sikhism</h2>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Sikhism is a monotheistic religion, or a religion that believes in one God. The followers are called "Sikhs", and their holy book is the Sri Guru Granth Sahib. An estimated 27 million people are followers of Sikhism, which then makes it the ninth largest religion in the world.
                                            The founder of the Sikh religion, Guru Nanak, was born near Lahore. He took elements from Hinduism and Islam and combined them with new ideas. They controlled an empire centered on Punjab, with Lahore as their temporal capital and nearby Amritsar (in India) as their religious capital.
                                            At partition, all the Sikhs migrated to India where they are now asking for a separate Sikh state in the Indian part of Punjab. Their shrines in Pakistan are maintained by the government and are visited at festival times by Sikh pilgrims.

                                        </p>

                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane fade" id="travel-guide-nightlife">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Buddhism.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Buddhism</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Buddhism is a dharmic, non-theistic religion, a philosophy, and a system of psychology. Buddhism is also known in Sanskrit or Pali, the main ancient languages of Buddhists, as Buddha Dharma or Dhamma, which means the teachings of "the Enlightened One". Thus was called Siddhartha Gautama, hereinafter referred to as "the Buddha". The Buddha was born in Lumbini (now in Nepal), and that he died aged around 80 in Kushinagara (India). He lived in or around the fifth century BC. Buddhism spread throughout South Asia in the five centuries following the Buddha's passing, and thence into Central, Southeast and East Asia and Eastern Europe over the next two millennia.
                                            Eventually, South Asian Buddhism became virtually extinct, except in parts of Nepal. Buddhism is usually classified into the three traditions.

                                            Southern Buddhism, or Theravada, or Southeast Asian Buddhism, or Pali Buddhism - practiced mainly in Sri Lanka, Burma, Thailand, Laos, Cambodia and parts of Malaysia, Vietnam, China and Bangladesh (Southeast Asia)
                                            Eastern Buddhism, or East Asian Buddhism, or Chinese Buddhism, or Sino-Japanese Buddhism - practiced predominantly in China, Vietnam, Korea, Japan, Singapore and parts of Russia
                                            Northern Buddhism, or Tibetan Buddhism, or Tibeto-Mongolian Buddhism, sometimes called Lamaism - practiced mainly in Tibet, Mongolia, Bhutan and parts of Nepal, India, China and Russia.
                                            Eastern and Northern Buddhism both call themselves Mahayana. Buddhism continues to attract followers worldwide and is considered a major world religion. According to one source, "World estimates for Buddhists vary between 230 and 500 million, with most around 350 million." According to one analysis, Buddhism is the fifth-largest religion in the world behind Christianity, Islam, Hinduism, and traditional Chinese religion. The monks' order (Sangha), which began during the lifetime of the Buddha in India, is amongst the oldest organizations on earth.

                                            In Buddhism, any person who has awakened from the "sleep of ignorance" by directly realizing the true nature of reality is called a buddha. Siddhartha Gautama, the Buddha, is thus only one among other buddhas before or after him. Histeachings are oriented toward the attainment of this kind of enlightenment, Bodhi, liberation, or Nirvana.
                                            Part of the Buddha’s teachings regarding the holy life and the goal of liberation is constituted by the "The Four Noble Truths", which focus on dukkha, a term that refers to suffering or the sorrow of life. The Four Noble Truths regarding suffering state what is its nature, its cause, its cessation, and the way leading to its cessation. This way to the cessation of suffering is called "The Noble Eightfold Path", which is one of the fundamentals of Buddhist virtuous or moral life.

                                            Greco-Buddhism, is the cultural syncretism between Hellenistic culture and Buddhism, which developed over a period of close to 800 years in the area corresponding to modern-day Afghanistan and Pakistan, between the 4th century BCE and the 5th century CE. Greco-Buddhism influenced the artistic (and, possibly, conceptual) development of Buddhism, and in particular Mahayana Buddhism, before it was adopted by Central and Northeastern Asia from the 1st century CE, ultimately spreading to China, Korea and Japan.

                                            Pakistan is the rich cultural heritage of Buddhism

                                            Buddhism in Pakistan took root some 2,300 years ago under the Mauryan king Ashoka, whom Nehru once called “greater than any king or emperor.” ... The total population of Buddhists is therefore unlikely to be more than a few thousand.

                                            The interaction between Hellenistic Greece and Buddhism started when Alexander the Great conquered South in 326 BC, crossing the Indus and Jhelum rivers, and going as far as the Beas, thus establishing direct contact with India, the birthplace of Buddhism.
                                            Alexander founded several cities in his new territories in the areas of the Oxus and Bactria, and Greek settlements further extended to the Khyber Pass, Gandhara and the Punjab. These regions correspond to a unique geographical passageway between the Himalayas and the Hindu Kush mountains, through which most of the interaction between the South and Central Asia took place, generating intense cultural exchange and trade. The interaction of Greek and Buddhist cultures operated over several centuries until it ended in the 5th century CE with the invasions of the White Huns, and later the expansion of Islam.

                                            Pakistan, the crucible of many cultures and civilizations from the Stone Age to the British Rule, has remains of ancient civilizations scattered all over the country. However, the most popular are the Indus Valley and Gandhara Civilizations. Almost all the major museums of the world has pieces of Gandhara Art exhibited in their galleries.

                                            Gandhara, the ancient Peshawar Valley and the cradle of Buddhist Civilizations, gave birth to the famous Gandhara Art, is first mentioned in the Rigveda, and remained one of the provinces of the Achaemenian Empire as per Darius inscription of the 6th century BC. Pushkalavati (Balahisar – Charsadda), its first capital from 6th century BC till 1stcentury AD, was invaded in 327 BC by Alexander of Macedonia, ruled by Mauryans, Indo-Greeks, Scythians, Parthians and Kushans who established their capital at Pushpapura or Peshawar in 1st century AD. In 7th century AD, the Shahi Dynasty established the capital at Hund, which remained their capital till the invasions of Ghaznavids in 998 AD, thus ending the rule of Gandhara.

                                            The sites and antiquities of Takht-e-Bahi, Sahri Bahlol, Jamal Garhi, Rani Gat, Aziz Dheri, Butkara, Saidu Stupa, Andan Dheri, Chat Pat, Dam Kot, Khanpur and the monasteries in the Taxila Valley provided the richest collection of Gandhara Art to the Peshawar, Taxila, Swat, Dir and Peshawar University museums through the excavations by British, Italian and Pakistani scholars.

                                            .
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-hotels">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Hinduism.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Hinduism</h2>
                                        <p style="font-size: 15px;text-align: justify;">Pakistan has played an important role in the historical development of Buddhism and Hinduism, the latter taking its name from the Indus river. About 4 million Hindus left Pakistan during the partition, and 1.5 million remain today..</p>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <div class="toggle-container filters-container">
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/PakistanTours">Welcome To Pakistan</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/ecotourism">Eco Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/adventuretourism">Adventure Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/spiritualtourism">Spiritual Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/heritagetourism">Heritage Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/sportstourism">Sports Tourism</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </section>

