


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Travel Guide</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Travel Guide</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">

                <div id="main" class="col-md-12">
                    <div class="tab-container style1" id="travel-guide">
                        <ul class="tabs full-width">
                            <li class="active"><a href="#travel-guide-info" data-toggle="tab">White Water Rafting</a></li>
                            <li class=""><a href="#travel-guide-sports" data-toggle="tab">Rock Climbing</a></li>
                            <li><a href="#travel-guide-culture-history" data-toggle="tab">Shandur Polo Festival</a></li>
                            <li><a href="#travel-guide-nightlife" data-toggle="tab">Golf</a></li>
                            <li><a href="#travel-guide-sports1" data-toggle="tab">Mountain Biking</a></li>
                            <li><a href="#travel-guide-culture-history1" data-toggle="tab">Tent Pegging-The Ultimate Adventure Sport in Pakistan</a></li>




                        </ul>
                    </div>
                </div>
                <div id="main" class="col-md-9">
                    <div class="tab-container style1" id="travel-guide">
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="travel-guide-info">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan\DetailedPictures/White water rafting.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <img src="~/assest/images/line.png" alt="" style="    margin-left: 281px;">
                                        <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;">White water rafting</h2>
                                        <p style="font-size: 15px;
    text-align: justify;">
                                            White water rafting are recreational outdoor activities which use an inflatable raft to navigate a river or other body of water. This is often done on whitewater or different degrees of rough water. Dealing with risk and the need for teamwork is often a part of the experience.

                                            The rivers of Pakistan are spread like a net through its length and breadth. Right from the heights of the Karakorams, the Himalayas and the Hindukush, Pakistani’s rivers change their courses and flows until they all meet the mighty Indus, at different points, which ultimately falls into the Arabian Sea. These rivers are ideal for all types of water sports like rafting, canoeing, boating and sailing. Following rivers in the Northern Pakistan, are open for water sports, besides the Indus, the Ravi and the Chenab in KP, Punjab and Sindh Provinces.

                                            ⦁	Indus (from Jaglot to Thakot)
                                            ⦁	Kunhar (from Naran to Kaghan)
                                            ⦁	Swat(from Bahrain to Saidu Sharif)
                                            ⦁	Pankora (from Dir to Batkhela)
                                            ⦁	Hunza (from Aliabad to Gilgit)

                                        </p>


                                        <img src="~/assest/images/line1.png" alt="" style="    margin-left: 83px;">
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="travel-guide-sports">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Rock Climbing.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Rock Climbing</h2>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Rock Climbing is one of most popular and healthy sports in world. There are several types of climbing mainly classified in top roping and lead climbing. Then in advanced terms, it is divided in Aid Climbing and Free Climbing as both are famous traditional climbing methods. Aid climbing involves the use of climbing gear while free climbing depends on the technical ability, practice, skill, and physical strength and endurance of the climber. During the early days, free climbing was the only method of rock climbing and climbers used equipment only if they feel unable to advance further. However, both types are in practice but after start of indoor climbing, top roping is quite popular and safe comparatively.

                                            Pakistan is well known for high altitude climbing but not many people come for Rock climbing. Pakistan in fact has equal opportunity for Rock climbing as well. The Trango Towers in Baltoro area are well known all over the world. Besides Trango Towers, Kondus valley in Khuplu area is a paradise for rock climbers. There are numerous untouched rock faces in the Karakoram, Himalaya and Hindukush ranges of Pakistan which are ideal for rock climbers.

                                            Although, Pakistan is endowed with hills and mountain ranges, where one can start learning the art of Rock Climbing as a beginner or can test his / her skills as a professional rock climber; however it is not popular sport at any level.


                                        </p>

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-culture-history">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/polo-Pakistan-hunza-guides.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Polo At The Peak</h2>

                                        <p style="font-size: 15px;text-align: justify;">
                                            Passion for Polo will be the highest on the world’s highest Polo ground. Every year, Shandur (3,734 meters) invites visitors to experience a traditional polo tournament between the teams of Chitral and Gilgit from 7th to 9th July. The festival also includes folk music, folk dance, traditional sports and a camping village is be set up on the Pass.

                                            Polo is an equestrian sport with its origin embedded in Central Asia dating back to 6th century BC. At first it was a training game for cavalry units for the King’s guards or other elite troops. To the warlike tribesmen who played polo with as many as 100 players to a side, it was a miniature battle. It became a Persian national game in the 6th century AD. From Persia, the game spread to Arabia, then to Tibet, China and Japan. In China, in the year 910, death of a favourite relative in a game prompted Emperor Apao-Chi to order beheading of all players!

                                            Polo was introduced in South Asia, by the Muslim conquerors in the 13th century. English word ‘Polo” is in fact a Balti word meaning, “ball”. In ancient times, there was no limit to the number of players and no time limit. Whichever team scored nine goals first, became the winner. Today, there are six players to each side, but this is by no means a rule in local polo games. The game lasts for one hour with a ten-minute break.

                                            Gilgit, Chitral and Skardu have always played the game of polo closest to its original form. In the past, local Rajas, Mirs and Mehtars were the patrons of the game. At times, more than 50% of the annual budget of their principalities was spent on supporting the game.


                                        </p>

                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane fade" id="travel-guide-culture-history">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/shandur-polo01.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Shandur Polo Festival</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Highlights Of The Festival

                                            Passion for Polo will be the highest on the world's highest Polo ground. Shandur invites visitors to experience a traditional polo tournament between the teams of Chitral and during the 2nd week of July. The tournament is held on Shandur Pass, the highest polo ground in the world at 3,700 meters. The festival will also include folk music and dancing and a camping village is set up.

                                            Background

                                            Polo is an equestrian sport with its origin embedded in Central Asia dating back to 6th century BC. At first it was a training game for cavalry units for the King's guards or other elite troops. To the war like tribesmen who played polo with as many as 100 players to a side, it was a miniature battle. It became a Persian national game in the 6th century AD. From Persia, the game spread to Arabia, then to Tibet, China and Japan. In China, in the year 910, death of a favorite relative in a game prompted Emperor Apao-Chi to order beheading of all players!
                                            Polo was introduced in South Asia, by the Muslim conquerors in the 13th century. English word 'Polo" is a Balti word meaning, 'ball'. Now a days, there are six players to a side, but this is by no means a rule in local polo games. There was no limit to the number of players and no time limit. Whichever team scored nine goals first, was the winner. The present game with a team of six players in a side, lasts one hour with a ten minute break.
                                            Gilgit, Chitral and Skardu have always played the game of polo closest to its original form. In the past, local Rajas, Mirs and Mehtars were the patrons of the game. At times, more than 50% of the annual budget of their principalities would be spent on supporting thegame.

                                            Shandur Polo Tournament:
                                            The first time a polo tournament took place at the Shandur Pass, was in 1936. A British Political Agent, Major Cobb, who was fond of playing polo under a full moon, had the polo ground near Shandur, named. 'Moony Polo Ground'.
                                            The most exciting polo tournament of the entire Northern Pakistan, is played on top of Shandur Pass, around 3,700 meters above sea level. It is a place unique and exotic in itself, surrounded by some of the most spectacular mountain scenery in the world. The event marks the annual rivalry between the polo teams of Gilgit and Chitral. The Polo tournament has some added attractions for the visitors; trout fishing at the nearby streams and lakes and a festival of folk dances and music of the Northern Pakistan.
                                            The highlight of the festival is the final match between the Gilgit and Chitral teams. The final provides a most colorful spectacle. Supporters of both sides travel long distances from the remote parts of Chitral and Gilgit, to watch the thrilling game. The event, as such, offers a fascinating insight into the lifestyle of the people of this region. Their culture and indigenous customs are a delight to behold for the visitors.

                                            Festival Information
                                            It is advisable to be there one day in advance to enjoy all the offerings of the festival. Activities at Shandur includes dance and music performances by different groups, trout fishing, mountaineering, trekking, hiking and of course, horse riding. Crystal clear lakes, snow covered mountains, alpine flowers and vast stretches of green grass, are added attractions.


                                            .
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-nightlife">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Golfer’s Paradise.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Golfer’s Paradise</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Rawalpindi Golf Course:
                                            It is Eighteen (18) holes, challenging course. Major tournaments of the country are organized by the Rawalpindi Golf Club, located near Ayub National Park on G.T. Road, Rawalpindi. It has one of the most beautiful surroundings. 

                                            Islamabad Golf Course:
                                            It is an 18 hole course with a picturesque background, having grass and water channels around the fair-ways as well as around the greens, and the golfer has really got to be careful in playing his shots.

                                            Kabal (Swat) Golf Course:
                                            It is an 18 hole course with a picturesque background. This is an old golf course, constructed by the Wali of Swat for recreation during holidays in the valley.

                                            Bhurban Golf Course:
                                            This golf course is located at a distance of about 15 Km from Murree Hills. It is a 9 hole course at a height of 6000 ft. above sea level, with a picturesque background. It is one of the most challenging courses with small hills erected around. Major tournaments of the country are held here.

                                            Lahore Golf Course:
                                            It is an 18 hole very well maintained course. Most of the major tournaments of the country are held here. Leading professional golfers belong to this Golf Club.

                                            Karachi Golf Course:
                                            Golf as a game is being taken up enthusiastically in Karachi. The fact that so many excellent golf courses have been built in different parts of the city demonstrates the popularity the game enjoys.

                                            Arabian Sea Country Club:
                                            This club consisting of Golf and Swimming Pool Complex is set amidst scenic and picturesque surroundings. It’s specially designed 18-hole golf course is rated among the best golf courses available in the country.

                                            Karachi Golf Club:
                                            Karachi Golf Club is the oldest golf club of Karachi and has played a pivotal role in popularizing the game of golf. The original Golf Club started as a subsidiary of Sindh Club in 1888 and within three years had become an independent entity. Through a concerted effort the entire course was turfed, landscaped and planted with trees, providing the largest green area in greenery-starved city of Karachi. Presently, the 27-hole golf course is spread over 250 acres of land and is the only one of its kind in Pakistan.
                                            Other Golf Courses: includes 18-hole golf courses of Carlton Hotel, off Zulifqar Street 1, Defence VIII and Dream world Family Resort, adjacent to Gulshan-e-Maymar, off Super Highway.

                                            Peshawar Golf Course:
                                            It is an 18 hole course with a picturesque background having grass and water channels around the fair-ways as well as around the greens, and the Golfer has really got to be careful in planning his shots.

                                            Shandur Golf Course:
                                            The highest golf ground in the world is located at 13000 ft. This course is infrequently used and is maintained by the Chitral Scouts
                                            ..
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="travel-guide-sports1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Mountain Biking .jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Mountain Biking </h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Mountain biking is a sport of riding bicycles off-road, often over rough terrain, using specially designed mountain bikes. Mountain bikes share similarities with other bikes but incorporate features designed to enhance durability and performance in rough terrain.
                                            Mountain biking in Pakistan has gained the attention of bike lovers and adventure seekers alike. The Karakuaram, Hindu Kush, Deosai Plan ,Naran and Gilgit Baltistan is the perfect setup for this extreme adventure that tests your grit and gives you experiences of a lifetime.
                                            ..
                                        </p>



                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="travel-guide-culture-history1">
                                <div class="image-container">
                                    <img src="~/assest/images/tourisminpakistan/DetailedPictures/Tent Pegging-The Ultimate Adventure Sport in Pakistan.jpg" alt="">
                                </div>
                                <div class="main-content">

                                    <div class="long-description">
                                        <h2>Tent Pegging-The Ultimate Adventure Sport in Pakistan</h2>
                                        <p style="font-size: 15px;text-align: justify;">
                                            Tent pegging has long been the most popular equestrian events found every year in Punjab and North Pakistan. The National Horse and Cattle Show is a mega event, and it covers every type of sport and cultural activity you can find. Unfortunately, this show was discontinued, and we saw a loss of patronage with tent pegging. Luckily, the cattle selling markets of the Mela Mandis in the Punjab province saw the revival of this sport. At these events, we saw valor and competitive edge of tent pegging in one place where players from across Pakistan have participated.
                                            Enthusiasts of the sport of tent pegging come from across Pakistan, and they wear their traditional uniforms. For those who have never seen this, it’s worth the sight. You could see participants practicing their skills, and only a few succeeded with uprooting the tent pegs from the ground. This goes to show the level of skill and dedication required. It can be hours of fun even watching the horsemen trying to uproot the tent pegs.

                                            .
                                        </p>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <div class="toggle-container filters-container">
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/PakistanTours">Welcome To Pakistan</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/ecotourism">Eco Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/adventuretourism">Adventure Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/spiritualtourism">Spiritual Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/heritagetourism">Heritage Tourism</a>
                                </h4>

                            </div>
                            <div class="panel style1 ">
                                <h4 class="panel-title">
                                    <a href="/Home/sportstourism">Sports Tourism</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </section>

