


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">PIMS Dedicated Team</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">About</a></li>
                <li class="active">PIMS Dedicated Team</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div id="main" class="col-md-12">
                    <div class="tab-container style1" id="travel-guide">

                        <div class="tab-content">
                            <div class="large-block">
                                <div class="text-center description block">

                                    @*<h1></h1>*@
              	<h2 style="font-weight: bold;color: #2597ce;    font-family: 'Helvetica';font-style:normal;">PIMS Management</h2>


                                </div>

                                 <div class="row image-box style1 team">
                                 @*   <div class="col-sm-6 col-md-5">
                                         <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                        <article class="box">
                                            <figure>
                                                <a href="#"><img src="~/assest/images/Teams/Mr.Gul Muhammad Khan (Chief Executive Officer).jpeg" alt="" width="270" height="263"style="width: 200px;margin-left: 245px;
    height: 200px;"></a>
                                                <figcaption>
                                                    <ul class="social-icons clearfix"style="margin-left: 250px;">
                                                        <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                        <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                        <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                        <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                        <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                        <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title" style="margin-left: 245px;    font-weight: bold;"><a href="#">Mr.Gul Muhammad Khan<small>Chief executive officer (CEO)</small></a></h4>
                                            </div>
                                        </article>
                                    </div>

                            </div>

                        </div>

                    </div>*@
                   
                                    <div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box">
                                                        <figure>
                                                            <a href="#"><img src="~/assest/images/Teams/Mr.Ashfaq Ahmad (Deputy Managing Director).jpg" alt="" width="270" height="263"style="width: 200px;
    height: 200px;"></a>
                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title"style="    font-weight: bold;"><a href="#">Mr. Ashfaq Ahmad <small>Project Director (PD)</small></a></h4>
                                                        </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div>
											<div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box">
                                                        <figure>
                                                            <a href="#"><img src="/assest/images/Teams/Mrs.Sobia Azeem (Managing Director).jpg" alt="" width="270" height="263" style="width: 200px;
    height: 200px;"></a>
                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title" style="    font-weight: bold;"><a href="#">Mrs. Sobia Azeem<small>Managing Director</small></a></h4>
                                                        </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div>
											</div>

                                <div class="text-center description block">

                                    @*<h1>Most Popular Hotels</h1>*@
                                    <h1 style="font-weight: bold;
    color: #2597ce;    font-family: 'Helvetica';
    font-style: normal;">PIMS Tourism Ambassador Program(Team)</h1>

                                </div>
                                
                                                     <div class="text-center description block" style="    text-align: left;">

                                    @*<h1>Most Popular Hotels</h1>*@
                                    <h2 style="margin-left: 102px;font-weight: bold;
    color: #2597ce;    font-family: 'Helvetica';
    font-style: normal;">Director-PIMS Tourism Ambassador Program</h2>

                                </div>
                                <div class="row image-box style1 team">
                                    <div class="col-sm-6 col-md-3">
                                         <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                        <article class="box">
                                            <figure>
                                                <a href="#"><img src="~/assest/images/Teams/Sobia/13083120_696794950424152_533759745311032695_n.jpg" alt="" width="270" height="263"style="width: 200px;margin-left: 468px;
    height: 200px;"></a>
                                                <figcaption>
                                                    <ul class="social-icons clearfix"style="margin-left: 473px;">
                                                        <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                        <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                        <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                        <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                        <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                        <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"style="margin-left: 482px;    font-weight: bold;"><a href="#">Sobia<small></small></a></h4>
                                            </div>
                                        </article>
                                    </div>
                                    
                    @*<div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/ceo.png" style="width: 179px;
height: 177px;" alt="">*@

                            </div>

                        </div>

                    </div>
                   

                                            </div>
                                 <div class="text-center description block" style="    text-align: left;">

                                    @*<h1>Most Popular Hotels</h1>*@
                                    <h2 style="margin-left: 102px;font-weight: bold;
    color: #2597ce; font-family: 'Helvetica';
    font-style: normal;">International Tourism Ambassadors</h2>

                                </div>
                                <div class="row image-box style1 team">
                                    <div class="col-sm-6 col-md-5">
                                         <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                        <article class="box">
                                            <figure>
                                                <a href="#"><img src="~/assest/images/Teams/International/Mr.Rashid Kazmi (Canada).jpeg" alt="" width="270" height="263"style="width: 200px;margin-left: 93px;
    height: 200px;"></a>
                                                <figcaption>
                                                    <ul class="social-icons clearfix">
                                                        <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                        <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                        <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                        <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                        <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                        <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"style="margin-right: -100px;    font-weight: bold;"><a href="#">Mr.Rashid Kazmi<small> (Canada)</small></a></h4>
                                            </div>
                                        </article>
                                    </div>
                                    
                    @*<div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/ceo.png" style="width: 179px;
height: 177px;" alt="">*@

                            </div>

                        </div>

                    </div>
                   
                                    <div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box"style="    margin-left: -56px;">
                                                        <figure>
                                                            <a href="#"><img src="~/assest/images/Teams/International/Ms.Ahmadova Jamila(Azerbaijan).jpeg" alt="" width="270" height="263"style="width: 200px;margin-right: 20px;
    height: 200px;"></a>
                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title"style="    font-weight: bold;"><a href="#">Ms.Ahmadova Jamila<small>(Azerbaijan)</small></a></h4>
                                                        </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div> 
                                     <div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box">
                                                        <figure>
                                                            <a href="#"><img src="~/assest/images/Teams/International/Ms.Louise (China).jpeg" alt="" width="270" height="263"style="width: 200px;margin-left: 10px;
    height: 200px;"></a>
                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title"style="    font-weight: bold;"><a href="#">Ms.Louise <small>(China)</small></a></h4>
                                                        </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div> 

                                            </div>
                                 <div class="text-center description block" style="    text-align: left;">

                                    @*<h1>Most Popular Hotels</h1>*@
                                    <h2 style="margin-left: 102px;font-weight: bold;
    color: #2597ce; font-family: 'Helvetica';
    font-style: normal;">Provincial and Regional Tourism Ambassadors</h2>

                                </div>
                                       <div class="row image-box style1 team">
                                    <div class="col-sm-6 col-md-5">
                                         <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                        <article class="box">
                                            <figure>
                                                <a href="#">
                                                    <img src="~/assest/images/Teams/Provincial/Mr.Hayat Dawar Khan (KP).jpg" alt="" width="270" height="263" style="width: 200px;margin-left: 93px;
    height: 200px;">
                                                </a>

                                                <figcaption>
                                                    <ul class="social-icons clearfix">
                                                        <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                        <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                        <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                        <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                        <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                        <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"style="margin-right: -100px;    font-weight: bold;"><a href="#">Mr.Hayat Dawar Khan<small>(KP)</small></a></h4>
                                            </div>
                                        </article>
                                    </div>
                                    
                    @*<div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/ceo.png" style="width: 179px;
height: 177px;" alt="">*@

                            </div>

                        </div>

                    </div>
                   
                                    <div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box"style="    margin-left: -56px;">
                                                        <figure>
                                                            <a href="#"><img src="~/assest/images/Teams/Regional/Ibrar Muhammad (Hazara Division).jpg" alt="" width="270" height="263"style="width: 200px;margin-right: 20px;
    height: 200px;"></a>
                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title"style="    font-weight: bold;"><a href="#">Ibrar Muhammad<small>(Hazara Division)</small></a></h4>
                                                        </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div> 
                                     <div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box">
                                                        <figure>
                                                            <a href="#"><img src="~/assest/images/Teams/Regional/Zeeshan Hakeem (Malakand Division).jpeg" alt="" width="270" height="263"style="width: 200px;margin-left: 10px;
    height: 200px;"></a>
                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title"style="    font-weight: bold;"><a href="#">Zeeshan Hakeem<small>(Malakand Division)</small></a></h4>
                                                        </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div> 

                                            </div>

                                                 <div class="text-center description block" style="    text-align: left;">

                                                     <h2 style="margin-left: 102px;font-weight: bold;
    color: #2597ce; font-family: 'Helvetica';
    font-style: normal;">District Tourism Ambassadors</h2>

                                </div>
                                  <div class="row image-box style1 team">
                                    <div class="col-sm-6 col-md-5">
                                         <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                        <article class="box">
                                            <figure>
                                                <a href="#">
                                                    <img src="~/assest/images/Teams/District/Rabia Khawaj (Haripur).JPG" alt="" width="270" height="263" style="width: 200px;margin-left: 93px;
    height: 200px;">

                                                <figcaption>
                                                    <ul class="social-icons clearfix">
                                                        <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                        <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                        <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                        <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                        <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                        <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"style="    margin-right: -100px;    font-weight: bold;"><a href="#">Rabia Khawaj <small>(Haripur)</small></a></h4>
                                            </div>
                                        </article>
                                    </div>
                                    
                    @*<div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/ceo.png" style="width: 179px;
height: 177px;" alt="">*@

                            </div>

                        </div>

                    </div>
                   
                                    <div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box"style="    margin-left: -56px;">
                                                        <figure>
                                                            <a href="#"><img src="~/assest/images/Teams/District/Sami Uddin(Swat).jpeg" alt="" width="270" height="263"style="width: 200px;margin-right: 20px;
    height: 200px;"></a>

                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title"style="    font-weight: bold;"><a href="#">Sami Uddin<small>(Swat)</small></a></h4>
 </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div> 
                                     <div class="col-sm-6 col-md-3">
                                        <div class="travel-story-container box">
                                            <div class="travel-story-content">
                                                <div class="avatar">
                                                    <article class="box">
                                                        <figure>
                                                            <a href="#">
                                                                <img src="~/assest/images/Teams/District/Syed Amir Jehan Sherazi(Battagram).jpeg" alt="" width="270" height="263" style="width: 200px;margin-left: 10px;
    height: 200px;">
                                                            </a>


                                                            <figcaption>
                                                                <ul class="social-icons clearfix">
                                                                    <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                                    <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                                    <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                                    <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                    <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                                    <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                                </ul>
                                                            </figcaption>
                                                        </figure>
                                                        <div class="details">
                                                            <h4 class="box-title"style="    font-weight: bold;"><a href="#">Syed Amir Jehan Sherazi<small>(Battagram)</small></a></h4>

                                                        </div>
                                                    </article>
                                                </div>


                                            </div>
                                             </div>


                                            </div> 
   <div class="col-sm-6 col-md-5">
                                         <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                        <article class="box">
                                            <figure>
                                                <a href="#">
                                                    <img src="~/assest/images/Teams/District/Subair.JPG" alt="" width="270" height="263" style="width: 200px;margin-left: 93px;
    height: 200px;">

                                                <figcaption>
                                                    <ul class="social-icons clearfix">
                                                        <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                        <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                        <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                        <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                        <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                        <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"style="    margin-right: -100px;    font-weight: bold;"><a href="#">Subair Ali Shah  <small>(Mardan)</small></a></h4>
                                            </div>
                                        </article>
                                    </div>
                                    
                    @*<div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/ceo.png" style="width: 179px;
height: 177px;" alt="">*@

                            </div>

                        </div>

                    </div>
                                            </div>


                                                     <div class="text-center description block" style="    text-align: left;">

                                    @*<h1>Most Popular Hotels</h1>*@
                                    <h2 style="margin-left: 102px;font-weight: bold;
    color: #2597ce; font-family: 'Helvetica';
    font-style: normal;">Tehsil Tourism Ambassadors</h2>

                                </div>
                                <div class="row image-box style1 team">
                                    <div class="col-sm-6 col-md-3">
                                         <div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                        <article class="box">
                                            <figure>
                                                <a href="#"><img src="~/assest/images/Teams/Tehsil/Abdul Fanaz (Tehsil Battagram).jpeg" alt="" width="270" height="263"style="width: 200px;margin-left: 468px;
    height: 200px;"></a>
                                                <figcaption>
                                                    <ul class="social-icons clearfix"style="margin-left: 473px;">
                                                        <li class="twitter"><a title="" href="#" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                                        <li class="googleplus"><a title="" href="#" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                                        <li class="facebook"><a title="" href="#" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                                        <li class="linkedin"><a title="" href="#" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                        <li class="vimeo"><a title="" href="#" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                                        <li class="flickr"><a title="" href="#" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                                                    </ul>
                                                </figcaption>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title"style="margin-left: 504px;    font-weight: bold;"><a href="#">Abdul Fanaz<small>(Tehsil Battagram)</small></a></h4>
                                            </div>
                                        </article>
                                    </div>
                                    
                    @*<div class="travel-story-container box">
                        <div class="travel-story-content">
                            <div class="avatar">
                                <img src="~/assest/images/ceo.png" style="width: 179px;
height: 177px;" alt="">*@

                            </div>

                        </div>

                    </div>
                   

                                            </div>
   @*<div class="row large-block">
                                                <div class="col-md-10">
                                                    <h2>Our Core Values</h2>
                                                    <div class="tab-container box">
                                                        <ul class="tabs">
                                                            <li><a href="#Environmental-Conservation" data-toggle="tab">Environmental Conservation</a></li>
                                                            <li><a href="#Social-Responsibility" data-toggle="tab">Social Responsibility</a></li>
                                                            <li><a href="#Cultural-Protection" data-toggle="tab">Cultural Protection</a></li>
                                                            <li class="active"><a href="#tours-suggestions" data-toggle="tab">Cooperation</a></li>
                                                            <li><a href="#Development" data-toggle="tab">Development</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane fade" id="Environmental-Conservation">
                                                                <img src="~/assest/images/pages/extra/travel-guide/culture1.jpg" alt="" class="pull-left">

                                                                <p>
                                                                    Pakistan’s natural environment is our greatest asset, upon which our businesses and jobs ultimately depend. It is therefore vital that we take active measures to protect our natural resources in order to guard against over-exploitation, which would undermine the ability of both current and future generations of Pakistan to benefit from them.
                                                                    <br><br>
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane fade in active" id="Social-Responsibility">
                                                                <img src="~/assest/images/pages/extra/travel-guide/history1.jpg" alt="" class="pull-left">

                                                                <p>
                                                                    Every individual and organization working in the tourism industry must be committed to the betterment of Pakistani society and in particular to host communities in the areas in which they work. As representatives of Pakistan we must set a strong positive example by giving back a fair share of what we take.
                                                                    <br><br>
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane fade" id="Cultural-Protection">
                                                                <img src="~/assest/images/pages/extra/travel-guide/landscape1.jpg" alt="" class="pull-left">

                                                                <p>
                                                                    Development of sustainable tourism cannot be achieved by individuals and organizations working in isolation. To be successful, close co-operation among all the stakeholders is required.
                                                                    <br><br>
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane fade" id="satisfied-customers">
                                                                <img src="~/assest/images/hotels/3.png" alt="" class="pull-left">

                                                                <p>
                                                                    Pakistan’s natural environment is our greatest asset, upon which our businesses and jobs ultimately depend. It is therefore vital that we take active measures to protect our natural resources in order to guard against over-exploitation, which would undermine the ability of both current and future generations of Pakistan to benefit from them.
                                                                    <br><br>
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane fade" id="Development">
                                                                <img src="~/assest/images/hotels/4.png" alt="" class="pull-left">

                                                                <p>
                                                                    PIMS aim is develop different tourist site it’s include Religious, Historical and Eco Touristsites with the support of Govt. and different business partners.
                                                                </p>
                                                            </div>

                                                            <div class="tab-pane fade" id="careers">
                                                                <h4>Careers</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>*@
                                            @*<div class="row large-block">
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="icon-box style3 counters-box">
                                                        <div class="numbers">
                                                            <i class="soap-icon-places yellow-color"></i>
                                                            <span class="display-counter" data-value="3200">3200</span>
                                                        </div>
                                                        <div class="description">Amazing Places To Visit</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="icon-box style3 counters-box">
                                                        <div class="numbers">
                                                            <i class="soap-icon-hotel blue-color"></i>
                                                            <span class="display-counter" data-value="5738">5738</span>
                                                        </div>
                                                        <div class="description">5 Star Hotels To Stay</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="icon-box style3 counters-box">
                                                        <div class="numbers">
                                                            <i class="soap-icon-plane green-color"></i>
                                                            <span class="display-counter" data-value="4509">4509</span>
                                                        </div>
                                                        <div class="description">Airlines To Travel the World</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-3">
                                                    <div class="icon-box style3 counters-box">
                                                        <div class="numbers">
                                                            <i class="soap-icon-car red-color"></i>
                                                            <span class="display-counter" data-value="3250">3250</span>
                                                        </div>
                                                        <div class="description">VIP Transport Options</div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
