


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Rome City Tour</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Rome City Tour</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container tour-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-gallery image-box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                            <ul class="slides">
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/f.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/f1.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d1.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d2.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d2a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d2b.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d3.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d3a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d4.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/eft/d5.png" alt=""></a></li>

                            </ul>
                        </div>
                        <div class="flexslider image-carousel style1" id="post-carousel1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                            <ul class="slides">
                                <li><img src="~/assest/images/tour/packages/eft/f.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/f1.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d1.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d2.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d2a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d2b.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d3.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d3a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d4.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/eft/d5.png" alt="" /></li>
                            </ul>
                        </div>
                    </div>

                    <div id="tour-details" class="travelo-box">
                        <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
                            <div class="col-sm-8 table-cell">
                                <div class="detailed-features">

                                    <div class="flights table-wrapper">
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-01:<small>Destinations (Islamabad to Skardu by Air)</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Visit to Skardu Fort</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Kharphocho Fort</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right landing"></i>
                                                <dl><dt>Visit</dt><dd>K2 Museum</dd></dl>
                                            </div>


                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-02:<small>Tour main spots</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Satpara Lake, </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Deosai National Park</dd></dl>
                                            </div>

                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-03:<small>Tour main spots</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Shigar Fort</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Upper Kachura Lake</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Shangrila Lake</dd></dl>

                                            </div>

                                        </div>

                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-04:<small>: Tour main spots</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Visit to Khaplo Fort</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Yabgo Khar</dd></dl>

                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-05:<small>: Skardu to Islamabad</small></h4>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="featured-image">
                            <h2>Highlights of Tour Package:</h2>

                        </div>

                        <h2>Day 01 Destination: </h2>
                        <h2>Arrival at Islamabad International Airport and will wait for the domestic connecting flight to Skardu</h2>
                        <img src="~/assest/images/tour/packages/eft/d1.png" alt="">
                        <p>
                            Arrive in Islamabad. Our staff will pick you at Islamabad airport and transferred to hotel (if your flight duration is more than 5 hours). The hotels in our package are Located at a very prime location in Islamabad. Each day there are 2 PIA flight to Skardu.
                            On arrival at the Skardu Airport PIMS staff will receive you and will drop you to the hotel. One the first day we will take arrest after long travel to Pakistan and then to Skardu.  In the evening after taking 5-6 hours rest we will visit to the Skardu fort and the local market
                            Skardu Fort was built by Raja Ali Sher at the end of the 16th century, and was home to Skardu's local 	Rajas. 	Skardu 	Fort 	or Kharphocho Fort lies on the eastern face of the Khardrong or Mindoq-Khar ("Castle of Queen Mindoq") hill 15 metres (49 feet) above Skardu town. The fort dates from the 8th century CE and contains an old mosque probably dating back to the arrival of Islam in the 16th century CE. The fort provides a panoramic view of Skardu town, the Skardu valley and the Indus River. It was built by Maqpon dynasty rulers of Baltistan. Skardu fort was built on a design similar to that of Leh Palace and the Potala Palace in Lhasa, Tibet. The name Kharpochhe means the great fort — Khar in Tibetan means castle or fort and Chhe means great.
                            K2 Museum; Unexpected Museum, sponsored by Italy, which tells the epic of the conquest of K2. Illustrations of local flora and fauna and many photos of the protagonists of the Italian ascent of the summit. Beautiful photos of the glaciers. A little warm the tensile structure that contains the museum.
                            In the afternoon we will visit the Skardu local market to buy the tradition dresses precious stones.
                            Dinner: Skardu
                            Overnight Stay: Skardu
                        </p>

                        <h2>Day 02 </h2>
                        <h2>: Destinations (Satpara Lake and Deosai National Park) </h2>

                        <img src="~/assest/images/tour/packages/eft/d2.png" alt="">
                        <p>Satpara Lake: Satpara Lake is a natural lake near Skardu, Gilgit-Baltistan, Pakistan, which supplies water to Skardu Valley. It is fed by the Satpara Stream.Satpara Lake is situated at an elevation of 2,636 meters above sea level and is spread over an area of 2.5 km².The completion of Satpara Dam downstream of the lake has enlarged the size of Satpara Lake.Physical Features The melting ice of the Deosai plains are main source of water for the lake. The lake is centered with an area of 2.5 km with airy-tale picturesque island.</p>


                        <p><i>Deosai National Park:  </i></p>
                        <img src="~/assest/images/tour/packages/eft/d2a.png" alt="">
                        <img src="~/assest/images/tour/packages/eft/d2b.png" alt="">
                        <p>
                            Deosai is located at the border of Himalayas and Karakoram. It offers western Himalaya’s ecosystem. Deosai covers an area of 3000 sq Km. It has a mix of plains, plateaus, hills, streams, lakes and mountains. Desai means “the land of Giants: in urdu Language the local Balti name is Deosai is Ghbiarsa which means summer’s place because it is only accessible in summers.  Here you come across the untouched nature with a hike through Deosai National Park--at 4,114 m (13,497 ft) above sea level, the world's second-highest plain. The snow cover that lasts much of the year makes access rather difficult, but in spring and summer it comes alive with an endless sea of alpine flowers. The area is known for its wide variety of both plant and animal species, from colorful butterflies to marmots and wild horses.
                            The Adventure Jeep Safari will take you right across the beautiful mountain ranges of the Himalayas and Karakorams. Travelling on Karakoram Highway (KKH), you will enjoy the most spectacular scenery on earth. Before reaching Deosai, you will also witness the magical views of Nanga Parbat (8126 m), the ninth highest peak of the world, from different angles. At Deosai, our first stop will be at Sheosar Lake. This place offers beautiful views of south face of Nanga Parbat and a panoramic view of Deosai Plains. At Bara Pani, you can spend one day and visit the core zone of National Park for Bear Watching or you may enjoy fishing in the cold waters of Barwai Stream. From Deosai, we will drive back via Skardu and Gilgit and have a chance to enjoy the most thrilling drive along the River Indus.
                        </p>
                        <p><i>Lunch: Deosai National Park   </i></p>
                        <p><i>Dinner: In hotel we are staying  </i></p>
                        <p><i>Night: Skardu </i></p>


                        <h2>Day 03 </h2>
                        <h2>Destinations (Shigar Fort, Upper Khachora and Lower Khachora Lake)</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/eft/d3.png" alt="">
                        <p>
                            In the first half of the day we will visit the cold desert near the Skardu. The Cold Desert, also known as the Katpana Desert or Biama Nakpo, is a high-altitude desert located near Skardu, in Pakistan's northern Gilgit-Baltistan region. The desert contains expanses of large sand dunes that are sometimes covered in snow during winter. Situated at an elevation of 2,226 metres (7,303 feet) above sea level, the Katpana Desert is one of the highest deserts in the world

                            was really beautiful and scenic.Sitting at an altitude of 2,500 m (8,200 ft), Upper Kachura Lake draws visitors to its clear water and mountain vistas. An average summer water temperature of 15C (59F) might make the lake too cold for swimming, but trekking and fishing are prime activities. The lake reaches a depth of 70 m (230 ft)
                        </p>
                        <p><i>Shangrila Resort/Lower Khachora Lake  </i></p>
                        <img src="~/assest/images/tour/packages/eft/d3a.png" alt="">
                        <p>
                            Amazing resort near the Khachura Lake is the Shangri-La Resort is one of the highest resort in the world. The amazing aerial view of Shangri La makes you spellbound which is also known as the Heaven on Earth. It is located in the extreme north city of Pakistan Skardu. Shangrila Lake is formally known as lower Khachura Lake. It is almost 2,499m above the sea level. It is a heart-shaped lake enclose with red hut cottages with all the luxurious facilities.
                            Another interesting fact about Shangrila resort possesses a restaurant which is built on a fuselage. Tourist finds heaven there in between the immense snow-covered mountain with a large variety of flora and fauna.
                            In the evening we will enjoy the booting and tracking near the Shangrila resort.
                        </p>

                        <p><i>Dinner: Shangila Resort</i></p>
                        <p><i>Night: Skardu </i></p>


                        <h2>Day 04 </h2>
                        <h2>Destination (Khaplo Fort) </h2>
                        <img src="~/assest/images/tour/packages/eft/d4.png" alt="">
                        <p>
                            Khaplo Fort locally known as Yabgo Khar (meaning "The fort on the roof"). Khaplu valley is located 103 KM from Skardu city. The town of Khaplu is located in the eastern part of Baltistan, at an altitude of 2,600 metres (8,500 ft) above sea level and is the administrative capital of the Ghanche District. Khaplu Palace was built in 1840 by the Yabgo Raja Daulat Ali Khan of Khaplu after the Dogra of Kashmir who captured the region decided to move the seat of government from the old fort.
                            The palace, considered an architectural heritage and a tourist attraction, was built in the mid-19th century, replacing an earlier fort located nearby. It served as a royal residence for the Raja of Khaplu.
                            Khaplu valley is one of the beautiful valleys of Gilgit Baltistan. Khaplu valley is also called Ghanche. The valley is famous for its historical buildings, fruit trees, highest peaks and romantic views of rivers and streams.
                            The palace now houses a hotel operated by Serena and a museum depicting the history and culture of Baltistan. We will enjoy lunch in the beautiful palace
                        </p>

                        <p><i>Lunch: Serena Hotel Khaplu  </i></p>
                        <p><i>Dinner: Skardu </i></p>
                        <p><i>Night: Skardu  </i></p>


                        <h2>Day 05 Travel Back to Islamabad </h2>
                        <h2>Destinations: Islamabad Faisal Masque, Museum, Pakistan Monument, Shopping Centers  </h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/eft/d5.png" alt="">
                        <p>The last but unforgettable day we will take flight to travel back to Islamabad. In the 1st half of the day they will. In the 2nd half after lunch we will explore the beautiful capital of Pakistan, a city filled with a travelers’ joy. Islamabad is known for its high standards of living, safety, abundant greenery and its natural beauty. Islamabad has a variety of places that are indeed a must visit for any visitor. The mesmeric views and the ever pleasant weather of the city are what make this tour even better. Islamabad won’t disappoint you, Islamabad would exceed expectations! We will visit in Islamabad to Faisal Masque, Museum, Loke Wirsa to visit different stalls to see Pakistan Culture Pakistan, we will also go to the local shopping mall to buy handmade traditional cloths. After that we will visit the view top at Monal restaurant and also have dinner. From here we can see beautiful city of Islamabad </p>
                        <p><i>Lunch: Islamabad </i></p>
                        <p><i>Dinner: Islamabad  </i></p>
                        <p><i>Departure from Islamabad International airport.   </i></p>


                    </div>
                </div>

                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <h4 class="box-title">Last Minute Deals</h4>
                        <div class="image-box style14">
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking1.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Plaza Tour Eiffel</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$170</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking2.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$620</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking3.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$322</span>avg/night</label>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i>+92301-8142726 </span>
                            <br />
                            <a href="#" class="contact-email">help@pims.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

