


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Rome City Tour</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">Rome City Tour</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container tour-detail-page">
            <div class="row">
                <div id="main" class="col-md-9">
                    <div class="featured-gallery image-box">
                        <span class="discount"><span class="discount-text">10% Discount</span></span>
                        <div class="flexslider photo-gallery style1" id="post-slideshow1" data-sync="#post-carousel1" data-func-on-start="showTourDetailedDiscount">
                            <ul class="slides">
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/adv.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d1a.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d1b.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d3.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d4.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d5.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d6.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d7.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d8.png" alt=""></a></li>
                                <li><a href="pages-blog-read.html"><img src="~/assest/images/tour/packages/raka/d9.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="flexslider image-carousel style1" id="post-carousel1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#post-slideshow1">
                            <ul class="slides">
                                <li><img src="~/assest/images/tour/packages/raka/adv.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d1a.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d1b.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d3.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d4.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d5.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d6.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d7.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d8.png" alt="" /></li>
                                <li><img src="~/assest/images/tour/packages/raka/d9.png" alt="" /></li>
                            </ul>
                        </div>
                    </div>

                    <div id="tour-details" class="travelo-box">
                        <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
                            <div class="col-sm-8 table-cell">
                                <div class="detailed-features">

                                    <div class="flights table-wrapper">
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-01:<small>to Islamabad Pakistan International airport.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Visit Islamabad Monument</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right landing"></i>
                                                <dl><dt>Visit</dt><dd>Shopping Mall.</dd></dl>
                                            </div>
                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-02:<small>Travel from Islamabad to Naran (8-9h)/ Chilas (13h).</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Naran/Chilas</dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-03:<small>Travel to Naltar Valley “The Land of Fairies” (6h),.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Diran hotel, Minapin. Total Travel 300 km, </dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-04:<small>Tracking from Diran to Hupakin and then to Rakaposhi Basecamp, Tracking 6-7h.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Camping at Rakaposhi Base camp at height of 3,658m  </dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-05:<small>Tracking back to Diran and then move to Hunza. Tacking 6-7h.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Hunza</dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-06:<small>Today we will visit:</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>700 year old Baltit Fort</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Valley and Glacier</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Duikar valley for sunset view on mighty Rakaposhi</dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Shopping at the local marker </dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-07:<small>Travel to Khunjarab Pass, Total Travel-354 km.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Attabad Lake </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Passu Cone </dd></dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl>
                                                    <dt>Visit</dt>
                                                    <dd>
                                                        Kunjarab National Park
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Kunjarab Pass</dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-08:<small>Driver back to Naran 319km 7 hours or Besham 420km-12 hours.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Naran/Besham</dd></dl>
                                            </div>

                                        </div>
                                        <div class="table-row">
                                            <div class="table-cell">
                                                <h4 class="box-title">Day-09:<small>Drive to Islamabad (Tour Ends), 330 km 7-8 hours.</small></h4>
                                            </div>
                                            <div class="table-cell">
                                                <i class="icon soap-icon-plane-right take-off"></i>
                                                <dl><dt>Visit</dt><dd>Night in Islamabad</dd></dl>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="featured-image">
                            <h2>Highlights of Tour Package:</h2>
                            <img src="~/assest/images/tour/packages/adventue-chart.png" alt="">
                        </div>

                        <h2>Detail Itinerary </h2>
                        <h2>Day 01</h2>
                        <p>Arrival to Islamabad airport and transfer to hotel, in the rest time of sightseeing in Islamabad and Rawalpini, visit of largest mosque in Asia, Islamabad Monument and old local Bazaar. Short briefing on tour.  </p>
                        <img src="~/assest/images/tour/packages/raka/d1a.png" alt="">
                        <br>
                        <br>
                        <img src="~/assest/images/tour/packages/raka/d1b.png" alt="">
                        <p></p>
                        <p><i></i></p>

                        <h2>Day 02</h2>
                        <h2></h2>
                        <p>
                            Early at 3:00 am we will start travel and leave for Chilas, its 12-14hrs on the Karakuram Highway, The passage will pass through Haripur, Abbotabad, Batagram on the way will take lunch and one hour rest in Bisham PTDC hotel. Overnight at hotel in Chilas, view of Nanga Parbat 8125 m.
                        </p>

                        <p></p>
                        <p><i></i></p>

                        <h2>Day 03</h2>
                        <h2>Chilas/Naran to Naltar Valley and then Rakaposhi</h2>
                        <p>
                            This day the participants will begin their journey early morning. The participants will travel on Karakoram Highway which is considered the 8th wonder of the world by many of our guests. We will take a 30min rest at Nanga Parbat view point. Nanga Parbat is 8,126 m from see level. After that we will start travel to Naltar valley. Naltar Valley has incredible raw beauty with picturesque mountains, flowing rivers and unpaved roads. Reaching Naltar is a bit of an adventure, but that just adds to its charm. The last stretch is a 45-minute drive in a jeep or four-wheel drive on the steep unpaved rocky Naltar Valley Road with a river running below it. Once you reach Naltar Valley, you are filled with a sense of accomplishment and awed by the gorgeous scenery around you. From there we will visit the Satrangi Lake. It is wonderful Lake, 17 KM from beautiful Naltar Valley. We will also see White Leopard in WWF reserved century. We will take rest and light local lunch here.
                        </p>
                        <img src="~/assest/images/tour/packages/raka/d3.png" alt="">
                        <p>We will start travel to Diran/Minapin hotel. It will take 2 hours from Naltar to reach Diran.   We will stop for 30min at Rakaposhi view point before arriving at Diran Hotel.  Diran is 2km from the Karakuram highway. Diran is a small, cozy village and the starting point for both Rakaposhi and Diran hill Track the Rakaposhi Mountain is a 7,788 m high mountain in the Karakoram mountain range located in the Nagar Valley of Gilgit-Baltistan, Pakistan. The name Rakaposhi, meaning "snow-covered”. </p>
                        <p><i>Night stay at Diran hotel Minapin village.</i></p>

                        <h2>Day 04</h2>
                        <h2>Tracking to Rakaposhi Base Camp</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/raka/d4.png" alt="">
                        <p>
                            One 2nd day of the Diran we will move to the Hakapun. Trek from Diran to Hapakun 2800M (3-4 hours, 5.8 km and 800m ascent) the trail is very easy to follow, except for the last few kilometers, as they are a bit confusing. Hakapun is a small campsite located between Diran and the Rakaposhi base camp. After taking 15 Min rest we will again start taking to Hapakun to Tagaphari 3300M (2-3 hours, 3km, 450m ascent) – a steep trail continues from Hapakun to Rakaposhi Base Camp, also known as Tagaphari. The trail eases off and contours the rocky slope for 30 minutes to a verdant bowl. You can have the view of Diran Peak, Rakaposhi and their interconnecting ice wall and finally come into full view. After reaching Tagaphari can climb the ridge to have nice view of Hunza Valley and mountains. Rakaposhi base camp trek is one of the best adventures in Pakistan. Overnight in the tent. From here you can go to Diran/Minapin glacier. From the camp, you can visit Diran glacier, an impressive, vast sea of ice, composed of ice blocks of nearly 20m.
                        </p>
                        <p><i>Night stay at Rakaposhi Base Camp tent.</i></p>

                        <h2>Day 05</h2>
                        <h2></h2>
                        <p>Trek back to Rakaposhi Base Camp to Hakapun and then to Diran its take 6-7 hour. Form Diran we will travel to Hunza. Its take 1 hour to reach Karimabad, Hunza</p>
                        <p><i>Night stay at Hunza.</i></p>
                        <img src="~/assest/images/tour/packages/raka/d5.png" alt="">
                        <p></p>


                        <h2>Day 06</h2>
                        <h2>Hunza Valley Travel Guide</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/raka/d6.png" alt="">
                        <p>
                            This day the participants will have a lot of interactions with historians, musicians and story tellers as they will be visiting the historic Baltit Fort (700 years old).Our local guides have always very interesting stories to tell our guests.
                            After visiting the fort we will start travel to Harpon valley. Hopper Nagar is a beautiful attraction in Hunza. Its located about 50 minutes’ drive from Karimabad approachable by any fit vehicle. The hike till hopper takes another 15-20 minutes. The black glacier looks beautiful and the mountains around the valley are majestic. It is really beautiful in the cherry blossom season. Located at 9,000 ft above sea level, Hoper village has a lush green landscape surrounded by brown barren mountains that reach up to 18,000 ft. At the end of Hoper Village, there are few view points from where one gets a dominating view of Bualtar and Barpu Glaciers. From various view points in Hoper Village, both these glaciers are clearly visible.
                            In the evening we will visit to local market for shopping. Participants can also grab a cup of coffee and enjoy the shopping. Participants will also visit Duikar before the sunset where the participants will experience the sun set on the mighty Karakoram Mountains
                        </p>
                        <p><i>Night stay at Hunza.</i></p>

                        <h2>Day 07</h2>
                        <h2>
                            Hunza Valley Tour, Kunjarab National Park and Khunjrab Pass (Pak-China Border)
                        </h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/raka/d7.png" alt="">
                        <p>
                            This day participants will depart for Pak-China Border (Khunjerab Pass – highest road border in the world) which is one the best road trips of Hunza valley tour. Participants will pass through the 1,000 years old civilization of Ganish. They will see the ancient rock carvings and sacred rocks. The participants will travel along Attabad lake after a half hour time from Ganish bridge. The Karakoram Highway in the Upper Hunza has a lot to offer.
                            The participants will pass through Hussaini Glacier and Passu Village. On the way they will see Shispar Peak (7,611 m), Passu Peak (7,284 m) and the infamous Passu Cones/Catherdral (above 6,000 m). The participants will cross through Wildlife Conservation Area in Khyber and enter Khunjerab National Park in Deh . Khunjarab National Park Kunjarab National Park is famous several large mammals such as Markho/Marco Polo sheep, Blue sheep, Himalayan Ibex, Tibetan wild ass, Brown bear, Snow leopard, Indian wolf.  Upon arrival on the world’s highest border Khunjerab Pass (4,733 m), guest gets the opportunity to meet Chinese tourists coming from the other side of the border.
                            Guests can take pictures of the mesmerizing landscape and also witness snowfall in summers on a lucky day. On return the participants will get shopping time on return to Sost for Chinese goods (watches, electronics etc). This day the participants will have time to visit Karimabad Market. Visitors can shop herbs, caps, dry fruit and much more. Free time to roam in Karimabad, participants will have good amount of shopping time for handicrafts, gemstones and cloth.
                            Night Stay in Hunza.
                        </p>
                        <p><i></i></p>

                        <h2>Day 08</h2>
                        <h2>Return to Naran Kaghan Valley </h2>
                        <p>(If the road at Babusar Pass Open)</p>
                        <img src="~/assest/images/tour/packages/raka/d8.png" alt="">
                        <p>
                            This day the participants will be travel back to Naran Kaghan Valley. The participants will be taking the same route to reach Naran (Kaghan Valley). Participants will take quick stops on the way. Participants will reach Naran in the afternoon. Upon arrival to Naran, Participants can visit Naran Bazaar.
                        </p>
                        <p><i>Night Stay in Naran/ Besham.</i></p>

                        <h2>Day 09</h2>
                        <h2>Islamabad City</h2>
                        <p></p>
                        <img src="~/assest/images/tour/packages/raka/d9.png" alt="">
                        <p>
                            The participants will continue their journey towards Islamabad. Travelers will take quick stops on the way. It will take approximately 7-8 hours to reach Islamabad from Naran/Besham. Upon arrival in Islamabad, Hunza Valley Tour will come to an end. Dinner at Monal restaurant
                        </p>
                        <p><i>Night Stay in Islamabad</i></p>
                    </div>
                </div>
                <div class="sidebar col-md-3">
                    <div class="travelo-box">
                        <h4 class="box-title">Last Minute Deals</h4>
                        <div class="image-box style14">
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking1.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Plaza Tour Eiffel</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$170</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking2.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Ocean Park Tour</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$620</span>avg/night</label>
                                </div>
                            </article>
                            <article class="box">
                                <figure><a href="#" title=""><img width="63" height="59" src="~/assest/images/dashboard/booking3.png" alt=""></a></figure>
                                <div class="details">
                                    <h5 class="box-title"><a href="#">Dream World Trip</a></h5>
                                    <label class="price-wrapper"><span class="price-per-unit">$322</span>avg/night</label>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="travelo-box book-with-us-box">
                        <h4>Why Book with us?</h4>
                        <ul>
                            <li>
                                <i class="soap-icon-hotel-1 circle"></i>
                                <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-savings circle"></i>
                                <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                            <li>
                                <i class="soap-icon-support circle"></i>
                                <h5 class="title"><a href="#">Excellent Support</a></h5>
                                <p>Nunc cursus libero pur congue arut nimspnty.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="travelo-box contact-box">
                        <h4 class="box-title">Need Travelo Help?</h4>
                        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                            <br />
                            <a href="#" class="contact-email">help@travelo.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>

