


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
   <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">TRAVEL TO PAKISTAN</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                   
                    <li class="active">TRAVEL TO PAKISTAN</li>
                </ul>
            </div>
        </div>

        <section id="content">
            <div class="container">
                <div class="row">
                    <div id="main" class="col-md-8">
                        <div class="tab-container style1" id="travel-guide">
                            
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="#">
                                   
                                    <div class="image-container">
                                        <img src="images/pakistanTravelInfo/rawpixel-com-191102-1-1024x669.jpg" alt="" style="    height: 396px;
    width: 1200px;">
                                    </div>
                                    <div class="main-content">
                                        
                                        <div class="long-description">
                                        <img src="images/line.png" alt="" style="    margin-left: 281px;">
                                            <h2 style="text-align: center;color: #1cbe4f;font-weight: bold;">TRAVEL TO PAKISTAN </h2>
    <h1>People of Pakistan</h1>
    <p style="font-size: 16px;
    text-align: justify;color: #463a3a;">
Pakistan is a multi-cultural, multi-ethnic and predominantly a Muslim society. Ninety-seven per cent of the 197 million people in Pakistan are Muslims. The population is made up of different ethnic groups, such as dominant Punjabis, Siraikis, Sindhis, Pakhtuns, Baloch, Brahvis, Kashmiris, Hazaras, Urdu-speaking immigrants from India or Mohajirs, Gojars, Kohistanis, Chitralis, and a dozen or so Dardic languages-speaking lingo-ethnic groups. 
The official language is Urdu along with English. More than half the working population is involved in agriculture and live in rural areas. Manufacturing, mining, and service industries are the other large employers in the urban sectors. Many people go abroad in search of work.
 Race as such plays little part in defining regional or group identity in Pakistan, and no ideal racial type is accepted by all Pakistanis. However, ethno-lingual processes over the centuries have helped developed nationalities and ethno-lingual groups who have a deep sense of identity, psychological make-up, commonality of language and area and belonging to certain regions of Pakistan. .</p>
    

<img src="images/line1.png" alt="" style="    margin-left: 83px;"> </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="travel-guide-info">
                                    <div class="image-container">
                                        <img src="images/tourisminpakistan/DetailedPictures/The land of Adventure.jpg" alt="">
                                    </div>
                                    <div class="main-content">
                                        
                                        <div class="long-description">
                                            <h2>The Land Of Adventure And Nature</h2>

                                            <p style="font-size: 16px;text-align: justify;color: #463a3a;">Pakistan has an extraordinary and magnificent variety of landscapes ranging from five of the highest mountain peaks in the world to some of the largest and unique plateaus in the west and finally, awe-inspiring flat Indus plains in the east. It is a land in which the entire canvas of its topography is coloured with picturesque valleys, treacherous mountaintops, serene bodies of water and lush green meadows.
                                            </p>
                                            <p style="font-size: 16px;text-align: justify;color: #463a3a;">From the mighty stretches of the Karakorams in the North to the vast alluvial delta of the Indus River in the South, Pakistan remains a land of high adventure and nature. Trekking, mountaineering, white water rafting, wild boar hunting, mountain and desert jeep safaris, camel and yak safaris, trout fishing and bird watching, are a few activities, which entice the adventure and nature lovers to Pakistan.
</p>
<p style="font-size: 16px;text-align: justify;color: #463a3a;">
Pakistan is endowed with a rich and varied flora and fauna. High Himalayas, Karakoram and the Hindukush ranges with their alpine meadows and permanent snow line, coniferous forests down the sub-mountain scrub, the vast Indus plain merging into the great desert, the coast line and wetlands, all offer a remarkably rich variety of vegetation and associated wildlife including avifauna, both endemic and migratory. Ten of 18 mammalian orders are represented in Pakistan with species ranging from the world's smallest surviving mammals, the Mediterranean Pigmy Shrew, to the largest mammal ever known; the blue whale.
</p>    </div>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade" id="travel-guide-sports">
                                    <div class="image-container">
                                        <img src="images/tourisminpakistan/DetailedPictures/Famouse Mountian Passes.jpg" alt="">
                                    </div>
                                    <div class="main-content">
                                        
                                        <div class="long-description">
                                            <h2>Famous Mountain Passes </h2>

                                            <p style="font-size: 16px;text-align: justify;color: #463a3a;">You’ve all heard of the famous Khunjerab Pass which connects Pakistan with its northern neighbor China via the famed Karkoram Highway. But there are many other equally magnificent, if not more – mountain passes within Pakistan’s borders.    </p>
                                          
                                            <div class="row">
                        <div class="sub_ownership_details">
                            <div class="row">
                                <table  class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid #463a3a;" >
                                    <thead>
                                        <tr style="background: #4bc622;color: #463a3a;">
                                            <th>Famous Mountain Passes</th>
                                            <th>Location/Province</th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                    <th>The Khyber Pass</th>
                                    <th>KP Province</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>The Khuram Pass</th>
                                    <th>KP Province</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>The Tochi Pass</th>
                                    <th>KP Province</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>The Gomal Pass</th>
                                    <th>KP Province</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>The Lowari Pass</th>
                                    <th>KP Province</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>The Khunjerab Pass</th>
                                    <th>Northern Areas</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>The Bolan Pass</th>
                                    <th>Balochistan Province
</th>
                                    
                                    </tbody> </table>

                            </div>
                          
                        </div>
                    </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="travel-guide-culture-history">
                                    <div class="image-container">
                                        <img src="images/tourisminpakistan/DetailedPictures/Famouse Glacier.jpg" alt="">
                                    </div>
                                    <div class="main-content">
                                        
                                        <div class="long-description">
                                            <h2>Famous Glaciers </h2>

                                            <p style="font-size: 16px;text-align: justify;">The wonders and beauty of Pakistan is undeniable. Some of the most magnificent glaciers in the entire world are present here. Glaciers are a large persistent body of ice which hold most of the Earth’s fresh water resources. With global warming on the the rise, the life of these glaciers is not indefinite. Make time to see them before they vanish completely.</p>
                                          
                                            <div class="row">
                        <div class="sub_ownership_details">
                           
                            <div class="row">
                                <table  class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid #463a3a;" >
                                    <thead>
                                        <tr style="background: #4bc622;color: #463a3a;">
                                            <th>Glacier</th>
                                            <th>Region</th>
                                            <th>Length Miles (K/M)	</th>
                                            <th>Height of Snout Ft/M (Approx.)</th>
                                           
                                            		
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <th>Siachen</th>
                                    <th>Karakoram (Baltistan)</th>
                                    <th>45 (72.4)</th>
                                    <th>12,150 (3,703.3)</th>
                                    			
                                    </tbody>
                                    <tbody>
                                    <th>Hisper</th>
                                    <th>Karakoram (Nagar)</th>
                                    <th>38 (61.2)</th>
                                    <th>10,500 (3,200.4)</th>
                                    			
                                    </tbody>
                                    <tbody>
                                    <th>Biafo</th>
                                    <th>Karakoram (Shigar)</th>
                                    <th>27 (59.5)</th>
                                    <th>10,366 (3,159.6)</th>
                                    </tbody>
                                    <tbody>
                                    <th>Baltoro</th>
                                    <th>Karakoram</th>
                                    <th>(K-2)	36 (57.9)</th>
                                    <th>11,580 (3,529.6)</th>	
	 	
			


                                    </tbody>
                                    <tbody>
                                    <th>Batura</th>
                                    <th>Karakoram (Hunza)</th>
                                    <th>40 (64.4)</th>
                                    <th>8,030 (2,447.5)</th>
                                    </tbody>
                                    <tbody>
                                    <th>Yengunta</th>
                                    <th>Karakoram (Baltistan)</th>
                                    <th>22 (35.4)</th>
                                    <th>Not available</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>Chiantar</th>
                                    <th>Hindu Kush (Chitral)</th>
                                    <th>21 (33.8)</th>
                                    <th>12,720 (3,877.1)</th>
	
			
			
			
                                    </tbody>
                                    <tbody>
                                    <th>Tirich</th>
                                    <th>Hindu Kush (Chitral)</th>
                                    <th>18 (29.0)</th>
                                    <th>11,210 (3,416.8)</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>Atrak</th>
                                    <th>Hindu Kush (Chitral)</th>
                                    <th>18 (29.0)</th>
                                    <th>10,000 (3,078.5)</th>
                                    
                                    </tbody>
                                    <tbody>
                                    <th>Karanbar</th>
                                    <th>Hindu Kush (Swat))</th>
                                    <th>16 (25.5)</th>
                                    <th>10,237 (3,120.2)</th>
                                    
                                    </tbody> </table>

                            </div>
                          
                        </div>
                    </div>

                                        </div>
                                    </div>
                                </div>
                               
                                

                                <div class="tab-pane fade" id="travel-guide-nightlife">
                                    <div class="image-container">
                                        <img src="images/tourisminpakistan/DetailedPictures/Major Rivers.jpg" alt="">
                                    </div>
                                    <div class="main-content">
                                        
                                        <div class="long-description">
                                        <h2>Major Rivers</h2>
                                            <p style="font-size: 16px;text-align: justify;">Pakistan has the lion's share of the Indus, one of the most significant rivers in all of South Asia. Two-thirds of the water supplied for irrigation schemes and in homes comes from the Indus River and its tributaries. The river system of Pakistan originates from the great snow covered Himalayans and the Karakoram Ranges. The rivers then flow to India except the Kabul River that enters Pakistan through Punjab. Pakistan is the 3rd largest agriculturally based economy in the world and rivers are the most important sources of water used in agriculture for irrigation and other domestic uses.</p>
                                            <div class="row">
                        <div class="sub_ownership_details">
                           
                            <div class="row">
                                <table  class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid #463a3a;" >
                                    <thead>
                                    <tr style="background: #4bc622;color: #463a3a;">
                                            <th>Rivers</th>
                                            <th>Region</th>
                                            <th>Length Miles (K/M)  </th>
                                            <th>Height of Snout Ft/M (Approx.)</th>                                         
                                                    
                                        </tr>

                                    </thead>
                                    <tbody>
                                    <th>Siachen</th>
                                    <th>Karakoram (Baltistan)</th>
                                    <th>45 (72.4)</th>
                                    <th>12,150 (3,703.3)</th>
                                    			
                                    </tbody>
                                    <tbody>
                                    <th>Indus</th>
                                    <th>2,896 km.</th>
                                    <th>45 (72.4)</th>
                                    <th>12,150 (3,703.3)</th>

                                    			
                                    </tbody>
                                    <tbody>
                                    <th>Jhelum</th>
                                    <th>825 km. 38 (61.2)</th>
                                    <th>38 (61.2)</th>
                                    <th>10,500 (3,200.4)</th>

                                    </tbody>
                                    <tbody>
                                    <th>Chenab</th>
                                    <th>1,242 km.</th>
                                    <th>27 (59.5)</th>
                                    <th>10,366 (3,159.6)</th>

                                    </tbody>
                                    <tbody>
                                    <th>Ravi</th>
                                    <th>901 km.</th>
                                    <th>80</th>
                                    <th></th>   

                                    </tbody>
                                    <tbody>
                                    <th>Sutlej</th>
                                    <th>1,551 km.</th>
                                    <th>36 (57.9)</th>
                                    <th>11,580 (3,529.6)</th>

                                    
                                    </tbody>
                                    <tbody>
                                    <th>Beas</th>
                                    <th>398 km. </th>
                                    <th>40 (64.4)</th>
                                    <th>8,030 (2,447.5)</th>
 </tbody>
                                    
                                   
                                   </table>

                            </div>
                          
                        </div>
                    </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="travel-guide-hotels">
                                    <div class="image-container">
                                        <img src="images/tourisminpakistan/DetailedPictures/Deserts.jpg" alt="">
                                    </div>
                                    <div class="main-content">
                                        
                                        <div class="long-description">
                                        <h2>Deserts</h2>
                                            <p style="font-size: 16px;text-align: justify;">Deserts, in Pakistan, make up a large part of the country’s geography, especially in the central and south-eastern regions. The major deserts are.</p>
                                            <div class="row">
                        <div class="sub_ownership_details">
                           
                            <div class="row">
                                <table  class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid #463a3a;" >
                                    <thead>
                                    <tr style="background: #4bc622;color: #463a3a;">
                                            <th>Deserts</th>
                                            <th>Location/Province</th>
                                                                                  
                                                    
                                        </tr>
                                        	 


                                    </thead>
                                    <tbody>
                                    <th>Thar</th>
                                    <th>	Sindh Province  </th>
                                                                      			
                                    </tbody>
                                    <tbody>
                                    <th>Cholistan</th>
                                    <th>Punjab Province</th>
                                                                     			
                                    </tbody>
                                    
	
	
	
                                    <tbody>
                                    <th>Thal</th>
                                    <th>Punjab Province </th>
                                  
                                    </tbody>
                                    <tbody>
                                    <th>Kharan</th>
                                    <th>Balochistan Province </th>
                                   

                                    </tbody>
                                  </table>

                            </div>
                          
                        </div>
                    </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="travel-guide-flights">
                                    <div class="image-container">
                                        <img src="images/tourisminpakistan/DetailedPictures/Major Lakes.jpg" alt="">
                                    </div>
                                    <div class="main-content">
                                        
                                        <div class="long-description">
                                        <h2>Major Lakes</h2>
                                            <p style="font-size: 16px;text-align: justify;">Pakistan has some of the most beautiful artificial and natural lakes in the world. Lake Manchar in Pakistan is the biggest South Asian Lake and occupies an area of about 100 sq miles. The country also hosts some of the world's highest lakes such as Rush Lake, the 25th highest lake in the world. Many spectacular glacial lakes are also present in the country. Chitral, the northernmost district in Pakistan has more than 137 glacial lakes. Some of the most amazing lakes in Pakistan include:.</p>
                                            <div class="row">
                        <div class="sub_ownership_details">
                           
                            <div class="row">
                                <table  class=" table table-hover" id="LegalOwnerDetails" style="max-width:100%;border: 1px solid #463a3a;" >
                                    <thead>
                                    <tr style="background: #4bc622;color: #463a3a;">
                                            <th>Lakes</th>
                                            <th>Location/Province</th>
                                                                                  
                                                    
                                        </tr>
                                        	 

                                        	
	
	


                                    </thead>
                                    <tbody>
                                    <th>Manchar</th>
                                    <th>Sindh</th>
                                                                      			
                                    </tbody>
                                    <tbody>
                                    <th>Keenjhar</th>
                                    <th>Sindh</th>
                                                                     			
                                    </tbody>
                                    
	
	
	
                                    <tbody>
                                    <th>Hanna</th>
                                    <th>Balochistan</th>
                                  
                                    </tbody>
                                    <tbody>
                                    <th>Saif-ul-Muluk</th>
                                    <th>KP</th>
                                     </tbody>
                                     	
	
	
<tbody>
                                    <th>Mahodand</th>
                                    <th>KP</th>
                                     </tbody>
                                     <tbody>
                                    <th>Sadpara</th>
                                    <th>Northern Areas</th>
                                     </tbody>
                                     <tbody>
                                    <th>Kachura</th>
                                    <th>Northern Areas</th>
                                     </tbody>
                                  </table>

                            </div>
                          
                        </div>
                    </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-md-4">
                        <div class="travelo-box" style="padding: 0px;">
                        <div class="toggle-container filters-container">
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="Travel-to-Pakistan.php">Travel to Pakistan</a>
                        </h4>
                       
                    </div>
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="What-To-See-Eat-Wear-and-Buy.php">What To See, Eat, Wear and Buy</a>
                        </h4>
                       
                    </div>
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="Health-Information.php">Health Information</a>
                        </h4>
                       
                    </div>
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="Customs-Formalities-And-Allowances.php">Customs Formalities And Allowances</a>
                        </h4>
                       
                    </div>
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="Import-and-Exports.php">Import and Exports</a>
                        </h4>
                       
                    </div>
                    <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="Currency-Regulations.php">Currency Regulations</a>
                        </h4>
                       
                    </div>
                             <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="DO'S-and-DONTS.php">DO'S and DONTS</a>
                        </h4>
                       
                    </div>
                             <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="Pakistan-National-Language-Urdu-Glossary.php">Pakistan National Language Urdu Glossary</a>
                        </h4>
                       
                    </div>
                             <div class="panel style1 ">
                        <h4 class="panel-title">
                            <a href="Emergency-Contact-Numbers.php">Emergency Contact Numbers</a>
                        </h4>
                       
                    </div>
              
                </div>
                        </div>
                        <div class="travelo-box contact-box">
                            <h4>Need Travelo Help?</h4>
                            <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123</span>
                                <br>
                                <a class="contact-email" href="#">help@PIMSTourism.com</a>
                            </address>
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>
