


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DTS|User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <style>
        .imagecss1 {
            left: 0px !important;
            position: absolute !important;
            margin-top: -163px !important;
            margin-left: -244px !important;
        }
        .imagecss2 {
            height: 285px !important;
        }
       
    </style>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">About Us</h2>
            </div>
            <ul class="breadcrumbs pull-right">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PAGES</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>

    <section id="content">
        <div class="container">
            <div id="main">
                <div class="large-block image-box style6">
                    <article class="box">
                        <figure class="col-md-5">
                            <a href="#" title="" class="middle-block imagecss2"><img class="middle-item " src="~/assest/images/Vision.png" alt="" /></a>
                        </figure>
                        <div class="details col-md-offset-5">
                            <h4 class="skin-color" style="font-size: 28px;">Vision</h4>
                            <p style="font-size: 15px;">PIMS Tourism Pakistan visionis to contribute in development of tourism so that it can significantly contribute to improve the quality of life in Pakistan and Present Pakistan as a Nature, Historical, Religious, Culture and Tourist friendly destinations”.</p>
                        </div>
                    </article>

                    <article class="box">
                        <figure class="col-md-5">
                            <a href="#" title="" class="middle-block imagecss2"><img class="middle-item" src="~/assest/images/download.jpg" alt="" width="476" height="318" /></a>
                        </figure>
                        <div class="details col-md-offset-5">
                            <h4 class="skin-color" style="font-size: 28px;">Mission</h4>
                            <p style="font-size: 15px;">Our mission is to fulfill group’s tour dreams and mission in new and exciting ways, and do it better than envisioned.  We aim to make exhilarating and energizing tour for everyone. To work with our partners for the promotion of activities and the creation of products and services that contribute to sustainable growth and development in Pakistan through Tourism.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="global-map-area promo-box no-margin parallax" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="content-section description pull-right col-sm-9">
                    <div class="table-wrapper hidden-table-sm">
                        <div class="table-cell">
                            <h2 class="m-title">
                                Have any great travel experience?<br /><em>Tell Us Your Amazing Travel Story!</em>
                            </h2>
                        </div>
                        <!-- <div class="action-section table-cell">
                            <button class="btn-large">Write your story</button>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="image-container col-sm-4">
                    <img src="images/ceo.png" alt="" width="376" height="255" />
                </div> -->
            </div>
        </div>
    </section>
